.accordion_item {
    & + .accordion_item {
       
    }

    .accor_title {
        position: relative;
        cursor: pointer;
    }
}

.accor_content {
    display: none;
    border: none;
 
    border-radius: 0;
}