mixin m112_Price_Tag(text, price, textData)
    // Component m112_Price_Tag
    -function numberWithDots(x) {return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")};
    -price = numberWithDots(price)
    -textData = typeof textData === 'undefined' || textData  ? 'руб.' : '&#8381;'
    .m112 #{text}&nbsp;#{price}&nbsp;!{textData}


    // END m112_Price_Tag
