@import "../../../globals/style/core";


/*User*/
.profile__user-avatar-container {
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  position: relative;
  font-size: 0;
  margin: 0 auto 30px auto;
  &:hover{
    .profile__user-avatar-change{
      transform: translate(-50%, 45%);
    }
    .profile__user-avatar-delete{
      opacity: 1;
    }
  } 
  @include media($upTotablet){
    margin: 0 auto 25px auto;
  }
}
.profile__user-avatar-container-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.profile__user-avatar-delete {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $grey;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: all $duration;
  &:before{
    //width: 20px;
    //height: 20px;
    color: $primary;
    font-size: 14px;
    position: absolute;
    left: 8px;
    top: 8px;
  }
}
.profile__user-avatar-image {
  img{
    width: 100%;
  }
}
.profile__user-avatar-change {
  font-size: 11px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 12px 40px 40px 40px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all $duration;
  cursor: pointer;
  input{
    display: none;
  }
}
.profile__user-name{
      margin-top: 3rem;
      margin-bottom: 3rem;
}