mixin mk171_dwaHeader(title, pre)
    // Component
    .mk171
        +m021_Headline_H2().mk171__heading
            !=title
        p.mk171__pretitle
            b
                !=pre
        .mk171__content
            if block
                block

    // END