.model-choice{
	&__item{
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 0;
		margin-bottom: 0;
		text-decoration: none !important;
		overflow: hidden;
		&:hover{
			.model-choice__title{
				color: $primary;
			}
			.model-choice__picture--hover-desktop{
				opacity: 1;
			}
		}
		@include media($fablet){
			margin-bottom: 10px;
			height: 250px;
		}
	}
	&__picture{
		//padding: 0 10px;
		position: relative;
		img{
			width: 100%;
		}
	}
	&__picture--hover-desktop{
		background-color: $grey;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		transition: opacity $duration;
		display: none;
		@include media($laptop){
			display: block !important;
		}
	}
	&__info{
		margin-top: 7px;
		padding: 0 10px;
	}
	&__amount{
		font-family: $font_head;
		font-size: 45px; 
		font-weight: bold;
		color: $grey_40;
		float: left;
		letter-spacing: -2px;
		margin-right: 12px;
	    line-height: 39px;
	}
	&__title{
		@extend %b1;
		text-decoration: none !important;
		line-height: 17px !important;
		font-weight: bold;
		color: $grey_100;
		padding-top: 3px;
		text-transform: uppercase;
	}
	&__price{
		@extend %b2;
		text-decoration: none !important;
		margin-top: 1px;
		line-height: normal !important;
		color: $grey_100;
	}
}
