mixin model-choice__item(model)
	a.model-choice__item(href="#")
		.model-choice__picture
			img(src=require('./polo.png'))
			img.model-choice__picture--hover-desktop(src=require('./polo_hover.png'))
		.model-choice__info
			.model-choice__amount #{model.amount}
			.model-choice__title #{model.title}
			.model-choice__price  в наличии от #{model.price} руб.