@import "../../../globals/style/core";

.uac-breadcrumbs {
	background-color: $grey_40;
}
.uac-breadcrumbs__item {
	display: inline-block;
	position: relative;
	@extend %b2;
	@include link-color($grey_100, $grey_100);
	line-height: 35px;
	margin-right: 2.5rem;
	&:before{
		position: absolute;
		right: -18px;
		top: 50%;
		font-size: 1rem;
		transform: translate(0,-50%);
	}
	&:last-child:before{
		display: none;
	}
}