@import "../../../globals/style/core";
@import "../../../globals/style/partials/typography";
.contact-info-block{
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-info-block__title{
  @extend %b3;
  color: $grey_60;
}

