@font-face {
  font-family: "icon-quickaccess";
  src: url('./icon-quickaccess.woff2') format('woff2'),
  url('./icon-quickaccess.woff') format('woff'),
  url('./icon-quickaccess.ttf') format('truetype')
}