@import "fontface";
@import "utility";

.icon-base-360 {
  @include icon-base(360);
}
.icon-base-accessories {
  @include icon-base(accessories);
}
.icon-base-airbag {
  @include icon-base(airbag);
}
.icon-base-app-store {
  @include icon-base(app-store);
}
.icon-base-arrow-double-down {
  @include icon-base(arrow-double-down);
}
.icon-base-arrow-double-left {
  @include icon-base(arrow-double-left);
}
.icon-base-arrow-double-right {
  @include icon-base(arrow-double-right);
}
.icon-base-arrow-double-up {
  @include icon-base(arrow-double-up);
}
.icon-base-arrow-down {
  @include icon-base(arrow-down);
}
.icon-base-arrow-left {
  @include icon-base(arrow-left);
}
.icon-base-arrow-right {
  @include icon-base(arrow-right);
}
.icon-base-arrow-up {
  @include icon-base(arrow-up);
}
.icon-base-body-coupe {
  @include icon-base(body-coupe);
}
.icon-base-body-hatchback {
  @include icon-base(body-hatchback);
}
.icon-base-body-pickup {
  @include icon-base(body-pickup);
}
.icon-base-body-sedan {
  @include icon-base(body-sedan);
}
.icon-base-body-suv {
  @include icon-base(body-suv);
}
.icon-base-body-universal {
  @include icon-base(body-universal);
}
.icon-base-body-van {
  @include icon-base(body-van);
}
.icon-base-brake {
  @include icon-base(brake);
}
.icon-base-brochure {
  @include icon-base(brochure);
}
.icon-base-business-customers {
  @include icon-base(business-customers);
}
.icon-base-calculate {
  @include icon-base(calculate);
}
.icon-base-calendar {
  @include icon-base(calendar);
}
.icon-base-chassis-back {
  @include icon-base(chassis-back);
}
.icon-base-chassis-front {
  @include icon-base(chassis-front);
}
.icon-base-chassis-full {
  @include icon-base(chassis-full);
}
.icon-base-checkmark {
  @include icon-base(checkmark);
}
.icon-base-child-seat {
  @include icon-base(child-seat);
}
.icon-base-clearance {
  @include icon-base(clearance);
}
.icon-base-climate {
  @include icon-base(climate);
}
.icon-base-clock {
  @include icon-base(clock);
}
.icon-base-close {
  @include icon-base(close);
}
.icon-base-configure {
  @include icon-base(configure);
}
.icon-base-consumption {
  @include icon-base(consumption);
}
.icon-base-convince {
  @include icon-base(convince);
}
.icon-base-corporate {
  @include icon-base(corporate);
}
.icon-base-credit-calculator {
  @include icon-base(credit-calculator);
}
.icon-base-cruise-control {
  @include icon-base(cruise-control);
}
.icon-base-customer {
  @include icon-base(customer);
}
.icon-base-day {
  @include icon-base(day);
}
.icon-base-dealer {
  @include icon-base(dealer);
}
.icon-base-delete {
  @include icon-base(delete);
}
.icon-base-directions {
  @include icon-base(directions);
}
.icon-base-door {
  @include icon-base(door);
}
.icon-base-download {
  @include icon-base(download);
}
.icon-base-edit {
  @include icon-base(edit);
}
.icon-base-email {
  @include icon-base(email);
}
.icon-base-emission {
  @include icon-base(emission);
}
.icon-base-engine-diesel {
  @include icon-base(engine-diesel);
}
.icon-base-engine-electric {
  @include icon-base(engine-electric);
}
.icon-base-engine-gas {
  @include icon-base(engine-gas);
}
.icon-base-engine-hybrid {
  @include icon-base(engine-hybrid);
}
.icon-base-engine-petrol {
  @include icon-base(engine-petrol);
}
.icon-base-engine {
  @include icon-base(engine);
}
.icon-base-exclamation {
  @include icon-base(exclamation);
}
.icon-base-favourite {
  @include icon-base(favourite);
}
.icon-base-fax {
  @include icon-base(fax);
}
.icon-base-filter {
  @include icon-base(filter);
}
.icon-base-forward {
  @include icon-base(forward);
}
.icon-base-front-assist {
  @include icon-base(front-assist);
}
.icon-base-fullscreen-enter {
  @include icon-base(fullscreen-enter);
}
.icon-base-fullscreen-exit {
  @include icon-base(fullscreen-exit);
}
.icon-base-get-your-volkswagen {
  @include icon-base(get-your-volkswagen);
}
.icon-base-gti {
  @include icon-base(gti);
}
.icon-base-heat {
  @include icon-base(heat);
}
.icon-base-high-beam {
  @include icon-base(high-beam);
}
.icon-base-home {
  @include icon-base(home);
}
.icon-base-image-gallery {
  @include icon-base(image-gallery);
}
.icon-base-image {
  @include icon-base(image);
}
.icon-base-importer {
  @include icon-base(importer);
}
.icon-base-info {
  @include icon-base(info);
}
.icon-base-link-arrow {
  @include icon-base(link-arrow);
}
.icon-base-locate-me {
  @include icon-base(locate-me);
}
.icon-base-lock {
  @include icon-base(lock);
}
.icon-base-low-beam {
  @include icon-base(low-beam);
}
.icon-base-mail {
  @include icon-base(mail);
}
.icon-base-menu {
  @include icon-base(menu);
}
.icon-base-messenger-skype {
  @include icon-base(messenger-skype);
}
.icon-base-messenger-telegram {
  @include icon-base(messenger-telegram);
}
.icon-base-messenger-viber {
  @include icon-base(messenger-viber);
}
.icon-base-messenger-whats-app {
  @include icon-base(messenger-whats-app);
}
.icon-base-mileage {
  @include icon-base(mileage);
}
.icon-base-minus {
  @include icon-base(minus);
}
.icon-base-models {
  @include icon-base(models);
}
.icon-base-more {
  @include icon-base(more);
}
.icon-base-mount {
  @include icon-base(mount);
}
.icon-base-news {
  @include icon-base(news);
}
.icon-base-night {
  @include icon-base(night);
}
.icon-base-offer {
  @include icon-base(offer);
}
.icon-base-owners {
  @include icon-base(owners);
}
.icon-base-pause {
  @include icon-base(pause);
}
.icon-base-percent {
  @include icon-base(percent);
}
.icon-base-performance {
  @include icon-base(performance);
}
.icon-base-phone {
  @include icon-base(phone);
}
.icon-base-pin-clean {
  @include icon-base(pin-clean);
}
.icon-base-pin-phone {
  @include icon-base(pin-phone);
}
.icon-base-pin {
  @include icon-base(pin);
}
.icon-base-play {
  @include icon-base(play);
}
.icon-base-plus {
  @include icon-base(plus);
}
.icon-base-print {
  @include icon-base(print);
}
.icon-base-purchase {
  @include icon-base(purchase);
}
.icon-base-question {
  @include icon-base(question);
}
.icon-base-record {
  @include icon-base(record);
}
.icon-base-reload {
  @include icon-base(reload);
}
.icon-base-responsibility {
  @include icon-base(responsibility);
}
.icon-base-rewind {
  @include icon-base(rewind);
}
.icon-base-rouble {
  @include icon-base(rouble);
}
.icon-base-route-by-car {
  @include icon-base(route-by-car);
}
.icon-base-route-by-foot {
  @include icon-base(route-by-foot);
}
.icon-base-route-public-transport {
  @include icon-base(route-public-transport);
}
.icon-base-route-start {
  @include icon-base(route-start);
}
.icon-base-search {
  @include icon-base(search);
}
.icon-base-seat {
  @include icon-base(seat);
}
.icon-base-service-calculator {
  @include icon-base(service-calculator);
}
.icon-base-service-unit {
  @include icon-base(service-unit);
}
.icon-base-service {
  @include icon-base(service);
}
.icon-base-settings {
  @include icon-base(settings);
}
.icon-base-share {
  @include icon-base(share);
}
.icon-base-skip-back {
  @include icon-base(skip-back);
}
.icon-base-skip-forward {
  @include icon-base(skip-forward);
}
.icon-base-snow {
  @include icon-base(snow);
}
.icon-base-social-facebook {
  @include icon-base(social-facebook);
}
.icon-base-social-google-plus {
  @include icon-base(social-google-plus);
}
.icon-base-social-linkedin {
  @include icon-base(social-linkedin);
}
.icon-base-social-odnoklassniki {
  @include icon-base(social-odnoklassniki);
}
.icon-base-social-twitter {
  @include icon-base(social-twitter);
}
.icon-base-social-vkontakte {
  @include icon-base(social-vkontakte);
}
.icon-base-sound-off {
  @include icon-base(sound-off);
}
.icon-base-sound-on {
  @include icon-base(sound-on);
}
.icon-base-start-stop {
  @include icon-base(start-stop);
}
.icon-base-stop {
  @include icon-base(stop);
}
.icon-base-support {
  @include icon-base(support);
}
.icon-base-test-drive {
  @include icon-base(test-drive);
}
.icon-base-thumbnails-large {
  @include icon-base(thumbnails-large);
}
.icon-base-thumbnails-small {
  @include icon-base(thumbnails-small);
}
.icon-base-torque {
  @include icon-base(torque);
}
.icon-base-transmission-automatic {
  @include icon-base(transmission-automatic);
}
.icon-base-transmission-manual {
  @include icon-base(transmission-manual);
}
.icon-base-trunk {
  @include icon-base(trunk);
}
.icon-base-upload {
  @include icon-base(upload);
}
.icon-base-used-cars {
  @include icon-base(used-cars);
}
.icon-base-video {
  @include icon-base(video);
}
.icon-base-view {
  @include icon-base(view);
}
.icon-base-volkswagen-code {
  @include icon-base(volkswagen-code);
}
.icon-base-website {
  @include icon-base(website);
}
.icon-base-window {
  @include icon-base(window);
}
.icon-base-zoom-in {
  @include icon-base(zoom-in);
}
.icon-base-zoom-out {
  @include icon-base(zoom-out);
}