@mixin icon-base-styles {
  font-family: "icon-base"; // shortening font declaration
}

%icon-base {
  @include icon-base-styles;
}

%icon-base-before {
  &:before {
    @include icon-base-styles;
  }
}

%icon-base-after {
  &:after {
    @include icon-base-styles;
  }
}

@function icon-base-char($filename) {
  $char: "";

  @if $filename == 360 {
    $char: "\E001";
  }

  @if $filename == accessories {
    $char: "\E002";
  }

  @if $filename == airbag {
    $char: "\E003";
  }

  @if $filename == app-store {
    $char: "\E004";
  }

  @if $filename == arrow-double-down {
    $char: "\E005";
  }

  @if $filename == arrow-double-left {
    $char: "\E006";
  }

  @if $filename == arrow-double-right {
    $char: "\E007";
  }

  @if $filename == arrow-double-up {
    $char: "\E008";
  }

  @if $filename == arrow-down {
    $char: "\E009";
  }

  @if $filename == arrow-left {
    $char: "\E00A";
  }

  @if $filename == arrow-right {
    $char: "\E00B";
  }

  @if $filename == arrow-up {
    $char: "\E00C";
  }

  @if $filename == body-coupe {
    $char: "\E00D";
  }

  @if $filename == body-hatchback {
    $char: "\E00E";
  }

  @if $filename == body-pickup {
    $char: "\E00F";
  }

  @if $filename == body-sedan {
    $char: "\E010";
  }

  @if $filename == body-suv {
    $char: "\E011";
  }

  @if $filename == body-universal {
    $char: "\E012";
  }

  @if $filename == body-van {
    $char: "\E013";
  }

  @if $filename == brake {
    $char: "\E014";
  }

  @if $filename == brochure {
    $char: "\E015";
  }

  @if $filename == business-customers {
    $char: "\E016";
  }

  @if $filename == calculate {
    $char: "\E017";
  }

  @if $filename == calendar {
    $char: "\E018";
  }

  @if $filename == chassis-back {
    $char: "\E019";
  }

  @if $filename == chassis-front {
    $char: "\E01A";
  }

  @if $filename == chassis-full {
    $char: "\E01B";
  }

  @if $filename == checkmark {
    $char: "\E01C";
  }

  @if $filename == child-seat {
    $char: "\E01D";
  }

  @if $filename == clearance {
    $char: "\E01E";
  }

  @if $filename == climate {
    $char: "\E01F";
  }

  @if $filename == clock {
    $char: "\E020";
  }

  @if $filename == close {
    $char: "\E021";
  }

  @if $filename == configure {
    $char: "\E022";
  }

  @if $filename == consumption {
    $char: "\E023";
  }

  @if $filename == convince {
    $char: "\E024";
  }

  @if $filename == corporate {
    $char: "\E025";
  }

  @if $filename == credit-calculator {
    $char: "\E026";
  }

  @if $filename == cruise-control {
    $char: "\E027";
  }

  @if $filename == customer {
    $char: "\E028";
  }

  @if $filename == day {
    $char: "\E029";
  }

  @if $filename == dealer {
    $char: "\E02A";
  }

  @if $filename == delete {
    $char: "\E02B";
  }

  @if $filename == directions {
    $char: "\E02C";
  }

  @if $filename == door {
    $char: "\E02D";
  }

  @if $filename == download {
    $char: "\E02E";
  }

  @if $filename == edit {
    $char: "\E02F";
  }

  @if $filename == email {
    $char: "\E030";
  }

  @if $filename == emission {
    $char: "\E031";
  }

  @if $filename == engine-diesel {
    $char: "\E032";
  }

  @if $filename == engine-electric {
    $char: "\E033";
  }

  @if $filename == engine-gas {
    $char: "\E034";
  }

  @if $filename == engine-hybrid {
    $char: "\E035";
  }

  @if $filename == engine-petrol {
    $char: "\E036";
  }

  @if $filename == engine {
    $char: "\E037";
  }

  @if $filename == exclamation {
    $char: "\E038";
  }

  @if $filename == favourite {
    $char: "\E039";
  }

  @if $filename == fax {
    $char: "\E03A";
  }

  @if $filename == filter {
    $char: "\E03B";
  }

  @if $filename == forward {
    $char: "\E03C";
  }

  @if $filename == front-assist {
    $char: "\E03D";
  }

  @if $filename == fullscreen-enter {
    $char: "\E03E";
  }

  @if $filename == fullscreen-exit {
    $char: "\E03F";
  }

  @if $filename == get-your-volkswagen {
    $char: "\E040";
  }

  @if $filename == gti {
    $char: "\E041";
  }

  @if $filename == heat {
    $char: "\E042";
  }

  @if $filename == high-beam {
    $char: "\E043";
  }

  @if $filename == home {
    $char: "\E044";
  }

  @if $filename == image-gallery {
    $char: "\E045";
  }

  @if $filename == image {
    $char: "\E046";
  }

  @if $filename == importer {
    $char: "\E047";
  }

  @if $filename == info {
    $char: "\E048";
  }

  @if $filename == link-arrow {
    $char: "\E049";
  }

  @if $filename == locate-me {
    $char: "\E04A";
  }

  @if $filename == lock {
    $char: "\E04B";
  }

  @if $filename == low-beam {
    $char: "\E04C";
  }

  @if $filename == mail {
    $char: "\E04D";
  }

  @if $filename == menu {
    $char: "\E04E";
  }

  @if $filename == messenger-skype {
    $char: "\E04F";
  }

  @if $filename == messenger-telegram {
    $char: "\E050";
  }

  @if $filename == messenger-viber {
    $char: "\E051";
  }

  @if $filename == messenger-whats-app {
    $char: "\E052";
  }

  @if $filename == mileage {
    $char: "\E053";
  }

  @if $filename == minus {
    $char: "\E054";
  }

  @if $filename == models {
    $char: "\E055";
  }

  @if $filename == more {
    $char: "\E056";
  }

  @if $filename == mount {
    $char: "\E057";
  }

  @if $filename == news {
    $char: "\E058";
  }

  @if $filename == night {
    $char: "\E059";
  }

  @if $filename == offer {
    $char: "\E05A";
  }

  @if $filename == owners {
    $char: "\E05B";
  }

  @if $filename == pause {
    $char: "\E05C";
  }

  @if $filename == percent {
    $char: "\E05D";
  }

  @if $filename == performance {
    $char: "\E05E";
  }

  @if $filename == phone {
    $char: "\E05F";
  }

  @if $filename == pin-clean {
    $char: "\E060";
  }

  @if $filename == pin-phone {
    $char: "\E061";
  }

  @if $filename == pin {
    $char: "\E062";
  }

  @if $filename == play {
    $char: "\E063";
  }

  @if $filename == plus {
    $char: "\E064";
  }

  @if $filename == print {
    $char: "\E065";
  }

  @if $filename == purchase {
    $char: "\E066";
  }

  @if $filename == question {
    $char: "\E067";
  }

  @if $filename == record {
    $char: "\E068";
  }

  @if $filename == reload {
    $char: "\E069";
  }

  @if $filename == responsibility {
    $char: "\E06A";
  }

  @if $filename == rewind {
    $char: "\E06B";
  }

  @if $filename == rouble {
    $char: "\E06C";
  }

  @if $filename == route-by-car {
    $char: "\E06D";
  }

  @if $filename == route-by-foot {
    $char: "\E06E";
  }

  @if $filename == route-public-transport {
    $char: "\E06F";
  }

  @if $filename == route-start {
    $char: "\E070";
  }

  @if $filename == search {
    $char: "\E071";
  }

  @if $filename == seat {
    $char: "\E072";
  }

  @if $filename == service-calculator {
    $char: "\E073";
  }

  @if $filename == service-unit {
    $char: "\E074";
  }

  @if $filename == service {
    $char: "\E075";
  }

  @if $filename == settings {
    $char: "\E076";
  }

  @if $filename == share {
    $char: "\E077";
  }

  @if $filename == skip-back {
    $char: "\E078";
  }

  @if $filename == skip-forward {
    $char: "\E079";
  }

  @if $filename == snow {
    $char: "\E07A";
  }

  @if $filename == social-facebook {
    $char: "\E07B";
  }

  @if $filename == social-google-plus {
    $char: "\E07C";
  }

  @if $filename == social-linkedin {
    $char: "\E07D";
  }

  @if $filename == social-odnoklassniki {
    $char: "\E07E";
  }

  @if $filename == social-twitter {
    $char: "\E07F";
  }

  @if $filename == social-vkontakte {
    $char: "\E080";
  }

  @if $filename == sound-off {
    $char: "\E081";
  }

  @if $filename == sound-on {
    $char: "\E082";
  }

  @if $filename == start-stop {
    $char: "\E083";
  }

  @if $filename == stop {
    $char: "\E084";
  }

  @if $filename == support {
    $char: "\E085";
  }

  @if $filename == test-drive {
    $char: "\E086";
  }

  @if $filename == thumbnails-large {
    $char: "\E087";
  }

  @if $filename == thumbnails-small {
    $char: "\E088";
  }

  @if $filename == torque {
    $char: "\E089";
  }

  @if $filename == transmission-automatic {
    $char: "\E08A";
  }

  @if $filename == transmission-manual {
    $char: "\E08B";
  }

  @if $filename == trunk {
    $char: "\E08C";
  }

  @if $filename == upload {
    $char: "\E08D";
  }

  @if $filename == used-cars {
    $char: "\E08E";
  }

  @if $filename == video {
    $char: "\E08F";
  }

  @if $filename == view {
    $char: "\E090";
  }

  @if $filename == volkswagen-code {
    $char: "\E091";
  }

  @if $filename == website {
    $char: "\E092";
  }

  @if $filename == window {
    $char: "\E093";
  }

  @if $filename == zoom-in {
    $char: "\E094";
  }

  @if $filename == zoom-out {
    $char: "\E095";
  }


  @return $char;
}

@mixin icon-base($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-base-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-base-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-base-char($filename);
  }
}