extends ../../../globals/layout/_layout

include ../../../components/UacComponents/checkboxDropdown/index
include ../../../components/UacComponents/dealerLocator-dealerCard/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var selectItems = [{'value':'1','label': '1'},{'value':'2','label': '2'},{'value':'3','label': '3'},{'value':'4','label': '4'},{'value':'5','label': '5'},{'value':'6','label': '6'}]
block content
    .page-section.bg-grey.dealer-locator
        .dealer-locator__container
            .dealer-locator__container-left
                .dealer-locator__map#js_dealer-locator__map
            .dealer-locator__container-right
                .dealer-locator__map-toggler#js_dealer-locator__map-toggler.toggler
                    +textlink('#','down', 'arrow')
                        span.hide Скрыть карту
                        span.show Показать карту
                .dealer-locator__filter-block#js_dealer-locator__filter-block
                   //- +checkbox_drop(selectItems,'Поле не заполнено')(class="js_dealersCityFilter")
                        | some-title
                .dealer-locator__cards-block#js_dealer-cards-block
                    .dealer-locator__cards-block--inner#js_dealer-cards-block--inner
    script( src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=false&key=AIzaSyCH8AvkDWvDobU3-Sz32KB44FK9N5h-6Uc")