mixin offerCard(item)
	.offer-card__container.js_offer-card__container
		.offer-card__overlay.js_offer-card__overlay
			.offer-card__overlay-content
				.offer-card__overlay-text
					| #{item.overlayContent}
		.offer-card__inner
			.offer-card__inner-left-col
				.offer-card__status-block
					.offer-card__booking(class= item.status)
						.offer-card__booking-status
							| #{item.statusText}
						.offer-card__booking-date
							| #{item.bookingDate}
					.offer-card_car-title
						| #{item.carTitle}
				.offer-card__price-block
					.offer-card__col
						.offer-card__discount-price
							| #{item.discountPrice}
						.offer-card__stock-price
							| #{item.stockPrice}
					.offer-card__col
						.offer-card__price-tooltip-trigger ?
				.offer-card__picture-block
					img(src=require('../../../_temp_images/passat-alltrack.png'), alt="")
				+btnsBlock
			.offer-card__inner-right-col
				.offer-card__picture-block
					img(src=require('../../../_temp_images/passat-alltrack.png'), alt="")

mixin btnsBlock
	.offer-card__btns-block.js_offer-card__btns-block(class=attributes.class)
		.offer-card__btn.offer-card__btns-accept.js_offer-card__btn.js_offer-card__btns-accept
			.offer-card__btn-icon.hasicon.icon-base-checkmark
			.offer-card__btn-text
				| Принять
		.offer-card__btn.offer-card__btns-decline.js_eventCard__fold-toggler.js_offer-card__btn.js_offer-card__btns-decline
			.offer-card__btn-icon.hasicon.icon-base-close
			.offer-card__btn-text
				| Отклонить