extends ../../../globals/layout/_layout

include ../../../components/UacComponents/authBlock/index
include ../../../components/UacComponents/dragNdropUpload/index
include ../../../components/UacComponents/datepicker/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UI_Elements/select/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: 'hide-navs'
        };

        var genderRadio = [{'label':'Господин','value':'male','checked':true},{'label':'Госпожа','value':'female','checked':false}]
        var cities = [{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'}]

block content
    .page-section.with-auth-block.bg-grey
        .kdx_container-fluid.auth-block_container-fluid
            .gridcontainer
                .grid_12.grid_xs_10.push_xs_1.grid_m_6.push_m_3.grid_l_6.push_l_3.grid_xl_4.push_xl_4
                    .auth-block
                        .auth-block-carousel.carousel.js_auth-block-slider
                            .auth-block-slide
                                +authBlockSectionTop("Добро пожаловать!")
                                    .auth-block__title-under 
                                        | Давайте настроим ваш личный кабинет
                                .auth-block__section.pd-default
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +input('','Имя', false,'Поле заполнено с ошибкой')(type="text")
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +input('','Фамилия', false,'Поле заполнено с ошибкой')(type="text")
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +radiogroup('Пол','gender',genderRadio,'Поле не заполнено')
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +datePicker('Дата рождения')
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +select(cities,'Выберите ваш город','',false,'Город не выбран')(data-searchable="true", class= "upwards")
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +btn('div', 'Следующий шаг')(class="btn_cta no-maxwidth js_slick-next")
                            .auth-block-slide
                                +authBlockSectionTop("Загрузите свою фотографию")
                                    .auth-block__title-under 
                                        | Вы будете видеть ее в личном кабинете
                                .auth-block__section.pd-default
                                    .gridcontainer
                                        .grid_10.push_1
                                            +dragNdropUpload(class= 'auth-block__upload-photo', maxFiles = '1', acceptedFiles='image/*',paramname='pics', url='files/post')
                                    .gridcontainer
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +btn('div', 'Назад')(class="btn-light no-maxwidth js_slick-prev")
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +btn('div', 'Далее')(class="btn-light btn_cta no-maxwidth js_slick-next")
                                    .gridcontainer
                                        .grid_12
                                            a.auth-block__simple-link-action.js_slick-next(href="") Пропустить этот шаг
                            .auth-block-slide
                                +authBlockSectionTop("Номер телефона")
                                    .auth-block__title-under 
                                        | Добавив номер телефона, вы сможете получать SMS-уведомления о статусах ваших заявок и спецпредложениях
                                .auth-block__section.pd-default
                                    .gridcontainer
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +input('','Телефон',false,'Поле заполнено с ошибкой')(type="tel")
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +btn('div', 'Отправить код')(class="btn-light no-maxwidth")
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +input('','Код подтверждения из SMS', false,'Поле заполнено с ошибкой')(type="text")
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            .auth-block__misc-text
                                                |Повторно выслать код можно через <span class="js_phone-confirm-counter">60</span> секунд
                                    .gridcontainer
                                        .grid_12.grid_xs_10.grid_m_12.push_xs_1.push_m_0
                                            +btn('div', 'Подтвердить номер телефона')(class="btn-light no-maxwidth", disabled)
                                    .gridcontainer
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +btn('div', 'Назад')(class="btn-light no-maxwidth js_slick-prev")
                                        .grid_6.grid_xs_5.grid_m_6.push_xs_1.push_m_0
                                            +btn('div', 'Далее')(class="btn-light btn_cta no-maxwidth js_slick-next")
                                    .gridcontainer
                                        .grid_12
                                            a.auth-block__simple-link-action(href="") Пропустить этот 
                            .auth-block-slide
                                +authBlockSectionTop("Готово")(class= 'centered')
                                    .auth-block__title-under 
                                        | Ваш профиль успешно настроен

                                    .gridcontainer
                                        .grid_12
                                            +btn('div', 'Перейти в личный кабинет')(class="btn-light btn_cta no-maxwidth js_slick-next")