include ../../../BasicModules/Media/m017_Media_378x143/index
include ../../../BasicModules/Headline/m024_Headline_H5/index

mixin m245_Modelaccess_Teaser__item(image, link, name, price)
    -
        price = price || '1'+((Math.round(Math.random() * 1000 - 1))+' 000');
    article.grid_sm_4.m245_item
        .m245_item__inner
            +m017_Media_378x143(image||false, [], false, link || '#')
            // !HTML 19.03
            +m024_Headline_H5(false).m245_item__title
                != name
            div.m245_item__price от #{price} руб.
