@import "../../../../globals/style/core";

.m245_item {
  outline: none;
  text-align: center;

  @include media(media-inverse($tablet)) {
    padding: 0
  }

  &__inner {
    padding: rem(15px) 2*1.38885%;
    @include media($tablet) {
      padding: rem(15px) 0;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: rem(8px);
    @include media($laptop) {
      margin-bottom: rem(10px);
    }
  }

  &__price {
    @include responsive-typo($bodycopy-b3);
  }
}
