@import "../../../globals/style/core";
$iconSize: 3.7rem;

.moreRequestsBtn__container{
    width: 100%;
    padding: 1.7rem 0;
    background: #fff;
    text-align: center;
    cursor: pointer;
    &.is_hidden{
        display: none !important;
    }
}
.moreRequestsBtn{
    display: inline-block;
}
.moreRequestsBtn__icon{
    display: inline-block;
    width: $iconSize;
    height: $iconSize;
    line-height: $iconSize;
    border-radius: 50%;
    background-color: $primary;
    position: relative;
    margin-right: 2rem;
    vertical-align: middle;
    &:before{
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 24px;
        line-height: $iconSize;
        .is-ie &{
            line-height: 37px;
        }
    }
    .moreRequestsBtn__container:hover &{
        background-color: $primary-hover;
    }
}
.moreRequestsBtn__text{
    display: inline-block;
    @extend %b2;
    text-transform: uppercase;
    line-height: $iconSize;
    color: $grey_100;
    vertical-align: middle;
}
