
.main-page-dealerPicker__container{}
.main-page-dealerPicker__list{}

.main-page-dealerPicker__item{
    padding: 1.5rem 4rem 1.5rem 2rem;
    background: #fff;
    margin-bottom: 1rem;
    position: relative;
a{
    @extend .h5;
    }
}

.main-page-dealerPicker__item-title{
  font-weight: bold;
  font-size: 1.8rem;
}
.main-page-dealerPicker__item-counter{
	top: 1.5rem;
	right: 1.5rem;
}