mixin mainPageDealerPicker(items)
	.main-page-dealerPicker__container
		ul.main-page-dealerPicker__list
			each item in items
				li.main-page-dealerPicker__item
					a(href="#")
						.main-page-dealerPicker__item-title #{item.title}
						if item.notifCount
							+notificationCounter(item.notifCount)(class='main-page-dealerPicker__item-counter')