/*! nouislider - 9.2.0 - 2017-01-11 10:35:35 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px;
}
.noUi-horizontal .noUi-handle {
  left: -20px;
  top: -15px;
}
.noUi-vertical {
  width: 10px;
  height: 500px;
}
.noUi-vertical .noUi-handle {
  left: -15px;
  top: -20px;
}
/* Styling;
 */
.noUi-target {
  border-radius: 100px;
  background-color: $grey_60;
}
.noUi-connect {
  border-radius: 100px;
  background: $primary;
  transition: background 450ms;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #dee1e3;
  cursor: pointer;
  border-radius: 50%;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $primary;
  left: 50%;
  top: 50%;
  margin-top: -9px;
  margin-left: -9px;
  border-radius: 50%;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center;
  font-size: 14px;
  color: $grey_60;
  display: none;
  &.first-value{
    display: block;
    min-width: 100px;
    margin-top: 36px;
    margin-left: 25px;
  }
  &.last-value{
    display: block;
    margin-top: 36px;
    margin-left: -33px;
    min-width: 100px;
  }
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
  .no_pips & {
    display: none;
  }
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  width: 20px;
  height: 20px;
  background: $grey_60;
  border-radius: 50%;
  transform: translateX(-50%);
  &:after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    background: $grey_100;
  }
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding:0;
  height: 20px;
  top: -5px;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
      margin-top: 30px;
  transform: translate3d(-50%, 50%, 0);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;

}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {

}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  height: 100%;
  top: 0;
  left: 50%;
}
.noUi-value-vertical {
  transform: translate3d(0, -50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  transform: translate(-50%,-50%);
}
.noUi-tooltip {
  display: block;
  position: absolute;
  color: $grey_80;
  text-align: center;
  font-size: 14px;
  min-width: 100px;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 50px;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  left: 120%;
}
