@import "../../../globals/style/core";
.input-extended {
  margin-bottom: rem(20px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  @include media($tablet){
    flex-direction: row;
  }
  .input__group {
    display: flex;
    align-items: flex-end;
    .gender-radio {
      flex-basis: 42px;
      /* box-sizing: border-box; */
      flex-shrink: 0;
    }
  }
  .input {
    margin-bottom: 0;
    &:first-child {
      width: 100%;
      @include media($tablet){
        width: 51.5%;
        flex-basis: 51.5%;
      }
    }
    &:last-child {
      width: 100%;
      @include media($tablet){
        width: 48.5%;
        flex-basis: 48.5%;
      }

    }
  }
  .first{
    margin-bottom: rem(20px);
    @include media($tablet){
      margin-bottom: 0;
    }
    .gender-radio{
      &:nth-of-type(1){
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      }
      &:nth-of-type(2){
      border-radius: 0;
      border-left: none;
      }
    }
    .input__title{
      .mobile-hidden{
        display: none;
        @include media($tablet){
          display: inline;
        }
      }
    }
    .input__field{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      @include media($tablet){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

  }
  .second{
    .input__title{
      visibility: visible;
      @include media($tablet){
        visibility: hidden;
      }
    }
    .input__field{
      @include media($tablet){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }
  }
  .has-error .error-container {
    position: absolute;
  }
}
