mixin inputExtended
    // Component vwd5_input
    -
        type= attributes.type || "text"
        id = unique_id();
    .input-extended
        div.input.vwd5_input.js_error_container.first
            label.input__title(for= attributes.id || id)
                | Имя <span class='mobile-hidden'>и фамилия </span>
            .input__group
                +genderRadio(class='female')
                +genderRadio(class='male',checked)
                input.input__field.required(id = id, type=type, placeholder="Имя")&attributes(attributes)
                .hasicon.icon-quickaccess-close.input__clear
            span.input__help-block.error-container
                | Поле не заполнено
        div.input.vwd5_input.js_error_container.second
            label.input__title
                | Фамилия 
            .input__group
                input.input__field.required(type='text', placeholder="Фамилия")&attributes(attributes)
                .hasicon.icon-quickaccess-close.input__clear
            span.input__help-block.error-container
                | Поле не заполнено