mixin input(title, placeholder, icon, error_text, required)
    // Component vwd5_input
    -
        type= attributes.type || "text"
        id = unique_id();

    div.input.vwd5_input.js_error_container
        // TODO: add icon
        if title
            label.input__title(for= attributes.id || id)
                != title
        .input__group
            if icon
                .hasicon.input__icon(class=icon)
            if type == "textarea"
                textarea.input__field(id = id, type=type, placeholder=placeholder)&attributes(attributes)
            else
                input(id = id, type=type, placeholder=placeholder, class= required ? 'input__field required' : 'input__field')&attributes(attributes)
                .hasicon.icon-quickaccess-close.input__clear
        span.input__help-block.error-container
            != error_text
    // END vwd5_input

