@import "../../../globals/style/core";

.input {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin-bottom: rem(20px);
  /*@include media ($tablet){
    margin-bottom: rem(35px);
  }*/

  &__group {
    position: relative;
  }

  @at-root &__title {
    display: block;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 1.2rem;
    font-weight: bold;
    .has-error & {
      color: $red;
    }
  }

  &__field {
    font-size: 1.4rem;
    line-height: 2.2rem;
    border-radius: $radius;
    height: 4.2rem;
    padding: .7rem 1.5rem;
    background: #fff;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: .1rem solid $grey_20;
    color: $grey_80;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .has-error & {
      color: $red;
      border-color: $red;
    }

    &:focus {
      outline: none;
      padding-right: 4.2rem;
      color: $grey_80;
      //border-color: $primary;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__icon + &__field {
    padding-left: 4.2rem;
  }

  @at-root %input-icons {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 4.2rem;
    width: 4.2rem;
    font-size: 1.4rem;
    text-align: center;
    color: $grey_40;

    &:before {
      font-size: inherit;
      line-height: inherit;
    }

    .has-error & {
      color: $red;
    }
  }

  &__icon {
    @extend %input-icons;
    left: 0;
  }

  &__clear {
    @extend %input-icons;
    right: 0;
    cursor: pointer;
    display: none;

    .is-filled & {
      display: block;
    }
  }

  &__help-block {
    margin-top: rem(5px);
  }
}


textarea.input__field {
  font-family: $font;
  height: 9rem;
  resize: none;
}

.input-required{
  color: $primary;
  font-size: 16px;
    position: relative;
    top: -3px;
    left: 3px;
}