include ../../BasicModules/Headline/m021_Headline_H2/index

mixin m350_Sub_Stage_Title(title)
    -title = title || getLorem(25);
    // Component m350_Sub_Stage_Title
    section.m350
        .m350__container
            +m021_Headline_H2().m350__headline
                !=title

    // END - m350_Sub_Stage_Title
