@import "fontface";
@import "utility";

.icon-features-engine {
  @include icon-features(engine);
}
.icon-features-fuel-consumption {
  @include icon-features(fuel-consumption);
}
.icon-features-spin {
  @include icon-features(spin);
}
.icon-features-trunk {
  @include icon-features(trunk);
}