mixin popup
	.popup.js_popup(class= attributes.class, data-name= attributes.dataName)
		.popup-close-btn.js_popup-close-btn
		.popup__content
			block popup-content
				.select-location-popup__title
					| Ваш город
				.select-location-popup__text
					| Найдите ваш город и мы покажем самые выгодные предложение от дилеров
				form.select-city-form
					.select-city-form__row
						.select-container
							.simple-select--chosen-not-inited.js_simple-select--chosen-not-inited
							.custom-dropdown__select-arrow
							select(class="js_chosen_select")
								each option in ['Москва','Москва1','Москва2','Москва3','Москва4','Москва5','Москва6','Москва7']
									option(val=option) #{option}
						+btn('a','Посмотреть')(class="btn_cta mobile")