.popup{
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: transparentize($grey_100, 0.1);
  z-index: 1001;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;	
	&__content{
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 min-width:280px;
	 transform: translate( -50%, -50%);
	  }
    &.is_active{
      opacity: 1;
      pointer-events:auto;
    }
}
.popup-close-btn{
	cursor: pointer;
	    position: absolute;
	        right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
      @include media($tablet){
         	        right: 30px;
    top: 30px;
      }
	&:before {
    content: '\e946';
    font-family: 'vw_d5_icons' !important;
    display: block;
    position: absolute;
    border-top: 0;
    font-size: 23px;
    border-left: 0;
    color: #fff;
    line-height: 20px;
    left: 50%;
    top: 50%;
     transform: translate( -50%, -50%);

  }
}


.select-location-popup{


  &__content{
 position: absolute;
 top: 50%;
 left: 50%;
 min-width:280px;
 transform: translate( -50%, -50%);
  }

  &__title{

    color:  #fff;
    @extend h2;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text{
    @extend %b1;
    color:  $grey_40;
    text-align: center;
  }.select-city-form{
    margin-top: 30px;
  }
  .select-city-form__row{
    > *{
      display: inline-block;
    }
    .select-container{
      width: 100%;
      text-align: left;
      margin-right: 20px;
      margin-bottom: 20px;
      @include media($tablet){
         width: 325px;
      }
    }
    .chosen-container{
      padding: .7rem 3rem .7rem 1.5rem;
    }
    .btn{
      width: 100%;
      max-width: none;
      @include media($tablet){
         width: 165px;
      }
    }
  }
}
