.icon-navigation-business-customers:before, .icon-navigation-close:before, .icon-navigation-configure:before, .icon-navigation-corporate-topics:before, .icon-navigation-dealer:before, .icon-navigation-get-your-volkswagen-1:before, .icon-navigation-get-your-volkswagen-2:before, .icon-navigation-get-your-volkswagen:before, .icon-navigation-home:before, .icon-navigation-importer:before, .icon-navigation-menu:before, .icon-navigation-models:before, .icon-navigation-more:before, .icon-navigation-news:before, .icon-navigation-offer:before, .icon-navigation-owners:before, .icon-navigation-preowned:before, .icon-navigation-profile:before, .icon-navigation-responsibility:before, .icon-navigation-search:before, .icon-navigation-service:before, .icon-navigation-volkswagen-live:before {
    font-family: icon-navigation !important;
}
.icon-link-back-to-top:before, .icon-link-compare:before, .icon-link-configure:before, .icon-link-contacts:before, .icon-link-delete:before, .icon-link-download:before, .icon-link-duplicate:before, .icon-link-email:before, .icon-link-fax:before, .icon-link-forward:before, .icon-link-locate-me:before, .icon-link-mail:before, .icon-link-phone:before, .icon-link-pin:before, .icon-link-print:before, .icon-link-reload:before, .icon-link-route:before, .icon-link-search:before, .icon-link-standardlink:before, .icon-link-upload:before, .icon-link-view:before, .icon-link-website:before, .icon-link-write:before, .icon-link-zoom-in:before, .icon-link-zoom-out:before {
    font-family: icon-link !important;
}

.personal-avn{
	#vw_page_header{
	    box-shadow: 0.5rem 0.4rem 2rem rgba(0,0,0,0.1) !important;
	}
	.custom-dropdown__select-arrow{
		display: none;
	}
	
	.checkbox__title{
		float: none;
		padding-left: 0;
	}

	.btn {
	    display: inline-block !important;
	    vertical-align: middle !important;
	    font-size: 1.4rem !important;
	    font-weight: 700 !important;
	    line-height: 2.6rem !important;
	}
	.btn__text{
	    display: inline-block !important;
	    vertical-align: middle !important;	
	}
	.car-details-head__fav-btn {
	    margin-top: 2rem !important;
	    height: 3rem !important;
	    min-height: 3rem !important;
	    border-radius: 100px !important;
	    padding: 0 1.5rem 0 2.8rem !important;
	    position: relative !important;
	    width: auto !important;
	    .btn__text {
		    font-size: 11px !important;
		    line-height: 1rem !important;
		}
	}
	.dealer-info-block__phone{
		margin-top: 0;
	}
	.hasicon:before{
		font-family: vw_d5_icons !important;
	}
}


