
.personal-credit{
	*{
		font-family: $font !important;
	}
	.form__text{
		box-sizing: content-box;
		padding-right: 35px !important;
	}
	.kdxvw-form .chosen-container-active.chosen-with-drop .chosen-single, .kdxvw-form .chosen-container-multi .chosen-choices, .kdxvw-form .chosen-container-single .chosen-single{
		box-sizing: border-box !important;
	}
	.page_body__title,
	.tabs__wrapper-outer .tabs_programs .tabs__option,
	.form__label_price,
	.programs__img .programs__img-title,  
	.programs__img .programs__img-title,
	.range__input {
		font-family: $font_head !important;
	}
	.request__form{
		padding-bottom: 30px;
	}
	button.btn.btn_clear{
		display: none;
		overflow: visible;
	}
	.is-filled .btn_clear{
		display: block !important;
	}
	.request__radio + span{
		height: 42px;
	}
	.popup{
		display: none;
	}
}
