html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type=tel],
input[type=text],
input[type=password],
input[type=email]
input[type=date] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 320px;
  &.scroll-lock {
    height: 100%;
    overflow: hidden !important;
    width: 100%;
    //position: fixed; //ios fix - scrolls to top
  }
}

a {
  @include link-color($primary, $primary_hover);
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  position: relative;
  z-index: z-index(body);
  @include media($tablet) {
    margin-top: 0;
    margin-left: 9.6rem;
    min-height: 100vh;
  }
}

.container-fluid {
  //TODO: should we delete global container-fluid class
  //@extend %container-fluid;
}

.error-container {
  @include responsive-typo($bodycopy-b4);
  color: $red;
  display: none;

  .has-error & {
    display: block;
  }
}

.kdx_container-fluid {
  @include container();
  &.no-pd-mobile {
    @include media($upTotablet) {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-section {
  &.pd30 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &.pd40 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &.pd50 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media($tablet) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  &.bbottom {
    border-bottom: 1px solid $grey_20;
  }
  &.with-auth-block {
    @include media($tablet) {
      height: 800px;
      display: flex;
      align-items: center;
    }
    .auth-block_container-fluid {
      width: 100%;
      @include media($upTotablet) {
        padding: 0 !important;
        overflow: hidden;
      }
    }
  }

  /*&.reset-bottom-pd-mobile{
    @include media($upTotablet){
      padding-bottom: 0;
    }
  } */
}

.pd-default {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include media($tablet) {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  &.only-bottom-pd {
    padding-top: 0;
  }
}

.interSection-pd-default {
  //padding-top: 3rem;
  padding-bottom: 3rem;
  @include media($tablet) {
    //padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: $grey;
}

.page-section__headline {
  @extend .h3;
  margin-bottom: 2rem !important;
  @include media($tablet) {
    margin-bottom: 3rem !important;
  }
  &.small {
    @extend .h5;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

.pseudoGrid__half-vp {
  width: 100%;

  @include media($tablet) {
    float: left;
    width: 50%;
  }
}

.gridcontainer {
  &.two-col-flex-stretch-desktop {
    @include media ($desktop) {
      display: flex;
      align-items: stretch;
    }
  }
  /*  @include media($widescreen){
      max-width: 1166px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .need-pd-after-fix{
      @include media($widescreen){
        max-width: none !important;
        margin-left: -8px !important;
        margin-right: -8px !important;
       }
    }*/
}

.midpage-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
  &_vp-height{
    padding: 0;
    min-height: 460px;
    height: calc(100vh - 470px);
    @include media($tablet) {
      height: calc(100vh - 70px - 241px - 47px);
    }
  }
  &__title {
    @extend .h3;
    margin-bottom: 3vh;
  }
  &__text {
    @extend %b1;
    margin-bottom: 3vh;
    font-weight: normal;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  &__image {
    &.p404 {
      width: 50%;
      max-width: 246px;
      margin-bottom: 5vh;
    }
  }
  &__btn {
    margin: 0 auto;
  }
  &.fade-in {
    animation: fadein 2s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.hide-navs {
  .top-bar__container,
  .vw_page_header,
  .navlvl2 {
    display: none;
  }
  .page-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.simple-text {
  @extend %b1;
  line-height: 1.56;
  margin-bottom: 1.5rem;
}

.icon-link-forward:before {
  font-size: 15px;
}

/*baloon*/
.baloon-prompt {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: $radius;

}

.baloon-prompt__tail {
  position: absolute;
  border: inherit;
  border-top: none;
  border-left: none;
  background: #ffffff;
  width: 10px;
  height: 10px;
  right: 20px;
  bottom: -5px;
  transform: rotate(45deg);
  z-index: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.baloon-prompt__content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: $radius;
  background: #ffffff;
  box-sizing: border-box;
}

/*end baloon*/

.oneToHide-cards {
  .announcement-card__container:nth-of-type(3) {
    @include media($fablet) {
      display: none;
    }
    @include media($laptop) {
      display: block;
    }
  }
}

.icon-arrow-left.vwd5-textlink__icon {
  position: relative;
  bottom: -3px;
}

.headline-extended-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  > div {
    margin-bottom: 0.5rem;
  }
  @include media($tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}