@import "../../../globals/style/core";

.m242 {
  @extend %module-spacing;
  font-size: 0;
  text-align: center;

  &__container {
    @include container();
    position: relative;
  }

  &__title {
    @include responsive-typo($header-2);
    text-align: center;
    margin-bottom: rem(20px);
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }

  &__title,
  &__inner {
    @include container();
  }

  &__wrapper {
    @include kdx-grid-container();
  }
}


.m242_item {
  outline: none;
  text-align: center;
  display: inline-block;
  float: none;

  @include media(media-inverse($tablet)) {
    padding: 0
  }

  &__inner {
    padding: rem(15px) 2*1.38885%;
    @include media($tablet) {
      padding: rem(15px) 0;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: rem(8px);
    @include media($laptop) {
      margin-bottom: rem(10px);
    }
  }

  &__price {
    @include responsive-typo($bodycopy-b3);
  }
}