include ./item/index
include ../../BasicModules/Headline/m021_Headline_H2/index



mixin m242_XS_Overview(title, cars)
    // Component m242_XS_Overview
        Cars is array of arrays. Represents several car groups under single headline
    -
        cars = cars || Array(2).fill([]);
        cars = cars.map(function() {
            return Array(5).fill({}).map(function() {
                return {
                    titlle: 'car_name',
                    link: '#',
                }
            });
        })

    .m242
        +m021_Headline_H2.m242__title
            != title
        .m242__container
                each group in cars
                    .m242__wrapper
                        each car in group
                            +m242_XS_Overview__item(false, false, 'Tiguan')
    // END - m242_XS_Overview
