@mixin justify {
  text-align: justify;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}
