// Helper functions

$in-media: false;
@mixin media($query) {
  $grid_settings: if(map_has_key($query, grid), map_get($query, grid), ());
  $query: map_get($query, media);
  $in-media: $query !global;
  @if length($query) == 1 {
    @media screen and ($default-feature: nth($query, 1)) {
      @content;
    }
  } @else {
    $loop-to: length($query);
    $media-query: "screen and ";

    @if is-not(is-even(length($query))) {
      @error 'Media must be even'
    }

    $i: 1;
    @while $i <= $loop-to {
      $media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

      @if ($i + 1) != $loop-to {
        $media-query: $media-query + "and ";
      }

      $i: $i + 2;
    }


    @include susy-breakpoint(1px, $grid_settings, true) {
      @media #{$media-query} {
        @content;
        $in-media: false !global;
      }
    }
  }
}

@function media-inverse($media_map) {
  $media: map_get($media_map, media);
  $mq-lenght: length($media);
  @if $mq-lenght > 2 {
    @error inverting complex media not possible\. please past simple media
  }

  $media-feature: nth($media, 1);
  $media-value: nth($media, 2);

  @if $media-feature == min-width {
    $media-value: (($media-value * $em-base) - 1 ) / $em-base;
    $media-feature: max-width
  } @else if $media-feature == max-width {
    $media-value: (($media-value * $em-base) + 1 ) / $em-base;
    $media-feature: min-width
  } @else if $media-feature == min-height {
    $media-value: (($media-value * $em-base) - 1 ) / $em-base;
    $media-feature: max-height
  } @else if $media-feature == max-height {
    $media-value: (($media-value * $em-base) + 1 ) / $em-base;
    $media-feature: min-height
  }

  @return (
    media:$media-feature $media-value,
  );
}

@function media-intersection($origin, $by) {
  $origin: map_get($origin, media);
  $by: map_get($by, media);


  $origin-feature: nth($origin, 1);
  $by-feature: nth($by, 1);

  $origin-value: nth($origin, 2);
  $by-value: nth($by, 2);

  @if $origin-feature != $by-feature {
    @warn intersected media should have same feature;
    @return false;
  }

  @if $origin-feature == min-width or $origin-feature == min-height {
    @if $origin-value <= $by-value {
      @return true;
    }
  } @else if $origin-feature == max-width or $origin-feature == max-height {
    @if $origin-value >= $by-value {
      @return true;
    }
  }

  @return false;
}
