@import "media";
@import "../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@function filter-typo-map($typo-map-src, $mq_conditional: false) {
  $typo-map: ();
  @if type_of($mq_conditional) != bool {

    $if-to: if(nth($mq_conditional, 1) == to, true, false);
    @for $i from 1 through length($typo-map-src) {
      $cmq: map_get(nth($typo-map-src, $i), media);
      @if $if-to and ($cmq == default or (not media-intersection(nth($mq_conditional, 2), $cmq) or nth($mq_conditional, 2) == $cmq) ) {
        $typo-map: append($typo-map, nth($typo-map-src, $i))
      } @else if not $if-to and $cmq != default and media-intersection(nth($mq_conditional, 2), $cmq) {
        $typo-map: append($typo-map, nth($typo-map-src, $i))
      }
    }
  } @else {
    $typo-map: $typo-map-src;
  }

  @return $typo-map;
}

@function format-lh-to-decimal($typo-map) {
  $processed-map: ();

  $previous-line-height: false;
  @if length($typo-map) > 0 {
    @for $i from 1 through length($typo-map) {
      $settings: nth($typo-map, $i);

      @if $previous-line-height==false or $previous-line-height !=decimal-ceil(strip-units(map_get($settings, line-height)) / strip-units(map_get($settings, font-size)), 1) {
        $previous-line-height: decimal-ceil(strip-units(map_get($settings, line-height)) / strip-units(map_get($settings, font-size)), 3);
        $settings: map_set($settings, line-height, $previous-line-height);
      } @else {
        $settings: map_remove($settings, line-height);
      }
      $processed-map: append($processed-map, $settings)
    }
  }

  @return $processed-map;
}

@mixin apply-typo($settings-map) {
  font-size: rem(map_get($settings-map, font-size));
  // Font weight
  @if map_has_key($settings-map, font-weight) {
    font-weight: map_get($settings-map, font-weight);
  }
  // Line height
  @if map_has_key($settings-map, line-height) {
    line-height: map_get($settings-map, line-height);
  }
  // Letter spacing
  @if map_has_key($settings-map, letter-spacing) {
    letter-spacing: map_get($settings-map, letter-spacing);
  }
  // Color
  @if map_has_key($settings-map, color) {
    color: map_get($settings-map, color);
  }
}

//@warn $typography-presets;

@mixin responsive-typo($typo-map-src, $mq_conditional: false) {

  $typo-map: filter-typo-map($typo-map-src, $mq_conditional);
  $typo-map: format-lh-to-decimal($typo-map);

  @if length($typo-map) > 0 {
    @for $i from 1 through length($typo-map) {
      $settings: nth($typo-map, $i);
      $font-settings: map_remove($settings, media);
      @if map_get($settings, media)==default {
        @include apply-typo($font-settings);
      }
      @else {
        @include media(map_get($settings, media)) {
          @include apply-typo($font-settings);
        }
      }
    }
  }
}

@mixin responsive-typo-lines($typo-map-src, $mq_conditional: false, $lines-number: 1, $max: false) {
  $typo-map: filter-typo-map($typo-map-src, $mq_conditional);

  @if length($typo-map) > 0 {
    @for $i from 1 through length($typo-map) {
      $settings: nth($typo-map, $i);

      @if map_get($settings, media)==default {
        @if map_has_key($settings, line-height) {
          @if $max {
            max-height: rem(map_get($settings, line-height) * $lines-number);
          } @else {
            height: rem(map_get($settings, line-height) * $lines-number);
          }
        }
      }
      @else {
        @include media(map_get($settings, media)) {
          @if map_has_key($settings, line-height) {
            @if $max {
              max-height: rem(map_get($settings, line-height) * $lines-number);
            } @else {
              height: rem(map_get($settings, line-height) * $lines-number);
            }
          }
        }
      }
    }
  }
}
