@import "../../../globals/style/core";

.m102 {
  @extend %head-module-spacing;
  @include responsive-typo($bodycopy-b1);

}

.m102__heading {
  @include container();
  margin-bottom: rem(10px);
  @include media($tablet) {
    margin-bottom: rem(20px);
  }
}

.m102__container {
  @include container();
  @include responsive-typo($bodycopy-b1);

  .m102_2column & {
    @include media($tablet) {
      column-count: 2;
      column-gap: 12px;
    }
    @include media($desktop) {
      column-gap: 15px;
    }
    @include media($widescreen) {
      column-gap: 18px;
    }
  }
}

