@import "../../../globals/style/core";

.go-back-link{
  position: absolute;
  right: 0;
  top:0;
  @include media ($upTotablet){
  	position: static;
  	margin-bottom: 2rem;
  	text-align: right;
  }
}