@import "../../../globals/style/core";

.mk153 {
  position: relative;
  @include clear();

  &::before,
  &::after {
    content: '';
    height: 5rem;
    width: 1px;
    display: block;
  }

  &__map {
    height: 30rem;
    @include media($tablet) {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__card {
    @include span(12);
    overflow-y: auto;
    position: relative;
    z-index: 1;
    float: none;
    padding: 2rem;

    @include media($tablet) {
      @include span(4);
      min-height: 35rem;
      max-height: 45rem;
      padding: 6rem;

      .mk153_left-sided & {
        float: left;
      }

      .mk153_right-sided & {
        float: right;
      }
    }
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__phone,
  &__address,
  &__email,
  &__hours {
    margin-bottom: 1.3rem;
    position: relative;
    padding-left: 2.2rem;

    &::before {
      position: absolute;
      left: 0;
      color: $primary;
      font-size: 1.2em;
      top: -.1em;
    }
  }

  &__btns {
    text-align: center;
    margin-top: 3rem;

    @include media($tablet) {
      text-align: left;
    }
  }
}