include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../UI_Elements/button/index

mixin mk153_Map(alignLeft)
    // Component mk153_Map
    -
        var alignClass = alignLeft ? 'mk153_left-sided' : 'mk153_right-sided';

    .mk153(class=alignClass)
        .mk153__map(data-markers=(JSON.stringify([
            {
                id: 1,
                name: 'Lorem ipsum',
                desc: 'lalalalallal desription here',
                coords: [55.74954, 37.621587]
            }
        ])))
        .mk153__card.vwd5_bg_gray_light
            .mk153__content
                +m022_Headline_H3.mk153__title
                    | Фольксваген центр Варшавское
                .mk153__phone.hasicon.icon-base-Phone +7 (495) 565-3806
                .mk153__address.hasicon.icon-base-Pin Проектируемый проезд №4062, дом 6, строение 16
                .mk153__email.hasicon.icon-base-Mail
                    a(href='mailto:varshavka@vw.center.ru') varshavka@vw.center.ru

                .mk153__hours.hasicon.icon-base-Clock Ежедневно с 08:00 до 21:00
                .mk153__btns
                    +btn('a', 'Узнать больше')(class="btn_cta mk153__btn" href="#")
                    +btn('a', 'Построить маршрут')(class="mk153__btn" href="#")


    // END - mk153_Map
