
mixin dragNdropUpload(title)
	.dragNdropUpload__container(class= attributes.multiple ? 'dragNdropUpload-multiple' : 'dragNdropUpload-single')
		if title
			.input__title= title
		.dragNdropUpload.js_dragNdropUpload(class= attributes.class, data-acceptedFiles= attributes.acceptedFiles, data-maxFiles = attributes.maxFiles,data-maxSize = maxSize, data-url= attributes.url, data-paramname = attributes.paramname)
			.dz-message
				.dragNdropUpload__icon.hasicon.icon-nextstep-upload
				.dragNdropUpload__text
					span Выберите файл или перетащите его сюда
		.dragNdropUpload__error-message.js_dragNdropUpload__error-message
		block
