@import "../../../globals/style/core";

.dragNdropUpload__error-message {
  @extend %b2;
  color: $grey_60;
  margin-top: 0.5rem;
  display: none
}

.dragNdropUpload-single {
  .dragNdropUpload{
  width: 50vw;
  height: 50vw;
  max-width: 255px;
  max-height: 255px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid $grey_20;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  &.dz-drag-hover {
    border-color: $primary;
  }
&.dz-started .dz-message {
    display: none;
  }
  .dz-image-preview {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .dz-details,
  .dz-error-message,
  .dz-success-mark,
  .dz-error-mark {
    display: none;
  }
  .dz-image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
        width: 100%;
    height: 100%;
    pointer-events: none;
      img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  }
  .dz-message {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .dragNdropUpload__icon {
      color: $primary;
      font-size: 30px;
      margin-bottom: 1rem;
      text-align: center;
      cursor: pointer;
    }
    .dragNdropUpload__text {
      text-align: center;
    }
  }
.dz-progress{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(./spinner.svg) center / rem(60px) no-repeat;
}
  .dz-remove {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 50%;
    background-color: #F3F5F6;
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s;
    &:before {
      content: "\E005";
      color: #0099DA;
      font-size: 18px;
      position: absolute;
      left: 12px;
      top: 10px;
      font-family: "icon-link";
      cursor: pointer;
    }
  }
}
}

.dragNdropUpload-multiple {
  .dragNdropUpload{
  min-width: 255px;
  width: 100%;
  min-height: 138px;
  padding: 20px 30px;
  background-color: $grey;
  border-radius: $radius;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 3px dashed $grey;
  &.dz-drag-hover {
    border-color: $primary;
    .dz-message{
      .dragNdropUpload__icon,
      .dragNdropUpload__text{
        color: $primary;
      }
    }
  }
  &.dz-started .dz-message {
    display: none;
  }
  .dz-image {
    overflow: hidden;
    position: relative;
    padding-top: 56.5%;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @include object-fit(contain);
    border: 1px solid $grey_60;
    }
  }
  .dz-preview {
    position: relative;
    flex-basis: 31%;
    &:nth-child(n+5) {
      margin-top: 1.5rem;
    }
    &.dz-image-preview {
      .dz-image,
      .dz-remove{
      opacity: 0;
      animation: fadein 0.5s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
      } 
      .dz-progress{
        display: none;
      }
    }
    @include media($desktop) {
      flex-basis: 47.5%;
      min-height: 92px;
      &:nth-child(n+4) {
        margin-top: 1.5rem;
      }
    }
  }


  .dz-details,
  .dz-error-message,
  .dz-success-mark,
  .dz-error-mark {
    display: none;
  }

  .dz-message {
    height: 100%;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .dragNdropUpload__icon {
      color: $grey_60;
      font-size: 40px;
      margin-bottom: 1rem;
      text-align: center;
      cursor: pointer;
    }
    .dragNdropUpload__text {
      text-align: center;
      color: $grey_60;
    }
  }
  .dz-progress {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(./spinner.svg) center / rem(60px) no-repeat;
  }
  .dz-remove {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background-color: $primary;
    z-index: 3;
    cursor: pointer;
    transform: translate(50%, -50%);
    transition: all 0.3s;
    display: none;
    &:before {
      content: "\E002";
      color: #fff;
      font-size: 10px;
      position: absolute;
      left: 0;
      top: 0;
      font-family: "icon-navigation";
      cursor: pointer;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 20px;
    }
  }
  .dz-image-preview .dz-remove {
    display: block;
  }
}
&.show-error .dragNdropUpload__error-message{
  display: block;
}
}


.dz-max-files-reached{
  pointer-events: none;
  .dz-preview{
    pointer-events: all;
  }
}