extends ../../../globals/layout/_layout

include ../../../components/UI_Elements/button/index
block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
block content
    .kdx_container-fluid.page-section.bg-grey
        .gridcontainer.midpage-message.midpage-message_vp-height.fade-in
            .grid_12.txt_center
                img.midpage-message__image.p404(src=require('./404.png') alt='')
                h5.midpage-message__text К сожалению, страница, которую Вы запрашиваете, не существует. Возможно, она была перенесена или удалена.
                +btn('a','Перейти на главную')(class="btn_cta midpage-message__btn")