@import "../../../globals/style/core";
@import "../../../globals/fonts/icons/arrow/utility";

.m108_Accordion {
}

.m108_Accordion_item {
  border-top: rem(2px) solid $zeplin-pale-grey;

  &:last-child {
    border-bottom: rem(2px) solid $zeplin-pale-grey;
  }

  &__wrap {
    height: 0px;
    overflow: hidden;
    transition: height $accordion-item-duration $trans_exit;
    .m108_Accordion_item.is-opened > & {
      transition: height $accordion-item-duration $trans_enter;
    }
  }

  &__inner,
  &__head {
    @include kdx-grid-container();
  }

  &__head {
    @include responsive-typo($bodycopy-b1);
    display: block;
    padding: {
      top: rem(21px);
      bottom: rem(19px);
    };
    user-select: none;
    @include media($laptop) {
      padding: {
        top: rem(27px);
        bottom: rem(27px);
      };
    }
  }

  &__title {
    //font-weight: bold;
    cursor: pointer;
  }

  &__inner {
    padding: {
      top: rem(5px);
      bottom: rem(40px);
    }
    @include media($laptop) {
      padding: {
        top: rem(13px);
        bottom: rem(80px);
      };
    }
  }

  &__mark {
    text-align: center;
  }

  &__arrow {
    //@include icon-arrow(right);
    color: $primary;
    cursor: pointer;
    .m108_Accordion_item.is-opened > .m108_Accordion_item__head  & {
      &:before {
        content: icon-arrow-char(down);
      }
    }
  }
}


%gutters {
  @include gutters-default();
}
