@import '../../../globals/style/_core';

.index-announcements{
  .announcement-card__container:nth-of-type(3){
    @include media($fablet){
      display: none;
    }
    @include media($laptop){
        display: block;
    }
  }
}