extends ../../../globals/layout/_layout

include ../../../components/UacComponents/section-separator/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UI_Elements/select/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var cities = [{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'}];
block content
    .bg-grey
        .kdx_container-fluid
            .gridcontainer
                .grid_12.grid_sm_4.push_xl_1
                    .page-section.pd-default.only-top-pd
                        .h3 Горячая Линия
                        p.simple-text Наши специалисты помогут в любых вопросах связаных с деятельностью Volkswagen в России
                        .contact-info-block
                            .contact-info-block__title
                                | Бесплатный номер по России
                            .h3 8 800 333 4441
                        .contact-info-block
                            .contact-info-block__title
                                | Режим работы
                            p.simple-text 
                                |Будни — 08:00–22:00
                                <br>
                                |Выходные — 08:00–22:00
                        +btn('a', 'Онлайн звонок')(class="btn-light themed")
                .grid_12.grid_sm_1.push_xl_1
                    +section-separator("vertical")
                .grid_12.grid_sm_6.grid_xl_4.push_xl_1
                    .page-section.pd-default
                        .h3 Обратная связь
                        form
                            p.simple-text Оставьте сообщение и наш менеджер ответит на все интересующие вас вопросы
                            +select(cities,'Выберите ваш город','',false,'Город не выбран', '')
                            +input('','Фамилия', false,'Поле заполнено с ошибкой')(type="textarea")
                            +btn('a', 'Отправить')(class="btn-light btn_cta")