mixin local_select_item(item)
    option.select__item(value=(item.value || ''))&attributes(attributes)
        !=item.label


mixin select(items, placeholder, title, icon, errorText)
    -id = unique_id();
    // Component vwd5_select_box
    div.select_wrapper.vwd5_select.js_error_container
        // TODO: add icon
        label.select_wrapper__title(for = attributes.id || id)
            != title
        .select_wrapper__group
            if icon
                .hasicon.select__icon(class=icon)
            select.select__field(id=id)&attributes(attributes)
                if(placeholder)
                    +local_select_item({
                        label: placeholder
                    })(disabled = true, selected = true, hidden = true)
                each item in items
                    +local_select_item(item)
        span.select_wrapper__help-block.error-container
            !=errorText
    // END vwd5_select_box
