@import "../../../globals/style/core";
@import "../../../globals/fonts/icons/arrow/utility";

$choices-selector: 'select';
$choices-border-radius: $radius;

$choices-font-size-lg: 14px;
$choices-font-size-md: 14px;
$choices-font-size-sm: 14px;
@import "~choices.js/assets/styles/scss/choices.scss";
.select {
  color: $grey_80;

  &__inner,
  .select[data-type*="select-one"] &__inner{
    font-size: 1.4rem;
    line-height: 2.8rem;
    border-radius: $radius;
    height: 4.2rem;
    min-height: 0;
    padding: .7rem 1.5rem;
    background: #fff;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
      border: .1rem solid $grey_20;
    color: $grey_80;

    .has-error & {
      color: $red;
      border-color: $red;
    }

    &:focus {
      outline: none;
      padding-right: 4.2rem;
      color: $grey_80;
      //border-color: $primary;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
  }



  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 4.2rem;
    width: 4.2rem;
    font-size: 2.5rem;
    text-align: center;
    color: $grey_40;
    z-index: z-index();
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
      font-size: inherit;
      line-height: inherit;
    }

    .has-error & {
      color: $red;
    }

    + .select .select__inner {
      padding-left: rem(42px);
    }
  }

  &.is-open .select__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .select__list--dropdown &__item--choice,
  &__item--choice {
    font-size: 1.4rem;
    line-height: 2.8rem;
    height: 4.2rem;
    padding: .7rem 1.5rem;
    background: #fff;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    color: $grey_80;
    &[data-value=''] {
      display: none;
    }
    &:hover {
      background-color: $grey;
    }
  }

  &__list {
    padding: 0;

    @at-root .is-open &--dropdown {
      border: .1rem solid $grey_20;
      max-height: 4.2rem * 5;
      overflow: auto;

      .has-error & {
        border-color: $red;
      }
    }
  }

  // Arrow
  &[data-type*="select-one"]:after {
    border: none;
    height: 42px;
    height: 4.2rem;
    line-height: 4.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 4.2rem;
    @include icon-arrow-styles();
    content: icon-arrow-char(down);
    color: $primary;
    .is-ie & {
      line-height: 42px;
    }
  }
  &.is-open[data-type*="select-one"]:after {
    content: icon-arrow-char(up);
    margin: 0;
    border: none;
  }
  @at-root  .has-error &[data-type*="select-one"]:after {
    color: $red
  }

}


.select_wrapper {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin-bottom: rem(20px);

  &__title {
    display: block;
    font-size: 1.6rem;
    line-height: 2.5rem;
    .has-error & {
      color: $red;
    }
  }

  &__group {
    position: relative;
    @include clearfix();
  }

  &__help-block {
    margin-top: rem(5px);
  }
}
