extends ../../../../globals/layout/_layout_dws
include ../../../../components/StageModules/m310_Editorial_Stage/index
include ../../../../components/ContentModules/m101_Intro_Copy/index
include ../../../../components/TeaserModules/m211_Next_Steps_Teaser/index


block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

block content
    include ../../../../presets/dws/mk504_dealer_id
    +m310_Editorial_Stage('Контакты', [
        ['#', 'Акции', 'icon-quickaccess-offer', ''],
        ['#', 'Записаться</br>на сервис', 'icon-quickaccess-service', ''],
        ['#', 'Пройти</br>тест-драйв', 'icon-quickaccess-testdrive', ''],
        ['#', 'Контакты', 'icon-quickaccess-home', '']
    ],
    false)

    .h3.mb50.mt50 Тут навигация

    +m101_Intro_Copy('Текст о холдинге')
        .grid_12
            p
                b #{loremIpsum.slice(0, 500)}
            p
                span #{loremIpsum.slice(0, 500)}

    .h3.mb50.mt50 Тут карта

    +m211_Next_Steps_Teaser([
        {
            headline: 'Отдел продаж',
            copy: '<b>+7 (495) 565-3806</b><br/>' +
            '<a href="mailto:varshavka.sale@vw.center.ru">varshavka.sale@vw.center.ru</a><br>' +
            'Ежеденевно с 10:00 до 18:00',
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            icon_align: true
        },
        {
            headline: 'Отдел кредитования',
            copy: '<b>+7 (495) 565-3807</b><br/>' +
            '<a href="mailto:varshavka.credit@vw.center.ru">varshavka.credit@vw.center.ru</a><br>' +
            'Понедельник, среда, пятница <br/>' +
            'с 08:00 до 21:00',
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            icon_align: true
        },
        {
            headline: 'Сервисный центр',
            copy: '<b>+7 (495) 565-3808</b><br/>Круглосуточно',
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            icon_align: true
        }
    ])


