mixin mk505_Tab_Nav_Item(text, url, iterator)
    include ./item
mixin mk505_Tab_Nav(items)
    -items = items || [];
    // Component mk505_Tab_Nav
    .mk505&attributes(attributes)
        -for(var i = 0; i < items.length; i++)
            +mk505_Tab_Nav_Item(items[i].text, items[i].url, i)
    // END mk505_Tab_Nav
