
.offer-card-tooltip{
  width: 280px;
  padding: 1rem 0 1rem 0;
  background-color: $grey_20;
  position: absolute;
  text-align: left;
  left: 0;
  top: 3.5rem;
  z-index: 1;
  opacity: 0;
  //pointer-events: none;
  //transform: translate(-47%, 0);
  transition: opacity $duration;
  &.is_visible {
    opacity: 1;
   // pointer-events: all;
  }
}

.offer-card-tooltip-tail{
  position: absolute;
  border: inherit;
  border-top: none;
  border-left: none;
  background-color: $grey_20;
  width: 25px;
  height: 25px;
  left: 50%;
  top: -8px;
  transform: rotate(45deg);
  z-index: 0;
  transition: opacity $duration;

}
.offer-card-tooltip_inner{
  padding: 0 2rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}
.offer-card__info-item{

}
.offer-card__info-item-title{
  font-size: 1.6rem;
  color: $grey_100;
}
.offer-card__info-item-text{
  @extend .offer-card__price;
  &_crossed{
    @extend .offer-card__price_crossed;
  }
}
.offer-card-tooltip_separator{
  width: 100%;
  height: 1px;
  background-color: $grey_40;
}

.tooltip-click-catcher{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  z-index: 2;
}