include templates/index.pug
mixin statusBar(text)
	.status-bar.status-bar--common.container-fluid.clearfix
		.status-bar__inner
			.status-bar__nav-block
				a.status-bar__nav-item
					span Назад к выбору модели
			.status-bar__status-indicator
					span= text

			.status-bar__right-part
				+fav-block('2',false)
				.change-location-btn.status-bar__location-btn.js_popup-trigger(data-target='location-popup')
					.change-location-btn__icon.status-bar__location-btn__icon.hasicon
					.change-location-btn__text.status-bar__location-btn__text
						| Комсомольск-На-Амуре
