include templates/index.pug

.status-bar.status-bar--details.container-fluid.clearfix.js_status-bar--details
	.status-bar__inner
		.status-bar__nav-block
			a.status-bar__nav-item
				span Назад к списку автомобилей
		.status-bar__right-col
			+fav-block('2',false)
			.status-bar__order-btn
				+btn('a','Заказать у дилера')(class="btn_cta desktop js_scroll-to-form")
				+btn('a','Заказать')(class="btn_cta mobile js_scroll-to-form")
