each item in [1,2,3,4,5,6,7,8]
	.accordion_item.car-features__accor-item-lvl2
		.accor_title.js_accor_toggler.car-features__accor-title-lvl2
			span Комфорт и удобство
		.accor_content.js_accor_content.car-features__accor-content-lvl2
			ul.car-features__list
				each item in [1,2,3,4,5,6,7,8]
					li.even Комфорт и удобство 
						span.footnote **
					li.odd Комфорт и удобство