@import "../../../globals/style/core";
@import "../../../globals/style/partials/typography";

.dealer-detail__map-container{
  height: 40vh;
}
.dealer-detail__info-basic{
  position: relative;
}
.dealer-detail__name {
  @extend .h3;
  margin-bottom: 1rem !important;
}

.dealer-detail__coords {
  margin-bottom: 2rem !important;
}
.dealer-detail__location{
    @extend %b1;
    display: inline-block;
    margin-right: 1rem;
}
.dealer-detail__distance{
  @extend %b1;
  color: $grey_60;
  display: inline-block;
}
.dealer-detail__contacts{
li{
  display: inline-block;
  margin-bottom: 1rem;
  &:not(:last-child){
    margin-right: 4rem;
  }
}
}
.dealer-detail__competences{

}
.dealer-detail__competence-item{
  margin-bottom: 1rem;
  position: relative;
  height: 60px;
  @include media ($fablet){
    margin-bottom: 7rem;
    height: auto;
  }
}

.dealer-detail__competence-item-icon{
  display: inline-block;
  background-color: $grey_60;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: $radius;
  margin-right: 1rem;
  vertical-align: middle;
  position: absolute;
  left:0;
  top:0;
  &:before{
    width: 56px;
    height: 56px;
    overflow: hidden;
    font-size: 53px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
  }
 @include media ($fablet){
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
 }
}
.dealer-detail__competence-item-text{
  @extend %b1;
  text-align: left;
  display: inline-block;
  padding-left: 70px;
  height: 100%;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  span{
    display: inline-block;
    vertical-align: middle;
  }
   @include media ($fablet){
    display: block;
    text-align: center;
    height: auto;
    padding-left: 0;
   }

}