$overlay: false !default;
$overlay-320: '' !default;
$overlay-1024: '' !default;

@if $env == 'development' and $overlay {
  body {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: 100% auto;
      background-position: 0 0;
      opacity: .3;
      pointer-events: none;
      z-index: z-index(ontop);
      filter: invert(1);

      @media screen and (min-width: 320px) and (max-width: 321px) {
        background-image: url($overlay-320);
      }

      @media screen and (min-width: 1024px) and (max-width: 1026px) {
        background-image: url($overlay-1024);
      }
    }
  }
}
