extends ../../../globals/layout/_layout

include ../../../components/UacComponents/simpleBanner/index
include ../../../components/UacComponents/tabs/index
include ../../../components/UacComponents/announcementCard/index
include ../../../components/UacComponents/pagination/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var tabItems = [
        {'text': 'Все',
        'isActive': true},

        {'text': 'Новости'},
        {'text':'Акции'}
        ];
        var announcementCards = [{
        'imgSrc':'http://lorempixel.com/480/270/abstract',
        'date':'02.02.2017',
        'title':'Спрос на автомобили Volkswagen в России вырос в 2016 году',
        'text':'Продажи автомобилей с пробегом по программе Das WeltAuto в 2016 году выросли в 5.5 раз. Около 4.000 автомобилей, сертифицированных по программе, продано в 2016. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
        'linkMore':'Подробнее'},
        {'imgSrc':'http://lorempixel.com/480/270/abstract',
        'date':'25.01.2017',
        'title':'Volkswagen представляет I.D.BUZZ на автосалоне в Детройте',
        'text':'Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее. Мы хотим сделать электромобильность новым. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
        'linkMore':'Подробнее'},
        {'imgSrc':'http://lorempixel.com/480/270/abstract',
        'tag':'Акция',
        'date':'c 01.12.2016 по 28.02.2017',
        'title':'Зимние радости с Volkswagen',
        'text':'Пусть зима подарит вам много счастливых моментов и ярких эмоций! Когда автомобиль в отличном техническом состоянии, вам не страшны ни снег, ни морозы!',
        'linkMore':'Подробнее'}]
block content
    .page-section.bg-white.clearfix
        +simpleBanner('http://lorempixel.com/642/362/transport/', 'Международные награды моделей марки Volkswagen в первом квартале 2017 года', 'Volkswagen Tiguan стал лучшим полноприводным автомобилем по версии журнала Auto Bild Allrad.','Подробнее')(class="full-vp align-left-always news")
  
    .page-section.pd-default.bg-grey
        .kdx_container-fluid
            .gridcontainer
                .uac_tabs
                    +tabsHead(tabItems)(class="txt_center")
            .gridcontainer.announcement-flex-container
                each i in [1,2,3,4]
                    each card in announcementCards
                        +announcementCard(card)
            .gridcontainer
                +pagination