
include ../../UI_Elements/icon/index
include ../../UI_Elements/link/index


mixin m520_Global_Footer_Link(href, text, iconGroup, iconName)
    .m520-link
        a.m520-link__link(href=href)
            if iconGroup && iconName
                +icon(iconGroup, iconName).m520-link__icon
            span.m520-link__text
                !=text


// Component m520_Global_Footer
footer.m520
    .m520-topbar
        .m520-topbar__container
            a.m520-topbar__gotop
                | Вернуться наверх
                +icon('link', 'back-to-top').m520-topbar__icon
    .m520-breadcrumbs
        .m520-breadcrumbs__container
            span.m520-breadcrumbs__item
                +textlink('/').m520-breadcrumbs__link
                    +icon('navigation', 'home')
            span.m520-breadcrumbs__item
                +textlink('/link-1').m520-breadcrumbs__link
                    | Link 1
            span.m520-breadcrumbs__item
                +textlink('/link-2').m520-breadcrumbs__link
                    | Link 2
            span.m520-breadcrumbs__item
                +textlink('/link-3').m520-breadcrumbs__link
                    | Link 3
    .m520-links
        nav.m520-links__container
            ul.m520-links__basic
                each linkText in new Array(10)
                    li.m520-links__link
                        +m520_Global_Footer_Link('#', getLorem(25))
            ul.m520-links__social
                each socialClass, socialName in require('globals/fonts/icons/icons.json').share
                    li.m520-links__link
                        +m520_Global_Footer_Link('#', 'Volkswagen в '+socialName, 'share', socialName)
    .m520-other
        .m520-other__container
            .m520-other__legal
                .m520-other__copyright
                    | 2017 © Фольксваген #{getLorem(35)}

                nav.m520-other__links
                    ul.m520-other__inner
                        each linkText in new Array(10)
                            li.m520-other__item
                                a.m520-other__link(href='#')
                                    !=getLorem(15)
                .m520-other__copyright
                    | 2017 © Фольксваген #{getLorem(35)}
        .m520-other__search
            // place for search field
    .m520-disclaimer
        .m520-disclaimer__container
            !=getLorem()
// END - m520_Global_Footer
