include ../m502_main_navigation/index
//-
	header#vw_page_header
	    .vw_m502
	       +m502_main_navigation([
	        ['#', 'Модели', 'icon_icon-navigation-models'],
	        ['#', 'Еще', 'icon_icon-navigation-models']
	       ])
