#vw_page_header {
  box-shadow: .5rem .4rem 2.0rem rgba(0,0,0,0.1);
  z-index: z-index('header');


  @include media($tablet){
    box-shadow: none;
    position: fixed;
    width: $header_w;
    height: 100vh;
    height: 100%;
  }
}
