mixin m520_link_element(link, text)
    .vw_m520_links_element.grid_sm_4
        .vw_m520_links_element__inner
            a.vw_m520_links_url(href=link || '#' , target='_blank')
                !=text
