@import "~tools";
@import "../../../../../globals/fonts/icons/navigation/utility";

.vw_m502_main {

  .vw_m502_btn {
    position: relative;
    @include media($tablet) {
      @include vertical-align-pseudo();
      display: block;
      padding: 1rem;
      min-height: 8.5rem;
      max-height: 10.5rem;
      border-top: .1rem solid $grey_20;
      text-align: center;
      width: 96px;
      box-sizing: border-box;
      &:before {
        min-height: 6.5rem;
      }
      &__inner {
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
    }
  }
  .vw_m502_btn-counter{
    top: 10px;
    right: 23px;
    z-index: 1;
  }
  // svg
  .vw_m502_icon {
    font-size: rem(30px);
    &_wrapper {
      margin: 0 0 .5rem 0;
      height: 5.5rem;


      @include media($tablet) {
        height: 3.0rem;
        display: inline-block;
        .vw_m502_sections & {
          width: 5.0rem;
        }
      }
    }
  }

  // link label
  .vw_m502_link_label {
    @include media($tablet) {
      display: block;
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  //Item flow class
  .js_vw_m502_nav_item_flow {
    display: none;
  }


}

.js_more_collapsed {
  .vw_m502_icon {
    &:before {
      content: icon-navigation-char(menu);
    }
  }
}


