@import "../../../globals/style/core";

.mk154 {
  @extend %head-module-spacing;

  &__title {
    margin-bottom: rem(20px);
    @include container();

    text-align: center;
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }
  &__wrapper {
    @include container();
    position: relative;
    overflow: hidden;
  }

  &__controls {
    display: none;
    @include media($tablet) {
      @include aspect-ratio(928, 115);
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      pointer-events: none;
    }
    @include media($widescreen) {
      @include aspect-ratio(1390, 113);
      position: absolute;
    }
  }

  &__dots {
    margin-top: rem(10px);
    @include media($tablet) {
      margin-top: 0;
      .vwd5_dots {
        margin-top: rem(50px);
      }
    }

  }

  &__container {
    @include kdx-grid-container();
    @include media(media-inverse($tablet)) {
      margin: 0 -7.5px 0 -7.5px;
    }

    .slick-track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
  }

  &__cta {
    margin-top: rem(10px);

    @include media($tablet) {
      margin-top: 20px;
    }
  }
}

.mk154_item {
  //@include span(12);
  .slick-initialized & {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    margin-right: 7.5px;
    margin-left: 7.5px;
    @include media($tablet) {
      margin-right: 0;
      margin-left: 0;
    }

    &__content {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }
  }
  @include media($tablet) {
    .is-one-element & {
      @include span(12);
    }
    .is-two-elements & {
      @include span(6);
    }
    .is-more-than-two-elements & {
      @include span(4);
    }
  }

  @extend %gutters;
}



.mk154.mk154_reversed {
  .mk154_item {
    @extend %gutters;
  }
}

%gutters {
  @include media($laptop) {
    @include gutters();
  }
  @include media($desktop) {
    @include gutters();
  }
  @include media($widescreen) {
    @include gutters();
  }
}
