include ../../TeaserModules/m200_Basic_Content_Teaser/index
include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../UI_Elements/button/index
include ../../UI_Elements/pagination/dots/index

mixin mk154_Feature_Wrapper_Item(item)
    +m200_Basic_Content_Teaser(item, 'mk154_item').mk154_item.m200_flex.m200_singlefloat


mixin mk154_Feature_Wrapper(title, items, sliderMobileFlag, cta)
    - sliderMobileFlag = sliderMobileFlag || false;
    // !HTML Alarm replace m154
    // Component mk154_Feature_Wrapper
    article.mk154(class=(sliderMobileFlag ? 'is-slider-mobile' : ''))&attributes(attributes)
        +m021_Headline_H2()(class="mk154__title")
            !=title
        .mk154__wrapper
            .mk154__container
                each  item in items
                    +mk154_Feature_Wrapper_Item(item)
            .mk154__controls
            .mk154__dots
            if cta
                .mk154__cta
                    +btn('a', cta.text)(href=cta.href, class="btn_center mk154__cta-button")
    // END mk154_Feature_Wrapper
