@import "../../../globals/style/core";
.auth-block{
	background-color: #fff;
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: $radius;
	/*do we need this?*/
	@include media($tablet){
	    //max-width: 478px;
    	//margin: 0 auto;
    	padding-bottom: 4rem;
	}
}
.auth-block__section{
	&.pd-default{
		padding: 0 2rem;
		@include media ($tablet){
			padding: 0 5.5rem;
		}
	}
	&.centered{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%,-50%);
	}
}

.auth-block__logo{
	text-align: center;
	margin-bottom: 1rem;
	img{
	    min-width: 50px;
	    width: 18%;
	    max-width: 65px;
	}
}
.auth-block__title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 2rem !important;
	@include media ($tablet){
		margin-bottom: 3rem !important;
	}
}
.auth-block__title-under{
	@extend %b1;
	text-align: center;
	margin-top: -1rem !important;
	margin-bottom: 2rem !important;
	@include media ($tablet){
		margin-top: -2rem !important;
	}
}
.social-auth{
	margin-top: 3.5rem;
	border-top: 1px solid $grey_20;
}
.social-auth__title{
	@extend %b1;
    min-width: 210px;
    max-width: 225px;
    text-align: center;
    background: #fff;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    top: -2.7rem;
	
}
.social-auth__list{
	display: flex;
	justify-content: center;
}
.auth-block__simple-link-action{
	@extend %b1;
	display: block;
	//margin-top: 2rem;
	margin-bottom: 1rem;
	width: 100%;
	text-align: center;
	&.inline{
		display: inline-block;
		width: auto;
		margin: 0 1.5rem;
	}
}

.auth-block__misc-text{
	font-size: 1.1rem;
	color: $grey_60;
	margin-top: -1rem;
	margin-bottom: rem(20px);
	@include media ($tablet){
		margin-bottom: rem(30px);
	}
}

.social-auth__item{
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	&.vk{
		background-color: #4d75a3;
	}
	&.fb{
		background-color: #3b5998;
	}
	&.gp{
		background-color: #dc4a3d;
	}
	&.gl{
	 	background-color: #ffffff;
  		border: solid 1px $grey_20;
  		background-image: url('./gogle_logo.svg');
	    background-size: 25px 25px;
	    background-repeat: no-repeat;
	    background-position: 11px;
	}
	&.tw{
		background-color: #55acee;
	}
	&:before{
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		font-size: 40px;
		color: #fff;
		text-align: center;
		line-height: 40px;
	}
	&:not(:last-child){
		margin-right: 2rem;
		@include media ($tablet){
			margin-right: 3rem;
		}
	}
	@include media ($tablet){
		width: 5rem;
		height: 5rem;
		&:before{
			line-height: 50px;
		}
	}
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.auth-block__upload-photo{
	margin-bottom: 3rem !important;;
	  @include media ($tablet){
	    margin-bottom: 4rem !important;;
	  }
}
/*form-elements restyle*/
.auth-block{
	.input__title{
		display: none;
	}
	.input,
	.btn {
		margin-bottom: rem(20px);
	  @include media ($tablet){
	    margin-bottom: rem(30px);
	  }
	}
}


.auth-block__after{
	@extend %b1;
	padding-top: 0;
	padding-bottom: 5rem;
	text-align: center;
	background-color: #fff;
	@include media ($tablet){
		background-color: transparent;
		padding: 3rem 0;
	}
}


.auth-block-carousel{
	.slick-list{
		overflow: hidden;
	}
	.slick-slide{
		display: inline-block;
		vertical-align: top;
		min-height: 500px;
		position: relative;
		@include media ($tablet){
			min-height: 567px;
		}
	}
	.slick-dots{
		bottom: 0;
		position: static;
		//margin-top: 1.5rem;
		li {
			pointer-events: none;
		}
	}
}