mixin authBlockSectionTop(title)
		.auth-block__section.pd-default(class= attributes.class)
			.auth-block__logo
				img(src=require('./vw-logo_auth.png'), alt="")
			.h4.auth-block__title.txt_center
				span= title
			block
				
mixin authBlock-after
	.auth-block__after
		block

mixin socialAuth
	.social-auth
		.gridcontainer
			.grid_12
				.social-auth__title Войти с помощью одной из социальных сетей
				ul.social-auth__list
					li.hasicon.icon-share-vkontakte.social-auth__item.vk
						a(href="")
					li.hasicon.icon-share-facebook.social-auth__item.fb
						a(href="")
					li.hasicon.icon-share-google.social-auth__item.gl
						a(href="")
					li.hasicon.icon-share-twitter.social-auth__item.tw
						a(href="")