@import "~tools";

.uac_toggle_switch {
  display: inline-block;
  cursor: pointer;
  position: relative;

  input {
    position: absolute;
    left: -9999px;
  }

  &__presentation {
    cursor: pointer;
    display: flex;
    align-items: center;
    .uac_toggle_switch__input:checked + & {
      .uac_toggle_switch__state{
        left: 50%;
        background-color: $primary;
      }
    }
  }

  &__states{
    display: inline-block;
    height: 2rem;
    width: 3.8rem;
    background-color: #fff;
    border: .1rem solid $grey_20;
    border-radius: 5rem;
    overflow: hidden;
    margin: 0 1rem;
    position: relative
  }
  &__state {
    float: left;
    width: 50%;
    border-radius: 5rem;
    border: .2rem solid #fff;
    //box-sizing: content-box;
    text-align: center;
    line-height: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $grey_60;
    transition: all $duration;

    &:before {
      display: block;
      font-size: 2rem;
      padding: .1rem 0 .3rem;
    }
  }
  &__label-text{
    @extend %b2;
    font-size: 14px;
  }
}