mixin uac_toggle_switch(id, name, labelLeft, labelRight)
    -id = id || unique_id()
    div.uac_toggle_switch
        label.uac_toggle_switch__label
            input.uac_toggle_switch__input(type="checkbox", name=(name || id), id=id, hidden)
            .uac_toggle_switch__presentation(for=id)
                .uac_toggle_switch__label-text=labelLeft
                .uac_toggle_switch__states
                    span.uac_toggle_switch__state
                .uac_toggle_switch__label-text=labelRight


