@import "variables";

@font-face {
  font-family: 'vw_d5_icons';
  src:
    url('#{$icomoon-font-path}/vw_d5_icons.ttf?nv5hkb') format('truetype'),
    url('#{$icomoon-font-path}/vw_d5_icons.woff?nv5hkb') format('woff'),
    url('#{$icomoon-font-path}/vw_d5_icons.svg?nv5hkb#vw_d5_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hasicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vw_d5_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_odnoklassniki {
  &:before {
    content: $icon_odnoklassniki;
  }
}
.icon_california_specialist {
  &:before {
    content: $icon_california_specialist;
  }
}
.icon_new_cars_caddy_pkw_multivan_california {
  &:before {
    content: $icon_new_cars_caddy_pkw_multivan_california;
  }
}
.icon_new_cars_utility_vehicles {
  &:before {
    content: $icon_new_cars_utility_vehicles;
  }
}
.icon_used_cars_trade_port {
  &:before {
    content: $icon_used_cars_trade_port;
  }
}
.icon_VW_NGW_Icon_Kaufen {
  &:before {
    content: $icon_VW_NGW_Icon_Kaufen;
  }
}
.icon_VW_NGW_Icon_Modelle {
  &:before {
    content: $icon_VW_NGW_Icon_Modelle;
  }
}
.icon_VWN_NGW_Icon_Gebrauchtwagen {
  &:before {
    content: $icon_VWN_NGW_Icon_Gebrauchtwagen;
  }
}
.icon_VWN_NGW_Icon_Grossabnehmer {
  &:before {
    content: $icon_VWN_NGW_Icon_Grossabnehmer;
  }
}
.icon_VWN_NGW_Icon_Konfigurieren {
  &:before {
    content: $icon_VWN_NGW_Icon_Konfigurieren;
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram;
  }
}
.icon_linkedin {
  &:before {
    content: $icon_linkedin;
  }
}
.icon_pinterest {
  &:before {
    content: $icon_pinterest;
  }
}
.icon_youtube {
  &:before {
    content: $icon_youtube;
  }
}
.icon_icon-quickaccess-preowned {
  &:before {
    content: $icon_icon-quickaccess-preowned;
  }
}
.icon_icon-quickaccess-print {
  &:before {
    content: $icon_icon-quickaccess-print;
  }
}
.icon_icon-quickaccess-profile {
  &:before {
    content: $icon_icon-quickaccess-profile;
  }
}
.icon_icon-quickaccess-question-mark {
  &:before {
    content: $icon_icon-quickaccess-question-mark;
  }
}
.icon_icon-quickaccess-reload {
  &:before {
    content: $icon_icon-quickaccess-reload;
  }
}
.icon_icon-quickaccess-responsibility {
  &:before {
    content: $icon_icon-quickaccess-responsibility;
  }
}
.icon_icon-quickaccess-route {
  &:before {
    content: $icon_icon-quickaccess-route;
  }
}
.icon_icon-quickaccess-search {
  &:before {
    content: $icon_icon-quickaccess-search;
  }
}
.icon_icon-quickaccess-service {
  &:before {
    content: $icon_icon-quickaccess-service;
  }
}
.icon_icon-quickaccess-share {
  &:before {
    content: $icon_icon-quickaccess-share;
  }
}
.icon_icon-quickaccess-social-facebook {
  &:before {
    content: $icon_icon-quickaccess-social-facebook;
  }
}
.icon_icon-quickaccess-social-googleplus {
  &:before {
    content: $icon_icon-quickaccess-social-googleplus;
  }
}
.icon_icon-quickaccess-social-twitter {
  &:before {
    content: $icon_icon-quickaccess-social-twitter;
  }
}
.icon_icon-quickaccess-support {
  &:before {
    content: $icon_icon-quickaccess-support;
  }
}
.icon_icon-quickaccess-testdrive {
  &:before {
    content: $icon_icon-quickaccess-testdrive;
  }
}
.icon_icon-quickaccess-trash {
  &:before {
    content: $icon_icon-quickaccess-trash;
  }
}
.icon_icon-quickaccess-upload {
  &:before {
    content: $icon_icon-quickaccess-upload;
  }
}
.icon_icon-quickaccess-video {
  &:before {
    content: $icon_icon-quickaccess-video;
  }
}
.icon_icon-quickaccess-view {
  &:before {
    content: $icon_icon-quickaccess-view;
  }
}
.icon_icon-quickaccess-website {
  &:before {
    content: $icon_icon-quickaccess-website;
  }
}
.icon_icon-quickaccess-write {
  &:before {
    content: $icon_icon-quickaccess-write;
  }
}
.icon_icon-quickaccess-zoom-in {
  &:before {
    content: $icon_icon-quickaccess-zoom-in;
  }
}
.icon_icon-quickaccess-zoom-out {
  &:before {
    content: $icon_icon-quickaccess-zoom-out;
  }
}
.icon_icon-quickaccess-360 {
  &:before {
    content: $icon_icon-quickaccess-360;
  }
}
.icon_icon-quickaccess-brochure {
  &:before {
    content: $icon_icon-quickaccess-brochure;
  }
}
.icon_icon-quickaccess-business-customers {
  &:before {
    content: $icon_icon-quickaccess-business-customers;
  }
}
.icon_icon-quickaccess-calculator {
  &:before {
    content: $icon_icon-quickaccess-calculator;
  }
}
.icon_icon-quickaccess-calendar {
  &:before {
    content: $icon_icon-quickaccess-calendar;
  }
}
.icon_icon-quickaccess-car {
  &:before {
    content: $icon_icon-quickaccess-car;
  }
}
.icon_icon-quickaccess-checkmark {
  &:before {
    content: $icon_icon-quickaccess-checkmark;
  }
}
.icon_icon-quickaccess-close {
  &:before {
    content: $icon_icon-quickaccess-close;
  }
}
.icon_icon-quickaccess-compare {
  &:before {
    content: $icon_icon-quickaccess-compare;
  }
}
.icon_icon-quickaccess-configurator {
  &:before {
    content: $icon_icon-quickaccess-configurator;
  }
}
.icon_icon-quickaccess-configure {
  &:before {
    content: $icon_icon-quickaccess-configure;
  }
}
.icon_icon-quickaccess-convince {
  &:before {
    content: $icon_icon-quickaccess-convince;
  }
}
.icon_icon-quickaccess-corporate-topics {
  &:before {
    content: $icon_icon-quickaccess-corporate-topics;
  }
}
.icon_icon-quickaccess-dealer {
  &:before {
    content: $icon_icon-quickaccess-dealer;
  }
}
.icon_icon-quickaccess-download {
  &:before {
    content: $icon_icon-quickaccess-download;
  }
}
.icon_icon-quickaccess-email {
  &:before {
    content: $icon_icon-quickaccess-email;
  }
}
.icon_icon-quickaccess-exclamation-mark {
  &:before {
    content: $icon_icon-quickaccess-exclamation-mark;
  }
}
.icon_icon-quickaccess-favourite {
  &:before {
    content: $icon_icon-quickaccess-favourite;
  }
}
.icon_icon-quickaccess-fax {
  &:before {
    content: $icon_icon-quickaccess-fax;
  }
}
.icon_icon-quickaccess-filter {
  &:before {
    content: $icon_icon-quickaccess-filter;
  }
}
.icon_icon-quickaccess-get-your-volkswagen-1 {
  &:before {
    content: $icon_icon-quickaccess-get-your-volkswagen-1;
  }
}
.icon_icon-quickaccess-get-your-volkswagen-2 {
  &:before {
    content: $icon_icon-quickaccess-get-your-volkswagen-2;
  }
}
.icon_icon-quickaccess-home {
  &:before {
    content: $icon_icon-quickaccess-home;
  }
}
.icon_icon-quickaccess-image {
  &:before {
    content: $icon_icon-quickaccess-image;
  }
}
.icon_icon-quickaccess-image-gallery {
  &:before {
    content: $icon_icon-quickaccess-image-gallery;
  }
}
.icon_icon-quickaccess-importer {
  &:before {
    content: $icon_icon-quickaccess-importer;
  }
}
.icon_icon-quickaccess-info {
  &:before {
    content: $icon_icon-quickaccess-info;
  }
}
.icon_icon-quickaccess-locate-me {
  &:before {
    content: $icon_icon-quickaccess-locate-me;
  }
}
.icon_icon-quickaccess-mail {
  &:before {
    content: $icon_icon-quickaccess-mail;
  }
}
.icon_icon-quickaccess-more {
  &:before {
    content: $icon_icon-quickaccess-more;
  }
}
.icon_icon-quickaccess-news {
  &:before {
    content: $icon_icon-quickaccess-news;
  }
}
.icon_icon-quickaccess-offer {
  &:before {
    content: $icon_icon-quickaccess-offer;
  }
}
.icon_icon-quickaccess-owners {
  &:before {
    content: $icon_icon-quickaccess-owners;
  }
}
.icon_icon-quickaccess-phone {
  &:before {
    content: $icon_icon-quickaccess-phone;
  }
}
.icon_icon-quickaccess-pin {
  &:before {
    content: $icon_icon-quickaccess-pin;
  }
}
.icon_icon-nextstep-360 {
  &:before {
    content: $icon_icon-nextstep-360;
  }
}
.icon_icon-nextstep-brochure {
  &:before {
    content: $icon_icon-nextstep-brochure;
  }
}
.icon_icon-nextstep-business-customers {
  &:before {
    content: $icon_icon-nextstep-business-customers;
  }
}
.icon_icon-nextstep-calculator {
  &:before {
    content: $icon_icon-nextstep-calculator;
  }
}
.icon_icon-nextstep-calendar {
  &:before {
    content: $icon_icon-nextstep-calendar;
  }
}
.icon_icon-nextstep-calendar-export {
  &:before {
    content: $icon_icon-nextstep-calendar-export;
  }
}
.icon_icon-nextstep-car {
  &:before {
    content: $icon_icon-nextstep-car;
  }
}
.icon_icon-nextstep-checkmark {
  &:before {
    content: $icon_icon-nextstep-checkmark;
  }
}
.icon_icon-nextstep-compare {
  &:before {
    content: $icon_icon-nextstep-compare;
  }
}
.icon_icon-nextstep-configure {
  &:before {
    content: $icon_icon-nextstep-configure;
  }
}
.icon_icon-nextstep-convince-someone {
  &:before {
    content: $icon_icon-nextstep-convince-someone;
  }
}
.icon_icon-nextstep-corporate-topics {
  &:before {
    content: $icon_icon-nextstep-corporate-topics;
  }
}
.icon_icon-nextstep-dealer {
  &:before {
    content: $icon_icon-nextstep-dealer;
  }
}
.icon_icon-nextstep-download {
  &:before {
    content: $icon_icon-nextstep-download;
  }
}
.icon_icon-nextstep-email {
  &:before {
    content: $icon_icon-nextstep-email;
  }
}
.icon_icon-nextstep-exclamation-mark {
  &:before {
    content: $icon_icon-nextstep-exclamation-mark;
  }
}
.icon_icon-nextstep-favourite {
  &:before {
    content: $icon_icon-nextstep-favourite;
  }
}
.icon_icon-nextstep-fax {
  &:before {
    content: $icon_icon-nextstep-fax;
  }
}
.icon_icon-nextstep-filter {
  &:before {
    content: $icon_icon-nextstep-filter;
  }
}
.icon_icon-nextstep-get-your-volkswagen-1 {
  &:before {
    content: $icon_icon-nextstep-get-your-volkswagen-1;
  }
}
.icon_icon-nextstep-get-your-volkswagen-2 {
  &:before {
    content: $icon_icon-nextstep-get-your-volkswagen-2;
  }
}
.icon_icon-nextstep-home {
  &:before {
    content: $icon_icon-nextstep-home;
  }
}
.icon_icon-nextstep-image {
  &:before {
    content: $icon_icon-nextstep-image;
  }
}
.icon_icon-nextstep-image-gallery {
  &:before {
    content: $icon_icon-nextstep-image-gallery;
  }
}
.icon_icon-nextstep-importer {
  &:before {
    content: $icon_icon-nextstep-importer;
  }
}
.icon_icon-nextstep-info {
  &:before {
    content: $icon_icon-nextstep-info;
  }
}
.icon_icon-nextstep-locate-me {
  &:before {
    content: $icon_icon-nextstep-locate-me;
  }
}
.icon_icon-nextstep-mail {
  &:before {
    content: $icon_icon-nextstep-mail;
  }
}
.icon_icon-nextstep-more {
  &:before {
    content: $icon_icon-nextstep-more;
  }
}
.icon_icon-nextstep-news {
  &:before {
    content: $icon_icon-nextstep-news;
  }
}
.icon_icon-nextstep-offer {
  &:before {
    content: $icon_icon-nextstep-offer;
  }
}
.icon_icon-nextstep-owners {
  &:before {
    content: $icon_icon-nextstep-owners;
  }
}
.icon_icon-nextstep-phone {
  &:before {
    content: $icon_icon-nextstep-phone;
  }
}
.icon_icon-nextstep-pin {
  &:before {
    content: $icon_icon-nextstep-pin;
  }
}
.icon_icon-nextstep-preowned {
  &:before {
    content: $icon_icon-nextstep-preowned;
  }
}
.icon_icon-nextstep-print {
  &:before {
    content: $icon_icon-nextstep-print;
  }
}
.icon_icon-nextstep-profile {
  &:before {
    content: $icon_icon-nextstep-profile;
  }
}
.icon_icon-nextstep-question-mark {
  &:before {
    content: $icon_icon-nextstep-question-mark;
  }
}
.icon_icon-nextstep-responsibility {
  &:before {
    content: $icon_icon-nextstep-responsibility;
  }
}
.icon_icon-nextstep-route {
  &:before {
    content: $icon_icon-nextstep-route;
  }
}
.icon_icon-nextstep-search {
  &:before {
    content: $icon_icon-nextstep-search;
  }
}
.icon_icon-nextstep-service {
  &:before {
    content: $icon_icon-nextstep-service;
  }
}
.icon_icon-nextstep-support {
  &:before {
    content: $icon_icon-nextstep-support;
  }
}
.icon_icon-nextstep-testdrive {
  &:before {
    content: $icon_icon-nextstep-testdrive;
  }
}
.icon_icon-nextstep-upload {
  &:before {
    content: $icon_icon-nextstep-upload;
  }
}
.icon_icon-nextstep-video {
  &:before {
    content: $icon_icon-nextstep-video;
  }
}
.icon_icon-nextstep-view {
  &:before {
    content: $icon_icon-nextstep-view;
  }
}
.icon_icon-nextstep-website {
  &:before {
    content: $icon_icon-nextstep-website;
  }
}
.icon_icon-nextstep-write {
  &:before {
    content: $icon_icon-nextstep-write;
  }
}
.icon_ConnectedVan .path1 {
  &:before {
    content: $icon_ConnectedVan-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon_ConnectedVan .path2 {
  &:before {
    content: $icon_ConnectedVan-path2;  
    margin-left: -1.24609375em;  
    color: rgb(0, 0, 0);
  }
}
.icon_ConnectedVan .path3 {
  &:before {
    content: $icon_ConnectedVan-path3;  
    margin-left: -1.24609375em;  
    color: rgb(0, 0, 0);  
    opacity: 0.1;
  }
}
.icon_ConnectedVan .path4 {
  &:before {
    content: $icon_ConnectedVan-path4;  
    margin-left: -1.24609375em;  
    color: rgb(0, 0, 0);
  }
}
.icon_icon-gallery-left {
  &:before {
    content: $icon_icon-gallery-left;
  }
}
.icon_icon-gallery-right {
  &:before {
    content: $icon_icon-gallery-right;
  }
}
.icon_icon-modeloverview-toggle-XL {
  &:before {
    content: $icon_icon-modeloverview-toggle-XL;
  }
}
.icon_icon-modeloverview-toggle-XS {
  &:before {
    content: $icon_icon-modeloverview-toggle-XS;
  }
}
.icon_icon-placeholder {
  &:before {
    content: $icon_icon-placeholder;
  }
}
.icon_corazon_vwytu {
  &:before {
    content: $icon_corazon_vwytu;
  }
}
.icon_icon-arrow-down {
  &:before {
    content: $icon_icon-arrow-down;
  }
}
.icon_icon-arrow-up {
  &:before {
    content: $icon_icon-arrow-up;
  }
}
.icon_icon-arrow-left {
  &:before {
    content: $icon_icon-arrow-left;
  }
}
.icon_icon-arrow-right {
  &:before {
    content: $icon_icon-arrow-right;
  }
}
.icon_icon-arrow-left-double {
  &:before {
    content: $icon_icon-arrow-left-double;
  }
}
.icon_icon-arrow-right-double {
  &:before {
    content: $icon_icon-arrow-right-double;
  }
}
.icon_icon-arrow-down-double {
  &:before {
    content: $icon_icon-arrow-down-double;
  }
}
.icon_icon-arrow-up-double {
  &:before {
    content: $icon_icon-arrow-up-double;
  }
}
.icon_icon-engine-CO2-emissions {
  &:before {
    content: $icon_icon-engine-CO2-emissions;
  }
}
.icon_icon-engine-automatic {
  &:before {
    content: $icon_icon-engine-automatic;
  }
}
.icon_icon-engine-diesel {
  &:before {
    content: $icon_icon-engine-diesel;
  }
}
.icon_icon-engine-electric {
  &:before {
    content: $icon_icon-engine-electric;
  }
}
.icon_icon-engine-fuel-consumption {
  &:before {
    content: $icon_icon-engine-fuel-consumption;
  }
}
.icon_icon-engine-gear-change {
  &:before {
    content: $icon_icon-engine-gear-change;
  }
}
.icon_icon-engine-hybrid {
  &:before {
    content: $icon_icon-engine-hybrid;
  }
}
.icon_icon-engine-natural-gas {
  &:before {
    content: $icon_icon-engine-natural-gas;
  }
}
.icon_icon-engine-petrol {
  &:before {
    content: $icon_icon-engine-petrol;
  }
}
.icon_icon-engine-power {
  &:before {
    content: $icon_icon-engine-power;
  }
}
.icon_icon-link-back-to-top {
  &:before {
    content: $icon_icon-link-back-to-top;
  }
}
.icon_icon-link-compare {
  &:before {
    content: $icon_icon-link-compare;
  }
}
.icon_icon-link-configure {
  &:before {
    content: $icon_icon-link-configure;
  }
}
.icon_icon-link-delete {
  &:before {
    content: $icon_icon-link-delete;
  }
}
.icon_icon-link-download {
  &:before {
    content: $icon_icon-link-download;
  }
}
.icon_icon-link-email {
  &:before {
    content: $icon_icon-link-email;
  }
}
.icon_icon-link-fax {
  &:before {
    content: $icon_icon-link-fax;
  }
}
.icon_icon-link-locate-me {
  &:before {
    content: $icon_icon-link-locate-me;
  }
}
.icon_icon-link-mail {
  &:before {
    content: $icon_icon-link-mail;
  }
}
.icon_icon-link-phone {
  &:before {
    content: $icon_icon-link-phone;
  }
}
.icon_icon-link-pin {
  &:before {
    content: $icon_icon-link-pin;
  }
}
.icon_icon-link-print {
  &:before {
    content: $icon_icon-link-print;
  }
}
.icon_icon-link-reload {
  &:before {
    content: $icon_icon-link-reload;
  }
}
.icon_icon-link-route {
  &:before {
    content: $icon_icon-link-route;
  }
}
.icon_icon-link-search {
  &:before {
    content: $icon_icon-link-search;
  }
}
.icon_icon-link-standardlink {
  &:before {
    content: $icon_icon-link-standardlink;
  }
}
.icon_icon-link-upload {
  &:before {
    content: $icon_icon-link-upload;
  }
}
.icon_icon-link-view {
  &:before {
    content: $icon_icon-link-view;
  }
}
.icon_icon-link-website {
  &:before {
    content: $icon_icon-link-website;
  }
}
.icon_icon-link-write {
  &:before {
    content: $icon_icon-link-write;
  }
}
.icon_icon-link-zoom-in {
  &:before {
    content: $icon_icon-link-zoom-in;
  }
}
.icon_icon-link-zoom-out {
  &:before {
    content: $icon_icon-link-zoom-out;
  }
}
.icon_icon-navigation-business-customers {
  &:before {
    content: $icon_icon-navigation-business-customers;
  }
}
.icon_icon-navigation-close {
  &:before {
    content: $icon_icon-navigation-close;
  }
}
.icon_icon-navigation-configure {
  &:before {
    content: $icon_icon-navigation-configure;
  }
}
.icon_icon-navigation-corporate-topics {
  &:before {
    content: $icon_icon-navigation-corporate-topics;
  }
}
.icon_icon-navigation-dealer {
  &:before {
    content: $icon_icon-navigation-dealer;
  }
}
.icon_icon-navigation-get-your-volkswagen {
  &:before {
    content: $icon_icon-navigation-get-your-volkswagen;
  }
}
.icon_icon-navigation-get-your-volkswagen-1 {
  &:before {
    content: $icon_icon-navigation-get-your-volkswagen-1;
  }
}
.icon_icon-navigation-get-your-volkswagen-2 {
  &:before {
    content: $icon_icon-navigation-get-your-volkswagen-2;
  }
}
.icon_icon-navigation-home {
  &:before {
    content: $icon_icon-navigation-home;
  }
}
.icon_icon-navigation-importer {
  &:before {
    content: $icon_icon-navigation-importer;
  }
}
.icon_icon-navigation-models {
  &:before {
    content: $icon_icon-navigation-models;
  }
}
.icon_icon-navigation-menu {
  &:before {
    content: $icon_icon-navigation-menu;
  }
}
.icon_icon-navigation-more {
  &:before {
    content: $icon_icon-navigation-more;
  }
}
.icon_icon-navigation-news {
  &:before {
    content: $icon_icon-navigation-news;
  }
}
.icon_icon-navigation-offer {
  &:before {
    content: $icon_icon-navigation-offer;
  }
}
.icon_icon-navigation-owners {
  &:before {
    content: $icon_icon-navigation-owners;
  }
}
.icon_icon-navigation-profile {
  &:before {
    content: $icon_icon-navigation-profile;
  }
}
.icon_icon-navigation-responsibility {
  &:before {
    content: $icon_icon-navigation-responsibility;
  }
}
.icon_icon-navigation-search {
  &:before {
    content: $icon_icon-navigation-search;
  }
}
.icon_icon-navigation-volkswagen-live {
  &:before {
    content: $icon_icon-navigation-volkswagen-live;
  }
}
.icon_service {
  &:before {
    content: $icon_service;
  }
}

