@font-face {
  font-family: 'vw_d5_icons';
  src:
    url('fonts/vw_d5_icons.ttf?nv5hkb') format('truetype'),
    url('fonts/vw_d5_icons.woff?nv5hkb') format('woff'),
    url('fonts/vw_d5_icons.svg?nv5hkb#vw_d5_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hasicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vw_d5_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_odnoklassniki:before {
  content: "\e9bf";
}
.icon_california_specialist:before {
  content: "\e9b2";
}
.icon_new_cars_caddy_pkw_multivan_california:before {
  content: "\e9b3";
}
.icon_new_cars_utility_vehicles:before {
  content: "\e9b4";
}
.icon_used_cars_trade_port:before {
  content: "\e9b5";
}
.icon_VW_NGW_Icon_Kaufen:before {
  content: "\e9b6";
}
.icon_VW_NGW_Icon_Modelle:before {
  content: "\e9b7";
}
.icon_VWN_NGW_Icon_Gebrauchtwagen:before {
  content: "\e9b8";
}
.icon_VWN_NGW_Icon_Grossabnehmer:before {
  content: "\e9b9";
}
.icon_VWN_NGW_Icon_Konfigurieren:before {
  content: "\e9ba";
}
.icon_instagram:before {
  content: "\e9bb";
}
.icon_linkedin:before {
  content: "\e9bc";
}
.icon_pinterest:before {
  content: "\e9bd";
}
.icon_youtube:before {
  content: "\e9be";
}
.icon_icon-quickaccess-preowned:before {
  content: "\e928";
}
.icon_icon-quickaccess-print:before {
  content: "\e929";
}
.icon_icon-quickaccess-profile:before {
  content: "\e92a";
}
.icon_icon-quickaccess-question-mark:before {
  content: "\e92b";
}
.icon_icon-quickaccess-reload:before {
  content: "\e92c";
}
.icon_icon-quickaccess-responsibility:before {
  content: "\e92d";
}
.icon_icon-quickaccess-route:before {
  content: "\e92e";
}
.icon_icon-quickaccess-search:before {
  content: "\e92f";
}
.icon_icon-quickaccess-service:before {
  content: "\e930";
}
.icon_icon-quickaccess-share:before {
  content: "\e931";
}
.icon_icon-quickaccess-social-facebook:before {
  content: "\e932";
}
.icon_icon-quickaccess-social-googleplus:before {
  content: "\e933";
}
.icon_icon-quickaccess-social-twitter:before {
  content: "\e934";
}
.icon_icon-quickaccess-support:before {
  content: "\e935";
}
.icon_icon-quickaccess-testdrive:before {
  content: "\e936";
}
.icon_icon-quickaccess-trash:before {
  content: "\e937";
}
.icon_icon-quickaccess-upload:before {
  content: "\e938";
}
.icon_icon-quickaccess-video:before {
  content: "\e939";
}
.icon_icon-quickaccess-view:before {
  content: "\e93a";
}
.icon_icon-quickaccess-website:before {
  content: "\e93b";
}
.icon_icon-quickaccess-write:before {
  content: "\e93c";
}
.icon_icon-quickaccess-zoom-in:before {
  content: "\e93d";
}
.icon_icon-quickaccess-zoom-out:before {
  content: "\e93e";
}
.icon_icon-quickaccess-360:before {
  content: "\e93f";
}
.icon_icon-quickaccess-brochure:before {
  content: "\e940";
}
.icon_icon-quickaccess-business-customers:before {
  content: "\e941";
}
.icon_icon-quickaccess-calculator:before {
  content: "\e942";
}
.icon_icon-quickaccess-calendar:before {
  content: "\e943";
}
.icon_icon-quickaccess-car:before {
  content: "\e944";
}
.icon_icon-quickaccess-checkmark:before {
  content: "\e945";
}
.icon_icon-quickaccess-close:before {
  content: "\e946";
}
.icon_icon-quickaccess-compare:before {
  content: "\e947";
}
.icon_icon-quickaccess-configurator:before {
  content: "\e948";
}
.icon_icon-quickaccess-configure:before {
  content: "\e949";
}
.icon_icon-quickaccess-convince:before {
  content: "\e94a";
}
.icon_icon-quickaccess-corporate-topics:before {
  content: "\e94b";
}
.icon_icon-quickaccess-dealer:before {
  content: "\e94c";
}
.icon_icon-quickaccess-download:before {
  content: "\e94d";
}
.icon_icon-quickaccess-email:before {
  content: "\e94e";
}
.icon_icon-quickaccess-exclamation-mark:before {
  content: "\e94f";
}
.icon_icon-quickaccess-favourite:before {
  content: "\e950";
}
.icon_icon-quickaccess-fax:before {
  content: "\e951";
}
.icon_icon-quickaccess-filter:before {
  content: "\e952";
}
.icon_icon-quickaccess-get-your-volkswagen-1:before {
  content: "\e953";
}
.icon_icon-quickaccess-get-your-volkswagen-2:before {
  content: "\e954";
}
.icon_icon-quickaccess-home:before {
  content: "\e955";
}
.icon_icon-quickaccess-image:before {
  content: "\e956";
}
.icon_icon-quickaccess-image-gallery:before {
  content: "\e957";
}
.icon_icon-quickaccess-importer:before {
  content: "\e958";
}
.icon_icon-quickaccess-info:before {
  content: "\e959";
}
.icon_icon-quickaccess-locate-me:before {
  content: "\e95a";
}
.icon_icon-quickaccess-mail:before {
  content: "\e95b";
}
.icon_icon-quickaccess-more:before {
  content: "\e95c";
}
.icon_icon-quickaccess-news:before {
  content: "\e95d";
}
.icon_icon-quickaccess-offer:before {
  content: "\e95e";
}
.icon_icon-quickaccess-owners:before {
  content: "\e95f";
}
.icon_icon-quickaccess-phone:before {
  content: "\e960";
}
.icon_icon-quickaccess-pin:before {
  content: "\e961";
}
.icon_icon-nextstep-360:before {
  content: "\e962";
}
.icon_icon-nextstep-brochure:before {
  content: "\e963";
}
.icon_icon-nextstep-business-customers:before {
  content: "\e964";
}
.icon_icon-nextstep-calculator:before {
  content: "\e965";
}
.icon_icon-nextstep-calendar:before {
  content: "\e966";
}
.icon_icon-nextstep-calendar-export:before {
  content: "\e967";
}
.icon_icon-nextstep-car:before {
  content: "\e968";
}
.icon_icon-nextstep-checkmark:before {
  content: "\e969";
}
.icon_icon-nextstep-compare:before {
  content: "\e96a";
}
.icon_icon-nextstep-configure:before {
  content: "\e96b";
}
.icon_icon-nextstep-convince-someone:before {
  content: "\e96c";
}
.icon_icon-nextstep-corporate-topics:before {
  content: "\e96d";
}
.icon_icon-nextstep-dealer:before {
  content: "\e96e";
}
.icon_icon-nextstep-download:before {
  content: "\e96f";
}
.icon_icon-nextstep-email:before {
  content: "\e970";
}
.icon_icon-nextstep-exclamation-mark:before {
  content: "\e971";
}
.icon_icon-nextstep-favourite:before {
  content: "\e972";
}
.icon_icon-nextstep-fax:before {
  content: "\e973";
}
.icon_icon-nextstep-filter:before {
  content: "\e974";
}
.icon_icon-nextstep-get-your-volkswagen-1:before {
  content: "\e975";
}
.icon_icon-nextstep-get-your-volkswagen-2:before {
  content: "\e976";
}
.icon_icon-nextstep-home:before {
  content: "\e977";
}
.icon_icon-nextstep-image:before {
  content: "\e978";
}
.icon_icon-nextstep-image-gallery:before {
  content: "\e979";
}
.icon_icon-nextstep-importer:before {
  content: "\e97a";
}
.icon_icon-nextstep-info:before {
  content: "\e97b";
}
.icon_icon-nextstep-locate-me:before {
  content: "\e97c";
}
.icon_icon-nextstep-mail:before {
  content: "\e97d";
}
.icon_icon-nextstep-more:before {
  content: "\e97e";
}
.icon_icon-nextstep-news:before {
  content: "\e97f";
}
.icon_icon-nextstep-offer:before {
  content: "\e980";
}
.icon_icon-nextstep-owners:before {
  content: "\e981";
}
.icon_icon-nextstep-phone:before {
  content: "\e982";
}
.icon_icon-nextstep-pin:before {
  content: "\e983";
}
.icon_icon-nextstep-preowned:before {
  content: "\e984";
}
.icon_icon-nextstep-print:before {
  content: "\e985";
}
.icon_icon-nextstep-profile:before {
  content: "\e986";
}
.icon_icon-nextstep-question-mark:before {
  content: "\e987";
}
.icon_icon-nextstep-responsibility:before {
  content: "\e988";
}
.icon_icon-nextstep-route:before {
  content: "\e989";
}
.icon_icon-nextstep-search:before {
  content: "\e98a";
}
.icon_icon-nextstep-service:before {
  content: "\e98b";
}
.icon_icon-nextstep-support:before {
  content: "\e98c";
}
.icon_icon-nextstep-testdrive:before {
  content: "\e98d";
}
.icon_icon-nextstep-upload:before {
  content: "\e98e";
}
.icon_icon-nextstep-video:before {
  content: "\e98f";
}
.icon_icon-nextstep-view:before {
  content: "\e990";
}
.icon_icon-nextstep-website:before {
  content: "\e991";
}
.icon_icon-nextstep-write:before {
  content: "\e992";
}
.icon_ConnectedVan .path1:before {
  content: "\e993";
  color: rgb(0, 0, 0);
}
.icon_ConnectedVan .path2:before {
  content: "\e994";
  margin-left: -1.24609375em;
  color: rgb(0, 0, 0);
}
.icon_ConnectedVan .path3:before {
  content: "\e995";
  margin-left: -1.24609375em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon_ConnectedVan .path4:before {
  content: "\e996";
  margin-left: -1.24609375em;
  color: rgb(0, 0, 0);
}
.icon_icon-gallery-left:before {
  content: "\e997";
}
.icon_icon-gallery-right:before {
  content: "\e998";
}
.icon_icon-modeloverview-toggle-XL:before {
  content: "\e999";
}
.icon_icon-modeloverview-toggle-XS:before {
  content: "\e99a";
}
.icon_icon-placeholder:before {
  content: "\e99b";
}
.icon_corazon_vwytu:before {
  content: "\e90b";
}
.icon_icon-arrow-down:before {
  content: "\e920";
}
.icon_icon-arrow-up:before {
  content: "\e921";
}
.icon_icon-arrow-left:before {
  content: "\e922";
}
.icon_icon-arrow-right:before {
  content: "\e923";
}
.icon_icon-arrow-left-double:before {
  content: "\e926";
}
.icon_icon-arrow-right-double:before {
  content: "\e927";
}
.icon_icon-arrow-down-double:before {
  content: "\e924";
}
.icon_icon-arrow-up-double:before {
  content: "\e925";
}
.icon_icon-engine-CO2-emissions:before {
  content: "\e99c";
}
.icon_icon-engine-automatic:before {
  content: "\e99d";
}
.icon_icon-engine-diesel:before {
  content: "\e99e";
}
.icon_icon-engine-electric:before {
  content: "\e99f";
}
.icon_icon-engine-fuel-consumption:before {
  content: "\e9a0";
}
.icon_icon-engine-gear-change:before {
  content: "\e9a1";
}
.icon_icon-engine-hybrid:before {
  content: "\e9a2";
}
.icon_icon-engine-natural-gas:before {
  content: "\e9a3";
}
.icon_icon-engine-petrol:before {
  content: "\e9a4";
}
.icon_icon-engine-power:before {
  content: "\e9a5";
}
.icon_icon-link-back-to-top:before {
  content: "\e9a6";
}
.icon_icon-link-compare:before {
  content: "\e9a7";
}
.icon_icon-link-configure:before {
  content: "\e9a8";
}
.icon_icon-link-delete:before {
  content: "\e9a9";
}
.icon_icon-link-download:before {
  content: "\e9aa";
}
.icon_icon-link-email:before {
  content: "\e9ab";
}
.icon_icon-link-fax:before {
  content: "\e9ac";
}
.icon_icon-link-locate-me:before {
  content: "\e9ad";
}
.icon_icon-link-mail:before {
  content: "\e918";
}
.icon_icon-link-phone:before {
  content: "\e919";
}
.icon_icon-link-pin:before {
  content: "\e91a";
}
.icon_icon-link-print:before {
  content: "\e91b";
}
.icon_icon-link-reload:before {
  content: "\e91c";
}
.icon_icon-link-route:before {
  content: "\e91d";
}
.icon_icon-link-search:before {
  content: "\e91e";
}
.icon_icon-link-standardlink:before {
  content: "\e91f";
}
.icon_icon-link-upload:before {
  content: "\e914";
}
.icon_icon-link-view:before {
  content: "\e915";
}
.icon_icon-link-website:before {
  content: "\e916";
}
.icon_icon-link-write:before {
  content: "\e917";
}
.icon_icon-link-zoom-in:before {
  content: "\e9ae";
}
.icon_icon-link-zoom-out:before {
  content: "\e9af";
}
.icon_icon-navigation-business-customers:before {
  content: "\e90c";
}
.icon_icon-navigation-close:before {
  content: "\e90d";
}
.icon_icon-navigation-configure:before {
  content: "\e90e";
}
.icon_icon-navigation-corporate-topics:before {
  content: "\e90f";
}
.icon_icon-navigation-dealer:before {
  content: "\e910";
}
.icon_icon-navigation-get-your-volkswagen:before {
  content: "\e911";
}
.icon_icon-navigation-get-your-volkswagen-1:before {
  content: "\e9b0";
}
.icon_icon-navigation-get-your-volkswagen-2:before {
  content: "\e912";
}
.icon_icon-navigation-home:before {
  content: "\e913";
}
.icon_icon-navigation-importer:before {
  content: "\e900";
}
.icon_icon-navigation-models:before {
  content: "\e902";
}
.icon_icon-navigation-menu:before {
  content: "\e901";
}
.icon_icon-navigation-more:before {
  content: "\e903";
}
.icon_icon-navigation-news:before {
  content: "\e904";
}
.icon_icon-navigation-offer:before {
  content: "\e905";
}
.icon_icon-navigation-owners:before {
  content: "\e906";
}
.icon_icon-navigation-profile:before {
  content: "\e907";
}
.icon_icon-navigation-responsibility:before {
  content: "\e908";
}
.icon_icon-navigation-search:before {
  content: "\e9b1";
}
.icon_icon-navigation-volkswagen-live:before {
  content: "\e909";
}
.icon_service:before {
  content: "\e90a";
}

