extends ../../../globals/layout/_layout


include ../../../components/UacComponents/authBlock/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: 'hide-navs'
        };

block content
    .page-section.with-auth-block.bg-grey
        .kdx_container-fluid.auth-block_container-fluid
            .gridcontainer
                .grid_12.grid_xs_10.push_xs_1.grid_m_6.push_m_3.grid_l_6.push_l_3.grid_xl_4.push_xl_4
                    .auth-block
                        +authBlockSectionTop("Восстановление пароля")
                        .auth-block__section.pd-default
                            form
                                .gridcontainer
                                    .grid_12
                                        +input('','Адрес электронной почты',false,'Поле заполнено с ошибкой')(type="email")
                                .gridcontainer
                                    .grid_12
                                        +btn('a', 'Отправить')(class="btn-light btn_cta  no-maxwidth")
                    +authBlock-after
                        | Я вспомнил пароль, <a>вернуться назад</a>!