extends ../../../globals/layout/_layout

include ../../../components/UacComponents/simpleBanner/index
include ../../../components/UacComponents/tabs/index
include ../../../components/UacComponents/announcementCard/index
include ../../../components/UacComponents/tile-link/index
include ../../../components/UacComponents/sys_notification/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UacComponents/goBackLink/index
include ../../../components/UacComponents/mainPageDealerPicker/index
include ../../../components/UacComponents/uacToggleSwitch/index
include ../../../components/UacComponents/dealerInfoCard/index
include ../../../components/UacComponents/tagFilter/index
include ../../../components/UacComponents/timeline/timelineBlock/index
include ../../../components/UacComponents/timeline/eventCard/index
include ../../../components/UacComponents/timeline/eventCardHistory/index
include ../../../components/UacComponents/timeline/giveRatingBlock/index
include ../../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../../components/UacComponents/timeline/chatBlock/index
include ../../../components/UacComponents/offerCard/index


block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

        var tabItems = [
        {'text': 'Все',
        'isActive': true},

        {'text': 'Новости'},
        {'text':'Акции'}
        ];

        var tiles = [{'icon':'icon-nextstep-testdrive','text': 'Заявка на тест-драйв'},{'icon':'icon-nextstep-calculator','text': 'Финансовые предложения'},{'icon':'icon-nextstep-preowned','text': 'Оценить мой автомобиль'}];

        var announcementCards = [{
        'imgSrc':'http://lorempixel.com/480/270/abstract',
        'date':'02.02.2017',
        'title':'Спрос на автомобили Volkswagen в России вырос в 2016 году',
        'text':'Продажи автомобилей с пробегом по программе Das WeltAuto в 2016 году выросли в 5.5 раз. Около 4.000 автомобилей, сертифицированных по программе, продано в 2016. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
        'linkMore':'Подробнее'},
        {'imgSrc':'http://lorempixel.com/480/270/abstract',
        'date':'25.01.2017',
        'title':'Volkswagen представляет I.D.BUZZ на автосалоне в Детройте',
        'text':'Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее. Мы хотим сделать электромобильность новым. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
        'linkMore':'Подробнее'},
        {'imgSrc':'http://lorempixel.com/480/270/abstract',
        'tag':'Акция',
        'date':'c 01.12.2016 по 28.02.2017',
        'title':'Зимние радости с Volkswagen',
        'text':'Пусть зима подарит вам много счастливых моментов и ярких эмоций! Когда автомобиль в отличном техническом состоянии, вам не страшны ни снег, ни морозы!',
        'linkMore':'Подробнее'}]
        var dealerItems = [{'title':'Санрайз-Авто Санкт-Петербург','notifCount' : 2},{'title':'Фольцваген Сервис Северный Немецкий Центр','notifCount' : 44},{'title':'Genser'}]
        var offerItems =[{
            'overlayContent':'Отличный выбор! Персональный менеджер скоро свяжется с вами!',
            'status':'dealer',
            'statusText':'на центральном складе',
            'bookingDate':'бронь до 29.09.17',
            'carTitle':'Новый Passat Variant Comfortline',
            'discountPrice':'1 903 780 руб.',
            'stockPrice': '2 000 900 руб.',
            }
        ]
        var creditSpecs={
                specItems:[
                {
                    title: 'Банк',
                    content: 'Русфинанс Банк'
                },
                {
                    title: 'Тип программы',
                    content: 'Кредит на приобретение автомобиля'
                },
                {
                    title: 'Стоимость автомобиля',
                    content: '1 300 000 руб.'
                },
                {
                    title: 'Первоначальный взнос',
                    content: '600 000 руб.'
                },
                {
                    title: 'Ежемесячный платеж',
                    content: '29 000 руб.'
                },
                {
                    title: 'Срок кредитования',
                    content: '24 месяца'
                }]
        }
block content
    #root
    script( src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=false&key=AIzaSyCH8AvkDWvDobU3-Sz32KB44FK9N5h-6Uc")

    //-.page-section.bg-grey.pd-default
        .kdx_container-fluid
            .gridcontainer.tile-link__flex-container
                each tile in tiles
                    .grid_12.grid_sm_4
                        +tile-link(tile)
    .page-section.bg-white.clearfix
        +simpleBanner(require('../../../_temp_images/cars-bg.jpg'), 'Новые автомобили', 'Модельный ряд Volkswagen 2017-го года','Подробнее')(class="full-vp index")
    //-
        +simpleBanner('http://lorempixel.com/642/362/transport/', 'Автомобили с пробегом', 'Каталог Das WeltAuto — автомобили, которым можно доверять','Подробнее')(class="pseudoGrid__half-vp")
    .page-section.bg-grey.pd-default
        .kdx_container-fluid
            .gridcontainer
                .grid_12
                    .page-section__headline.txt_center
                        | Новости и акции
            .gridcontainer
                .js_tabs.oneToHide-cards.uac_tabs
                    +tabsHead(tabItems)(class="txt_center")
                    .js_tabs__content
                        +tabsTab
                            .js_announcement-carousel.announcement-flex-container
                               each card in announcementCards
                                    +announcementCard(card)
                        +tabsTab
                            .js_announcement-carousel.announcement-flex-container
                               each card in announcementCards
                                    +announcementCard(card)
                        +tabsTab
                            .js_announcement-carousel.announcement-flex-container
                               each card in announcementCards
                                    +announcementCard(card)
                .grid_12.txt_center
                    +btn('a', 'Показать все')(class="btn-light themed section-resolver")
