mixin m022_Headline_H3(semantic)
    -semantic = typeof semantic === 'boolean' ? semantic : true
    // Component m022_Headline_H3
    if semantic
        h3.m022_Headline_H3&attributes(attributes)
            if block
                block
    else
        .m022_Headline_H3&attributes(attributes)
            if block
                block
    // END m022_Headline_H3
