@import "~globals/style/core";

.vwd5_dot {
  display: block;
  height: rem(8px);
  width: rem(8px);
  border: 0;
  padding: 0;
  border-radius: rem(2px);

  background: $grey_60;
  outline: none;

  font-size: 0;
  line-height: 0;
  color: transparent;

  cursor: pointer;
  pointer-events: all;
  vertical-align: top;
  html.no-touch &:hover {
    background-color: $primary_hover;
  }
  &:active {
    background-color: $primary;
  }
  &:hover, &:focus {
    outline: none;
  }

  @include media($laptop) {
    height: rem(13px);
    width: rem(13px);
    border-radius: rem(4px);
  }
}
