@import "../../../../../globals/style/core";
@import "../../../../../globals/fonts/icons/arrow/utility";

.vwd5_arrow {
  display: block;
  width: rem(36px);
  height: rem(80px);
  line-height: rem(80px);
  margin: rem(-40px) 0;
  border: 0;
  padding: 0;
  font-size: rem(25px);
  text-align: center;
  background: none;
  background-color: rgba($grey_100, .3);
  color: #fff;
  outline: none;
  cursor: pointer;
  pointer-events: auto;

  &:hover, &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background-color: rgba($grey_100, .5);
  }

  &[disabled] {
    pointer-events: none;
    color: rgba(#fff, .3);
  }

  &:before {
    display: inline-block;
    vertical-align: middle;
    position: relative; // rework: remove posr and b1 when new icons will be compiled
    bottom: 1px;
  }

  &--right {
    border-top-left-radius: rem(4px);
    border-bottom-left-radius: rem(4px);
    float: right;
  }

  &--left {
    border-top-right-radius: rem(4px);
    border-bottom-right-radius: rem(4px);
    float: left;
  }

  &--nobg {
    background-color: transparent;
    color: $primary;
    line-height: rem(40px);
    height: rem(40px);
    margin: rem(-20px) 0;
    &:hover,
    &:active {
      color: $grey_80;
      background-color: transparent;
    }
  }

  &--table {
    background-color: transparent;
    color: $zeplin-dark-grey;
    line-height: rem(40px);
    height: rem(40px);
    margin: rem(-20px) 0;
    font-size: rem(20px);
    &:hover,
    &:active {
      color: $white;
      background-color: transparent;
    }
    &[aria-disabled=true] {
      display: none !important;
    }
  }
}
