include ../template
mixin m011_Media_1x1(image, responsive, caption, link)
    // Component m011_Media_1x1
    +media_template('m011_Media_1x1', image, responsive, caption, link)&attributes(attributes)
    // END m011_Media_1x1
