@import "~tools";
/**************************************/

  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;}
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: auto !important;
  min-width: 150px;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }


.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }


/*****************************************/

.tagFilter__container{
  width: 100%;
}
.select2-selection__choice{
  position: relative;
  float: left;
  margin-right: 5px;
  .select2-selection__choice__remove{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: $grey_60;
    height: 100%;
    line-height: 2.9rem;
    width: 3rem;
    text-align: center;
    pointer-events: all;
  }
  .tagFilter__tag-item{
    label{
      pointer-events: all;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .tagFilter__tag-item-presentation{
    font-family: $font;
    font-size: 1.1rem;
    padding: 0.9rem 3.5rem 0.8rem 1rem;
    background-color: $grey;
    border: 1px solid $grey_20;
    border-radius: 2.5rem;
    color: $grey_60;
    cursor: pointer;
  }
  input{
    position: absolute;
    //left: -9999px;
  }
  input:checked + .tagFilter__tag-item-presentation{
    background-color: $grey_20;
    border-color: $grey_20;
  }
  input:disabled + .tagFilter__tag-item-presentation{
    background-color: transparentize($grey_20, 0.7);
    border-color: transparentize($grey_20, 0.7);
    cursor: default;
    pointer-events: none;
  }
}

.tagFilter__tags-container {
  position: absolute;
}

.tagFilter__container .select2-container{
  display: block;
  width: 100% !important;
  pointer-events:none;
}
.select2-selection__choice{
  pointer-events:none;
  margin-bottom: 0.3rem;
  cursor: pointer;
  height: 3rem;
}
.select2-container .select2-selection--multiple{
  outline: none !important;
}

.select2-search.select2-search--inline{
    pointer-events: all;
    font-family: $font;
    font-size: 1.1rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: $primary;
    border: none;
    border-radius: 2.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    .select2-search__field{
      margin: 0;
      color: #fff;
      text-align: left;
      min-width: 150px;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #fff;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    #fff;
         opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    #fff;
         opacity:  1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    #fff;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
         color:    #fff;
      }
    }
}

.select2-results__option{
    font-family: $font;
    font-size: 1.1rem;
    padding: 0.3rem;
}
.select2-container .select2-selection--multiple .select2-selection__rendered{
  display: flex !important;
  flex-wrap: wrap;
}