mixin tagFilter(tags)
	.tagFilter__container.js_tagFilter__container
		input.js_tagFilter__val-aggregator(type="hidden")
		select.tagFilter__input.js_tagFilter__input(multiple)
		//-	each tag in tags
				option #{tag}
		//-.tagFilter__tags-container.js_tagFilter__tags-container