include ../../UI_Elements/icon/index

mixin mk572_Arrow()
    svg(width='68px', viewbox='0 0 68 500', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio="xMinYMin meet")
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Group(transform='translate(1.000000, 0.000000)', fill-rule='nonzero')
                polygon#Triangle(fill='#1D1F20', points='-8.8817842e-16 0 65.7894737 250 -8.8817842e-16 500' x='0' y='0' height='100%' )
                polyline#Line(stroke='#000000', stroke-width='4%', points='0 0 65.7894737 250 0 500' x='0' y='0' height='100%' )



mixin mk571_StepList_item(item)
    -
        var item = item || {};
        var classes = '';
        if(item.mod && item.mod.length) {
            for(var i = 0; item.mod.length > i; i++) {
                classes += ' mk571__unit' + item.mod[i];
            }

        }
    .mk571__unit(class=(classes))
        span.mk571__arrow
            +mk572_Arrow()
        if item.value
            a(href='#').mk571__link
                span.mk571__content
                    i.mk571__check
                    !=item.value

mixin mk571_StepList_content
    .mk571_stepList_content
        block
mixin mk571_StepList_content-item
    .mk571_stepList_content-item
        block

mixin mk571_StepList(items)
    .mk571
        .mk571__mob-list.mob-list
            span.mob-list__content
                +icon('arrow', 'down', 'span')(class='mob-list__check')
                span.mob-list__text Шаг 1. Value
        .mk571__container
            each item in items
                +mk571_StepList_item(item)

