@import "../../../globals/style/_core";
@import "../../../globals/fonts/icons/base/utility";

.mk571 {
  //@extend %module-spacing-inner;

  &.active {
    .mob-list {
      &__check {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    @include media($tablet) {
      display: flex !important; // overwrite jquery slideup hiding the element on mobile
      flex-wrap: nowrap;
      position: static;
      z-index: auto;
    }
  }

  &__arrow {
    position: absolute;
    display: block;
    height: 100%;
    left: 99.7%;
    top: 0;
    bottom: 0;
    z-index: 2;
    color: $grey;
    width: 2rem;

    display: none;
    box-shadow: inset 1px 0 currentColor;

    @include media($tablet) {
      display: block;
    }

    svg {
      height: 100%;
      width: 100%;

      #Triangle {
        fill: $grey;
      }

      #Line {
        stroke: $grey_20;
      }
    }
  }

  &__link {
    border-bottom: 1px solid $grey_40;

    @include media($tablet) {
      border: none
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__check {
    display: inline-block;
    width: 2rem;
    height: 2rem;

    flex: 0 0 auto;
    align-self: flex-start;

    margin-right: 1.5rem;

    border-width: 2px;
    border-style: solid;
    border-color: $grey_40;
    border-radius: 50%;

    position: relative;

    &:before {
      font-family: icon-nextstep;
      font-style: normal;
      speak: none;
      font-variant: normal;
      font-weight: 400;
      content: "\E008";
      position: absolute;
      top: -.6rem;
      opacity: 0;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.9rem;
      text-align: center;
      width: 100%;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(.645,.045,.355,1);
      transition-property: opacity,top;
      visibility: hidden;

    }
    .ie-browser &:before{
      top: -6px;
    }
  }

  .mob-list {
    background: $grey_20;
    padding: 1.2rem 2rem;
    display: block;
    cursor: pointer;
    @include media($tablet) {
      display: none;
    }

    &__content {
      color: $grey_100;
      font-size: 1.6rem;
      font-weight: 800;

      display: flex;
      align-items: center;

    }

    &__check {
      display: block;
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;

      flex: 0 0 auto;

      background-color: $white;
      border-radius: 50%;

      position: relative;

      &:before {
        font-size: 1.2rem;
        color: $primary;

        position: absolute;
        top: .5rem;
        left: .4rem;

        transition: all 400ms linear 0ms;
      }
    }

    &__text {
      user-select: none;
    }
  }
}

.mk571_stepList_content{
  padding: 3rem 0;
  @include media($tablet) {
    padding: 4rem 0;
  }
}

.mk571_stepList_content-item{
  display: none;
  &.is_visible{
    display: block;
  }
}


.mk571__unit {
  flex: 1 1 auto;
  background: $grey_20;
  padding: 0 2rem;
  user-select: none;

  position: relative;

  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.56;

  width: 100%;

  a {
    color: $grey_60;

    display: block;
    padding: 1.2rem 0;
  }

  @include media($tablet) {
    //width: auto; // ie fix for text wrap
    background: $grey;

    border-width: 1px 0;
    border-style: solid;
    border-color: $grey_20;

    font-size: 1.6rem;
    font-weight: 400;
  }

  &:first-child {
    @include container();
    padding-right: 2rem;
  }

  &:last-child {
    @include container();
    padding-left: 2rem;

    .mk571__arrow {
      display: none;
    }

    .mk571__link {
      border: none;
    }
  }

  // Mods
  &_active {

    a {
      color: $primary;
    }

    .mk571__check {
      border-color: $primary;
    }
  }

  &_done {
    background: $grey_20;
    border-color: $grey_40;

    a {
      color: $grey_100;
    }

    .mk571__arrow {
      color: $grey_20;
      svg {

        #Triangle {
          fill: $grey_20;
        }

        #Line {
          stroke: $grey_40;
        }
      }
    }

    .mk571__check {
      border-color: $primary;
      background: $primary;

      &:before {
        opacity: 1;
        top: -1px;
        visibility: visible;
      }
      .ie-browser &:before,
      .is-ie &:before {
        top: 50%;
      }
    }
  }

  &_finish {
    background-color: $grey_20;
    &.mk571__unit_active {
      background-color: $primary;
      border-color: $primary;
      a {
        color: $white;
      }
      .mk571__check {
        border-color: $white;
        background: $white;
        @include icon-base(convince);
        &::before {
          top: -.2rem;
          bottom: 0;
          left: -.2rem;
          right: 0;
          margin: auto;
          opacity: 1;
          color: $primary;
          visibility: visible;
          font-size: 1.8rem;
        }
      }
    }
  }
}

