mixin eventCardHistory
	.event-card-history__container
		+eventCardHistoryItem('','')(spacer)
		block

mixin eventCardHistoryItem(date, content)
	.event-card-history__item(class= attributes.spacer ? 'event-card-history__item--spacer':'')
		.event-card-history__left-part
			.event-card-history__left-part-inner
				.event-card-history__status-indicator
					.event-card-history__status-indicator-circle
					.event-card-history__status-indicator-icon
		.event-card-history__right-part
			.event-card-history__right-part-inner
				.event-card-history__head
					.event-card-history__time
						| #{date}
				.event-card-history__content
					| #{content}