.event-card-history__container{
	//padding-top: 1.5rem;
}
.event-card-history__item{
	display: flex;
}
.event-card-history__left-part{
	width: span(1 of 12);
	padding-right: gutter(12);
}
.event-card-history__left-part-inner{
    height: 100%;
	background-image: linear-gradient(180deg, transparent, $grey_20, transparent);
	background-position: 50%;
	background-repeat: repeat-y;
	background-size: 1px 1px;
}
.event-card-history__right-part{
	width: span(11 of 12);
}
.event-card-history__right-part-inner{
	padding: 0 3rem 1.5rem 0;
    position: relative;
    top: -0.6rem;
}

.event-card-history__item:last-child .event-card-history__left-part-inner{
	background-image: none;
}

.event-card-history__status-indicator{
	position: relative;
}
.event-card-history__status-indicator-circle{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	transition: all $duration;
	margin: 0 auto;
	position: relative;
	background-color: $grey_20;
	.event-card-history__item--spacer & {
		display: none;
	}
}

.event-card-history__head{
margin-bottom: 0.8rem;
}
.event-card-history__time{
  @extend %b2;
  color: $grey_60;
}
.event-card-history__content{}