@import "../../../globals/style/core";

.m200 {
  @include clearfix();

  &:focus {
    outline: none;
  }

  //@include media($tablet) {
  //  &:not(&--horizontal) {
  //    display: flex;
  //    flex-direction: column;
  //    flex-wrap: nowrap;
  //    justify-content: space-between;
  //    align-content: stretch;
  //    align-items: stretch;
  //  }
  //}

  &--horizontal {
    @include media($tablet) {
      text-align: left;
    }
  }

  &__image-wrapper {
    display: block;
    width: 100%;
    margin: {
      left: auto;
      right: auto;
    }
    margin-bottom: rem(20px);

    @include media($tablet) {
      margin-bottom: rem(30px);
    }

    .m200--horizontal & {
      @include media($tablet) {
        @include span(6);
        padding-left: 0;
        margin: 0;
      }
      @include media($desktop) {
        @include span(6);
        padding-left: 0;
      }
      @include media($widescreen) {
        @include span(6);
        padding-left: 0;
      }
    }

    @include media(media-inverse($tablet)) {
      .is-icon-aligned-mobile &,
      &.is-icon-aligned-mobile {
        @include span(3 of 12);
        & + .m200__content {
          @include push(1 of 12);
          @include span(8 of 12);
          text-align: left;


          & + .m200__footer {
            text-align: left;
            @include push(1 of 12);
            @include span(8 of 12);
            float: right;
          }
        }
      }
    }
  }

  &__content,
  &__footer {
    text-align: center;
    .m200--horizontal & {
      @include media($tablet) {
        @include span(5);
        @include push(1);
        padding-right: 0;
        text-align: left;
      }
      @include media($desktop) {
        @include span(5);
        @include push(1);
        padding-right: 0;
      }
      @include media($widescreen) {
        @include span(5);
        @include push(1);
        padding-right: 0;
      }
    }
  }

  &__footer {
    margin-top: rem(10px);
  }

  &__subline,
  &__headline {
    margin-bottom: rem(10px);
  }

  &__headline {
    @include responsive-typo-lines($header-3, false, 3, true);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__headline,
  &__copy {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__copy {
    display: block;
    @include responsive-typo($bodycopy-b1);
    @include responsive-typo-lines($bodycopy-b1, false, 6, true);
    margin: {
      left: auto;
      right: auto;
    }
  }



  &__button {
    margin: {
      left: auto;
      right: auto;
      top: rem(20px);
    }
    .m200--horizontal & {
      @include media($tablet) {
        margin-left: 0;
      }
    }
  }

  &__additional_button {
    @extend .m200__button;
    margin-top: rem(10px);
  }
}


.m200_flex:not(.m200--horizontal) {
  @include media($tablet) {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .m200__inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }

    .m200__content {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }
  }
}

.m200_flex:not(.is-icon-aligned-mobile) {
  @include media(media-inverse($tablet)) {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .m200__content {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
    }
  }
}
