@import "../../../globals/style/core";
.gender-radio{
	width: 42px;
	position: relative;
	display: inline-block;
	@extend .input__field;
	padding: 0;
	
	input{
		position: absolute;
		visibility: hidden;
		left: -9999px;
	  	&:checked + div{
	  		background-color: $primary;
	  		color: #fff;
	  		&:before{
	  			color: #fff;
	  		}
	  	}
	}
		.gender-radio__presentation{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			&:before{
			    position: absolute;
		        top: 9px;
		    	left: 10px;
		    	z-index: 1;
		    	color: $grey_20;
		    	font-size: 20px;
			}
		}
		.required-mark{
			display: none;
		}
	}