mixin genderRadio(checked)
	label.gender-radio
		input(type="radio", name="sex", checked = attributes.checked ? 'true' : 'false')
		div.gender-radio__presentation(class= 'hasicon icon-gender-' + attributes.class) 