@import "fontface";
@import "utility";

.icon-full-360 {
  @include icon-full(360);
}
.icon-full-Accessories {
  @include icon-full(Accessories);
}
.icon-full-Airbag {
  @include icon-full(Airbag);
}
.icon-full-AppStore {
  @include icon-full(AppStore);
}
.icon-full-ArrowDoubleDown {
  @include icon-full(ArrowDoubleDown);
}
.icon-full-ArrowDoubleLeft {
  @include icon-full(ArrowDoubleLeft);
}
.icon-full-ArrowDoubleRight {
  @include icon-full(ArrowDoubleRight);
}
.icon-full-ArrowDoubleUp {
  @include icon-full(ArrowDoubleUp);
}
.icon-full-ArrowDown {
  @include icon-full(ArrowDown);
}
.icon-full-ArrowLeft {
  @include icon-full(ArrowLeft);
}
.icon-full-ArrowRight {
  @include icon-full(ArrowRight);
}
.icon-full-ArrowUp {
  @include icon-full(ArrowUp);
}
.icon-full-BodyCoupe {
  @include icon-full(BodyCoupe);
}
.icon-full-BodyHatchback {
  @include icon-full(BodyHatchback);
}
.icon-full-BodyPickup {
  @include icon-full(BodyPickup);
}
.icon-full-BodySedan {
  @include icon-full(BodySedan);
}
.icon-full-BodySUV {
  @include icon-full(BodySUV);
}
.icon-full-BodyUniversal {
  @include icon-full(BodyUniversal);
}
.icon-full-BodyVan {
  @include icon-full(BodyVan);
}
.icon-full-Brake {
  @include icon-full(Brake);
}
.icon-full-Brochure {
  @include icon-full(Brochure);
}
.icon-full-BusinessCustomers {
  @include icon-full(BusinessCustomers);
}
.icon-full-Calculate {
  @include icon-full(Calculate);
}
.icon-full-Calendar {
  @include icon-full(Calendar);
}
.icon-full-ChassisBack {
  @include icon-full(ChassisBack);
}
.icon-full-ChassisFront {
  @include icon-full(ChassisFront);
}
.icon-full-ChassisFull {
  @include icon-full(ChassisFull);
}
.icon-full-Checkmark {
  @include icon-full(Checkmark);
}
.icon-full-ChildSeat {
  @include icon-full(ChildSeat);
}
.icon-full-Clearance {
  @include icon-full(Clearance);
}
.icon-full-Climate {
  @include icon-full(Climate);
}
.icon-full-Clock {
  @include icon-full(Clock);
}
.icon-full-Close {
  @include icon-full(Close);
}
.icon-full-Configure {
  @include icon-full(Configure);
}
.icon-full-Consumption {
  @include icon-full(Consumption);
}
.icon-full-Convince {
  @include icon-full(Convince);
}
.icon-full-Corporate {
  @include icon-full(Corporate);
}
.icon-full-CreditCalculator {
  @include icon-full(CreditCalculator);
}
.icon-full-CruiseControl {
  @include icon-full(CruiseControl);
}
.icon-full-Customer {
  @include icon-full(Customer);
}
.icon-full-Day {
  @include icon-full(Day);
}
.icon-full-Dealer {
  @include icon-full(Dealer);
}
.icon-full-Delete {
  @include icon-full(Delete);
}
.icon-full-Directions {
  @include icon-full(Directions);
}
.icon-full-Door {
  @include icon-full(Door);
}
.icon-full-Download {
  @include icon-full(Download);
}
.icon-full-Edit {
  @include icon-full(Edit);
}
.icon-full-Email {
  @include icon-full(Email);
}
.icon-full-Emission {
  @include icon-full(Emission);
}
.icon-full-Engine {
  @include icon-full(Engine);
}
.icon-full-EngineDiesel {
  @include icon-full(EngineDiesel);
}
.icon-full-EngineElectric {
  @include icon-full(EngineElectric);
}
.icon-full-EngineGas {
  @include icon-full(EngineGas);
}
.icon-full-EngineHybrid {
  @include icon-full(EngineHybrid);
}
.icon-full-EnginePetrol {
  @include icon-full(EnginePetrol);
}
.icon-full-Exclamation {
  @include icon-full(Exclamation);
}
.icon-full-Favourite {
  @include icon-full(Favourite);
}
.icon-full-Fax {
  @include icon-full(Fax);
}
.icon-full-Filter {
  @include icon-full(Filter);
}
.icon-full-Forward {
  @include icon-full(Forward);
}
.icon-full-FrontAssist {
  @include icon-full(FrontAssist);
}
.icon-full-FullscreenEnter {
  @include icon-full(FullscreenEnter);
}
.icon-full-FullscreenExit {
  @include icon-full(FullscreenExit);
}
.icon-full-GetYourVolkswagen {
  @include icon-full(GetYourVolkswagen);
}
.icon-full-GTI {
  @include icon-full(GTI);
}
.icon-full-Heat {
  @include icon-full(Heat);
}
.icon-full-HighBeam {
  @include icon-full(HighBeam);
}
.icon-full-Home {
  @include icon-full(Home);
}
.icon-full-Image {
  @include icon-full(Image);
}
.icon-full-ImageGallery {
  @include icon-full(ImageGallery);
}
.icon-full-Importer {
  @include icon-full(Importer);
}
.icon-full-Info {
  @include icon-full(Info);
}
.icon-full-LinkArrow {
  @include icon-full(LinkArrow);
}
.icon-full-LocateMe {
  @include icon-full(LocateMe);
}
.icon-full-Lock {
  @include icon-full(Lock);
}
.icon-full-LowBeam {
  @include icon-full(LowBeam);
}
.icon-full-Mail {
  @include icon-full(Mail);
}
.icon-full-Menu {
  @include icon-full(Menu);
}
.icon-full-MessengerSkype {
  @include icon-full(MessengerSkype);
}
.icon-full-MessengerTelegram {
  @include icon-full(MessengerTelegram);
}
.icon-full-MessengerViber {
  @include icon-full(MessengerViber);
}
.icon-full-MessengerWhatsApp {
  @include icon-full(MessengerWhatsApp);
}
.icon-full-Mileage {
  @include icon-full(Mileage);
}
.icon-full-Minus {
  @include icon-full(Minus);
}
.icon-full-Models {
  @include icon-full(Models);
}
.icon-full-More {
  @include icon-full(More);
}
.icon-full-Mount {
  @include icon-full(Mount);
}
.icon-full-News {
  @include icon-full(News);
}
.icon-full-Night {
  @include icon-full(Night);
}
.icon-full-Offer {
  @include icon-full(Offer);
}
.icon-full-Owners {
  @include icon-full(Owners);
}
.icon-full-Pause {
  @include icon-full(Pause);
}
.icon-full-Percent {
  @include icon-full(Percent);
}
.icon-full-Performance {
  @include icon-full(Performance);
}
.icon-full-Phone {
  @include icon-full(Phone);
}
.icon-full-Pin {
  @include icon-full(Pin);
}
.icon-full-PinClean {
  @include icon-full(PinClean);
}
.icon-full-PinPhone {
  @include icon-full(PinPhone);
}
.icon-full-Play {
  @include icon-full(Play);
}
.icon-full-Plus {
  @include icon-full(Plus);
}
.icon-full-Print {
  @include icon-full(Print);
}
.icon-full-Purchase {
  @include icon-full(Purchase);
}
.icon-full-Question {
  @include icon-full(Question);
}
.icon-full-Record {
  @include icon-full(Record);
}
.icon-full-Reload {
  @include icon-full(Reload);
}
.icon-full-Responsibility {
  @include icon-full(Responsibility);
}
.icon-full-Rewind {
  @include icon-full(Rewind);
}
.icon-full-Rouble {
  @include icon-full(Rouble);
}
.icon-full-RouteByCar {
  @include icon-full(RouteByCar);
}
.icon-full-RouteByFoot {
  @include icon-full(RouteByFoot);
}
.icon-full-RoutePublicTransport {
  @include icon-full(RoutePublicTransport);
}
.icon-full-RouteStart {
  @include icon-full(RouteStart);
}
.icon-full-Search {
  @include icon-full(Search);
}
.icon-full-Seat {
  @include icon-full(Seat);
}
.icon-full-Service {
  @include icon-full(Service);
}
.icon-full-ServiceCalculator {
  @include icon-full(ServiceCalculator);
}
.icon-full-ServiceUnit {
  @include icon-full(ServiceUnit);
}
.icon-full-Settings {
  @include icon-full(Settings);
}
.icon-full-Share {
  @include icon-full(Share);
}
.icon-full-SkipBack {
  @include icon-full(SkipBack);
}
.icon-full-SkipForward {
  @include icon-full(SkipForward);
}
.icon-full-Snow {
  @include icon-full(Snow);
}
.icon-full-SocialFacebook {
  @include icon-full(SocialFacebook);
}
.icon-full-SocialGooglePlus {
  @include icon-full(SocialGooglePlus);
}
.icon-full-SocialLinkedin {
  @include icon-full(SocialLinkedin);
}
.icon-full-SocialOdnoklassniki {
  @include icon-full(SocialOdnoklassniki);
}
.icon-full-SocialTwitter {
  @include icon-full(SocialTwitter);
}
.icon-full-SocialVkontakte {
  @include icon-full(SocialVkontakte);
}
.icon-full-SoundOff {
  @include icon-full(SoundOff);
}
.icon-full-SoundOn {
  @include icon-full(SoundOn);
}
.icon-full-StartStop {
  @include icon-full(StartStop);
}
.icon-full-Stop {
  @include icon-full(Stop);
}
.icon-full-Support {
  @include icon-full(Support);
}
.icon-full-TestDrive {
  @include icon-full(TestDrive);
}
.icon-full-ThumbnailsLarge {
  @include icon-full(ThumbnailsLarge);
}
.icon-full-ThumbnailsSmall {
  @include icon-full(ThumbnailsSmall);
}
.icon-full-Torque {
  @include icon-full(Torque);
}
.icon-full-TransmissionAutomatic {
  @include icon-full(TransmissionAutomatic);
}
.icon-full-TransmissionManual {
  @include icon-full(TransmissionManual);
}
.icon-full-Trunk {
  @include icon-full(Trunk);
}
.icon-full-Upload {
  @include icon-full(Upload);
}
.icon-full-UsedCars {
  @include icon-full(UsedCars);
}
.icon-full-Video {
  @include icon-full(Video);
}
.icon-full-View {
  @include icon-full(View);
}
.icon-full-VolkswagenCode {
  @include icon-full(VolkswagenCode);
}
.icon-full-Website {
  @include icon-full(Website);
}
.icon-full-Window {
  @include icon-full(Window);
}
.icon-full-ZoomIn {
  @include icon-full(ZoomIn);
}
.icon-full-ZoomOut {
  @include icon-full(ZoomOut);
}