@mixin icon-full-styles {
  font-family: "icon-full"; // shortening font declaration
}

%icon-full {
  @include icon-full-styles;
}

%icon-full-before {
  &:before {
    @include icon-full-styles;
  }
}

%icon-full-after {
  &:after {
    @include icon-full-styles;
  }
}

@function icon-full-char($filename) {
  $char: "";

  @if $filename == 360 {
    $char: "\E001";
  }

  @if $filename == Accessories {
    $char: "\E002";
  }

  @if $filename == Airbag {
    $char: "\E003";
  }

  @if $filename == AppStore {
    $char: "\E004";
  }

  @if $filename == ArrowDoubleDown {
    $char: "\E005";
  }

  @if $filename == ArrowDoubleLeft {
    $char: "\E006";
  }

  @if $filename == ArrowDoubleRight {
    $char: "\E007";
  }

  @if $filename == ArrowDoubleUp {
    $char: "\E008";
  }

  @if $filename == ArrowDown {
    $char: "\E009";
  }

  @if $filename == ArrowLeft {
    $char: "\E00A";
  }

  @if $filename == ArrowRight {
    $char: "\E00B";
  }

  @if $filename == ArrowUp {
    $char: "\E00C";
  }

  @if $filename == BodyCoupe {
    $char: "\E00D";
  }

  @if $filename == BodyHatchback {
    $char: "\E00E";
  }

  @if $filename == BodyPickup {
    $char: "\E00F";
  }

  @if $filename == BodySedan {
    $char: "\E010";
  }

  @if $filename == BodySUV {
    $char: "\E011";
  }

  @if $filename == BodyUniversal {
    $char: "\E012";
  }

  @if $filename == BodyVan {
    $char: "\E013";
  }

  @if $filename == Brake {
    $char: "\E014";
  }

  @if $filename == Brochure {
    $char: "\E015";
  }

  @if $filename == BusinessCustomers {
    $char: "\E016";
  }

  @if $filename == Calculate {
    $char: "\E017";
  }

  @if $filename == Calendar {
    $char: "\E018";
  }

  @if $filename == ChassisBack {
    $char: "\E019";
  }

  @if $filename == ChassisFront {
    $char: "\E01A";
  }

  @if $filename == ChassisFull {
    $char: "\E01B";
  }

  @if $filename == Checkmark {
    $char: "\E01C";
  }

  @if $filename == ChildSeat {
    $char: "\E01D";
  }

  @if $filename == Clearance {
    $char: "\E01E";
  }

  @if $filename == Climate {
    $char: "\E01F";
  }

  @if $filename == Clock {
    $char: "\E020";
  }

  @if $filename == Close {
    $char: "\E021";
  }

  @if $filename == Configure {
    $char: "\E022";
  }

  @if $filename == Consumption {
    $char: "\E023";
  }

  @if $filename == Convince {
    $char: "\E024";
  }

  @if $filename == Corporate {
    $char: "\E025";
  }

  @if $filename == CreditCalculator {
    $char: "\E026";
  }

  @if $filename == CruiseControl {
    $char: "\E027";
  }

  @if $filename == Customer {
    $char: "\E028";
  }

  @if $filename == Day {
    $char: "\E029";
  }

  @if $filename == Dealer {
    $char: "\E02A";
  }

  @if $filename == Delete {
    $char: "\E02B";
  }

  @if $filename == Directions {
    $char: "\E02C";
  }

  @if $filename == Door {
    $char: "\E02D";
  }

  @if $filename == Download {
    $char: "\E02E";
  }

  @if $filename == Edit {
    $char: "\E02F";
  }

  @if $filename == Email {
    $char: "\E030";
  }

  @if $filename == Emission {
    $char: "\E031";
  }

  @if $filename == Engine {
    $char: "\E032";
  }

  @if $filename == EngineDiesel {
    $char: "\E033";
  }

  @if $filename == EngineElectric {
    $char: "\E034";
  }

  @if $filename == EngineGas {
    $char: "\E035";
  }

  @if $filename == EngineHybrid {
    $char: "\E036";
  }

  @if $filename == EnginePetrol {
    $char: "\E037";
  }

  @if $filename == Exclamation {
    $char: "\E038";
  }

  @if $filename == Favourite {
    $char: "\E039";
  }

  @if $filename == Fax {
    $char: "\E03A";
  }

  @if $filename == Filter {
    $char: "\E03B";
  }

  @if $filename == Forward {
    $char: "\E03C";
  }

  @if $filename == FrontAssist {
    $char: "\E03D";
  }

  @if $filename == FullscreenEnter {
    $char: "\E03E";
  }

  @if $filename == FullscreenExit {
    $char: "\E03F";
  }

  @if $filename == GetYourVolkswagen {
    $char: "\E040";
  }

  @if $filename == GTI {
    $char: "\E041";
  }

  @if $filename == Heat {
    $char: "\E042";
  }

  @if $filename == HighBeam {
    $char: "\E043";
  }

  @if $filename == Home {
    $char: "\E044";
  }

  @if $filename == Image {
    $char: "\E045";
  }

  @if $filename == ImageGallery {
    $char: "\E046";
  }

  @if $filename == Importer {
    $char: "\E047";
  }

  @if $filename == Info {
    $char: "\E048";
  }

  @if $filename == LinkArrow {
    $char: "\E049";
  }

  @if $filename == LocateMe {
    $char: "\E04A";
  }

  @if $filename == Lock {
    $char: "\E04B";
  }

  @if $filename == LowBeam {
    $char: "\E04C";
  }

  @if $filename == Mail {
    $char: "\E04D";
  }

  @if $filename == Menu {
    $char: "\E04E";
  }

  @if $filename == MessengerSkype {
    $char: "\E04F";
  }

  @if $filename == MessengerTelegram {
    $char: "\E050";
  }

  @if $filename == MessengerViber {
    $char: "\E051";
  }

  @if $filename == MessengerWhatsApp {
    $char: "\E052";
  }

  @if $filename == Mileage {
    $char: "\E053";
  }

  @if $filename == Minus {
    $char: "\E054";
  }

  @if $filename == Models {
    $char: "\E055";
  }

  @if $filename == More {
    $char: "\E056";
  }

  @if $filename == Mount {
    $char: "\E057";
  }

  @if $filename == News {
    $char: "\E058";
  }

  @if $filename == Night {
    $char: "\E059";
  }

  @if $filename == Offer {
    $char: "\E05A";
  }

  @if $filename == Owners {
    $char: "\E05B";
  }

  @if $filename == Pause {
    $char: "\E05C";
  }

  @if $filename == Percent {
    $char: "\E05D";
  }

  @if $filename == Performance {
    $char: "\E05E";
  }

  @if $filename == Phone {
    $char: "\E05F";
  }

  @if $filename == Pin {
    $char: "\E060";
  }

  @if $filename == PinClean {
    $char: "\E061";
  }

  @if $filename == PinPhone {
    $char: "\E062";
  }

  @if $filename == Play {
    $char: "\E063";
  }

  @if $filename == Plus {
    $char: "\E064";
  }

  @if $filename == Print {
    $char: "\E065";
  }

  @if $filename == Purchase {
    $char: "\E066";
  }

  @if $filename == Question {
    $char: "\E067";
  }

  @if $filename == Record {
    $char: "\E068";
  }

  @if $filename == Reload {
    $char: "\E069";
  }

  @if $filename == Responsibility {
    $char: "\E06A";
  }

  @if $filename == Rewind {
    $char: "\E06B";
  }

  @if $filename == Rouble {
    $char: "\E06C";
  }

  @if $filename == RouteByCar {
    $char: "\E06D";
  }

  @if $filename == RouteByFoot {
    $char: "\E06E";
  }

  @if $filename == RoutePublicTransport {
    $char: "\E06F";
  }

  @if $filename == RouteStart {
    $char: "\E070";
  }

  @if $filename == Search {
    $char: "\E071";
  }

  @if $filename == Seat {
    $char: "\E072";
  }

  @if $filename == Service {
    $char: "\E073";
  }

  @if $filename == ServiceCalculator {
    $char: "\E074";
  }

  @if $filename == ServiceUnit {
    $char: "\E075";
  }

  @if $filename == Settings {
    $char: "\E076";
  }

  @if $filename == Share {
    $char: "\E077";
  }

  @if $filename == SkipBack {
    $char: "\E078";
  }

  @if $filename == SkipForward {
    $char: "\E079";
  }

  @if $filename == Snow {
    $char: "\E07A";
  }

  @if $filename == SocialFacebook {
    $char: "\E07B";
  }

  @if $filename == SocialGooglePlus {
    $char: "\E07C";
  }

  @if $filename == SocialLinkedin {
    $char: "\E07D";
  }

  @if $filename == SocialOdnoklassniki {
    $char: "\E07E";
  }

  @if $filename == SocialTwitter {
    $char: "\E07F";
  }

  @if $filename == SocialVkontakte {
    $char: "\E080";
  }

  @if $filename == SoundOff {
    $char: "\E081";
  }

  @if $filename == SoundOn {
    $char: "\E082";
  }

  @if $filename == StartStop {
    $char: "\E083";
  }

  @if $filename == Stop {
    $char: "\E084";
  }

  @if $filename == Support {
    $char: "\E085";
  }

  @if $filename == TestDrive {
    $char: "\E086";
  }

  @if $filename == ThumbnailsLarge {
    $char: "\E087";
  }

  @if $filename == ThumbnailsSmall {
    $char: "\E088";
  }

  @if $filename == Torque {
    $char: "\E089";
  }

  @if $filename == TransmissionAutomatic {
    $char: "\E08A";
  }

  @if $filename == TransmissionManual {
    $char: "\E08B";
  }

  @if $filename == Trunk {
    $char: "\E08C";
  }

  @if $filename == Upload {
    $char: "\E08D";
  }

  @if $filename == UsedCars {
    $char: "\E08E";
  }

  @if $filename == Video {
    $char: "\E08F";
  }

  @if $filename == View {
    $char: "\E090";
  }

  @if $filename == VolkswagenCode {
    $char: "\E091";
  }

  @if $filename == Website {
    $char: "\E092";
  }

  @if $filename == Window {
    $char: "\E093";
  }

  @if $filename == ZoomIn {
    $char: "\E094";
  }

  @if $filename == ZoomOut {
    $char: "\E095";
  }


  @return $char;
}

@mixin icon-full($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-full-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-full-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-full-char($filename);
  }
}