@import "../../../globals/style/core";

.section-separator{
	width: 100%;
	height: 1px;
	background-color: $grey_20;
	margin: 10px 0;
	&.vertical{
		width: 1px;
	  	display: none;
		margin: 0 auto;
		@include media($tablet){
			display: block;
			height: calc(100vh - 70px - 154px);
		}
	}
	&.mg-standard{
		//custom margin
	}
}