@import "../../../globals/style/core";

.base-typo li, .vwd5_list_item {
  margin-bottom: rem(10px);
  padding-left: rem(36px);
  &:before {
    display: inline-block;
    counter-increment: vwd5-list-counter;
    padding-left: (10px);
    width: (36px);
    margin-left: rem(-36px);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// ul's
.vwd5_dot_list {
  margin: rem(20px) 0 rem(30px);
  padding: 0;
  counter-reset: vwd5-list-counter;
  list-style: none;
  ol, li {
    margin-left: rem(-36px);
    //padding-bottom: rem(20px);
  }

  > .vwd5_list_item {
    &:before {
      content: counter(vwd5-list-counter, disc);
    }
  }
}

.base-typo ul {
  margin: rem(20px) 0 rem(30px);
  padding: 0;
  counter-reset: vwd5-list-counter;
  list-style: none;
  ol, li {
    margin-left: rem(-36px);
    //padding-bottom: rem(20px);
  }
  > li {
    &:before {
      content: counter(vwd5-list-counter, disc);
    }
  }
}

// ol's
.vwd5_ordered_list {
  margin: rem(20px) 0 rem(30px);
  padding: 0;
  counter-reset: vwd5-list-counter;
  list-style: none;
  .vwd5_ordered_list, .vwd5_dot_list {
    margin-left: rem(-36px);
    padding-bottom: rem(20px);
  }

  > .vwd5_list_item {
    &:before {
      content: counter(vwd5-list-counter, decimal) ".";
    }
  }
}

.base-typo ol {
  margin: rem(20px) 0 rem(30px);
  padding: 0;
  counter-reset: vwd5-list-counter;
  list-style: none;
  ol, li {
    margin-left: rem(-36px);
    padding-bottom: rem(20px);
  }

  > li {
    &:before {
      content: counter(vwd5-list-counter, decimal) ".";
    }
  }
}

.base-typo ul,
.base-typo ol {
  ul, ol {
    padding-left: span(1 of 12);
    ul, ol {
      padding-left: span(1 of 11);
      ul, ol {
        padding-left: span(1 of 10);
        ul, ol {
          padding-left: span(1 of 9);
        }
      }
    }
  }
}
