include ../../../components/ContentModules/m105_Media_Gallery/index

+m105_Media_Gallery([
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
])


+m105_Media_Gallery([
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
    {
        caption: getLorem()
    },
],
'Заголовок',
getLorem()
)
