include ../../../components/TeaserModules/m207_Small_Image_Teaser/index

+m207_Small_Image_Teaser(false, loremIpsum.slice(0, 25), loremIpsum.slice(0, 125), {
    text: 'Кнопочка!'
}).is-text-light

+m207_Small_Image_Teaser(false, false, false, {
    text: 'Галерея'
}).is-text-light
