@import "../../../globals/style/core";
@import "../../../globals/fonts/icons/base/utility";

.mk615 {

}
.mk615__result-tab {

}
.mk615__result-item {
  @include grid-container;
  margin-bottom: 2rem;
}

.mk615__result-item__key {
  @include responsive-typo($bodycopy-b1);
  @include span(12);
  @include gutters();
  @include media($tablet) {
    @include span(2);
    @include gutters();
  }
}

.mk615__result-item__value {
  @include responsive-typo($bodycopy-b1-bold);
  @include span(12);
  @include gutters();
  @include media($tablet) {
    @include span(10);
    @include gutters();
  }
}

.mk615__result-item__text {
  display: inline-block;
}

.mk615__result-item__icon {
  display: inline-block;
  visibility: hidden;
  cursor: pointer;
  color: $primary;
  @include icon-base(edit);
  &::before {
    position: relative;
    top: 2px;
  }
}

.mk615__result-item:hover .mk615__result-item__text:not(:empty) ~ .mk615__result-item__icon {
  visibility: visible;
}

// Childs
.mk615 {
  /*.mk572 {
    background-color: $white;
  }*/
  .textarea__title,
  .select_wrapper__title,
  .input__title,
  .radiogroup__title{
    @include responsive-typo($bodycopy-b1-bold);
    margin-bottom: 1rem;
  }
}
