$side-padding : 2rem;

.dealer-info-card{
  @include clearfix();
  position: relative;
  padding-bottom: $side-padding;
  background-color: #fff;
  margin-bottom: 1rem;
  z-index: 1;
  .side-padding{
    padding-left: $side-padding;
    padding-right: $side-padding;
  }
  @include media ($desktop){
   position: sticky;
   top: 3rem;
  }
  .sticky-ie{
    @include media ($desktop){
      position: absolute;
    }
  }
}

.dealer-info-card__map{
  position: relative;
  //padding-top: 54%;
  margin-bottom: 1.7rem;
  height: 150px

}

.dealer-info-card__title{
@extend .h5;
margin-bottom: 0.6rem;
}
.dealer-info-card__info-block{
  margin-bottom: 1rem;
}
.dealer-info-card__info-block-title{
  @extend %b3;
  color: $grey_60;
}
.dealer-info-card__info-block-content{
  @extend %b3;
  color: $grey_100 !important;
  a{
    @include link-color($grey_100,$grey_100);
  }
}
.dealer-info-card__btns-block{
  margin-top: 1rem;
  @include media($fablet){
    display: flex;
  }
  @include media($desktop){
    display: block;
  }
  .btn{
    max-width: none;
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
    }
    @include media($fablet){
      width: 31%;
      margin:0 3% 0 0;
      &:last-child{
        margin: 0;
      }
    }
    @include media($desktop){
      width: 100%;
      margin: 0 0 1rem 0;
      &:last-child{
        margin: 0;
      }
    }
  }
}

.dealer-info-card__select-dialogue-block{
  position: relative;
  margin-bottom: 1rem;
}
.dealer-info-card__select-dialogue-toggler{
  cursor: pointer;
  span{
    @extend %b4;
    color: $primary;
    border-bottom: 1px dotted $primary;
    pointer-events: none;
  }
}
.dealer-info-card__select-dialogue{
  position: absolute;
  left: 0;
  top: 165%;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px $grey;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity $duration;
  min-width: 280px;
  @include media($fablet){
    right: 3rem;
    left: auto;
  }
  @include media($desktop){
    right: auto;
    left: 2rem;
  }
 .dealer-info-card__select-dialogue-block.is_visible & {
  opacity: 1;
  pointer-events: all;
  }
  .dealer-info-card__select-dialogue-tail{
    position: absolute;
    border: inherit;
    border-top: none;
    border-left: none;
    background: #ffffff;
    width: 25px;
    height: 25px;
    left: 15%;
    top: -8px;
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px $grey;
    transition: opacity $duration;
    @include media($fablet){
      left: 65%;
    }
    @include media($desktop){
      left: 15%;
    }
  }
  .dealer-info-card__select-dialogue-content{
      position: relative;
      height: 100%;
      z-index: 1;
      background: #ffffff;
      box-sizing: border-box;
      padding: 1.5rem;
  }
}
.dealer-info-card__select-dialogue-close-btn{
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  z-index: 1;
  &:before{
    font-size: 1.2rem;
    color: $grey_40;
  }
}
.dealer-info-card__select-dialogue-content-title{
@extend %b3;
font-weight: bold;
color: $grey_100;
margin-bottom: 0.5rem;
}
.dealer-info-card__select-dialogue-content-links{
  list-style: none;
  li{
    margin-bottom: 0.5rem;
    @include link-color;
    cursor: pointer;
  }
}

.dealer-info-card__info-block-content-break{
  @include media($fablet){
    display:none;
  }
  @include media($desktop){
    display:block;
  }
}

.dealer-info-card__go-back-btn{
 font-size: 16px;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}