include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../BasicModules/Headline/m023_Headline_H4/index
include ../../BasicModules/Media/m017_Media_378x143/index
include ../../BasicModules/Media/m011_Media_1x1/index
include ../../UI_Elements/icon/index
include ../../UI_Elements/link/index

mixin mk613_additional_item(icon, label, value)
    .mk613_additional
        +icon('features', icon).mk613_additional__icon

        .mk613_additional__label
            != label
        +m022_Headline_H3(false).mk613_additional__value
            != value


mixin mk613_ModelPreview(current, credit, imagery, additional)
    - additional = additional || [];
    - imagery = imagery || [{},{},{},{}];
    - current = current || '';
    - credit = credit || '';
    - unique_name = 'name_' + unique_id();
    // Component mk613_ModelPreview
    .mk613
        .mk613__container
            .mk613__price
                .mk613_price_main
                    .mk613_price_main__label
                        | Цена от:

                    if (typeof current === string)
                        +m021_Headline_H2(false).mk613_price_main__price
                            != current
                            +icon('currency', 'rouble')
                    else
                        +m021_Headline_H2(false).mk613_price_main__price
                            != current.new
                            +icon('currency', 'rouble')
                        +m023_Headline_H4.mk613_price_main__old-price
                            != current.old
                            +icon('currency', 'rouble')
                    .mk613_price_main__link
                        +textlink('#', 'download') Скачать прайс-лист
                if credit
                    .mk613_price_credit
                        .mk613_price_credit__label
                            | В кредит от:
                        +m023_Headline_H4(false).mk613_price_credit__price
                            != credit
                            +icon('currency', 'rouble')
                        .mk613_price_credit__link
                            +textlink('#', 'standardlink') Рассчитать кредит



            .mk613__model
                .mk613__image
                    each imageData in imagery
                        +m017_Media_378x143(imageData.image)
                .mk613__colors
                    .mk613__colors__inner
                        each imageData, index in imagery
                            .mk613__colors__item
                                label.mk613-color
                                    +m011_Media_1x1(imageData.colorImage).mk613-color__image
                                    input(type="radio", aria-hidden=true, name=unique_name, value=index).mk613-color__check
                                    +icon('nextstep', 'checkmark').mk613-color__mark

                    .mk613__colors__controls

                .mk613__color-label
                    each imageData in imagery
                        span.mk613__color-label__text
                            !=imageData.colorLabel || getLorem(15)
            .mk613__additional
                .mk613__additional-inner
                    each additional_item in additional
                        +mk613_additional_item(additional_item.icon, additional_item.label, additional_item.value)
    // END - mk613_ModelPreview
