/*splitfilename=fontface.scss*/
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
  url('<%= fontPath %><%= fontName %>.ttf') format('truetype')
}
/*split*/
/*splitfilename=utility.scss*/
@mixin <%= cssClass%>-styles {
  font-family: "<%= fontName %>"; // shortening font declaration
}

%<%= cssClass%> {
  @include <%= cssClass%>-styles;
}

%<%= cssClass%>-before {
  &:before {
    @include <%= cssClass%>-styles;
  }
}

%<%= cssClass%>-after {
  &:after {
    @include <%= cssClass%>-styles;
  }
}

@function <%= cssClass%>-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> {
    $char: "\<%= glyph.codePoint %>";
  }
<% }); %>

  @return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %<%= cssClass%>-#{$insert};
  } @else {
    &:#{$insert} {
      @include <%= cssClass %>-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: <%= cssClass%>-char($filename);
  }
}

/*split*/
/*splitfilename=stylesheet.scss*/
@import "fontface";
@import "utility";

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %> {
  @include <%= cssClass%>(<%= glyph.fileName %>);
}
<% }); %>
