include ../../BasicModules/Media/m017_Media_378x143/index
include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../ContentModules/m108_Accordion/index
include ../../UI_Elements/icon/index
include ../../UI_Elements/link/index
include ../../UI_Elements/lists/index
include ../../UI_Elements/button/index

mixin mk268_Trim_Feature_More()
    -
        more_list = [
        {
        heading: getLorem(25),
        list: getLoremList(5),
        },
        {
        heading: getLorem(25),
        list: getLoremList(5),
        },
        {
        heading: getLorem(25),
        list: getLoremList(5),
        }
        ]


    .mk268_more
        +m108_Accordion_Wrapper().mk268_more__list
            each list  in more_list
                +m108_Accordion_Item().mk268_more_item
                    +m108_Accordion_ItemHead_Custom().mk268_more_item__head
                        .m108_Accordion_item__title.mk268_more_item__title
                            !=list.heading
                        .m108_Accordion_item__mark.mk268_more_item__mark
                            +icon('misc', 'plus').mk268_more_item__state
                    +m108_Accordion_ItemInner().mk268_more_item__inner
                        each item, index in list.list
                            .mk268_more_feature
                                .mk268_more_feature__inner
                                    .mk268_more_feature__value
                                        !=item
                                    .mk268_more_feature__mark
                                        span(class=(index%2 ? 'is-included' : '')).mk268_more_feature__state



mixin mk268_Trim_Feature()
    +m108_Accordion_Item().mk268_feature
        +m108_Accordion_ItemHead()
            .mk268_feature__title
                .mk268_feature__name
                    !=getLorem(35)
                .mk268_feature__additional
                    .mk268_feature__price
                        | от 2 499 000 руб.
                    +textlink(false, 'standardlink') 15 в наличии
                .mk268_feature__cta
                    +btn('a', 'Заказать').btn_cta.mk268_feature__ctabutton
        +m108_Accordion_ItemInner()
            +mk268_Trim_Feature_More()



mixin mk268_Trim(trim)
    article.mk268_trim
        .mk268_trim__main
            .mk268_trim__media
                +m017_Media_378x143().mk268_trim__image
            .mk268_trim__info
                +m021_Headline_H2(false).mk268_trim__headline
                    !=getLorem(25)
                +textlink(false, 'standardlink') Конфигуратор

                +dot-list().mk268_trim__infolist
                    each item in (trim.list || getLoremList(3))
                        +list-item()
                            !=item
        .mk268_trim__features
            +m108_Accordion_Wrapper().mk268_trim__features-list
                each feature in (trim.features || [{}, {}, {}])
                    +mk268_Trim_Feature(feature)



mixin mk268_Trims_List(trims)
    // Component mk268_Trims_List
    section.mk268
        .mk268__container
            .mk268__inner
                if trims
                    each trim in trims
                        +mk268_Trim(trim)



    // END - mk268_Trims_List
