@import "../../../globals/style/core";
@import "../../../globals/fonts/icons/misc/utility";


.mk268 {
  overflow: hidden;
  @include responsive-typo($bodycopy-b1);
  &__container {

  }
}


.mk268_trim {
  //@include container();
  background-color: $zeplin-pale-grey;
  &__main,
  &__features {
    @extend %head-module-spacing;
    @include kdx-grid-container();
    @include container();
  }
  &__features {
    background-color: $white;
  }
  &__media {
    margin-bottom: rem(20px);
    @include media($tablet) {
      @include span(6);
      margin-bottom: 0;
    }
    @extend %gutters;
  }
  &__info {
    @include media($tablet) {
      @include span(6)
    }
    @extend %gutters;
  }
  &__headline {
    margin-bottom: rem(5px);
    @include media($tablet) {
      margin-bottom: rem(10px);
    }
  }
  &__features-list {
    @include span(12);
    @extend %gutters;
  }

  &__infolist {
    display: none;
    @include media($tablet) {
      display: block;
    }
  }
}


.mk268_feature {
  &__title {
    @include kdx-grid-container();
  }
  @include nested(11) {
    &__name {
      @include span(11 of 11);
      margin-bottom: rem(10px);
      @include media($tablet) {
        @include span(4 of 11);
        margin-bottom: 0;
      }
      @extend %gutters;
    }
    &__additional {
      @include span(11 of 11);
      margin-bottom: rem(20px);
      @include media($tablet) {
        @include span(3 of 11);
        @include push(1 of 11);
        margin-bottom: 0;
      }
      @extend %gutters;
    }
    &__cta {
      @include clearfix();
      @include span(12 of 11);
      margin-left: span(-1 of 11);
      @include media($fablet) {
        margin-left: 0;
      }
      @include media($tablet) {
        @include span(3 of 11);
      }
      @extend %gutters;
    }
  }

  &__price {
    margin-bottom: rem(5px);
    font-weight: bold;
    @include media($tablet) {
      margin-bottom: 0;
    }
  }
  &__ctabutton {
    @include media($tablet) {
      float: right;
    }
  }
}

.mk268_more {
  @include span(12);
  @extend %gutters;
}

.mk268_more_item {
  border: none;
  &:last-child {
    border: none;
  }

  &__head {
    background-color: $zeplin-silver;
    color: $zeplin-dark-grey;
    padding-left: span(1);
  }

  &__title {
    @include span(8 of 11);
    @include media($tablet) {
      @include span(9 of 11);
    }
    font-weight: bold;
  }

  &__mark {
    @include span(3 of 11);
    @include media($tablet) {
      @include span(2 of 11);
    }
  }

  &__state {
    width: rem(20px);
    height: rem(20px);
    margin-top: rem(-10px);
    margin-bottom: rem(-10px);
    border-radius: 50%;
    background-color: $zeplin-cerulean;
    color: $white;
    text-align: center;
    &:before {
      line-height: rem(20px);
      font-size: 1em;
      .is-opened > .mk268_more_item__head & {
        content: icon-misc-char(minus);
      }
    }
    cursor: pointer;

    @include media($tablet) {
      width: rem(25px);
      height: rem(25px);
      margin-top: rem(-12.5px);
      margin-bottom: rem(-12.5px);
      &:before {
        line-height: rem(25px);
      }
    }


  }

  &__inner {
    > .m108_Accordion_item__inner {
      padding: {
        top: 0;
        bottom: 0;
      };
    }

    .mk268_more_feature:nth-child(odd) {
      background-color: $zeplin-pale-grey;
    }
  }
}

.mk268_more_feature {
  padding: {
    top: rem(20px);
    bottom: rem(20px);
  };
  color: $zeplin-dark-grey;

  &__inner {
    font-size: 0;
    padding-left: span(1);
    @include vertical-align-pseudo();
  }

  &__value,
  &__mark {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }

  &__value {
    @include responsive-typo($bodycopy-b1);
    @extend %gutters;
    width: span(8 of 11);

    @include media($tablet) {
      width: span(9 of 11);
    }
  }
  &__mark {
    @extend %gutters;
    width: span(3 of 11);
    text-align: center;

    @include media($tablet) {
      width: span(2 of 11);
    }
  }

  &__state {
    display: inline-block;
    height: rem(12px);
    width: rem(12px);
    border: 2px solid $zeplin-charcoal-grey;
    border-radius: rem(7px);

    &.is-included {
      background-color: $zeplin-charcoal-grey;
    }
  }
}


%gutters {
  @include gutters-default();
}
