include ../../UI_Elements/icon/index
include ../../UI_Elements/select/index
include ../../UI_Elements/checkbox/index
include ../../BasicModules/Headline/m024_Headline_H5/index

mixin mk271_StepIcons_item(item)
    - item = item || {}
    label.mk271__item  

        input(type="radio", name= item.name, value= item.value, required =  item.required ? 'true' : 'false', class=  item.required ? 'mk271__item-input required' : 'mk271__item-input')
        .mk271__image-wrapper
            +icon(item.icon_group, item.icon_name)
        +m024_Headline_H5()(class="mk271__headline")
            !=item.headline


mixin mk271_StepIcons (items)
    // Component mk271_StepList
    .mk271
        form
            .mk271__container
                each item in items
                    +mk271_StepIcons_item(item)
            block

mixin mk271__tabs
    .mk271__tabs
        block
            
mixin mk271__tab
    .mk271__tab.tab
        block
