@import "../../../globals/style/core";

.mk271 {
  @include container();
  //margin-bottom: rem(20px);

  &__container {
    flex-wrap: wrap;

    @include media($tablet) {
      @include clearfix();
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
  }

  &__headline {
    color: $grey_60;;
    text-align: left;
    @include media($tablet) {
      text-align: center;
    }
    .mk271__item:hover &,
    .mk271__item_active &{
      color: $primary;
    }
  }

  &__image-wrapper {
    margin: 0 rem(15px) 0 0;
    text-align: center;
    @include media($tablet) {
       margin: 0 0 rem(10px) 0;
    }
    .icon {
      font-size: 45px;
      @include media($tablet) {
        font-size: 100px;
      }
    }
  }

  &__item-input {
    display: none;
  }

  &__tabs {
    padding-top: rem(20px);
  }

  &__tab {
    display: none;

    &_active {
      display: block;
    }
  }

  .tab {

    &__descr {
      @include responsive-typo($bodycopy-b2);
      text-align: center;
      margin-bottom: rem(20px);
    }

    &__title {
      @include responsive-typo($bodycopy-b1-bold);
      text-align: center;
      margin-bottom: rem(5px);
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include media($tablet) {
        flex-wrap: nowrap;
      }
    }

    &__form-unit {
      margin-right: rem(14px);

      &_select {
        width: 100%;
        @include media($tablet) {
          width: 255px;
        }
      }
    }
  }
}


.mk271__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  padding: rem(20px);
  margin: 0 0 rem(20px);
  background: $grey;

  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;

  color: $grey_60;
  cursor: pointer;

  @include media($tablet) {
    display: block;
    width: 33%;
    margin: 0 rem(15px) 0 0;
  }

  &:hover, &_active {
    color: $primary;

    border-color: $primary;
  }

  &:last-child {
    margin-right: 0;
  }

  @include media($tablet) {

  }
  @include media($laptop) {

  }
  @include media($desktop) {

  }
  @include media($widescreen) {

  }

  @include media($tablet) {
    margin-bottom: 0;
    display: block;
  }
}

/*different width icons align fix*/
.mk271{
  .mk271__image-wrapper{
    .icon-base-used-cars{
      position: relative;
      right: -5px;
      @include media($tablet) {
        position: static;
      }
    }
  }
}
