@import "../../../globals/style/core";

.m532 {
  display: none;

  @include media($tablet) {
    position: sticky;
    top: 0;
    z-index: z-index(showroomNav);
    width: 100%;
    display: block;
  }
}

.m532_upper {
  @include container();
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  background-color: $grey_40;
  display: table;
  table-layout:fixed;
  width: 100%;
  @include media(media-inverse($tablet)) {
    display: none;
  }

  &__container {
    display: table-row;
  }

  &__back {
    display: table-cell;
    vertical-align: top;
    width: rem(25px);
    @include media($laptop) {
      width: rem(35px);
    }
  }

  &__backlink {
    color: $zeplin-dark-grey;
    font-size: rem(13px);
    @include media($laptop) {
      font-size: rem(17px);
    }
  }

  &__info {
    display: table-cell;
    vertical-align: top;
  }

  &__qab {
    display: table-cell;
    vertical-align: top;
  }

  &__cta {
    display: table-cell;
    vertical-align: top;

    > .btn {
      margin: 0 0 0 32px;
    }
  }

  &__cta {
    overflow: hidden;
    width: 0;
    transition: width $animation-duration $trans_basis;
    @include media($laptop) {
      &.is-opened {
        width: 23rem;
      }
    }
  }
}

.m532_price {
  &__prefix {
    @include responsive-typo(list((media: default, font-size: 12px, line-height: 16px, letter-spacing: 0)));
  }
  &__value {
    @include responsive-typo($bodycopy-b1-bold);
    //todo: add rouble
  }
}

.m532_sub {
  @include container();
  padding-top: rem(6px);
  padding-bottom: rem(7px);
  background-color: $grey_60;

  &__container {
    @include ul_simple();
  }

  &__link {
    margin-right: rem(30px);
    color: $grey_100;
    @include responsive-typo($bodycopy-b1-bold);

    @include media($tablet) {
      line-height: rem(26px);
    }

    &.is-active {
      color: $white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
