include ../../BasicModules/Headline/m023_Headline_H4/index
include ../../UI_Elements/icon/index
include ../../UI_Elements/button/index
include ../../UI_Elements/link/index
include ../m503_QuickAccessBar/index

mixin m532_Showroom_Navigation(name, price, links, back)
    -back = back || false;
    // Component m532_Showroom_Navigation
    article.m532
        .m532_upper
            .m532_upper__container
                if back
                    +m023_Headline_H4(false).m532_upper__back
                        +textlink(back, 'left', 'arrow').m532_upper__backlink
                .m532_upper__info
                    +m023_Headline_H4(false).m532_upper__name
                        !=name
                    .m532_price.m532_upper__price
                        span.m532_price__prefix
                            !='Цена&nbsp;от&nbsp;'
                        span.m532_price__value
                            !=price
                            +icon('currency', 'rouble')


                .m532_upper__qab
                    +m503_quick_access_bar([
                        ['#', 'Тест-драйв', 'icon-quickaccess-testdrive', ''],
                        ['#', 'В наличии', 'icon-quickaccess-business-customers', ''],
                        ['#', 'Конфигуратор', 'icon-quickaccess-get-your-volkswagen-2', '']
                    ])
                .m532_upper__cta.js_showroom_nav_cta
        if links
            .m532_sub
                ul.m532_sub__container
                    each name in links
                        a.m532_sub__link(href='#')
                            !=name

    // END - m532_Showroom_Navigation
