.scroll-to-top-btn{
  position: fixed;
  height: 40px;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: $primary;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all $duration;
    @include media($fablet){
      position: absolute;
      right: 8px;
      top: 0;
      left: auto;
      width: 42px;
      height: 42px;

    }
    &:before{
      content: '\E920';
      font-family: 'vw_d5_icons' !important;
      display: block;
      position: absolute;
      border-top: 0;
      border-left: 0;
      top: 50%;
      left: 50%;
      color: #fff;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  &.is_visible{
    opacity: 1;
    pointer-events: auto;
  }
}