.container-fluid.page-section
		.page-section__content
			.gridcontainer
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						-
							var items = [{ 
								"value": 'пн',
								'title': 'Понедельник'
							},
							{
								'value': 'вт',
								'title': 'Вторник'
							},
							{
								'value': 'ср',
								'title': 'Среда'
							},
							{
								'value': 'Чт',
								'title': 'Четверг'
							},
							{
								'value': 'Пт',
								'title': 'Пятница'
							},
							{
								'value': 'Сб',
								'title': 'Суббота'
							}]

						+checkbox_drop(items)
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
if data.filterStatesPage
	.container-fluid.page-section
		.page-section__content
			.gridcontainer
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
				.grid_12.grid_xxs_12.grid_sm_3
					.filter_element.filter_element--preestablished
						.filter_element--preestablished__item.drive Передний привод
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
	.container-fluid.page-section
		.page-section__content
			.gridcontainer
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
				.grid_12.grid_xxs_12.grid_sm_6
					.filter_element.filter_element--preestablished
						.filter_element--preestablished__item.transmission Ручная КПП
						.filter_element--preestablished__item.drive Передний привод
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
	.container-fluid.page-section
		.page-section__content
			.gridcontainer
				.grid_12.grid_xxs_12.grid_sm_9
					.filter_element.filter_element--preestablished
						.filter_element--preestablished__item.engine Бензиновый двигатель
						.filter_element--preestablished__item.transmission Ручная КПП	
						.filter_element--preestablished__item.drive Передний привод	
				.grid_12.grid_xxs_6.grid_sm_3
					.filter_element
						+checkbox_drop(items)
	.container-fluid.page-section
		.page-section__content
			.gridcontainer
				.grid_12.grid_xxs_12.grid_sm_9
					.filter_element.filter_element--preestablished
						.filter_element--preestablished__item.engine Бензиновый двигатель
						.filter_element--preestablished__item.transmission Ручная КПП
						.filter_element--preestablished__item.drive Передний привод
						.filter_element--preestablished__item.year 2017 год