.container-fluid.page-section
	.page-section__content.js_page-section__content
		.filter-item
			.gridcontainer
				.grid_12.grid_xxs_1
					.filter-item__title
						| Цвета		
				.grid_12.grid_xxs_11
					.filter-item__content
						ul.color-picker
							each i in [1,2,3,4,5,6,7,8,9,10]
								li
									label.color-picker__color-item.has_tooltip
										input(type="checkbox")
										.color-picker__color-filled.hasicon.has_tooltip__icon
											.color-picker__color-filled-inner
												.color_primary(style="background-color:#eeedeb")
												.color_secondary(style="background-color:#001")
												img.color-picker__color-gradient-mask(src= 's')
										.has_tooltip__popup
											.has_tooltip__arrow
											| очень классный цвет
		.filter-item
			.gridcontainer
				.grid_12.grid_xxs_1
					.filter-item__title
						| Цена, руб.	
				.grid_12.grid_xxs_11
					.filter-item__content
						.filter-item__range-container
							#range-picker.no_pips
						.filter-item__range-container--mobile
							+input('','От 750 000','')
							span —
							+input('','До 3 600 000','')
