.container-fluid.page-section
	.page-section__content.js_page-section__content
		.gridcontainer
			.grid_12.txt_center
				-
					var items = [
					{'text': 'Все',
					'radioName':'year',
					'radioValue':'all'},

					{'text': '2015',
					'radioName':'year',
					'radioValue':'2015',
					'isActive': true},

					{'text': '2016',
					'radioName':'year',
					'radioValue':'2016'},

					{'text': '2017',
					'radioName':'year',
					'radioValue':'2017'},
					]
				+running-underline-switcher(items)