
.timeline__block {
  display: flex;
  align-items: stretch;
}

.timeline__block_basic {
}

.timeline__block_full-width {
}

.timeline__block_no-inner-pd {

}

.timeline__block-left-part {
  display: none;
  @include media($tablet) {
    width: span(1 of 9);
    padding-right: gutter(9);
    display: block;
  }
 /* .timeline__block_faux-left & {
    display: none;
    @include media($desktop) {
      display: block;
    }
  }*/
  .no-left-col-mobile & {
    display: none;
    @include media($desktop) {
      display: block;
    }
  }
}

.timeline__block-left-part-inner {
  height: 100%;
  position: relative;
  top: 0.5rem;
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $grey_20;
    position: absolute;
    left: 50%;
  }
  .timeline__block_starter &:before{
    display: none;
  }
  .no-left-col-mobile & {
    display: none;
  }

}

.timeline__block-right-part {
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
  @include media($laptop) {
    width: span(8 of 9);
    max-width: 525px;
  }
  @include media($laptop) {
    padding-bottom: 4rem;
  }
  .timeline__block_full-width & {
    max-width: none;
  }
  .no-left-col-mobile & {
    @include media($tablet) {
      width: span(9 of 9);
    }
    @include media($desktop) {
      width: span(8 of 9);
    }
  }
  /*.timeline__block_full-width & {
    max-width: none;
    @include media($tablet) {
      width: span(8 of 9);
    }
  }
  .timeline__block_faux-left.timeline__block_full-width & {
    @include media($tablet) {
      width: span(9 of 9);
    }
    @include media($desktop) {
      width: span(8 of 9);
    }
  }
  .timeline__block_no-left-col & {
    width: span(9 of 9);
  }*/


  .timeline__block_no-inner-pd & {
    padding-bottom: 0;
    top: 0;
  }

  .timeline__block:last-child & {
    padding-bottom: 0;
  }
}

.timeline__block-status-indicator {
  position: relative;
  .timeline__block-status-indicator-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: all $duration;
    margin: 0 auto;
    position: relative;
    background-color: $grey_20;
    .timeline__block-status-indicator_active & {
      transform: scale(3);
      background-color: $primary;
    }
  }
  .timeline__block-status-indicator-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0.6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all $duration;
    .timeline__block-status-indicator_active & {
      opacity: 1;
    }
    &:before {
      content: '';
      font-family: 'icon-base';
      font-size: 27px;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .timeline__block_visit & {
      &:before {
        content: "\E062";
      }
    }
    .timeline__block_testdrive & {
      &:before {
        content: "\E086";
      }
    }
    .timeline__block_credit & {
      &:before {
        content: "\E017";
      }
    }
    .timeline__block_call & {
      &:before {
        content: "\E05F";
      }
    }
    .timeline__block_message & {
      &:before {
        content: "\E04D";
      }
    }
    .timeline__block_manager & {
      &:before {
        content: "\E02A";
      }
    }
    .timeline__block_offer & {
      &:before {
        content: "\E05A";
      }
    }
    .timeline__block_tradein & {
      &:before {
        content: "\E08E";
      }
    }
  }

}

.timeline__block-head {
  margin-bottom: 1rem;
}

.timeline__block-time-indicator {
  @extend %b2;
  color: $grey_60;
  display: inline-block;
  margin-right: 1rem;
}

.timeline__block-title {
  @extend %b2;
  font-weight: bold;
  display: inline;
}

.timeline__block:last-child .timeline__block-left-part-inner:before {
  display: none;
}

.timeline__block-no-card-content {
  margin-bottom: 1.5rem;
}

.timeline__requestOffer-wrap,
.offerCard_slide {
  & + & {
    margin-top: 0.2rem;
  }
}