include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index

include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('','')(class='timeline__block--message timeline__block-status-indicator--active', noHead)
    +chatBlock