include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index
include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('01.01.17 12:00','')(class='timeline__block--credit timeline__block-status-indicator--active')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Вы интересовались кредитом')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Ежемес. платеж','29 000 руб.')
                +eventCardBasicInfoItem('Срок','24 месяца')
                +eventCardBasicInfoItem('Автомобиль','Passat Comfortline')
        +eventCardBelowTheFold
            +eventCardSpecsTable(creditSpecs)
                +textlink('#','share', 'base')(class="eventCard__icon-link") Отправить другому дилеру
            +eventCardBorderSeparator
            +eventCardHistory
                +eventCardHistoryItem('20.10.17 14:00','Спасибо! Ваша заявка на кредит будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--credit timeline__block')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Спасибо! Ваша заявка на кредит будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!