include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index

include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

+timelineBlock('','')(class='timeline__block--full-width timeline__block--faux-left timeline__block--no-inner-pd', noHead, noLeftColContent)
    .headline-extended-flex.mb20
        .h3.mb0 События
        +uac_toggle_switch('2','switch2','Заморозить сделку','')