include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index
include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('01.01.17 12:00','')(class='timeline__block_offer timeline__block_full-width js_timeline-block-with-offers timeline__block-status-indicator_active')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Вы получили три новых предложения
    .js_offer-cards-slider
        +eventCard(class='eventCard_is_active')
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')

+timelineBlock('01.01.17 12:00','')(class='timeline__block_offer  timeline__block_full-width js_timeline-block-with-offers')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Вы получили три новых предложения
    .js_offer-cards-slider
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
+timelineBlock('01.01.17 12:00','')(class='timeline__block_offer  timeline__block_full-width js_timeline-block-with-offers')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Вы получили три новых предложения
    .js_offer-cards-slider
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCard
            +eventCardAboveTheFold()(nopadding)
                +offerCard(offerItems[0])
            +eventCardBelowTheFold()(padded)
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')