include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index
include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive timeline__block-status-indicator--active')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Тест-драйв пройден')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                +eventCardFlexContainer
                    +simpleInlineText
                        | Спасибо за вашу оценку!
                    +giveRatingBlock(3)(notFunctional)
                +eventCardFlexContainer()(column)
                    +eventCardSimpleText
                        b Что-то не устроило? Пожалуйста, оставьте комментарий.
                    +input('','Введите текст сообщения')(type="textarea")
                    +btn('div','Отправить')(class='cta_btn')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Тест-драйв пройден')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                form
                    +eventCardFlexContainer
                        +simpleInlineText Пожалуйста, оставьте вашу оценку!
                        +giveRatingBlock(0)
                    +eventCardFlexContainer
                        +btn('input','Завершить')(class='disabled', type='submit')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('20.10.17 14:00','Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв! Приглашаем вас пройти тест-драйв!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашение на тест-драйв')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--negative.is_active.hasicon.icon-base-close
                    +simpleInlineText Вы отказались от тест-драйва
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('24.09.17 12:00','Спасибо! Ваша заявка на тест-драйв будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас пройти тест-драйв!')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('24.09.17 12:00','Спасибо! Ваша заявка на тест-драйв будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас пройти тест-драйв!')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--positive.is_active.hasicon.icon-base-checkmark
                    +simpleInlineText
                        | Ждем вас в назначеное время
                        a.eventCard__functional-linklike-btn(href="") Отмена
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас пройти тест-драйв!')
                +eventCardHistoryItem('24.09.17 12:00','Спасибо! Ваша заявка на тест-драйв будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас пройти тест-драйв!')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
                +eventCardBasicInfoItem('Автомобиль','Tiguan R-Line Executive')
            +eventCardAdditionalInfo
                +eventCardFlexContainer
                    +btn('div','Принять')(class='btn_cta')
                    +btn('div','Отклонить')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Спасибо! Ваша заявка на тест-драйв будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')
                +textlink('#','share', 'base')(class="eventCard__icon-link") Отправить другому дилеру

+timelineBlock('01.01.17 12:00','')(class='timeline__block--testdrive')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Спасибо! Ваша заявка на тест-драйв будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!