include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index
include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('01.01.17 12:00','')(class='timeline__block timeline__block--tradein timeline__block-status-indicator--active')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Тест-драйв пройден')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Выкуп','400 000 руб')
                +eventCardBasicInfoItem('Скидка на покупку','30 000 руб')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--positive.is_active.hasicon.icon-base-checkmark
                    +simpleInlineText
                        | Вы приняли предложение
                        a.eventCard__functional-linklike-btn(href="") Отмена
        +eventCardBelowTheFold
            +eventCardSpecsTable(Specs)
            +eventCardBorderSeparator
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Наша предварительная оценка автомобиля')
                +eventCardHistoryItem('24.09.17 12:00','Спасибо! Ваша заявка на трейдин будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block timeline__block--tradein')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Наша предварительная оценка автомобиля')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Выкуп','400 000 руб.')
                +eventCardBasicInfoItem('Скидка','30 000 руб.')
            +eventCardAdditionalInfo
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Меня не устраивает цена','2','3')(class='required')
                        +radiobtn('В данный момент меня это не интересует','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Наша предварительная оценка автомобиля')
                +eventCardHistoryItem('24.09.17 12:00','Спасибо! Ваша заявка на трейдин будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--tradein')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас на инстр. оценку вашего автомобиля')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
            +eventCardAdditionalInfo
                +eventCardFlexContainer
                    +btn('div','Принять')(class='btn_cta')
                    +btn('div','Отклонить')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Спасибо! Ваша заявка на оценку автомобиля будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--tradein')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Наша предварительная оценка автомобиля')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Выкуп','400 000 руб.')
                +eventCardBasicInfoItem('Скидка','30 000 руб.')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--positive.is_active.hasicon.icon-base-checkmark
                    +simpleInlineText
                        | Вы приняли предложение
                        a.eventCard__functional-linklike-btn(href="") Отмена
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Мы бы хотели связаться с вами по телефону')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--tradein')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Наша предварительная оценка автомобиля')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Выкуп','400 000 руб.')
                +eventCardBasicInfoItem('Скидка','30 000 руб.')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--negative.is_active.hasicon.icon-base-checkmark
                    +simpleInlineText
                        | Вы отказались от приглашения
                        a.eventCard__functional-linklike-btn(href="") Отмена
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Мы бы хотели связаться с вами по телефону')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--tradein')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Наша предварительная оценка автомобиля')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Выкуп','400 000 руб.')
                +eventCardBasicInfoItem('Скидка','30 000 руб.')
            +eventCardAdditionalInfo
                +eventCardFlexContainer
                    +btn('div','Принять')(class='btn_cta')
                    +btn('div','Отклонить')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Спасибо! Ваша заявка на оценку автомобиля будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--tradein timeline__block')
    +timelineBlockNoCard
        +timelineBlockContentSimpleText
            | Спасибо! Ваша заявка на оценку автомобиля будет обработана в самое ближайшее время. Наши специалисты свяжутся с вами!