include ../../components/UacComponents/tabs/index

include ../../components/UacComponents/section-separator/index
include ../../components/UacComponents/goBackLink/index
include ../../components/UacComponents/uacToggleSwitch/index
include ../../components/UacComponents/dealerInfoCard/index
include ../../components/UacComponents/tagFilter/index
include ../../components/UacComponents/timeline/timelineBlock/index
include ../../components/UacComponents/timeline/eventCard/index
include ../../components/UacComponents/timeline/eventCardHistory/index
include ../../components/UacComponents/timeline/giveRatingBlock/index
include ../../components/UacComponents/timeline/eventCardSpecsTable/index
include ../../components/UacComponents/timeline/chatBlock/index
include ../../components/UacComponents/offerCard/index

include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/link/index
include ../../components/UI_Elements/button/index

include ./head.pug
+timelineBlock('01.01.17 12:00','')(class='timeline__block--visit timeline__block-status-indicator--active')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас посетитить наш дилерский центр')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--negative.is_active.hasicon.icon-base-close
                    +simpleInlineText Вы отказались от приглашения
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас посетитить наш дилерский центр')


+timelineBlock('01.01.17 12:00','')(class='timeline__block--visit')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас посетитить наш дилерский центр')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
            +eventCardAdditionalInfo
                +eventCardSimpleText
                    | Пожалуйста, оставьте комментарий о причине отказа
                form
                    +eventCardFlexContainer()
                        +radiobtn('Нужно перенести дату и время','2','3')(class='required')
                        +radiobtn('Неверные дата и время','2','3')(class='required')
                        +radiobtn('Я больше не хочу проходить тест-драйв','2','3')(class='required')
                    +eventCardFlexContainer
                        +btn('input','Принять')(type='submit' class='btn_cta disabled')
                        +btn('div','Отмена')(class='js_eventCard__cancel-form')
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас посетитить наш дилерский центр')


+timelineBlock('01.01.17 12:00','')(class='timeline__block--visit')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас посетитить наш дилерский центр')
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
            +eventCardAdditionalInfo
                +eventCardFlexContainer()(nowrap)
                    .eventCard__icon-decision.eventCard__icon-decision--positive.is_active.hasicon.icon-base-checkmark
                    +simpleInlineText
                        | Ждем вас в назначеное время
                        a.eventCard__functional-linklike-btn(href="") Отмена
        +eventCardBelowTheFold
            +eventCardHistory
                +eventCardHistoryItem('01.01.17 12:00','Приглашаем вас посетитить наш дилерский центр')

+timelineBlock('01.01.17 12:00','')(class='timeline__block--visit')
    +eventCard
        +eventCardAboveTheFold()
            +usualContentHead('Приглашаем вас посетитить наш дилерский центр')(noFold)
            +eventCardBasicInfo
                +eventCardBasicInfoItem('Дата и время','24 сентября, 12:00')
            +eventCardAdditionalInfo
                +eventCardFlexContainer
                    +btn('div','Принять')(class='btn_cta')
                    +btn('div','Отклонить')