extends ../../../globals/layout/_layout
include ../../../components/StageModules/m310_Editorial_Stage/index
include ../../../components/UI_Elements/lists/index
include ../../../components/UI_Elements/input/index
include ../../../components/ContentModules/m151_Introcopy/index
include ../../../components/DwaComponents/mk171_DwaHeader/index
include ../../../components/DwaComponents/mk271_StepIcons/index
include ../../../components/NavigationModules/mk571_StepList/index
include ../../../components/NavigationModules/mk572_Carla/index
include ../../../components/FunctionalModules/mk615_Step_Form/index
include ../../../components/BasicModules/Headline/m021_Headline_H2/index
include ../../../components/TeaserModules/m211_Next_Steps_Teaser/index
include ../../../components/UacComponents/topBar/index
include ../../../components/UacComponents/simpleBanner/index
include ../../../components/UacComponents/tabs/index
include ../../../components/UacComponents/announcementCard/index
include ../../../components/UacComponents/breadcrumbs/index
include ../../../components/UacComponents/footer/index
include ../../../components/UacComponents/tile-link/index
include ../../../components/UacComponents/authBlock/index
include ../../../components/UacComponents/dragNdropUpload/index
include ../../../components/UacComponents/disclaimer/index
include ../../../components/UacComponents/popup/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UacComponents/gender-radio/index
include ../../../components/DwaComponents/input-extended/index
block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var selectItems = [
            {
                label: 'Варшавское',
                value: 'знач1'
            },
            {
                label: 'Войковская',
                value: 'знач2'
            },
            {
                label: 'Хорошёвское',
                value: 'знач2'
            }
        ] 
        var disclaimers = [{
                text: '31. Настоящим даю согласие на обработку моих вышеуказанных персональных данных ООО "ФОЛЬКСВАГЕН Груп Рус" (248926, Россия, г. Калуга, ул. Автомобильная, д.1; адрес Филиала в г. Москве (почтовый адрес): 117485, г. Москва, ул. Обручева, д. 30/1.), а также официальным дилерским центрам марки Volkswagen в России (далее – Операторы), с целями: учета предоставленной информации в базах данных; проведения статистических исследований, а также исследований, направленных на улучшение качества продукции и услуг; проведения маркетинговых программ, в том числе, для продвижения товаров, работ, услуг на рынке; информирования меня о новых товарах и услугах Оператора и партнеров Операторов (например, посредством отправки журналов, отправки приглашений на презентации продуктов, сообщений о технических нововведениях, предстоящих работах по сервисному обслуживанию, условиях покупки нового автомобиля и т.д.) с помощью различных средств связи, а именно посредством: интернет; сообщений на адрес электронной почты; коротких текстовых сообщений (SMS) и мультимедийных сообщений (MMS) на номер телефона; а также посредством использования информационно-коммуникационных сервисов, таких как Viber, WhatsUp и тому подобных; телефонных звонков. В целях проведения маркетинговых программ, в том числе, для продвижения товаров, работ и услуг, Операторы могут заключать соответствующие Договоры с третьими лицами относительно условий предоставления потребителям/потенциальным потребителям марки ФОЛЬКСВАГЕН финансовых услуг. Настоящим даю свое согласие на получение информации о предлагаемых такими третьими лицами финансовых услугах. Указанная информация может быть доведена до моего сведения как Операторами, так и самим компаниями-партнерами Операторов, предлагающими такие финансовые услуги, включая следующие: ООО «Фольксваген Банк РУС» (117485, г. Москва, ул. Обручева, д. 30/1, стр.1, ИНН: 7750005605, лицензия ЦБ РФ №3500), ООО «ФВ Груп Финанц» (Россия, 107045, г. Москва, ул. Трубная, 12, ИНН: 7702349370); ООО «Фольксваген Финансовые Услуги РУС» (Россия, 107045, г. Москва, ул. Трубная, 12, ИНН: 7702656396. Полный перечень компаний–партнеров Операторов в области предоставления финансовых услуг размещен на сайте www.volkswagen.ru. Я разрешаю совершать со своими персональными данными следующие действия: сбор, систематизацию, накопление, хранение (в электронном виде и на бумажном носителе), уточнение (обновление, изменение), использование, распространение (в том числе передачу) моих персональных данных третьим лицам, с которыми у Операторов имеются действующие договоры, в рамках которых Операторы поручают обработку персональных данных потребителей/потенциальных потребителей автомобилей марки Volkswagen в вышеуказанных целях, включая трансграничную.',
                data: 'first',
        },{
                text: 'ghjgchjcghjcghj',
                data: 'second',
        }]
block content
    +topLoader
    +sysNotification
        .grid_12
            p dasdasdasdasdasdasd
    +popup(dataName='confirmMoreDealer-popup', contentClass="centered")
        block popup-content
            .h2.popup__head
                | Вы действительно хотите отправить заявку в еще один Дилерский центр?
            .b1.popup__text
                |Если да, нажмите продолжить.
            .txt_center.mt20
                +btn('div', 'Продолжить')(class="btn btn_cta block-centered js_popup-close-btn", id="js_dwa-form__add-dealers-btn--confirm")
    +m310_Editorial_Stage(
        'Три машины на фоне!',
        [
            ['/', 'Текст', 'icon-quickaccess-business-customers' ],
            ['/', 'Текст', 'icon-quickaccess-configure' ],
            ['/', 'Текст', 'icon-quickaccess-convince' ],
            ['/', 'Текст', 'icon-quickaccess-dealer' ]
        ],
        require('./img/img.jpg'),
        false
    )

    //Top
    +mk171_dwaHeader('Оцените ваш автомобиль','Воспользуйтесь комфортным и быстрым способом онлайн оценки Вашего автомобиля!')
        p Для этого заполните форму онлайн оценки, представленную ниже, и направьте ее в дилерский центр Volkswagen. В ближайшее время ответственный сотрудник дилерского центра свяжется с Вами и компетентно ответит на все интересующие Вас вопросы!


    //Form 1
    +mk615_Step_Form
        form
            +mk571_StepList([{
                value: "Шаг 1. Выбор услуги",
                mod: ["_active"]
            },
            {
                value: "Шаг 2. Ваш автомобиль",
            },
            {
                value: "Шаг 3. Контактные данные",
            }])
            +mk571_StepList_content
                +mk571_StepList_content-item
                    +mk271_StepIcons([
                        {
                            headline: 'Обмен на новый Volkswagen',
                            icon_group: 'base',
                            icon_name: 'route-by-car',
                            required: true,
                            name: 'service',
                            value:'Обмен на новый Volkswagen'
                        },
                        {
                            headline: 'Обмен на автомобиль с пробегом',
                            icon_group: 'base',
                            icon_name: 'used-cars',
                            required: true,
                            name: 'service',
                            value:'Обмен на автомобиль с пробегом'
                        },
                        {
                            headline: 'Продажа своего автомобиля',
                            icon_group: 'base',
                            icon_name: 'corporate',
                            required: true,
                            name: 'service',
                            value:'Продажа своего автомобиля'
                        }
                    ])
                        +mk271__tabs
                            +mk271__tab
                                .tab__top
                                    .tab__bottom
                                        p.tab__title Выберите желаемый автомобиль:
                                        .tab__form
                                            .tab__form-unit.tab__form-unit_select
                                                #wish-car-vw-select
                                                //- +select(selectItems, 'Выберите желаемый автомобиль')
                                            .tab__form-unit.tab__form-unit_checkbox
                                                +checkbox()(name='need_credit', value='1')
                                                    b Кредит
                            +mk271__tab
                                .tab__top
                                    p.tab__descr
                                        | Автомобили с пробегом в наличии<br>
                                        a(href="#") www.dasweltauto.ru
                                .tab__bottom
                                    p.tab__title Выберите желаемый автомобиль:
                                    .tab__form
                                        .tab__form-unit.tab__form-unit_select
                                            //(items, placeholder, title, icon, errorText)(доп.класс, тип и другие атрибуты тега, будут относиться к selectу)/
                                            //-+select(selectItems, 'Марка')
                                            #wish-car-other-manufacturer-select
                                        .tab__form-unit.tab__form-unit_select
                                            #wish-car-other-model-select
                                                +select(selectItems, 'Модель *')(class="is_disabled")
                                        .tab__form-unit.tab__form-unit_checkbox
                                            +checkbox()(name='need_credit', value='1')
                                                b Кредит
                            +mk271__tab
                                .tab__top
                                .tab__bottom
                +mk571_StepList_content-item
                    .kdx_container-fluid
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_m_6.push_m_1
                                .gridcontainer.need-pd-after-fix
                                    .grid_12.grid_sm_6
                                        #dwa-form__current-car-manufacturer
                                        //- +select(selectItems, 'Марка', 'Марка','','','',true)(class="mk272__form-unit mk272__form-unit_select")
                                    .grid_12.grid_sm_6
                                        #dwa-form__current-car-model
                                            +select(selectItems, 'Модель', 'Модель','','',true)(class="mk272__form-unit mk272__form-unit_select is_disabled")
                                .gridcontainer.need-pd-after-fix
                                    .grid_12.grid_sm_6
                                        +input('Год выпуска','Год выпуска','','Поле заполнено неверно', true)(class="year", type="number",name="current_car_year")
                                    .grid_12.grid_sm_6
                                        +select(selectItems, 'Трансмиссия', 'Трансмиссия','','', true)(class="mk272__form-unit mk272__form-unit_select", name='current_car_transmission')
                                .gridcontainer.need-pd-after-fix
                                    .grid_12.grid_sm_6
                                        +input('Мощность, л/с','Мощность, л/с','','Поле не заполнено', true)(class="number", type="number", name='current_car_engine_power')
                                    .grid_12.grid_sm_6
                                        +input('Объем, л','Объем, л','','Поле не заполнено', true)(class="number", type="number", name='current_car_engine_volume')
                                .gridcontainer.need-pd-after-fix
                                    .grid_12.grid_sm_6
                                        +input('Пробег, км','Пробег, км','','Поле не заполнено', true)(class="number", type="number", name='current_car_rate_mileage')
                            .grid_12.grid_sm_10.push_sm_1.grid_m_4.push_m_2
                                +dragNdropUpload('Фотографии')(class= 'dragNdropUpload-multiple dwa-form__dndupload', maxFiles = '6', maxSize='10', acceptedFiles='image/*',paramname='pics', url='files/post', multiple="true")
                                    +btn('div', 'Добавить фотографии')(class="btn mt20 addFileDnDUpload js_addFileDnDUpload")
                +mk571_StepList_content-item
                    .kdx_container-fluid
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                +inputExtended
                        .gridcontainer
                            .grid_12.grid_sm_5.push_sm_1.grid_l_3.push_l_3
                                +input('Контактный телефон','Контактный телефон','','Поле заполнено неверно', true)(type="tel" class="phone", name='phone')
                            .grid_12.grid_sm_5.push_sm_1.grid_l_3.push_l_3
                                +input('E-mail','E-mail','','Поле заполнено неверно', true)(type="email", class='required email', required, name='email')
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                #dwa-form__city-select
                                    //-+select(selectItems, 'Город', 'Город','','','',true)
                        #js_dwa-form__dealer-section.dwa-form__dealer-section
                            .gridcontainer
                                .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                    .h5.mb20 Выберите дилера, у которого Вам было бы удобно пройти оценку Вашего автомобиля.
                            .gridcontainer
                                .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                    #dwa-form__dealer-selects.dwa-form__dealer-selects
                                    //-+select(selectItems, 'Дилер', 'Выберите дилерский центр','','','',true)
                                    .js_popup-trigger#js_dwa-form__add-dealers-btn.dwa-form__add-dealers-btn(data-target="confirmMoreDealer-popup")
                                        +btn('div', 'Добавить другого дилера')
                            .gridcontainer
                                .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                    .dwa-form__dealer-map__container#js_dwa-form__dealer-map__container
                                        #dwa-form__dealer-map.dwa-form__dealer-map
                        .gridcontainer#js_dwa-form__add-comment-trigger-container
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                +btn('div', 'Добавить комментарий')(class="mb20", id="js_dwa-form__add-comment-trigger")
                        .gridcontainer.dwa-form__add-comment__content#js_dwa-form__add-comment__content
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                +input('Дополнительная информация','Ваш комменатрий', false,'Поле заполнено с ошибкой')(type="textarea", name='additional_info')
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                +checkbox('','Согласие обязательно')(class="required", name ="rules_agree", checked, required, value='1')
                                    |Согласие на обработку запроса
                                    +disclaimerToggler('?','first')
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3
                                +checkbox('','Согласие обязательно')(name="adv_agree", checked, value='1')
                                    |Согласие на дальнейшую коммуникацию
                                    +disclaimerToggler('?','first')
                        .gridcontainer
                            .grid_12.grid_sm_10.push_sm_1.grid_l_6.push_l_3.base-typo
                                p
                                    span.small-gray-text  «Фольксваген Груп Рус» не несет ответственности за расчет, предоставленный официальным дилером
            +mk572_Carla({}, {}, false)
    .submit-message.js_submit-message-success
        +m151_Introcopy('Спасибо!')(class="vwd5_bg_gray_light mt10 mb10 js_submit-message-success submit-message")
            .b2 Ваша заявка успешно отправлена. Мы свяжемся с Вами в ближайшее время.
            +btn('div', 'В начало')(class="btn_cta block-centered mt20 js_page-reload")

    each disclaimer in disclaimers
        +disclaimer(disclaimer.text, disclaimer.data)
    script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH8AvkDWvDobU3-Sz32KB44FK9N5h-6Uc")