.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
    @include media($tablet){
      left: 96px;
    }
	img{
		width: 150px;
		height: 150px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	    @include media($tablet){
	      transform: translate(-83%,-50%);
	    }
	}
}
