mixin local_select_item(item)
    option.select__item(value=(item.value || ''))&attributes(attributes)
        !=item.label


mixin select(items, placeholder, title, icon, errorText, required)
    -id = unique_id();
    // Component vwd5_select_box
    div.select_wrapper.placeholder.vwd5_select.js_error_container(class= attributes.class)
        // TODO: add icon
        if title
            label.select_wrapper__title(for = attributes.id || id)
                != title
        .select_wrapper__group
            if icon
                .hasicon.select__icon(class=icon)
            .faux-select-native(data-placeholder= placeholder)= placeholder
            select(id=id, class= required ? 'select__field required' : 'select__field')
                if(placeholder)
                    +local_select_item({
                        label: placeholder
                    })(disabled = true, selected = true, hidden = true)
                each item in items
                    +local_select_item(item)
        span.select_wrapper__help-block.error-container
            !=errorText
    // END vwd5_select_box
