@font-face {
  font-family: "icon-competence";
  src: url('./icon-competence.woff2') format('woff2'),
  url('./icon-competence.woff') format('woff'),
  url('./icon-competence.ttf') format('truetype')
}