@import "fontface";
@import "utility";

.icon-competence-body_repair {
  @include icon-competence(body_repair);
}
.icon-competence-corporate {
  @include icon-competence(corporate);
}
.icon-competence-hybrid {
  @include icon-competence(hybrid);
}
.icon-competence-new_cars {
  @include icon-competence(new_cars);
}
.icon-competence-service {
  @include icon-competence(service);
}
.icon-competence-spare_details {
  @include icon-competence(spare_details);
}
.icon-competence-used_cars {
  @include icon-competence(used_cars);
}