@mixin icon-competence-styles {
  font-family: "icon-competence"; // shortening font declaration
}

%icon-competence {
  @include icon-competence-styles;
}

%icon-competence-before {
  &:before {
    @include icon-competence-styles;
  }
}

%icon-competence-after {
  &:after {
    @include icon-competence-styles;
  }
}

@function icon-competence-char($filename) {
  $char: "";

  @if $filename == body_repair {
    $char: "\E001";
  }

  @if $filename == corporate {
    $char: "\E002";
  }

  @if $filename == hybrid {
    $char: "\E003";
  }

  @if $filename == new_cars {
    $char: "\E004";
  }

  @if $filename == service {
    $char: "\E005";
  }

  @if $filename == spare_details {
    $char: "\E006";
  }

  @if $filename == used_cars {
    $char: "\E007";
  }


  @return $char;
}

@mixin icon-competence($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-competence-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-competence-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-competence-char($filename);
  }
}