include ../../../UI_Elements/icon/index

mixin NavigationLevel_Three(items)
    -
        items = items || Array(20).fill('Nav Link').map( function (str, i) {
            return str + ' ' + i;
        })
    // Component NavigationLevel_Three
    .navlvl3
        .navlvl3__container
            nav.navlvl3__inner
                ul.navlvl3__list
                    each item in items
                        li.navlvl3__item
                            if typeof item === 'string'
                                a.navlvl3__link(href='#')
                                    !=item
                            else
                                a.navlvl3__link(href=item.link)
                                    !=item.text
            .navlvl3__controls
                +icon('arrow', 'left', 'button').navlvl3__left
                +icon('arrow', 'right', 'button').navlvl3__right
    // END - NavigationLevel_Three
