@import "../../../../globals/style/core";

$navlvl3-typo: list((media: default, font-size: 16px, line-height: 26px, letter-spacing: 0, font-weight: bold));



.navlvl3  {
  &__container {
    position: relative;
    background-color: $zeplin-steel;
    padding-top: .8rem;
    padding-bottom: .8rem;
    overflow: hidden;
    z-index: z-index(navlvlx);
    @include container();

    @include media(media-inverse($tablet)) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__inner {
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    @include media($tablet) {
      white-space: normal;
    }
  }

  &__list {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    list-style: none;
    list-style-image:none;
    display: inline-block;
    @include container();
    @include media($tablet) {
      padding-left: 0;
      padding-right: 0;
    }

    position: relative;
  }

  &__item {
    display: inline-block;
    margin: 0;
    padding: 0;
    &:before {
      display: none;
    }
    @include responsive-typo($navlvl3-typo);
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__left,
  &__right,
  &__link {
    color: $zeplin-dark-grey;
    &:active,
    &:focus,
    &:hover {
      color: $white;
      outline: none;
    }
  }

  &__item.is-active &__link {
    color: $white;
  }

  &__controls {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    @include media($tablet) {
      display: none;
    }
  }

  &__left,
  &__right {
    display: none;
    width: 4rem;
    height: rem(32px+16px);
    line-height: rem(32px+16px);
    margin: -(rem(32px+16px) / 2) 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    user-select: none;

    &:before {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__left {
    float: left;
    background: linear-gradient(to right, $zeplin-steel 60%, rgba($zeplin-steel,.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-right: 1.7rem;
  }
  &__right {
    float: right;
    background: linear-gradient(to left, $zeplin-steel 60%, rgba($zeplin-steel,.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-left: 1.7rem;
  }
}
