include ../../UI_Elements/icon/index
.m644
    .m644__container
        .m644__inner
            .m644__data
                !=data
            .m644__close
                +icon('quickaccess', 'close').m644__icon
