@import "../../../globals/style/core";

.m644-content {
  display: none;
}

.m644 {
  transform: translateY(100%);
  transition: transform $animation-duration $trans_exit;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  @include media($tablet) {
    padding-left: $header_w;
  }
  pointer-events: none;
  z-index: z-index(ontop);
  &.is-opened {
    transform: translateY(0);
    transition: transform $animation-duration $trans_enter;
  }

  &__container {
    pointer-events: auto;
    @include container();
  }
  &__inner {
    position: relative;
    padding: rem(15px) rem(40px) rem(15px) rem(15px);
    @include responsive-typo($bodycopy-b4);
    border-top-left-radius: rem(5px);
    border-top-right-radius: rem(5px);
    background-color: $zeplin-charcoal-grey;
    color: $zeplin-pale-grey;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    border-radius: 50%;
    width: rem(25px);
    height: rem(25px);
    line-height: rem(25px);
    text-align: center;
    color: $white;
    background-color: rgba(29, 30, 32, 0.3);
  }

  &__icon {
    vertical-align: middle;
    position: relative;
    bottom: rem(1px);
  }
}
