@mixin icon-link-styles {
  font-family: "icon-link"; // shortening font declaration
}

%icon-link {
  @include icon-link-styles;
}

%icon-link-before {
  &:before {
    @include icon-link-styles;
  }
}

%icon-link-after {
  &:after {
    @include icon-link-styles;
  }
}

@function icon-link-char($filename) {
  $char: "";

  @if $filename == back-to-top {
    $char: "\E001";
  }

  @if $filename == compare {
    $char: "\E002";
  }

  @if $filename == configure {
    $char: "\E003";
  }

  @if $filename == contacts {
    $char: "\E004";
  }

  @if $filename == delete {
    $char: "\E005";
  }

  @if $filename == download {
    $char: "\E006";
  }

  @if $filename == duplicate {
    $char: "\E007";
  }

  @if $filename == email {
    $char: "\E008";
  }

  @if $filename == fax {
    $char: "\E009";
  }

  @if $filename == forward {
    $char: "\E00A";
  }

  @if $filename == locate-me {
    $char: "\E00B";
  }

  @if $filename == mail {
    $char: "\E00C";
  }

  @if $filename == phone {
    $char: "\E00D";
  }

  @if $filename == pin {
    $char: "\E00E";
  }

  @if $filename == print {
    $char: "\E00F";
  }

  @if $filename == reload {
    $char: "\E010";
  }

  @if $filename == route {
    $char: "\E011";
  }

  @if $filename == search {
    $char: "\E012";
  }

  @if $filename == standardlink {
    $char: "\E013";
  }

  @if $filename == upload {
    $char: "\E014";
  }

  @if $filename == view {
    $char: "\E015";
  }

  @if $filename == website {
    $char: "\E016";
  }

  @if $filename == write {
    $char: "\E017";
  }

  @if $filename == zoom-in {
    $char: "\E018";
  }

  @if $filename == zoom-out {
    $char: "\E019";
  }


  @return $char;
}

@mixin icon-link($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-link-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-link-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-link-char($filename);
  }
}