mixin dealerInfoCard(item)
  .dealer-info-card.js_dealer-info-card
    .gridcontainer
      .grid_12
        .dealer-info-card__map#js_dealer-info-card__map
      .grid_12.grid_xs_8.grid_l_12
        .dealer-info-card__title.side-padding
          | Санрайз-Авто Санкт-Петербург
      .grid_12.grid_xs_4.grid_l_12
        .dealer-info-card__select-dialogue-block.side-padding
          .dealer-info-card__select-dialogue-toggler(data-target='dealer-info-card__select-dialogue')
            span Выбрать другой дилерский центр
          .dealer-info-card__select-dialogue
              .dealer-info-card__select-dialogue-tail
              .dealer-info-card__select-dialogue-content
                .dealer-info-card__select-dialogue-close-btn.hasicon.icon-navigation-close(data-target='dealer-info-card__select-dialogue')
                .dealer-info-card__select-dialogue-content-title
                  |Выбрать другого дилера
                ul.dealer-info-card__select-dialogue-content-links
                  for i in [1,2,3,4,5]
                    li
                      a(href="#") Фольксваген Экспресс Московский
      .grid_12
        .dealer-info-card__info-block.side-padding
          .dealer-info-card__info-block-title
            | Контакты
          .dealer-info-card__info-block-content
            | Санкт-Петербург, Волгоградский пр-т., д. 41 
            br.dealer-info-card__info-block-content-break
            a(href='#')
              |+7 (492) 399 48 41
        .dealer-info-card__info-block.side-padding
          .dealer-info-card__info-block-title
            | Персональный менеждер
          .dealer-info-card__info-block-content
            | Константин Константинопольский 
            br.dealer-info-card__info-block-content-break
            a(href='#')
              |+7 (492) 399 48 41
        .dealer-info-card__btns-block.side-padding
          +btn('a', 'Написать сообщение')
          +btn('a', 'Заказать звонок')
          +btn('a', 'Онлайн-звонок')