.eventCard{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	background-color: #fff;
	border-left: 0.5rem solid $grey_20;
	position: relative;
	&--is_active{
		border-left: 0.5rem solid $primary;
	}
	& + & {
		margin-top: 0.2rem;
	}
}

.eventCard__fold-toggler{
	position: absolute;
	top: 0.8rem;
	right: 1.4rem;
	transition: transform $duration;
	cursor: pointer;
	&:before{
		color: $primary;
		font-size: 3rem;
	}
    .below-the-fold-shown &{
    	transform: rotate(-180deg);
    }
}
.eventCard__title{
	@extend %b1;
	margin-bottom: 1rem;
	padding-right: 3rem;
}
.eventCard__basic-info{
	display: flex;
	flex-wrap: wrap;
}
.eventCard__basic-info-item{
	margin-right: 4rem;
	&:last-child{
		margin-right: 0;
	}
}
.eventCard__basic-info-item-title{
  @extend %b3;
  color: $grey_60;
}
.eventCard__basic-info-item-content{
  	@extend .h5;
	margin-bottom: 0 !important;
}

.eventCard__above-the-fold{
	position: relative;
}
.eventCard__above-the-fold-inner{
	padding: 0;
	position: relative;

}
.eventCard__additional-info{
	margin-top: 2rem;
}
.eventCard__below-the-fold{
	position: relative;
    overflow-y: hidden;
    max-height: 0;
    transition: max-height $duration;
    border-top: 1px solid $grey_20; 
    .below-the-fold-shown &{
    	max-height: 1500px;
    }
}

.eventCard__below-the-fold-inner{
	padding: 0;

}
.padded-container{
	padding: 1.5rem 2rem 2.5rem 2rem;
}
.eventCard__icon-decision{
	width: 3rem;
	height: 3rem;
	border: 1px solid $grey_20;
	border-radius: 50%;
	position:relative;
	display: inline-block;
	vertical-align: middle;
	margin-right:1rem;
	flex-shrink: 0;
	&:before{
		font-size: 3rem;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    position: absolute;
	}
}
.eventCard__icon-decision--positive{
	color: $uac_req_success;
	&.is_active{
		color: #fff;
		border-color: $uac_req_success;
		background-color: $uac_req_success;
	}
	
}
.eventCard__icon-decision--negative{
	color: $uac_req_fail;
	&:before{
		font-size: 2.2rem;
	}
	&.is_active{
		background-color: $uac_req_fail;
		border-color: $uac_req_fail;
		color: #fff;
	}
}


.eventCard__field-row{
	display: flex;
	align-items: center;
}
.eventCard__field-row-text{
	margin-right: 1.5rem;
}
.eventCard__simple-text{
	margin-bottom: 2rem;
}

.eventCard__field-row-content{}

.eventCard__flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	/*flex-direction: column;
	align-items: flex-start;
	@include media ($tablet){
		flex-direction: row;
	}*/
	&:not(:first-child){
		margin-top: 2rem;
	}
	&--nowrap{
		flex-wrap: nowrap;
	}
	.btn{
		margin: 0 0 1rem 0;
		@include media($fablet){
			margin: 0 2rem 1rem 0;
		}
	}
	.giveRating__container{
		margin: 1rem 0 0 0;
		width: 100%;
		@include media ($fablet){
			margin: 0 0 0 2rem;
			width: auto;
		}
	}
	.radiobtn{
		width: 100%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
		.radiobtn__title{
			padding-left: 0.5rem;
		}
		.radiobtn__mask{
			flex-shrink: 0;
		}
	}
	.eventCard__simple-inline-text{
		/*margin-bottom: 2rem;
		@include media ($fablet){
			margin-bottom: 0;
		}*/
	}
}

.eventCard__functional-linklike-btn{
  	cursor: pointer;
    @extend %b1;
    color: $primary;
    border-bottom: 1px dotted $primary;
    margin: 0 1rem;
}

.eventCard__icon-link{
	.icon:before{
		font-size: 2rem;
		position: relative;
		bottom: -0.3rem;
	}
}

.eventCard__border-separator{
	height: 1px;
	border-bottom: 1px solid $grey_20;
}

/*******manager-block*******/
.eventCard-manager__block{
	display: flex;
}
.eventCard-manager__avatar{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1.5rem;
	img{
		width: 100%;
		@include object-fit(contain);
	}
}
.eventCard-manager__info{}
.eventCard-manager__title{
	@extend .h5;
	margin-bottom: 0.3rem !important;
}
.eventCard-manager__phone{
  @include link-color($grey_100,$grey_100);
}