mixin eventCard
	//***eventCard start *****
	.eventCard.js_eventCard(class= attributes.class)
		block

mixin eventCardAboveTheFold()
	.eventCard__above-the-fold
		.eventCard__above-the-fold-inner(class = attributes.nopadding ? '' : 'padded-container')
			block
		
mixin eventCardBelowTheFold
	.eventCard__below-the-fold
		.eventCard__below-the-fold-inner(class = attributes.padded ? 'padded-container' : '')
			block


mixin eventCardFieldRow(text)
	.eventCard__field-row
		.eventCard__field-row-text
			| #{text}

		.eventCard__field-row-content
			block

mixin eventCardSimpleText
	.eventCard__simple-text
		block

mixin simpleInlineText
	span.eventCard__simple-inline-text
		block

mixin usualContentHead(title)
	if !attributes.noFold
		.eventCard__fold-toggler.hasicon.icon-base-arrow-down.js_eventCard__fold-toggler
	.eventCard__title
		| #{title}

mixin eventCardBasicInfo
	.eventCard__basic-info
		block

mixin eventCardAdditionalInfo
	.eventCard__additional-info
		block

mixin eventCardBasicInfoItem(title, content)
	.eventCard__basic-info-item
		.eventCard__basic-info-item-title
			| #{title}
		.eventCard__basic-info-item-content
			| #{content}

mixin eventCardFlexContainer
	.eventCard__flex-container(class= attributes.nowrap ? 'eventCard__flex-container--nowrap' : '')
		block

mixin eventCardManagerBlock
	.eventCard-manager__block
		.eventCard-manager__avatar
			img(src=require('../../../_temp_images/profile.jpg'), alt="")
		.eventCard-manager__info
			.eventCard-manager__title
				| Константин Константинопольский
			a.eventCard-manager__phone(href="")
				| +7 948 000 00 00

mixin eventCardBorderSeparator
	.eventCard__border-separator(class=attributes.class)