.status-bar.container-fluid.clearfix
	.status-bar__nav-block
		a.status-bar__nav-item
			.arr-prev
			span Назад к выбору модели
	.status-bar__status-indicator
			span Автомобили в наличии
	.status-bar__location-block
		.change-location-btn.status-bar__location-btn
			.change-location-btn__icon.status-bar__location-btn__icon.hasicon
			.change-location-btn__text.status-bar__location-btn__text
				| Комсомольск-На-Амуре
