$color-primary: red;
* {
  box-sizing: border-box
}

.has_tooltip {
  position: relative;
  display: inline-block;

  &__icon {
    cursor: pointer;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &__arrow {
    content: '';
    position: absolute;
    background: $grey_20;;
    $size: 5px;
    width: $size;
    height: $size;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%) rotate(45deg);
    z-index: 2 ;
  }

  &__popup {
    @extend %b4;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    border-radius: $radius;
    //transform: translateY(-20px);
    background: $grey_20;
    color: $grey_60;
    padding: 5px 10px;
    z-index: 96;
    max-width: 290px;
    transition: transform .2s ease-out,
      opacity .2s ease-out,
      visibility .2s ease-out;

    &--bottom {
      transform: translateY(20px);

      .tooltip__arrow {
        top: 0;
        bottom: 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__icon:hover + &__popup {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);

    &--bottom {
      transform: translateY(10px);
    }
  }
}