extends ../../../../globals/layout/_layout_dws


include ../../../../components/StageModules/m310_Editorial_Stage/index
include ../../../../components/ContentModules/m101_Intro_Copy/index
include ../../../../components/TeaserModules/m211_Next_Steps_Teaser/index
include ../../../../components/TeaserModules/m212_Shopping_Teaser/index
include ../../../../components/NavigationModules/Levels/Two/index
include ../../../../components/NavigationModules/Levels/Three/index
include ../../../../components/NavigationModules/Levels/Four/index
include ../../../../components/FunctionalModules/mk611_CTA_Form_Full_Width/index
include ../../../../components/ContentModules/mk154_Feature_Wrapper/index
include ../../../../components/TeaserModules/m210_Homepage_Teaser/index
include ../../../../components/ContentModules/m101_Intro_Copy/index
include ../../../../components/ContentModules/mk103_Copy_Carousel/index



block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

block content
    include ../../../../presets/dws/mk504_dealer_id


    //- ====== STAGE ======
    +m310_Editorial_Stage('Фольксваген Центр<br>Варшавское', [
        ['#', 'Акции', 'icon-quickaccess-offer', ''],
        ['#', 'Записаться</br>на сервис', 'icon-quickaccess-service', ''],
        ['#', 'Пройти</br>тест-драйв', 'icon-quickaccess-testdrive', ''],
        ['#', 'Контакты', 'icon-quickaccess-home', '']
    ])
    //- ====== NAV ======
    +NavigationLevel_Two([
        {
            link: '/whatever',
            text: 'Варшавское'
        },
        {
            link: '/whatever',
            text: 'Хорошёвка'
        },
        {
            link: '/whatever',
            text: 'Савёловская'
        },
        {
            link: '/whatever',
            text: 'Войковская'
        },
    ])



    +NavigationLevel_Four()

    //- ====== MAP ======


    //- ====== CONTACTS ======
    +m212_Shopping_Teaser([
        {
            headline: 'Отдел продаж',
            copy: '<b>+7 (495) 565-3806</b><br/>' +
            '<a href="mailto:varshavka.sale@vw.center.ru">varshavka.sale@vw.center.ru</a><br>' +
            'Ежеденевно с 10:00 до 18:00',
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            icon_align: true
        },
        {
            headline: 'Отдел кредитования',
            copy: '<b>+7 (495) 565-3807</b><br/>' +
            '<a href="mailto:varshavka.credit@vw.center.ru">varshavka.credit@vw.center.ru</a><br>' +
            'Понедельник, среда, пятница <br/>' +
            'с 08:00 до 21:00',
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            icon_align: true
        },
        {
            headline: 'Сервисный центр',
            copy: '<b>+7 (495) 565-3808</b><br/>Круглосуточно',
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            icon_align: true
        }
    ],
    [
        {
            icon: 'brochure',
            text: loremIpsum.slice(0, 30),
        },
        {
            icon: 'offer',
            text: loremIpsum.slice(0, 15),
        },
        {
            icon: 'get-your-volkswagen-1',
            text: loremIpsum.slice(0, 25),
        }
    ])
    //- ====== FORM ======
    +mk611_cta_form_full_width()
    //- ====== DESCRIPTION ======
    +m101_Intro_Copy('Текст о холдинге')
        .grid_12
            p
                b #{loremIpsum.slice(0, 500)}
            p
                span #{loremIpsum.slice(0, 500)}



    //- ====== CAROUSEL ======
    +mk103_Copy_Carousel('Заглавие')
        | Специализированные официальные автосалоны в Фольксваген центре Комсомольск-на-Амуре — это не только продажа автомобилей Фольксваген в Москве без выходных и праздничных дней в хорошей транспортной доступности. Мы предлагаем своим клиентам полный спектр услуг по подбору и покупке легковых и коммерческих автомобилей Volkswagen, а также по их дальнейшему ремонту и обслуживанию.



    //- ====== NEWS ======
    +mk154_Feature_Wrapper('Новости', [
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: 'Жители Зеленограда испытали Volkswagen на прочность',
            copy: '10 сентября Зеленоград отметил День города Москвы праздничными мероприятиями. Фольксваген Центр Комсомольск-на-Амуре стал непосредственным участником событий и провел масштабный тест-драйв Volkswagen.',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: 'Фольксваген Центр Комсомольск-на-Амуре провел чемпионат по силовому экстриму',
            copy: 'Фольксваген Центр Комсомольск-на-Амуре выступил официальным партнером праздника, посвященного Дню города Химок. 4 сентября здесь прошли торжественные мероприятия, концерты и чемпионат России по силовому экстриму.',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: 'Жители Зеленограда испытали Volkswagen на прочность',
            copy: '10 сентября Зеленоград отметил День города Москвы праздничными мероприятиями. Фольксваген Центр Комсомольск-на-Амуре стал непосредственным участником событий и провел масштабный тест-драйв Volkswagen.',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: 'Фольксваген Центр Комсомольск-на-Амуре провел чемпионат по силовому экстриму',
            copy: 'Фольксваген Центр Комсомольск-на-Амуре выступил официальным партнером праздника, посвященного Дню города Химок. 4 сентября здесь прошли торжественные мероприятия, концерты и чемпионат России по силовому экстриму.',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        }
    ],
    false,
    {
        text: 'Посмотреть все новости',
        href: '/all-news'
    }
    )
    //- ====== FORM ======
    +mk611_cta_form_full_width()
    //- ====== TEASER ======
    +m211_Next_Steps_Teaser([
        {
            headline: 'Запись на тест-драйв',
            copy: 'Запись на тест-драйв',
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            link_text: 'Записаться на тест-драйв',
            link: '',
            icon_align: true
        },
        {
            headline: 'Позвольте себе больше',
            copy: 'Ознакомьтесь с кредитными программами на автомобили Volkswagen.',
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            link_text: 'Кредитный калькулятор',
            link: '',
            icon_align: true
        },
        {
            headline: 'Запись на сервис',
            copy: 'Плановое техническое обслуживание и постгарантийный сервис Вашего Volkswagen.',
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            link_text: 'Записаться на сервис',
            link: '',
            icon_align: true
        }
    ])