@import "../../../globals/style/core";

.top-menu__container{
	padding: 3rem 0;
	overflow: hidden;
}
.top-menu{
font-size: 0;
white-space: nowrap;
position: relative;
padding: 0 1rem;
  @include media($tablet) {
  	padding: 0;
  }
}
.top-menu__item{
display: inline-block;
padding: 0 1rem;
	a{
	  @extend %b2;
	  line-height: 1.57;
	  color: $grey_60;
	  display: block;
	  padding: 1rem 1.5rem;
	  border-radius: 50px;
	}
	&.is_active a{
		background: $primary;
		color: #fff;
	}
}