include ../../../BasicModules/Media/m017_Media_378x143/index

mixin mk267_Stock_List_item(name, image, price, link)
    // Component mk267_Stock_List_item
    .mk267_item
        .mk267_item__image-wrapper
            +m017_Media_378x143(image, [], false, link)
        .mk267_item__info
            .mk267_item__quantity
                != parseInt(Math.random() * 100) + ''
            .mk267_item__name
                != name
            .mk267_item__price от #{price} руб.

    // END mk267_Stock_List_item
