include ../../BasicModules/Headline/m022_Headline_H3/index.pug
include ../../TeaserModules/m210_Homepage_Teaser/index
include ../../UI_Elements/button/index
include ../../UI_Elements/link/index

mixin mk103_Copy_Carousel(title, slides)
    // Component mk103_Intro_Copy
    .mk103&attributes(attributes)
        +m022_Headline_H3().mk103__heading
            =title
        +m210_Homepage_Teaser(slides)
        if block
            .mk103__wrapper
                .mk103__content.base-typo
                    block
    // END mk103_Intro_Copy
