@import "../../../globals/style/core";

.mk103 {
  @extend %head-module-spacing;
  text-align: center;
  @include media($tablet) {
    text-align: left;
  }
}

.mk103__heading {
  @include container();
  margin-bottom: rem(10px);
  @include responsive-typo($header-2, from $tablet);

  @include media($tablet) {
    margin-bottom: rem(20px);
  }
}

.mk103__wrapper {
  @include container();
}

.mk103__content {
  //@include kdx-grid-container();
  @include responsive-typo($bodycopy-b1);
}

.mk103__footer {
  margin-top: rem(20px);
  text-align: center;
}

.mk103__button,
.mk103__link {
  margin-top: rem(10px);
}

.mk103__link {
  display: inline-block;
}