@mixin icon-gender-styles {
  font-family: "icon-gender"; // shortening font declaration
}

%icon-gender {
  @include icon-gender-styles;
}

%icon-gender-before {
  &:before {
    @include icon-gender-styles;
  }
}

%icon-gender-after {
  &:after {
    @include icon-gender-styles;
  }
}

@function icon-gender-char($filename) {
  $char: "";

  @if $filename == female {
    $char: "\E001";
  }

  @if $filename == male {
    $char: "\E002";
  }


  @return $char;
}

@mixin icon-gender($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-gender-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-gender-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-gender-char($filename);
  }
}