extends ../../../../globals/layout/_layout

block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

block content
    include ../../../../presets/dws/mk504_dealer_id
