mixin giveRatingBlock(rating)
	.giveRating__container(class= attributes.notFunctional ? '' : 'js_giveRating')
		input.js_giveRating_input.required(type="hidden")
		ul.giveRating
			each i in [1,2,3,4,5]
				if i <= rating
					li.giveRating__item.marked.hasicon.icon-base-favourite
				else
					li.giveRating__item.hasicon.icon-base-favourite