.giveRating__container{
  padding: 0;
  margin: 0;
  display: inline-block;
}
.giveRating__item{
  width: 28px;
  height: 28px;
  display: inline-block;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  position: relative;
  cursor: pointer;
  &:before{
    width: 100%;
    height: 100%;
    font-size: 4rem;
    position: absolute;
    left: -0.6rem;
    top: -0.7rem;
    color: $grey_20;
  }
  &.marked{
    &:before{
      color: $primary;
    }
  }
}

.giveRating__container.vertical .giveRating__item {
  display: list-item;
}