@import "decimal-round";
@import "list-func";

@function map_set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

@function is-not($value) {
  @return if($value, false, true);
}

// Checks if a number is even
@function is-even($int) {
  @return $int % 2==0;
}

@function not-belongs-to($tested-item, $list) {
  @return is-not(index($list, $tested-item));
}

// Checks if an element belongs to a list or not
@function belongs-to($tested-item, $list) {
  @return is-not(not-belongs-to($tested-item, $list));
}

$breakpoints: ();
@function new-breakpoint($query, $grid_settings: false) {

  @if $grid_settings {
    $query: (
      media: $query,
      grid: $grid_settings
    )
  } @else {
    $query: (
      media:$query,
    )
  }

  @if is-not(belongs-to($query, $breakpoints)) {
    $breakpoints: append($breakpoints, $query, comma) !global;
  }

  @return $query;

}

$z-layers: ('body') !default;
@function z-index($layer_name: false) {
  @if not $layer_name {
    @return 1;
  }
  @return index($z-layers, $layer_name);
}

$typography-presets: () !global;
@function typo-preset($args...) {
  $last-id: length(map_keys($typography-presets)) + 1;
  $typo-map: list($args);
  $typography-presets: map_set($typography-presets, $last-id, $typo-map) !global;
  @return $last-id;
}
