mixin sysNotification
	.system-notification__container#js_system-notification__container
		.kdx_container-fluid
			.gridcontainer.system-notification__inner
				.system-notification__close-btn.hasicon.icon-navigation-close.js_system-notification__close-btn
				.system-notification__content.js_system-notification__content
					block