@import "../../../globals/style/core";
.system-notification__container{
	position: relative;
	background-color: $grey_80;
	padding: 2rem 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: z-index('sysNotififcation');
	transform: translate( 0, -100%);
	transition: all $duration;
	min-height: 8rem;
	&.is_visible{
		transform: translate( 0, 0);
	}
	@include media ($tablet){
		padding-left: 96px;
	}
}
.system-notification__inner{
	position: relative;
}
.system-notification__content{
	position: relative;
	@include clearfix();
	padding-right: 5rem;
	p{
		@extend %b1;
		color: #fff;
	}
}
.system-notification__close-btn{
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	right: 0;
	background-color: transparentize($grey_100,0.7);
	cursor: pointer;
	z-index: 1;
	&:before{
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
