mixin m020_Headline_H1(semantic)
    -semantic = typeof semantic === 'boolean' ? semantic : true
    // Component m020_Headline_H1
    if semantic
        h1.m020_Headline_H1&attributes(attributes)
            if block
                block
    else
        .m020_Headline_H1&attributes(attributes)
            if block
                block
    // END m020_Headline_H1
