mixin input(title, placeholder, icon)
	- type= attributes.type || "text"

	label.input.vwd5_input(class = attributes.extended ? "extended" : 'has-error')
		// TODO: add icon
		span.input__title
			!= title
		.input__group
			block
			if icon
				.hasicon.input__icon(class=`${icon}`)
			input.input__field(type=type, placeholder=placeholder)&attributes(attributes)
			.hasicon.icon_icon-quickaccess-close.input__clear
		span.input__help-block
			| Это поле заполнено неверно
