mixin checkbox_drop (items, errorText)
  .custom-dropdown-container.js_error_container(class= attributes.class, id= attributes.id)
    .custom-dropdown
      a(class="custom-dropdown__input js_select_drop js_check_select_result")
        .custom-dropdown__result-wrap.js_result_wrap(data-placeholder="Плейсхолдер")
      .custom-dropdown__drop.js_select_drop_item.js_check_select
        .custom-dropdown__drop-wrap
          ul.ul_simple
            each item in items
              li
                +checkbox(item)
                  block
              //-
                label.checkbox
                  input.checkbox__control(type='checkbox', value=item.value, data-title=item.title)
                  .checkbox__mask.hasicon.icon_icon-nextstep-checkmark
                  span.checkbox__title #{item.title}
    span.select_wrapper__help-block.error-container
      !=errorText