//dropdown with checkboxes


.custom-dropdown {
  width: 100% !important;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.6rem;
  border-radius: $radius;
  height: 4.2rem;
  padding: .7rem 0 .7rem 1.5rem;
  background: #fff;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: .1rem solid $grey_20;
  color: $grey_80;
  &.has-error {
    color: $red;
    border-color: $red;
  }
  &.is_active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:after{
      pointer-events: none;
      content: icon-arrow-char(up);
      margin: 0;
      border: none;
    }
  }
  .custom-dropdown__input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey_80;
  }
  .checkbox{
    margin-bottom: 0 !important;
  }
  &:after {
    position: absolute;
    border: none;
    height: 42px;
    height: 4.2rem;
    line-height: 4.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 4.2rem;
    @include icon-arrow-styles();
    content: icon-arrow-char(down);
    color: $primary;
    .is-ie & {
      line-height: 42px;
    }
  }
}
.custom-dropdown{
  padding: 0 !important;
}
.custom-dropdown__result-wrap{
  padding-right: 4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .7rem 0 .7rem 1.5rem;
}
.custom-dropdown__result-wrap.placeholder{
   font-size: 1.4rem;
    line-height: 2.6rem;
    color: $bg_power_dark;
}

.custom-dropdown__drop {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  box-sizing: border-box;
  background: white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  overflow: auto; 
  border: .1rem solid $grey_20;
  z-index: 1000;
  max-height: 200px;
  .ul_simple {
    li {
      padding: .7rem 1.5rem;
      &:hover {
        background-color: $grey;
        color: $grey_80;
      }
    }
  }
}

.custom-dropdown__select-arrow {
  $size: 9px;
  width: $size;
  height: $size;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 15px;
  background: white !important;
  z-index: 3;
  pointer-events: none;
  &:before {
        content: '\e920';
        font-family: 'vw_d5_icons' !important;
        display: block;
        position: absolute;
        font-size: 13px;
        border-top: 0;
        border-left: 0;
        top: 50%;
        left: 50%;
        color: $primary;
        transform: translate(-50%, -50%);
  }
}
