include ../../../UI_Elements/icon/index

mixin NavigationLevel_Two(items)
    -
        items = items || Array(20).fill('Nav Link').map( function (str, i) {
            return str + ' ' + i;
        })
    // Component NavigationLevel_Two
    .navlvl2
        .navlvl2__container
            nav.navlvl2__inner
                ul.navlvl2__list
                    each item in items
                        li.navlvl2__item(class= item.isActive ? 'is-active' : '')
                            if typeof item === 'string'
                                a.navlvl2__link(href='#')
                                    !=item
                            else
                                a.navlvl2__link(href=item.link)
                                    !=item.text
            .navlvl2__controls
                +icon('arrow', 'left', 'button').navlvl2__left
                +icon('arrow', 'right', 'button').navlvl2__right
    // END - NavigationLevel_Two
