include ../template
mixin m017_Media_378x143(image, responsive, caption, link)
    // Component m017_Media_378x143
    +media_template('m017_Media_378x143', image, responsive, caption, link)&attributes(attributes)
    // END m017_Media_378x143
