include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../BasicModules/Media/m013_Media_16x9/index

mixin m105_Media_Gallery(images, title, copy, copy2)
    // Component m105_Media_Gallery
    section.m105
        .m105__container
            +m022_Headline_H3().m105__title
                !=title
            p.m105__copy
                !=copy
            .m105__inner
                .m105__slider
                    each image in images
                        +m013_Media_16x9(image.image, false, image.caption).is-contained.m105__image
                .m105__dots
                .m105__controls
            p.m105__additionalcopy
                !=copy2

    // END - m105_Media_Gallery
