mixin autocard(car)
	.grid_12.grid_xxs_6.grid_sm_4.grid_m_3.autocard-container
		.auto-card.js_auto-card.no-details
			.auto-card__main
				.auto-card__blocking-overlay.js_auto-card__blocking-overlay
				.auto-card__header
					.auto-card__badges
						.auto-card__badge-item.discount
					.auto-card__favourite(class = car.isFavourite ? ' is_favourite' : '')
				if car.noimage
					a.auto-card__picture(href="#")
						img.auto-card__picture-bg.lazy(data-original=require('./back_1.jpg'))
						img.auto-card__picture-self.lazy(data-original=require('./back_no_car.png'))
				else if car.noimagenfz
					a.auto-card__picture(href="#")
						img.auto-card__picture-bg.lazy(data-original=require('./back_1.jpg'))
						img.auto-card__picture-self.lazy(data-original=require('./back_no_car_nfz.png'))
				else
					a.auto-card__picture(href="#")
						img.auto-card__picture-bg.lazy(data-original=require('./back_1.jpg'))
						img.auto-card__picture-self.lazy(data-original=require('./touareg.png'))
				.auto-card__info
					.auto-card__year 2017 модельный год
					a.auto-card__title(href="#") #{car.title}
					a.auto-card__features(href="#") #{car.features}
					.auto-card__offer
						.auto-card__status(class = car.status ? car.status : '')
							| #{car.statustext}
						.auto-card__price
							.auto-card__price--current #{car.price}
								.auto-card__price-disclaimer.js_auto-card__price-disclaimer-toggler
									| ?
									.has_tooltip__arrow.auto-card__price-disclaimer__popup-arrow
								.has_tooltip__popup.auto-card__price-disclaimer__popup.js_auto-card__price-disclaimer__popup
									span #{car.pricedisclaimer}
									br
									a(href="#")  Подробности и полные условия.
							.auto-card__price--original #{car.price}
						.auto-card__location
							.auto-card__dealer.has_icon
								| #{car.dealer} 
								span.js_auto-card__contacts-trigger смотреть адрес
							.auto-card__dealer-contacts.js_auto-card__dealer-contacts
								.auto-card__dealer-address #{car.dealeraddress}
								a.auto-card__dealer-phone(href="#") #{car.dealerphone}
				.auto-card__details-content.js_auto-card__details-content
					ul
						each detail in car.details
							li #{detail}
			.auto-card__details-trigger.js_auto-card__details-trigger Особенности автомобиля