include ../../UI_Elements/button/index
include ../../UI_Elements/input/index
include ../../UI_Elements/checkbox/index
include ../../UI_Elements/select/index
include ../../BasicModules/Headline/m021_Headline_H2/index

mixin mk611_cta_form_full_width(title, text_desktop, text_mobile)
    // mk611 CTA Form Full Width//
    section.vwd5_bg_blue.mk611
        .mk611__container
            .gridcontainer
                .grid_12.grid_sm_5.grid_l_7.mk611__content
                    +m021_Headline_H2.mk611__title Опробуйте в действии!
                    p.mk611__content-mobile
                        | Festus, noster rationes tandem aperto de nobilis, dexter homo.
                    p.mk611__content-desktop
                        | Festus, noster rationes tandem aperto de nobilis, dexter homo. A falsis, candidatus audax triticum. The further mind is full of conclusion.
                form.grid_12.grid_sm_6.push_sm_1.grid_l_4.push_l_1.mk611__form
                    +input('', 'Введите Ваше имя')
                    +input('', '+7(___)___-__-__')(type="tel")
                    +select([
                        {
                            label: 'Label1',
                            value: 1
                        },
                        {
                            label: 'Label2',
                            value: 2
                        },
                        {
                            label: 'Label3',
                            value: 3
                        },
                        {
                            label: 'Label4',
                            value: 4
                        },
                        {
                            label: 'Label5',
                            value: 6
                        },
                        {
                            label: 'Label6',
                            value: 6
                        }
                    ], 'Выберите дилерский центр')
                    +checkbox()(checked)
                        |Я принимаю условия обработки и использования персональных данных
                    +btn('input', 'Отправить заявку')(type='submit')
        // TODO: success and error
    // mk611 CTA Form Full Width -- END//
