mixin socialGeneral(array)
	ul.uac-social-general(class = attributes.class)
		each item in array
			li.uac-social-general__item
				a(href="#", class= item.class, title= item.title)
					if item.extended
						| Service