@import "../../../globals/style/core";

.uac-social-general__item {
  display: inline-block;
  background-color: $grey_40;
  border-radius: 25px;
  margin-right: 14px;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: $primary-hover;
  }
  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    @include link-color(#fff, #fff);
    &:before {
      position: absolute;
      color: #fff;
      font-size: 24px;
      left: 0px;
      top: 1px;
    }
    &.extended {
      width: auto;
      padding: 1px 10px 0 28px;
      font-size: 14px;
      &:before {
        top: 0;
        left: 3px;
      }
    }

  }
  @include media($fablet) {
    margin-right: 15px;
  }
}

.social-share_label {
  display: inline-block;
  margin-right: 1rem;
}

.social-share_label + .uac-social-general {
  display: inline-block;
}