extends ../../../../globals/layout/_layout_dws
include ../../../../components/StageModules/m350_Sub_Stage_Title/index

block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };


block content
    include ../../../../presets/dws/mk504_dealer_id
    include ../../../../presets/dws/editorial/stage
    include ../../../../presets/dws/navigations/level2
    include ../../../../presets/dws/navigations/level3
    +m350_Sub_Stage_Title()
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    include ../../../../presets/dws/navigations/level3
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
