@import "../../../globals/style/core";
.pagination__container{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}
ul.pagintaion__list{
    display: inline-block;
}

.pagination__item{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    color: $primary;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: bold;
    &.is_active{
        background-color: $grey_20;
        a{
            @include link-color($grey_100, $grey_100);
        }
    } 
}