@import "~tools";

.vwd5_toggle_switch {
  display: inline;

  &__inner {
    display: inline-block;
    height: 3rem;
    width: 7.2rem;
    background-color: #fff;
    border: .1rem solid $grey_20;
    border-radius: 1.5rem;
    overflow: hidden;
    .vwd5_toggle_switch__input:checked + & {
      .vwd5_toggle_switch__state--on {
        @extend %state-checked;
      }
      .vwd5_toggle_switch__state--off {
        @extend %state-unchecked;
      }
    }
  }

  &__state {
    float: left;
    width: 50%;
    border-radius: 1.5rem;
    border: .2rem solid #fff;
    //box-sizing: content-box;
    text-align: center;
    line-height: 2.4rem;
    height: 2.8rem;
    @extend %state-unchecked;

    &:before {
      display: block;
      font-size: 2rem;
      padding: .1rem 0 .3rem;
    }

    &--off {
      @extend %state-checked;
    }
  }
}

%state-unchecked {
  color: $grey_60;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

%state-checked {
  background-color: $primary;
  color: #fff;
  &:hover {
    background-color: $primary-hover;
  }
}
