extends ../../../globals/layout/_layout_dws

include ../../../components/UI_Elements/button/index
include ../../../components/UI_Elements/input/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/radio/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/select/index
include ../../../components/UI_Elements/lists/index
include ../../../components/UI_Elements/toggle-switch/index

include ../../../components/NavigationModules/m503_QuickAccessBar/index

block data
    -
        var data = {
        pageTitle: '_masterpage',
        bodyClass: '_masterpage'
        }

block content
    .container-fluid
        .js_ghostGridHolder

            | Content modules here
        h2
            | Тут общая информация, описание костылей, гайдлайны, типа именования стилей
