include ../../BasicModules/Headline/m021_Headline_H2/index
include ./item/index
mixin mk267_Stock_List()
    -
        cars = require('components/UI_Elements/Imagery/cars/list.js');
    // Component mk267_Stock_List
    .mk267
        +m021_Headline_H2().mk267__title Автомобили в наличии
        .mk267__container
            each model in cars.models
                - info = model.getMainKit();
                +mk267_Stock_List_item(model.name, info.flatImage, info.price, '#')

    // END mk267_Stock_List
