@mixin icon-currency-styles {
  font-family: "icon-currency"; // shortening font declaration
}

%icon-currency {
  @include icon-currency-styles;
}

%icon-currency-before {
  &:before {
    @include icon-currency-styles;
  }
}

%icon-currency-after {
  &:after {
    @include icon-currency-styles;
  }
}

@function icon-currency-char($filename) {
  $char: "";

  @if $filename == rouble {
    $char: "\E001";
  }


  @return $char;
}

@mixin icon-currency($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-currency-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-currency-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-currency-char($filename);
  }
}