extends ../../../globals/layout/_layout


include ../../../components/avn/dropdown/index.pug
include ../../../components/avn/checkbox/index.pug
include ../../../components/avn/auto-card/index.pug
include ../../../components/avn/running_underline_switcher/index.pug
include ../../../components/avn/button/index.pug
include ../../../components/avn/disclaimer/index.pug
include ../../../components/avn/footnote-disclaimer/index.pug

block append data
	-
		var data = {
			pageTitle: 'Детальная страница',
			bodyClass: 'index',
			avn: true,
		}
		var disclaimers = [{
				text: '31. Настоящим даю согласие на обработку моих вышеуказанных персональных данных ООО "ФОЛЬКСВАГЕН Груп Рус" (248926, Россия, г. Калуга, ул. Автомобильная, д.1; адрес Филиала в г. Москве (почтовый адрес): 117485, г. Москва, ул. Обручева, д. 30/1.), а также официальным дилерским центрам марки Volkswagen в России (далее – Операторы), с целями: учета предоставленной информации в базах данных; проведения статистических исследований, а также исследований, направленных на улучшение качества продукции и услуг; проведения маркетинговых программ, в том числе, для продвижения товаров, работ, услуг на рынке; информирования меня о новых товарах и услугах Оператора и партнеров Операторов (например, посредством отправки журналов, отправки приглашений на презентации продуктов, сообщений о технических нововведениях, предстоящих работах по сервисному обслуживанию, условиях покупки нового автомобиля и т.д.) с помощью различных средств связи, а именно посредством: интернет; сообщений на адрес электронной почты; коротких текстовых сообщений (SMS) и мультимедийных сообщений (MMS) на номер телефона; а также посредством использования информационно-коммуникационных сервисов, таких как Viber, WhatsUp и тому подобных; телефонных звонков. В целях проведения маркетинговых программ, в том числе, для продвижения товаров, работ и услуг, Операторы могут заключать соответствующие Договоры с третьими лицами относительно условий предоставления потребителям/потенциальным потребителям марки ФОЛЬКСВАГЕН финансовых услуг. Настоящим даю свое согласие на получение информации о предлагаемых такими третьими лицами финансовых услугах. Указанная информация может быть доведена до моего сведения как Операторами, так и самим компаниями-партнерами Операторов, предлагающими такие финансовые услуги, включая следующие: ООО «Фольксваген Банк РУС» (117485, г. Москва, ул. Обручева, д. 30/1, стр.1, ИНН: 7750005605, лицензия ЦБ РФ №3500), ООО «ФВ Груп Финанц» (Россия, 107045, г. Москва, ул. Трубная, 12, ИНН: 7702349370); ООО «Фольксваген Финансовые Услуги РУС» (Россия, 107045, г. Москва, ул. Трубная, 12, ИНН: 7702656396. Полный перечень компаний–партнеров Операторов в области предоставления финансовых услуг размещен на сайте www.volkswagen.ru. Я разрешаю совершать со своими персональными данными следующие действия: сбор, систематизацию, накопление, хранение (в электронном виде и на бумажном носителе), уточнение (обновление, изменение), использование, распространение (в том числе передачу) моих персональных данных третьим лицам, с которыми у Операторов имеются действующие договоры, в рамках которых Операторы поручают обработку персональных данных потребителей/потенциальных потребителей автомобилей марки Volkswagen в вышеуказанных целях, включая трансграничнуюa ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg  a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg a ds sfgdafsDFsdfSDDV s fadadg ag ag afg afg afg ',
				data: 'first',
		},{
				text: 'ghjgchjcghjcghj',
				data: 'second',
		}]

block content
	.personal-avn
		.container-fluid
			.car-details-head
				.gridcontainer
					.grid_12.grid_xs_9
						.car-details-head__availability.dealer в наличии у дилера
						.car-details-head__title
							span Jetta Trendline
						.car-details-head__yearid
							span.car-details-head__year 2016 модельный год	
							span.car-details-head__car-id ID: Y01641
						.car-details-head__closest-dealer
							| Фольцваген Сервис Северный Немецкий Центр

					.grid_12.grid_xs_3
						.car-details-head__price.discount
							.car-details-head__price-current 1 250 00 руб.
							.car-details-head__price-original 1 250 00 руб.
							.car-details-head__price-special Цена с учетом спецпредложения «Полный вперед!»
						.car-details-head__fav-btn-container
							+btn('a','Добавить в избранное')(class="btn_cta car-details-head__fav-btn")
		.car-details-main-carousel.bg_white
			#js_car-details-main-carousel.carousel
				.car-details-main-carousel__slide
					.car-details-main-carousel__slide-options-disclaimer
						.car-details-main-carousel__slide-options-disclaimer-trigger.js_car-details-main-carousel__slide-options-disclaimer-trigger
						.container-fluid.car-details-main-carousel__slide-options-disclaimer-text
							span Автомобиль на изображении не содержит дополнительные опции
					img.car-details-main-carousel__slide-bg(src=require('./back_1.jpg'))
					img.car-details-main-carousel__slide-self(src=require('./back_no_car.png'))
					.no-image__text Фото отсутствует
				.car-details-main-carousel__slide
					img.car-details-main-carousel__slide-bg(src=require('./back_1.jpg'))
					img.car-details-main-carousel__slide-self(src=require('./back_no_car_nfz.png'))
					.no-image__text.nfz Фото отсутствует
				.car-details-main-carousel__slide
					img.car-details-main-carousel__slide-bg(src=require('./back_1.jpg'))
					img.car-details-main-carousel__slide-self(src=require('./touareg.png'))
				.car-details-main-carousel__slide
					img(src="http://loremflickr.com/1920/1080/volkswagen")
				.car-details-main-carousel__slide
					img(src="http://loremflickr.com/1920/1080/volkswagen")
		.container-fluid
			.car-details-main
				.gridcontainer
					.grid_12.grid_xs_6.grid_sm_3
						.car-details-main__item
							img(src=require('./engine.svg'))
							span  1.6 MPI (110 л.с.) бензиновый
					.grid_12.grid_xs_6.grid_sm_3
						.car-details-main__item
							img(src=require('./transmisson.svg'))
							span  Механика 5-ступенчатая
					.grid_12.grid_xs_6.grid_sm_3
						.car-details-main__item
							img(src=require('./drive.svg'))
							span  передний привод
					.grid_12.grid_xs_6.grid_sm_3
						.car-details-main__item.color
							.color-inner
								.color_primary(style="background-color:red")
								.color_secondary(style="background-color:#000")
								img.color-picker__color-gradient-mask(src= require('./gradient.png'))
							span  Бежевый ´cappucino´ металлик
		.container-fluid.bg_white
			.car-features
				.gridcontainer
					.grid_12
						.tabs.car-features__tabs
							.tabs__header.car-features__tabs-header
								.tabs__btn.car-features__tabs-btn Стандартная комплектация
								.tabs__btn.car-features__tabs-btn Дополнительные опции
							.tabs__content
								.tabs__tab.car-features__tabs-tab
									include ../../../presets/avn/detail/accordion_lvl2.pug
								.tabs__tab.car-features__tabs-tab
									ul.car-features__list
										each item in [1,2,3,4,5,6,7,8]
											li.even Комфорт и удобство 
												span.footnote **
											li.odd Комфорт и удобство
						.car-features__accordion
							.accordion_item.car-features__accor-item-lvl1
								.accor_title.js_accor_toggler.car-features__accor-title-lvl1
									span Стандартная комплектация
								.accor_content.js_accor_content.car-features__accor-content-lvl1
									include ../../../presets/avn/detail/accordion_lvl2.pug
							.accordion_item.car-features__accor-item-lvl1
								.accor_title.js_accor_toggler.car-features__accor-title-lvl1
									span Дополнительные опции
								.accor_content.js_accor_content.car-features__accor-content-lvl1
									ul.car-features__list
										each item in [1,2,3,4,5,6,7,8]
											li.even Комфорт и удобство 
												span.footnote **
											li.odd Комфорт и удобство
		.container-fluid
			.order-now-block#order-now-block
				form
					.container-fluid
						.gridcontainer
							.grid_12
								.order-now-block__title Запросить коммерческое предложение на данный автомобиль
						.gridcontainer
							.grid_12.grid_sm_4.prefix_sm_2
								+input('Имя','Имя')(extended="true")
									label(class="order-now-block-form_input-radio")
										input(type="radio", name="sex")
										div.icon-sex_male
									label(class="order-now-block-form_input-radio")
										input(type="radio", name="sex")
										div.icon-sex_female

							.grid_12.grid_sm_4.suffix_sm_2
								+input('Фамилия','Фамилия')(class="order-now-block-form_input-text")
						.gridcontainer
							.grid_12.grid_sm_4.prefix_sm_2
								+input('Email','Email')(class="order-now-block-form_input-text")
							.grid_12.grid_sm_4.suffix_sm_2
								+input('Телефон')(class="order-now-block-form_input-text js_phone-mask")
						.gridcontainer
							.grid_12.grid_sm_8.prefix_sm_2
								#dealer-select
					.container-fluid.mobile-full-vp
						.gridcontainer
							.grid_12.grid_sm_8.prefix_sm_2
								.dealers_map.mt30.mb20#js_dealers_map
					.container-fluid
						.gridcontainer
							.grid_12.grid_sm_8.prefix_sm_2
								.order-now-block__agreement-text
									|Пожалуйста, дайте нам своё согласие на обработку Ваших персональных данных. Без этого мы не сможем обработать Ваш запрос.
								.checkbox-container
									+checkbox('Согласие на обработку запроса')(footnote = '1',disclaimerData='first',class="js_first-check")
								.checkbox-container
									+checkbox('Согласие на дальнейшую коммуникацию')(footnote = '2',disclaimerData='second',class="js_second-check")
						.gridcontainer
							.grid_12.txt_center
								+btn('a','Заказать')(class="btn_cta order-now-block__btn")
		.container-fluid.bg_white
			.dealer-info-block
				.gridcontainer
					.grid_12.grid_xs_5
						.dealer-info-block__text
							.dealer-info-block__title
								| Информация о центре
							.dealer-info-block__details
								p Москва, Мытищи, Ярославское шоссе, владение 2В, строение 1 
								a(href="#", class="dealer-info-block__phone") +7 (495) 598 58 58
							.dealer-info-block__hours
								.title
									b Часы работы:
								div
									| Продажа автомобилей: ежедневно 9:00-21:00 <br>
									| Сервис: ежедневно 8:00-21:00 <br>
									| Продажа запасных частей: ежедневно 9:00-21:00
							a.dealer-info-block__link Перейти на сайт дилера
					.grid_12.grid_xs_6.prefix_xs_1
						.dealer-info-block__map
		each disclaimer in disclaimers
			+disclaimer(disclaimer.text, disclaimer.data)
	script( src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=false&key=AIzaSyCH8AvkDWvDobU3-Sz32KB44FK9N5h-6Uc")
