.event-card-history__container{
  //padding-top: 1.5rem;
}
.event-card-history__item{
  display: flex;
}
.event-card-history__left-part{
  width: span(1 of 12);
  padding-right: gutter(12);
}
.event-card-history__left-part-inner{
  position: relative;
  height: 100%;
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $grey_20;
    position: absolute;
    left: 47%;
  }
}
.event-card-history__right-part{
  width: span(11 of 12);
}
.event-card-history__right-part-inner{
  padding: 0 3rem 1.5rem 0;
  position: relative;
  top: -0.6rem;
}

.event-card-history__item:last-child .event-card-history__left-part-inner:before{
  display: none;
}

.event-card-history__status-indicator{
  position: relative;
}
.event-card-history__status-indicator-circle{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: all $duration;
  margin: 0 auto;
  position: relative;
  background-color: $grey_20;
  .event-card-history__item--spacer & {
    display: none;
  }
}

.event-card-history__head{
  margin-bottom: 0.8rem;
}
.event-card-history__time{
  @extend %b2;
  color: $grey_60;
}
.event-card-history__content{}