
mixin topBar
	.top-bar
		.top-bar__first-level.kdx_container-fluid
			.top-bar__right-part#js_top-bar__right-part
				a.top-bar__makeacall.hasicon.icon-link-phone(href="#")
				//-	span Заказать звонок
				//-
					a.top-bar__notifications.hasicon.icon-link-mail(href="#")
						.top-bar__notifications-counter 2
				a.top-bar__profile-pic(href="#")
					img(src=require('../../../_temp_images/profile.jpg'))
			.top-bar__show-more--mobile.hasicon.icon-arrow-down.js_toggle_submenu(data-targettotoggle='top-bar__second-level-nav')
			nav.top-bar__nav
				ul.top-bar__nav-list#js_top-bar__nav-list
					each item in topBarMenuItems
						li.top-bar__nav-item(class= item.is_active ? 'is_active' : '')
							a.top-bar__nav-link(href="#")= item.title
			.top-bar__show-more--desktop.hasicon.icon-navigation-more.js_toggle_submenu#js_toggle_submenu--dots(data-targettotoggle='top-bar__second-level-nav')
		.top-bar_submenu.kdx_container-fluid.js_top-bar_submenu#js_top-bar__second-level-nav
			nav
				ul.top-bar__nav-list#js_top-bar__nav-list--sub
					each item in topBarMenuItems
						li.top-bar__nav-item
							a.top-bar__nav-link(href="#")= item.title