@import "../../../globals/style/core";

$topBarHeight: 70px;
$topBarMobileHeight: 50px;

.top-bar{
	position: relative;
	z-index: z-index('topBar');
}
.top-bar__container{
	height: $topBarHeight;
}
.top-bar__first-level{
	position: relative;
	z-index: 2;
}
.top-bar__first-level,
.top-bar_submenu{
	background-color: $primary;
	overflow-x: hidden; 
	@include clearfix();
}
.top-bar_submenu{
	@include clearfix();
	width: 100%;
	position: absolute;
	top: $topBarHeight;
	z-index: 1;
	transform: translate(0, -100%);
	transition: all $duration;
	text-align: center;
	&.is_visible{
		transform: translate(0, 0);
	}
	@include media($upTofablet){
		padding: 0;
		text-align: left;
		top: $topBarMobileHeight;
	}
}
.top-bar__nav{
	float: left;
}
.top-bar__nav-list{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	white-space: nowrap;

	.top-bar_submenu &{
		white-space: initial;
	}
    .top-bar__first-level & {
    position: absolute;
    top: 0;

    }
}
.top-bar__nav-item{
	display: inline-block;
	height: 100%;
	margin: 0 1.5rem;
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	.top-bar__first-level &{
		display: none;
		&.is_active{
			display: inline-block;
			opacity: 1;
			pointer-events: all;
			margin: 0 2rem 0 3rem;
		}
		@include media($fablet){
	    	display: inline-block;
			&.is_active{
				margin: 0 1.5rem;
			}
			&.is_hidden{
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	.top-bar_submenu & {
		display: block;
		margin: 0;
		border-bottom: 1px solid #fff;
		padding-left: 2rem;
		width: 100%;
		&.is_active{
			display: none;
		}
		@include media($fablet){
			display: none;
			margin: 0 1rem;
			border-bottom: none;
			padding-left: 0;
			width: auto;
			&.is_visible{
				display: inline-block;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}
.top-bar__nav-link{
	@extend %b1;
	font-size: 1.6rem !important;
	color: #fff;
	display: block;
	position: relative;
	line-height: $topBarMobileHeight;
	height: $topBarMobileHeight;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	box-sizing: border-box;
	transition: all $duration;
	@include media($fablet){
		line-height: $topBarHeight;
		height: $topBarHeight;
		.is_active &{
			border-color: #fff;
		}
	}
}

.top-bar__show-more--desktop{
	position: relative;
	height: $topBarMobileHeight;
	width: $topBarHeight;
	float: left;
	cursor: pointer;
	opacity: 0;
	//background: red;
	cursor: default;
	transition: all $duration;
	&:before{
		position: absolute;
		color: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 22px;
	}
	@include media($fablet){
		height: $topBarHeight;
		&.is_visible{
			opacity: 1;
			cursor: pointer;
		}
	}
}
.top-bar__show-more--mobile {
height: $topBarMobileHeight;
width: 40%;
position: absolute;
left: 0;
//background: green;
cursor: pointer;
z-index: 1;
	&:before{
		color: $grey_40;
		position: absolute;
		color: #fff;
		left: 20px;
		top: 50%;
		transform: translate(0,-50%);
		font-size: 16px;
		transition: transform $duration;
	}
	@include media($fablet){
		display: none;
	}
	&.is_active:before{
		transform: translate(0,-50%) rotate(-180deg);
	}
}



.top-bar__right-part{
	//background: green;
	float: right;
	position: relative;
	height: $topBarMobileHeight;
	display: flex;
	align-items: center;
	@include media($fablet){
		height: $topBarHeight;
	}
}

.top-bar__makeacall{
    //padding: 0 2px 0 30px;
    position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: transparentize($grey_100,0.7);
	margin-right: 10px;
	span{
		@extend %b1;
		font-size: 1.6rem !important;
		color: #fff;
	 	display: none;
		line-height: $topBarMobileHeight;
		@include media($fablet){
			line-height: $topBarHeight;
		}
		@include media($tablet){
			display: inline;
		}
	}
	&:before{
		position: absolute;
		display: inline-block;
		color: #fff;
		font-size: 14px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	@include media($upTofablet){
		width: 30px;
		height: 30px;
	}
}
.top-bar__notifications{
	height: 100%;
	width: 50px;
	margin: 0 10px;
	//background: pink;
	position: relative;
	&:before{
		display: inline-block;
		height: 100%;
		line-height: $topBarMobileHeight;
		width: 100%;
		color: #fff;
		font-size: 23px;
		text-align: center;
		@include media($fablet){
			line-height: $topBarHeight;
		}
	}

}
.top-bar__notifications-counter{ 
	display: inline-block;
    padding: 0 5px 0 6px;
	height: 16px;
	background-color: $uac_red;
	position: absolute;
	top: 26%;
    right: 8%;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	line-height: 16px;
	font-size: 1rem
}
.top-bar__profile-pic{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	img{
		width: 100%;
		height: 100%;
		//background: red;
		border-radius: 50%;
	}
	@include media($upTofablet){
		width: 30px;
		height: 30px;
	}
}
