@import "../../../globals/style/core";
@import "../../../globals/style/partials/typography";
@import '../../../components/TeaserModules/m211_Next_Steps_Teaser/index';
@import '../../../components/StageModules/m310_Editorial_Stage/index';
@import '../../../components/ContentModules/m101_Intro_Copy/index';
@import '../../../components/ContentModules/m151_Introcopy/index';
@import '../../../components/DwaComponents/mk171_DwaHeader/index';
@import '../../../components/DwaComponents/mk271_StepIcons/index';
@import '../../../components/NavigationModules/mk571_StepList/index';
@import '../../../components/NavigationModules/mk572_Carla/index';
@import '../../../components/FunctionalModules/mk615_Step_Form/index';
@import "../../../components/DwaComponents/input-extended/index";


.dwa-form__dealer-selects{
	.select_wrapper:nth-child(n+2) .select_wrapper__title {
		display: none;
	}
}
.dwa-form__dealer-section{
	display: none;
    //overflow: hidden;
}
.dwa-form__add-dealers-btn{
	display: none;
}
.dwa-form__remove-dealers-btn{
	.btn{
		color: $red;
		&:hover{
			color: #fff;
		}
	}
}
.dwa-form__dealer-map__container{
	position: relative;
	margin: 2rem 0;
}
.dwa-form__dealer-map{
	height: 480px;
}

.dwa-form__add-comment__content{
	display: none;
}
.map-confirm-dealer-selection{
		@include vertical-align-pseudo;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		&__content{
			position: relative;
			display: inline-block;
			width: 70%;
			padding: 50px;
			background-color: #fff;
			text-align: center;
			vertical-align: middle;
		}
		&__close-btn{
  			position: absolute;
		  width: 1.4rem;
		  height: 1.4rem;
		  right: 1rem;
		  top: 1rem;
		  cursor: pointer;
		  z-index: 1;
		  &:before{
		    font-size: 12px;
		    position: absolute;
		    color: transparentize($grey_100,0.7);
		    top: 0;
		    left: 0;
		  }
		}
		&__name{
			@extend .h5;
			margin-bottom: 1rem;
			  user-select: none; 
			  text-align: center;
			  white-space: normal;
		}
		&__address{
			@extend %b2;
  			text-align: center;
			  user-select: none;  
			  white-space: normal;
		}
	}
