@import "~globals/style/_tools.scss";

.vw_m502_more_sublayer {
  font-family: $font_head;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: 0;

  //Item flow class
  .js_vw_m502_nav_item_flow {
    display: block;
    @include media($tablet) {
      display: none;
    }
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid $grey_20;
    }

    a {
      display: block;
      color: $grey_60;
      .row-container{
        display: flex;
        height: 5.5rem;
        align-items: center;
      }
    }
  }

  .vw_m502_nav_item_flow {
    display: none;
  }

  .vw_m502_icon_wrapper {
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5rem;
    //line-height: 5.5rem;
  }

  .vw_m502_link_label {
    //height: 5.5rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .vw_m502_link_label_text {
    line-height: 1.2;
  }
}
