include ../../BasicModules/Media/m016_Media_32x9/index
include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../UI_Elements/button/index

mixin m207_Small_Image_Teaser(image, headline, copy, button)
    // Component m207_Small_Image_Teaser
    .m207&attributes(attributes)
        +m016_Media_32x9(image).m207__image
        .m207__content
            .m207__inner
                if headline
                    +m022_Headline_H3(false).m207__headline
                        != headline
                if copy
                    p.m207__copy
                        != copy
                if button
                    +btn('a', button.text)(href=(button.href || '#')).btn_cta.m207__button








    // END - m207_Small_Image_Teaser
