@import "../../../globals/style/core";

.m207 {
  @extend %module-spacing;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include media($tablet) {
    padding: 0;
    text-align: left;
    &.is-text-light {
      .m207__headline,
      .m207__copy {
        color: $white;
      }
    }
  }

  &__content {
    @include container();
    @include responsive-typo($bodycopy-b1);

    @include media($tablet) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      max-height: 100%;
    }
  }

  &__inner {
    @include media($tablet) {
      width: 50%;
    }
  }

  &__headline,
  &__copy {
    margin-bottom: rem(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: rem(20px);

    @include media($tablet) {
      margin: 0;
    }
  }

  &__button {
    margin: {
      left: auto;
      right: auto;
    };

    @include media($tablet) {
      margin-left: 0;
    }
  }
}
