
.offer-card__container {
  user-select: none;
}

.offer-card__overlay {
}

.offer-card__inner {
  padding: 1rem;
  display: block;
  @include media ($fablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include media($laptop) {
    display: block;
  }
}

.offer-card__inner-left-col {
  min-width: 260px;
  @include media ($fablet) {
    .offer-card__picture-block {
      display: none;
    }
  }
  @include media($laptop) {
    min-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .offer-card__picture-block {
      display: block;
    }
  }
}

.offer-card__inner-right-col {
  display: none;
  @include media ($fablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include media($laptop) {
    display: none;
  }
}

.offer-card__status-block {
  @include media($laptop) {
    min-width: 250px;
  }

}

.offer-card__booking {
  position: relative;
  padding-left: 1.5rem;
  &:before {
    width: 9px;
    height: 9px;
    content: '';
    border-radius: 50%;
    color: $grey_40;
    position: absolute;
    left: 0;
    top: 0.5rem;
  }
  &.dealer:before {
    background-color: #61a261;
  }
  &.warehouse:before {
    background-color: #fadc6d;
  }
  &.warehouse-pending:before {
    background-color: #ffac4e;
  }
  &.assembly:before {
    background-color: #e8593c;
  }
}

.offer-card__booking-status {
  @extend %b4;
  color: $grey_80;
  display: inline-block;
}

.offer-card__booking-date {
  @extend %b4;
  color: $grey_60;
  display: inline-block;
  margin-left: 0.7rem;
}

.offer-card_car-title {
  @extend .h5;
  letter-spacing: -1.2px;
  margin-bottom: 1rem !important;
  margin-top: 0.5rem;
  @include media($laptop) {
    margin-bottom: 0rem !important;
  }
}

.offer-card__picture-block {
  width: 100%;
  margin: 10% 0 5% 0;
  img {
    display: block;
    width: 70%;
    margin: 0 auto;

  }
  @include media($fablet) {
    img {
      width: 100%;
      margin: 0;
    }
  }
  @include media($tablet){
    margin: 0;
  }
  @include media($laptop) {
    position: static;
    width: 16%;
  }
}

.offer-card__price-block {
  width: 100%;
  margin-top: -0.5rem;
  display: flex;
  @include media ($laptop) {
    align-items: center;
  }
  @include media($laptop) {
    width: auto;
    min-width: 135px;
  }
}

@at-root .offer-card__price {
  @extend .h5;
  letter-spacing: -1.2px;
  margin: 0;
  display: inline-block;
  width: auto;
  margin-right: 0.8rem;
  &_crossed{
    color: $grey_40;
    text-decoration: line-through;
  }

  @include media ($laptop) {
    display: block;
  }
}

.offer-card__price-tooltip-trigger {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: $primary;
  display: inline-block;
  line-height: 1.8rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.offer-card__btns-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  @include media($laptop) {
    display: flex;
    width: 15%;
    margin-top: 0;
  }
  @include media($widescreen) {
    width: auto;
  }
}

.offer-card__btn {
  position: relative;
  cursor: pointer;
  @extend %b3;
  @include media($widescreen) {
    white-space: nowrap;
  }

}

.offer-card__btn-icon {
  width: 3rem;
  height: 3rem;
  border: 1px solid $grey_20;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  &:before {
    font-size: 2.6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.offer-card__btn-text {
  display: inline-block;
  vertical-align: middle;
  @include media($laptop) {
    display: none;
  }
  @include media($superwidescreen) {
    display: inline-block;
  }
}

.offer-card__btns-accept {
  margin-right: 2rem;
  .offer-card__btn-icon {
    &:before {
      color: $uac_req_success;
    }
  }

  &.is_active {
    pointer-events: none;
    .offer-card__btn-icon {
      border-color: $uac_req_success;
      background-color: $uac_req_success;
      &:before {
        color: #fff;
      }
    }
  }
}

.offer-card__btns-decline {
  .offer-card__btn-icon {
    &:before {
      font-size: 2rem;
      color: $uac_req_fail;
    }
  }
  &.is_active {
    pointer-events: none;
    .offer-card__btn-icon {
      background-color: $uac_req_fail;
      border-color: $uac_req_fail;
      color: #fff;
      &:before {
        color: #fff;
      }
    }
  }

}

.offer-card__overlay {
  position: absolute;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all $duration;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  &.is_visible {
    opacity: 1;
    pointer-events: all;
  }
}

.offer-card__overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-card__overlay-text {
}

.offerCard_sliderContainer .slick-initialized {
  margin-left: -2rem;
  margin-right: -2rem;
  .slick-list {
    overflow: hidden;
    padding: 0 2rem;
  }
  .slick-track {
    display: flex;
  }
  .slick-slide {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    width: 89vw;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    //margin-right: 1rem;
  }
  .timeline__requestOffer-wrap,
  .offerCard_slide {
  margin-top: 0;
  }
}




.offer-card__info-table{
  font-size: 1.4rem;
  color: $grey_100;
  line-height: 1.57;
}
.offer-card__info-table-row{
  display: flex;
  justify-content: space-between;
  & + & {
    margin-top: 0.5rem;
  }
}
.offer-card__info-table-row_left{
  width: 50%;
}
.offer-card__info-table-row_right{
}