@import "../../../globals/style/_core";

.mk572 {
  @include container();

  background-color: $grey;

  padding: {
    top: rem(20px);
    bottom: rem(20px);
  }

  &_sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: z-index(ontop);
  }

  &__container {
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
  }

  &__unit {
     max-width: none;

    &_back {
      font-size: 27px;
    }

    &_forward {
    }
  }
}
