include ../../UI_Elements/button/index
include ../../UI_Elements/icon/index

mixin mk572_Carla(back, forward, sticky)
    - back = back || {}
    - forward = forward || {}
    // Component mk572_Carla
    .mk572(class=sticky ? 'mk572_sticky' : '')
        .gridcontainer
            .grid_12
                .mk572__container
                    .gridcontainer
                        .grid_1
                            +icon('arrow', 'left', 'a')(href=back.link class="mk572__unit mk572__unit_back")
                        .grid_6.push_5.grid_sm_3.push_sm_8
                            +btn('a', forward.title || 'Вперед')(class="btn_cta mk572__unit mk572__unit_forward" href=forward.link)


    // END - mk572_Carla
