mixin running-underline-switcher(items)
	.running-underline__container
		.running-underline__container-inner.js_running-underline__container-inner
			.running-underline__runner.js_running-underline__runner
			each item in items
				label.running-underline__item(class= item.isActive ? ' is_active' : '') #{item.text}
					input(type="radio",name= item.radioName,value= item.radioValue)
