

.running-underline__container{
  display: inline-block;
  text-align: center;
    padding: 7px;
  border-radius: 100px;
  background: $primary;
  min-width: 280px;
  margin-top: 20px;
  margin-bottom: 15px;
  @include media($tablet){
     margin-bottom: 0;
  }
}

.running-underline__container-inner {
  font-size: 0;
  display: inline-block;
  margin: auto;
  position: relative;
  input[type="radio"]{
    position: absolute;
    left: -9999px;
  }
}
.running-underline__runner {
  width: 0;
  height: 100%;
  background: #4ba82e;
  position: absolute;
  border-radius: 100px;
  top: 0;
  background: white;
  left: 0; 
}
.animation-is-enabled .running-underline__runner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
}
.running-underline__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  color: #aaaaaa;
  text-align: center;
  padding: 9px 17px;
  color: white;
  transition: all 0.3s;
  margin-bottom: 0;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    height: 48px;
    width: 100%;
    transform: translate( -50%,0);
  }
  @include media($tablet){
    padding: 9px 34px;
  }
  &.hovered{
      font-weight: bold;
      color: $grey_100;
  }
}

.running-underline__item.is_active{
  font-weight: bold;
  color: $grey_100;
} 
