mixin m501_logo
    a#vw_m501_logo.vw_m501_logo(href='#', title='Главная страница Volkswagen')
        img.vw_m501_logo__img_desktop(src=require('components/NavigationModules/m501_Logo/Logo_Volkswagen.png'), alt='Volkswagen')
        img.vw_m501_logo__img_mobile(src=require('components/NavigationModules/m501_Logo/Logo_Volkswagen_mob.png'), alt='Volkswagen')
        //img#vw_m501_logo_img(src='resources/img/mobile_vw_logo.png', alt='Volkswagen')
