@import "~globals/style/core";
//@import "globals/style/core";

.vw_m501_logo {
  margin: .9rem 2.5rem .9rem 2.0rem;
  display: inline-block;

  @include media($tablet){
    margin: 0;
    text-align: center;
    display: block;
    line-height: 9.5rem;
  }

  &__img_desktop,
  &__img_mobile {
    max-width: 20.0rem;
    max-height: 3.2rem;

    @include media($tablet){
      max-width: $header_w;
      max-height: 100%;
      margin: 0 auto;
      vertical-align: middle;
    }
  }

  &__img_desktop {
    display: none;
    @include media($tablet) {
      display: inline-block;
    }
  }

  &__img_mobile {
    @include media($tablet) {
      display: none;
    }
  }
}
