@import "../../../globals/style/core";

.m155 {
  @extend %head-module-spacing;
  overflow: hidden;

  &__title {
    @include container();
    margin-bottom: rem(20px);
    text-align: center;
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }

  &__tab_nav {
    @include container();
    display: none;
    @include media($tablet) {
      display: block;
      margin-bottom: rem(30px);
    }
  }

  &__container {
    @include container();
    position: relative;
    overflow: hidden;
  }

  &__inner {
    @include span(7);
    @include push(2.5);
    padding: 0;

    .slick-track {
      z-index: z-index();
    }

    &.is-one-element {
      .slick-track {
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }

  &__dots {
    @extend %m155-control;
    @include aspect-ratio(293, 77);
    @include media($tablet) {
      display: none;
    }
  }

  &__dots-list {
    margin-top: rem(20px);
  }

  &__arrow {
    @extend %m155-control;
    @include aspect-ratio(591, 82.8);
    display: none;
    @include media($tablet) {
      display: block;
    }
  }

  &__arrow-align {
    position: static;
    width: 100%;

    .vwd5_arrow {
      margin: {
        left: - (3.6rem / 2);
        right: - (3.6rem / 2);
      };
    }
  }

  &__arrow-inner {
    margin: 0 auto;
    width: span(7) + gutters() / 2;
  }

  @at-root %m155-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    @include container();
  }

  .slick-list {
    overflow: visible;
  }

}

.m155_item {

  &:focus {
    outline: none;
  }

  &__image-wrapper {
    display: block;
    margin: 0 auto rem(51px);
    width: span(6 of 7);
    padding: 0 gutter();

    @include media($tablet) {
      padding: 0 gutter(7);
      margin-bottom: rem(30px);
    }

    @include media($laptop) {
      padding: 0 gutter(7);
    }

    @include media($desktop) {
      padding: 0 gutter(7);
    }

    @include media($widescreen) {
      padding: 0 gutter(7);
    }
  }

  &__content,
  &__footer {
    opacity: 0;
    visibility: hidden;
    @include media($tablet) {
      transition: all $duration $trans_exit;
    }

    .slick-active & {
      opacity: 1;
      visibility: visible;
      transition: all $duration/2 $trans_enter;
      @include media($tablet) {
        transition: all $duration $trans_enter;
      }
    }
  }

  &__content,
  &__footer {
    margin: 0 -2.5/7*100%;
    padding: 0 gutter(7);
    @include media($tablet) {
      margin: 0 -0.5/7*100%;
      padding: 0 gutter(7);
    }
  }
}
