include ../template
mixin m015_Media_11x5(image, responsive, caption, link)
    // Component m015_Media_11x5
    +media_template('m015_Media_11x5', image, responsive, caption, link)&attributes(attributes)
    // END m015_Media_11x5
