.slick-slide {
outline: none !important;
 &:focus, a {
    outline: none;
  }
}

.carousel{
	position: relative;
	.slick-arrow{
		cursor: pointer;
		position: absolute;
		width: 36px;
		height: 80px;
		background-color: rgba(29, 30, 32, 0.3);
		z-index: 10;
		font-size: 0;
		border: none;
		top: 50%;
		margin-top: -40px;
		display: none !important;
		&:before{
			content: '\e998';
			font-family: 'vw_d5_icons' !important;
			color: #fff;
			line-height: 80px;
		    font-size: 22px;
		}
		@include media($tablet){
			display: inline-block !important;
		}
	}
	.slick-next{
		right: 0;
		border-bottom-left-radius: $radius;
		border-top-left-radius: $radius;
		&:before{
			content: '\e998';
		}
	}
	.slick-prev{
		left: 0;
		border-bottom-right-radius: $radius;
		border-top-right-radius: $radius;
		&:before{
			content: '\e997';
		}
	}
	.slick-dots{
		list-style: none;
		padding: 0;
		margin: 2rem 0 0 0;
		text-align: center;
		@include media($tablet){
			position: absolute;
			width: 100%;
			bottom: 40px;
		}
		li{
			display: inline-block;
			margin-left: 8px;
			&.slick-active button{
				background-color: $primary;
				&:hover{
					background-color: $primary-hover;
				}
			}
			&:first-child{
				margin-left: 0 !important;
			}
			@include media($tablet){
				margin-left: 10px;
			}
		}
		button{
			width: 8px;
			height: 8px;
			border-radius: 0.3rem;
			background-color: $grey_60;
			border: none;
			font-size: 0;
			@include media($tablet){
				width: 13px;
				height: 13px;
			}
		}
	}
}

.slick-mobile{
	.slick-list{
		overflow: hidden;
	}
}