@import "../../../globals/style/core";


.m341 {
  position: relative;
  color: #fff;
  outline: none;

  &--dark {
    color: $grey_100;
  }

  // Image container
  &__img_container {
    display: block;
    @include aspect-ratio(16, 9, '.vw_m301_stage_item_img');
    overflow: hidden;
    @include media($tablet) {
      &:before {
        display: none;
      }
      height: 480px;
    }
    @include media($laptop) {
      height: 80vh;
    }
  }

  &__title,
  &__cta {
    @include container();
  }

  &__title {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    color: inherit;
    text-align: center;
    box-sizing: border-box;
    @include media($tablet) {
      top: 50px;
    }
  }

  // Headline
  &__head {
    color: inherit;
    font-size: 2rem;
    @include media($fablet) {
      font-size: 3rem;
    }
    @include media($tablet) {
      font-size: 4rem;
    }
    @include media($laptop) {
      font-size: 6rem;
    }
    @include media($desktop) {
      font-size: 7.6rem;
    }
    @include media($widescreen) {
      font-size: 8.6rem;
    }
  }

  //cta button
  &__cta {
    margin-top: 20px;
    width: 100%;
    @include media($tablet) {
      position: absolute;
      margin-top: 0;
      bottom: 3rem;
    }
  }
}
