mixin textlink(url, icon, iconGroup)
    -url = url || '#';
    -icon = icon || false;
    -iconGroup = iconGroup || 'link';
    // Component textlink
    a(href=url).vwd5-textlink&attributes(attributes)
        if icon
            - iconClass = getIconClass(iconGroup, icon)
            if iconClass
                span(class=['icon', iconClass, 'vwd5-textlink__icon'])
        if block
            block

    // END textlink
