@import "../../../globals/style/core";

.simple-banner{
	position: relative;
	overflow: hidden;
	&.just-image{
		height: 26rem;
		@include media($tablet){
			height: 36rem;
		}
	}
	&.full-vp{
		padding-top: 28.223%;
	    min-height: 243px;
	}
}
.simple-banner__bg{
	position: absolute;
	width: 100%;
	height: 100%;
	@include object-fit(cover);
	.full-vp &{
	    top: 0;
	    left: 0;
		//max-height: 334px;
	}
}
.simple-banner__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;	
	height: 100%;
	background-color: transparentize($grey_100, 0.5);
}
.simple-banner__content{
	//position: absolute;
	background-color: transparentize($grey_100, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-outer{
		//position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		    position: absolute;
		.gridcontainer,
		.grid_12{
			height: 100%;
		}
	}
	&-inner{
	    width: 100%;
    	height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-content: center;
		/*.index &{
			padding: 5rem 0;
			@include media($tablet){
				padding: 7rem 0 8rem 0;
			}
			@include media($widescreen){
				padding: 11rem 0 9rem 0;
			}
		}
		.news &{
			padding: 2rem 0;
			@include media($tablet){
				padding: 7rem 0;
			}
		}*/
		.align-left-always & {
			align-items: start !important; 
		}
		.full-vp & {
			@include media($fablet){
				align-items: start;
				max-width: 50%;
			}
		}
	}	
}

.simple-banner__title{
	@extend .h4;
	color: #fff;
	max-width: 90%;
	text-align: center;
	user-select: none; 
	margin-bottom: 1rem !important;
	.align-left-always & {
		text-align: left !important;
	}
	.full-vp & {
		@include media($fablet){
			text-align: left;
		}
	}
}
.simple-banner__text{
	@extend %b1;
	color: #fff;
	max-width: 90%;
	text-align: center;
	margin-top: 1rem;
	user-select: none;
	margin-bottom: 1rem !important;
	.align-left-always & {
		text-align: left !important;
	}
	.full-vp & {
		@include media($fablet){
			text-align: left;
		}
	}
}
.simple-banner__btn{
	margin-top: 2rem;
}

.full-vp{

}