
mixin simpleBanner(bgSrc, title, text, btnText)
	.simple-banner(class = attributes.class)
		img.simple-banner__bg(src= bgSrc)
		.simple-banner__overlay
		if !attributes.noText
			.kdx_container-fluid.simple-banner__content-outer
				.gridcontainer
					.grid_12
						.simple-banner__content-inner
							.simple-banner__title= title
							.simple-banner__text= text
							+btn('a', btnText)(class= "simple-banner__btn btn-light white")
