include ../../components/NavigationModules/m503_QuickAccessBar/index

+m503_quick_access_bar([
    ['#', 'Акции', 'icon-quickaccess-offer', ''],
    ['#', 'Записаться</br>на сервис', 'icon-quickaccess-service', ''],
    ['#', 'Пройти</br>тест-драйв', 'icon-quickaccess-testdrive', ''],
    ['#', 'Контакты', 'icon-quickaccess-home', '']
])
