@font-face {
  font-family: "icon-navigation";
  src: url('./icon-navigation.woff2') format('woff2'),
  url('./icon-navigation.woff') format('woff'),
  url('./icon-navigation.ttf') format('truetype')
}