@import "fontface";
@import "utility";

.icon-navigation-business-customers {
  @include icon-navigation(business-customers);
}
.icon-navigation-close {
  @include icon-navigation(close);
}
.icon-navigation-configure {
  @include icon-navigation(configure);
}
.icon-navigation-corporate-topics {
  @include icon-navigation(corporate-topics);
}
.icon-navigation-dealer {
  @include icon-navigation(dealer);
}
.icon-navigation-get-your-volkswagen-1 {
  @include icon-navigation(get-your-volkswagen-1);
}
.icon-navigation-get-your-volkswagen-2 {
  @include icon-navigation(get-your-volkswagen-2);
}
.icon-navigation-get-your-volkswagen {
  @include icon-navigation(get-your-volkswagen);
}
.icon-navigation-home {
  @include icon-navigation(home);
}
.icon-navigation-importer {
  @include icon-navigation(importer);
}
.icon-navigation-menu {
  @include icon-navigation(menu);
}
.icon-navigation-models {
  @include icon-navigation(models);
}
.icon-navigation-more {
  @include icon-navigation(more);
}
.icon-navigation-news {
  @include icon-navigation(news);
}
.icon-navigation-offer {
  @include icon-navigation(offer);
}
.icon-navigation-owners {
  @include icon-navigation(owners);
}
.icon-navigation-preowned {
  @include icon-navigation(preowned);
}
.icon-navigation-profile {
  @include icon-navigation(profile);
}
.icon-navigation-responsibility {
  @include icon-navigation(responsibility);
}
.icon-navigation-search {
  @include icon-navigation(search);
}
.icon-navigation-service {
  @include icon-navigation(service);
}
.icon-navigation-volkswagen-live {
  @include icon-navigation(volkswagen-live);
}