@import "../../../globals/style/core";
.top-loader__container{
	height: 4px;
    position: fixed;
    background-color: transparentize($grey_100, 0.7);
    top: 0;
    left: 0;
    right: 0;
    z-index: z-index('topLoader');
    transition: width .3s;
    pointer-events: none;
    &.is_hidden{
	    opacity: 0;
    	transition: opacity 0.1s;
    }
    @include media ($tablet){
    	left: 96px;
    }
}
.top-loader__bar{
    display: block;
    text-align: center;
    width: 0;
    height: 100%;
    background: $primary;
    transition: width .3s;
}