@import "../../../globals/style/core";

.announcement-card{
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-bottom: 1.5rem;
}
.announcement-card__tag{
  position: absolute;
  top: 9px;
  left: -14px;
  background-color: $primary;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding: 0.4rem 2rem;
  transform: rotate(-45deg);
  text-transform: uppercase;
}
.announcement-card__image{

  img{
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
}

.announcement-card__info{
  padding: 15px 20px 20px 20px;
}
.announcement-card__date{
  @extend %b1;
  color: $grey_40;
}
.announcement-card__title{
  @extend .h5;
  margin-top: 5px;
  margin-bottom: 1rem;
  //min-height: 46px;
}
.announcement-card__text{
    @extend %b1;
    //margin-top: 35px;
    height: 125px;
    overflow: hidden;
     color: $grey_100;
}
.announcement-card__link{
  display: block;
  margin-top: 25px;
}


.slick-initialized{
  .announcement-card__container{
    padding-left:0;
    padding-right: 0;
  }
  .announcement-card__title{
    min-height: auto;
  }
}


.announcement-flex-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  .announcement-card {
    height: 100%;
  }
  &.slick-initialized {
    display: block;
    .slick-track {
      display: flex;
      .slick-slide {
        height: auto !important;
        max-width: 100%;
      }
    }
  }
  .announcement-card__container{
    margin-bottom: 1.5rem;
  }
}
