mixin announcementCard(item)
	.grid_12.grid_xs_6.grid_m_4.announcement-card__container(class= attributes.class)
		a.announcement-card(href="#")
			if item.tag
				.announcement-card__tag #{item.tag}
			.announcement-card__image
				img(src= item.imgSrc)
			.announcement-card__info
				.announcement-card__date #{item.date}
				.announcement-card__title #{item.title}
				.announcement-card__text.js_announcement-card__text #{item.text}
				//- +textlink('#','standardlink')(class="announcement-card__link")
						|Подробнее
