
mixin eventCardSpecsTable(obj)
	//******eventCard-Specs start******
	.event-card-specs-table__container.padded-container
		.event-card-specs-table__table
			each item in obj.specItems
				+eventCardSpecsTableItem(item.title, item.content)
		.event-card-specs-table__preview
			if obj.previews
				each preview in obj.previews
					+eventCardSpecsTablePreviewItem(preview)
		block
	//******eventCard-Specs end******
mixin eventCardSpecsTableItem(title, content)
	.event-card-specs-table__table-item
		.event-card-specs-table__table-item--left
			| #{title}
		.event-card-specs-table__table-item--right
			| #{content}

mixin eventCardSpecsTablePreviewItem(src)
	.event-card-specs-table__preview-item
		img(src=src, alt="")