.event-card-specs-table__container{

//border-bottom: 1px solid $grey_20;
}
.event-card-specs-table__table{}
.event-card-specs-table__preview{}
.event-card-specs-table__table-item{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}
.event-card-specs-table__table-item--left{
	width: 100%;
	@extend %b2;
	color: $grey_60;
	@include media ($tablet){
		width: span(1 of 3);
		padding-right: gutter(3);
	}
}
.event-card-specs-table__table-item--right{
	width: 100%;
	@include media ($tablet){
		width: span(2 of 3);
	}
}
.event-card-specs-table__preview{
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 75%;
}
.event-card-specs-table__preview-item{
    position: relative;
    border: 1px solid $grey_20;
    flex-basis: 47.5%;
    margin-right: 0;
    img{
    	width: 100%;
      @include object-fit(cover);
    }
    &:nth-child(n+3){
    	margin-top: 1rem;

    }
    @include media($fablet) {
      flex-basis: 32%;
      margin: 0;
      &:nth-child(n+3){
      	margin-top: 0;
      }
      &:nth-child(n+4){
      	margin-top: 1rem;
      }
    }
}
