extends ../../../globals/layout/_layout

include ../../../components/UacComponents/tabs/index
include ../../../components/UacComponents/breadcrumbs/index
include ../../../components/UacComponents/datepicker/index
include ../../../components/UacComponents/section-separator/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UI_Elements/select/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

        var genderRadio = [{'label':'Господин','value':'male','checked':true},{'label':'Госпожа','value':'female','checked':false}]
        var tabItems = [
        {'text': 'Электронная почта',
        'isActive': true},

        {'text': 'Телефон'}
        ];
        var cities = [{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'},{'value':'msc','label': 'Москва'}]
block content
    .page-section.pd-default.bg-grey
        form
            .kdx_container-fluid
                .gridcontainer
                    .grid_12.grid_sm_2
                        .profile__user-avatar-container
                            .profile__user-avatar-delete.hasicon.icon-link-delete
                            .profile__user-avatar-container-inner
                                .profile__user-avatar-image
                                    img(src=require('../../../_temp_images/profile.jpg'))
                                label.profile__user-avatar-change
                                    | Поменять
                                    input(type="file")

                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3
                        +input('Имя','Имя',false,'Поле заполнено с ошибкой')(type="text")
                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3
                        +input('Фамилия','Фамилия',false,'Поле заполнено с ошибкой')(type="text")
                    .grid_12.grid_xs_10
                        +radiogroup('Пол','gender',genderRadio,'Поле не заполнено')
                .gridcontainer
                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3.push_sm_2
                        +datePicker('Дата рождения', 'Дата рождения')
                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3.push_sm_2
                        +input('E-mail','konstantin.ovs@mail.com',false,'Поле заполнено с ошибкой')(type="e-mail")
                .gridcontainer
                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3.push_sm_2
                        +input('Телефон','+7 934 3285 54 92',false,'Поле заполнено с ошибкой')(type="tel")
                    .grid_12.grid_xs_6.grid_sm_5.grid_m_3.push_sm_2
                        +select(cities,'Выберите ваш город','Выберите ваш город',false,'Город не выбран', '')(data-searchable="true")
            +section-separator('')
            .kdx_container-fluid
                .gridcontainer
                    .grid_12.grid_sm_10.push_sm_2
                        .page-section__headline.small Смена пароля
                .gridcontainer
                    .grid_12.grid_sm_3.grid_m_3.push_sm_2
                        +input('Текущий пароль','19.12.1958',false,'Поле заполнено с ошибкой')(type="password")
                    .grid_12.grid_xs_6.grid_sm_4.grid_m_3.push_sm_2
                        +input('Новый пароль','19.12.1958',false,'Поле заполнено с ошибкой')(type="password")
                    .grid_12.grid_xs_6.grid_sm_3.grid_m_3.push_sm_2
                        +input('Повторите пароль','19.12.1958',false,'Поле заполнено с ошибкой')(type="password")
            +section-separator('')
            .kdx_container-fluid
                .gridcontainer
                    .grid_12.grid_sm_10.push_sm_2
                        .page-section__headline.small Настройка уведомлений
                .gridcontainer
                    .grid_12.grid_sm_10.push_sm_2
                        .js_tabs
                            +tabsHead(tabItems)(class="version3")
                            .js_tabs__content
                                each i in [1, 2]
                                    +tabsTab
                                        +checkbox('','Поле заполнено с ошибкой')
                                            |Получать уведомления о новых сообщениях от менеджеров
                                        +checkbox('','Поле заполнено с ошибкой')
                                            |Получать уведомления о новых спецпредложениях
                                        +checkbox('','Поле заполнено с ошибкой')
                                            |Получать уведомления об ответах на созданные мною заявки
                        +btn('input','Сохранить изменения')(type="submit", class="btn_cta mt40")