@import "../../../globals/style/core";

.m246 {
  @extend %page-module-spacing;
  @include container();
  &__headline,
  &__caption {
    text-align: center;
  }

  &__headline {
    margin-bottom: rem(11px);
    @include media($tablet) {
      margin-bottom: rem(15px);
    }
  }
  &__subtitle {
    @include responsive-typo($bodycopy-b1);
  }
  &__container {
    position: relative;
    margin-top: rem(10px);
    @include media($tablet) {
      margin-top: rem(40px);
    }
  }

  &__dots {
    @include aspect-ratio(378, 143);
    position: absolute;
    width: 100%;
    left: 0;
    top: 16px;
    pointer-events: none;
  }
}


.m246_item {
  //@include clearfix();
  &:focus {
    outline: none;
  }
  @include media($tablet) {
    padding: rem(40px) 0 rem(30px);
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  + .m246_item {
    @include media($tablet) {
      border-top: 2px solid $zeplin-silver;
    }
  }

  &__inner {
    @include kdx-grid-container();
  }

  &__main,
  &__features,
  &__actions {
    @include span(12);

  }

  &__main {
    text-align: center;
  }

  &__features {
    @include media($tablet) {
      @include push(1);
      @include span(4);
    }
  }

  &__actions {
    @include clearfix();
    @include media($tablet) {
      @include push(1);
    }
  }

  &__main,
  &__actions {
    @include media($tablet) {
      @include span(3)
    }
  }

  &__main,
  &__features,
  &__actions {
    @extend %gutters;
    @include media($tablet) {
      margin-bottom: 0;
    }
  }


  &__image {
    margin-bottom: rem(50px);
    @include media($tablet) {
      margin-bottom: rem(10px);
    }
  }

  &__name {

  }

  &__price {
    @include responsive-typo($bodycopy-b1);
  }
  &__old-price {
    text-decoration: line-through;
    color: $zeplin-steel;
  }

  &__list {
    @include media($tablet) {
      padding: 0;
      margin: 0;
    }
  }

  &__old-price,
  &__list {
    @include responsive-typo($bodycopy-b2);
  }

  &__button {
    @include media($tablet) {
      float: right;
      clear: both;
    }
  }

  &__button + &__button {
    margin-top: rem(15px);
  }
}

%gutters {
  @include gutters-default()
}
