extends ../../../globals/layout/_layout

include ../../../components/UacComponents/authBlock/index
include ../../../components/UI_Elements/radiogroup/index
include ../../../components/UI_Elements/checkbox/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: 'hide-navs'
        };

block content
    .page-section.with-auth-block.bg-grey
        .kdx_container-fluid.auth-block_container-fluid
            .gridcontainer
                .grid_12.grid_xs_10.push_xs_1.grid_m_6.push_m_3.grid_l_6.push_l_3.grid_xl_4.push_xl_4
                    .auth-block
                        +authBlockSectionTop("Добро пожаловать в личный кабинет")
                        .auth-block__section.pd-default
                            form
                                .gridcontainer
                                    .grid_12
                                        +input('','Логин',false,'Поле заполнено с ошибкой')(type="text")
                                .gridcontainer
                                    .grid_12
                                        +input('','Пароль',false,'Поле заполнено с ошибкой')(type="password")
                                .gridcontainer
                                    .grid_7
                                        +checkbox('Запомнить меня','')
                                            | Запомнить меня
                                    .grid_5
                                        +btn('a', 'Войти')(class="btn-light btn_cta  no-maxwidth")
                                .gridcontainer
                                    .grid_12.txt_center
                                        a.auth-block__simple-link-action.inline(href="") Забыли пароль?
                                        a.auth-block__simple-link-action.inline(href="") Регистрация
                        .auth-block__section
                            +socialAuth