$size: 1.6rem;

.notification-counter{
  @extend %b4;
  font-size: 10px;
  color: #fff;
  position: absolute;
  display: inline-block;
  padding: 0 5px 0 5px;
  height: $size;
  background-color: $primary;
  border-radius:$size;
  text-align: center;
  line-height: $size;
}