
mixin datePicker(placeholder,label,required)
	.input.js_error_container
		if label
			label(class="input__title")= label
		.input-datepicker__container.placeholder
			input.type(type="hidden", class= required ? 'js_final-val required': 'js_final-val')
			input.input-datepicker__self.js_datepicker(type="text", placeholder= placeholder, data-timepicker = attributes.timepicker)
			input.input-datepicker__touch(type="text", placeholder= placeholder)
			if attributes.timepicker
				input.input-datepicker__touch-self(type="time")
			else 
				input.input-datepicker__touch-self(type="date")
			span.select_wrapper__help-block.error-container