@import "../../../globals/style/core";
@import "flatpickr-default";

.input-datepicker__container{
	position: relative;
	.input-datepicker__self{
		position: relative;
		@extend .input__field;
		padding: .7rem 1.5rem !important;
		z-index: 2;
	}
	.input-datepicker__touch{
		@extend .input__field;
		position: relative;
		top: 0;
		left: 0;
		z-index: 2;
		display: none;
		pointer-events: none;
	}
	.input-datepicker__touch-self{
	  	-webkit-appearance: none;
  		-moz-appearance: none;
		display: block;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    border-radius: $radius;
	    outline: none !important;
	    visibility: none;
	}

}

.input-datepicker__container.native-datepicker {
	.input-datepicker__touch,
	.input-datepicker__touch-self{
		display: block;
	}
	.input-datepicker__self{
		display: none;
	}
}
/*flatpickr override*/
.flatpickr-weekday{
	text-transform: uppercase;
	color: $grey_60;
}
.flatpickr-prev-month svg, 
.flatpickr-next-month svg{
	fill: $primary;
}
.flatpickr-prev-month:hover svg, 
.flatpickr-next-month:hover svg{
	fill: $primary-hover;
}
.flatpickr-day{
	color: $grey_100;
	.today{
		background-color: $primary;
		color: #fff;
	}
	.selected{}
}
.flatpickr-current-month input.cur-year,
.flatpickr-current-month .cur-month{
	font-size: 16px;
	font-weight: bold;
	font-family: $font_head;
}

.prevMonthDay,
.nextMonthDay{
	visibility: hidden;
}