extends ../../../globals/layout/_layout_dws

include ../../../components/ContentModules/m101_Introcopy/index
include ../../../components/ContentModules/m102_Copy/index
include ../../../components/ContentModules/m103_Copy_Media/index

include ../../../components/ContentModules/m111_Button_Set/index
include ../../../components/ContentModules/m112_Price_Tag/index

include ../../../components/ContentModules/m154_Feature_Wrapper/index
include ../../../components/ContentModules/m155_Highlight_Module/index

include ../../../components/ContentModules/mk154_Feature_Wrapper/index

block data
    -
        var data = {
        pageTitle: 'content-modules',
        bodyClass: 'm1xx Content Modules'
        }

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-cave-light.min.css")
    .container-fluid
        .js_ghostGridHolder

        h1 Content modules here
        // Just empty 100px, leave it in bottom of the page
        .gridcontainer
            .mb100
