include Item/index

mixin m503_quick_access_bar(items)
    nav.vw_m503_quick_access&attributes(attributes)
        .vw_m503_quick_access_row
            each item in items
                //
                    link = item[0]
                    text = item[1]
                    icon = item[2]
                    className = item[3]

                +m503_quick_access_bar_item(item)
