@import "../../../globals/style/core";

.m101 {
  @extend %head-module-spacing;
  @include container();
  text-align: center;
  @include media($tablet) {
    text-align: left;
  }
}

.m101__heading {
  margin-bottom: rem(10px);
  @include responsive-typo($header-2, from $tablet);

  @include media($tablet) {
    margin-bottom: rem(20px);
  }
}

.m101__content {
  @include kdx-grid-container();
  @include responsive-typo($bodycopy-b1);
}

.m101__footer {
  margin-top: rem(20px);
  text-align: center;
}

.m101__button,
.m101__link {
  margin-top: rem(10px);
}

.m101__link {
  display: inline-block;
}