@import "../settings/color";

%module-header-white {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: #fff;
  }
}

%module-bg-blue {
  @extend %module-header-white;
  background-color: $bg_blue;
  color: #fff;
}

%module-bg-dark-gray {
  @extend %module-header-white;
  background-color: $bg_power_dark;
  color: #fff;
}

%module-bg-light-gray {
  background-color: $bg_grey;
}


