@import "../../style/core";
@import "../../fonts/icons/navigation/utility";


body.m400 {
  position: static;
}

.m400 {
  @include clearfix();
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: z-index(powerlayer);
}

.m400-opened {
  .m400 {
    display: block;
  }
}

.m400-close {
  position: fixed;
  top: rem(15px);
  right: rem(20px);
  height: rem(30px);
  width: rem(30px);
  z-index: z-index(powerlayer-ontop);
  border-radius: 50%;
  background-color: rgba($zeplin-charcoal-grey, .6);
  color: $white;
  overflow: hidden;
  text-indent: -9999px;
  @include icon-navigation('close');
  &:before {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    line-height: rem(30px);
    text-indent: 0;
    width: 100%;
    .is-ie & {
      line-height: 30px;
    }
  }
  @include media($tablet) {
    top: rem(20px);
    right: rem(30px);
    height: rem(40px);
    width: rem(40px);
    &:before {
      line-height: rem(40px);
      .is-ie & {
        line-height: 40px;
      }
    }
  }
}
