@import '../../../globals/style/_core';
@import "../../../globals/style/partials/typography";

.news-item__date{
	@extend %b1;
	color: $grey_40;
	margin-bottom: 1rem;
}
   
.news-item__title{
	@extend .h3;
	margin-bottom: 1rem;
}
.news-item{
	p{
		@extend %b1;
		margin-top: 3rem;
	}
	img{
		width: 100%;
		position: relative;
		@include object-fit(cover);
		width: 100%;
		margin-top: 3rem;
		@include media($tablet){
			width: 130%;
		}
	}
}  


.news-item__share-container{
	margin-top: 3rem;
}