include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../UI_Elements/button/index
include ../../UI_Elements/link/index

mixin mk172_ThxBtn(title, subtitle, btn)
    - twoCol = twoCol || false;
    // Component
    // HTML 1 17.03.2016
    section.mk172
        if title
            +m021_Headline_H2().mk172__heading
                !=title
        if subtitle
            p.mk172__heading
                !=subtitle
        if btn
            +btn('a', btn.text)(href=btn.href).btn_cta.btn_center.mk172__button
        // HTML 29.03
        .mk172__container.base-typo
            if block
                block
    // END