@import "../../../globals/style/core";

.mk172 {
  @extend %head-module-spacing;
  @include container();
  text-align: center;
}

.mk172__heading {
  @include container();
  margin-bottom: rem(10px);
  @include media($tablet) {
    margin-bottom: rem(20px);
  }
}

.mk172__container {
  @include container();
  @include responsive-typo($bodycopy-b1);
}

.mk172__button {
  margin-top: rem(10px);
}