@import "fontface";
@import "utility";

.icon-engine-automatic {
  @include icon-engine(automatic);
}
.icon-engine-CO2-emissions {
  @include icon-engine(CO2-emissions);
}
.icon-engine-diesel {
  @include icon-engine(diesel);
}
.icon-engine-electric {
  @include icon-engine(electric);
}
.icon-engine-fuel-consumption {
  @include icon-engine(fuel-consumption);
}
.icon-engine-gear-change {
  @include icon-engine(gear-change);
}
.icon-engine-hybrid {
  @include icon-engine(hybrid);
}
.icon-engine-natural-gas {
  @include icon-engine(natural-gas);
}
.icon-engine-petrol {
  @include icon-engine(petrol);
}
.icon-engine-power {
  @include icon-engine(power);
}