@mixin icon-engine-styles {
  font-family: "icon-engine"; // shortening font declaration
}

%icon-engine {
  @include icon-engine-styles;
}

%icon-engine-before {
  &:before {
    @include icon-engine-styles;
  }
}

%icon-engine-after {
  &:after {
    @include icon-engine-styles;
  }
}

@function icon-engine-char($filename) {
  $char: "";

  @if $filename == automatic {
    $char: "\E001";
  }

  @if $filename == CO2-emissions {
    $char: "\E002";
  }

  @if $filename == diesel {
    $char: "\E003";
  }

  @if $filename == electric {
    $char: "\E004";
  }

  @if $filename == fuel-consumption {
    $char: "\E005";
  }

  @if $filename == gear-change {
    $char: "\E006";
  }

  @if $filename == hybrid {
    $char: "\E007";
  }

  @if $filename == natural-gas {
    $char: "\E008";
  }

  @if $filename == petrol {
    $char: "\E009";
  }

  @if $filename == power {
    $char: "\E00A";
  }


  @return $char;
}

@mixin icon-engine($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-engine-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-engine-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-engine-char($filename);
  }
}