@import "../../../globals/style/core";

$topBarHeight: 70px;
$topBarMobileHeight: 50px;

.top-bar__container{
	height: $topBarHeight;
    position: relative;
	z-index: z-index('topBar');
}

.top-bar{
	background-color: $primary;
	position: relative;
	height: 100%;
	@include clearfix();
}

.top-bar__left-part{
	float: left;
	height: 100%;
}
.top-bar__right-part{
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	position: relative;
}

.top-bar__makeacall-icon{
    //padding: 0 2px 0 30px;
    position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: transparentize($grey_100,0.7);
	margin-right: 1.5rem;
	&:before{
		position: absolute;
		display: inline-block;
		color: #fff;
		font-size: 14px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	@include media($upTofablet){
		width: 30px;
		height: 30px;
	}
}

.top-bar__profile-block{
	height: 100%;
	display: flex;
	flex-direction: row;
    align-items: center;
    &.is_active{
    	.topBar__profile-dialogue,
    	.topBar__profile-dialogue-tail{
    		opacity: 1;
    		pointer-events: all;
    	}
    	.top-bar__profile-dialogue-toggler{
    		transform: rotate(-180deg);
    	}
    }
}

.top-bar__profile-link-pic{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 1.5rem;
	img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	@include media($upTofablet){
		width: 30px;
		height: 30px;
		margin-right: 0;
	}
}

.top-bar__makeacall,
.top-bar__profile-link{
	height: 100%;
	display: flex;
	flex-direction: row;
    align-items: center;
}
.top-bar__makeacall-link-text,
.top-bar__profile-link-text{
	@extend %b1;
	font-size: 1.6rem !important;
	color: #fff;
	line-height: $topBarMobileHeight;
}
.top-bar__profile-link-text{
	display: none;
	@include media($tablet){
		display: inline;
	}
}
.top-bar__notifications{
	height: 100%;
	width: 50px;
	margin: 0 10px;
	position: relative;
	&:before{
		display: inline-block;
		height: 100%;
		line-height: $topBarMobileHeight;
		width: 100%;
		color: #fff;
		font-size: 23px;
		text-align: center;
		@include media($fablet){
			line-height: $topBarHeight;
		}
	}

}
.top-bar__notifications-counter{ 
	display: inline-block;
    padding: 0 5px 0 6px;
	height: 16px;
	background-color: $uac_red;
	position: absolute;
	top: 26%;
    right: 8%;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	line-height: 16px;
	font-size: 1rem
}


.top-bar__profile-dialogue-toggler{
	color: #fff;
	margin-left: 1.5rem;
	cursor: pointer;
	height: 35px;
	transition: transform $duration;
	&:before{
		line-height: 35px;
	}
}

.topBar__profile-dialogue{
  position: absolute;
    right: 0;
    top: 100%;
    width: 136%;
    min-width: 236px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
}
.topBar__profile-dialogue-tail{
  	position: absolute;
    border: inherit;
    border-top: none;
    border-left: none;
    background: #ffffff;
    width: 10px;
    height: 10px;
    left: 16%;
    bottom: -5px;
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    @include media($tablet){
    	left: 9%;
    }

}
.topBar__profile-dialogue-content{
      position: relative;
    //width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffff;
    box-sizing: border-box;
}

.topBar__profile-dialogue-item{
	padding: 2rem 4.5rem 2rem 2.5rem;
	display: block;
	font-size: 12px;
	line-height: 1.08;
	color: $grey_60;
	
	& + & {
		border-top: 1px solid $grey_20;
	}
}