
mixin topBar
	.top-bar__container
		.top-bar.kdx_container-fluid
			.top-bar__left-part
				a.top-bar__makeacall(href="#")
					.top-bar__makeacall-icon.hasicon.icon-link-phone
					.top-bar__makeacall-link-text
						| Горячая линия
				//-
					a.top-bar__notifications.hasicon.icon-link-mail(href="#")
						.top-bar__notifications-counter 2
			.top-bar__right-part
				.top-bar__profile-block.js_top-bar__profile-block
					a.top-bar__profile-link(href="#")
						.topBar__profile-dialogue-tail
						.top-bar__profile-link-pic
							img(src=require('../../../_temp_images/profile.jpg'))
						.top-bar__profile-link-text
							| Константинa
					.top-bar__profile-dialogue-toggler.hasicon.icon-arrow-down.js_top-bar__profile-dialogue-toggler
					+topBar__profile-dialogue

mixin topBar__profile-dialogue
	.topBar__profile-dialogue.js_topBar__profile-dialogue
		.topBar__profile-dialogue-content
			a.topBar__profile-dialogue-item(href="#")
				span.icon.icon-navigation-profile.vwd5-textlink__icon
				| Мой профиль
			a.topBar__profile-dialogue-item(href="#")
				span.icon.icon-link-duplicate.vwd5-textlink__icon
				| Выйти
