@import '~globals/style/core';

.vw_m301_stage_item {
  position: relative;
  color: #fff;
  outline: none;

  &--dark {
    color: $grey_100;
  }
}

.vw_m301_stage_item_img_container {
  display: block;
  @include aspect-ratio(16, 9, '.vw_m301_stage_item_img');
  overflow: hidden;
  @include media($tablet) {
    &:before {
      display: none;
    }
    height: 480px;
  }
  @include media($laptop) {
    height: 80vh;
  }
}

.vw_m301_stage_item_img {
  @include object-fit(cover);
  width: 100%;
  height: 100%;
}

.vw_m301_stage_item_cta,
.vw_m301_stage_item_title {
  @include container();
}

.vw_m301_stage_item_title {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  color: inherit;
  text-align: center;
  box-sizing: border-box;
  @include media($tablet) {
    top: 100px;
  }
}

.vw_m301_stage_item_head {
  color: inherit;
  font-size: 2rem;
  @include media($fablet) {
    font-size: 3rem;
  }
  @include media($tablet) {
    font-size: 4rem;
  }
  @include media($laptop) {
    font-size: 6rem;
  }
  @include media($desktop) {
    font-size: 7.6rem;
  }
  @include media($widescreen) {
    font-size: 8.6rem;
  }
}

.vw_m301_stage_item_sub {
  color: inherit;
  font-size: 1.4rem;
  @include media($fablet) {
    font-size: 2.2rem;
  }
  @include media($tablet) {
    font-size: 2.8rem;
  }
  @include media($laptop) {
    font-size: 4rem;
  }
  @include media($desktop) {
    font-size: 5.2rem;
  }
  @include media($widescreen) {
    font-size: 6.0rem;
  }
}

.vw_m301_stage_item_cta {
  margin-top: 20px;
  width: 100%;
  @include media($tablet) {
    position: absolute;
    margin-top: 0;
    bottom: 3rem;
  }

  .btn {
    margin: {
      left: auto;
      right: auto;
    }
  }
}
