mixin m023_Headline_H4(semantic)
    -semantic = typeof semantic === 'boolean' ? semantic : true
    // Component m023_Headline_H4
    if semantic
        h4.m023_Headline_H4&attributes(attributes)
            if block
                block
    else
        .m023_Headline_H4&attributes(attributes)
            if block
                block
    // END m023_Headline_H4
