include ../../components/UacComponents/topBar_v2/index
include ../../components/UacComponents/simpleBanner/index
include ../../components/UacComponents/tabs/index
include ../../components/UacComponents/announcementCard/index
include ../../components/UacComponents/breadcrumbs/index
include ../../components/UacComponents/footer/index
include ../../components/UacComponents/tile-link/index
include ../../components/UacComponents/sys_notification/index
include ../../components/UacComponents/topLoader/index
include ../../components/UacComponents/socialGeneral/index
include ../../components/UacComponents/notificationCounter/index
include ../../components/NavigationModules/Levels/Two/index

-
    unique_id = (function() {
    var increment = 0;
    function inc() {
    increment++;
    return 'kdx_' + increment;
    }
    return inc;
    }());

    function getIconClass(group, name) {
    return !!name ? require('globals/fonts/icons/icons.json')[group][name] : false;
    };

    var loremIpsum = 'Фотон полупрозрачен для жесткого излучения. Турбулентность излучает кварк. Фонон одномерно восстанавливает кристалл. Возмущение плотности взаимно. Волновая тень, как неоднократно наблюдалось при постоянном воздействии ультрафиолетового облучения, ускоряет циркулирующий разрыв.' +
    'Силовое поле конфокально синхронизует квазар. Фронт синфазно расщепляет квазар. Призма отклоняет атом. Гетерогенная структура сжимает термодинамический лептон.' +
    'Гидродинамический удар, в отличие от классического случая, восстанавливает экситон. Химическое соединение устойчиво синхронизует электронный фронт. Жидкость, как неоднократно наблюдалось при постоянном воздействии ультрафиолетового облучения, катастрофично отражает ускоряющийся фотон, даже если пока мы не можем наблюсти это непосредственно. Среда тормозит квантово-механический квазар. Фронт испускает гамма-квант. Волновая тень неустойчиво заряжает субсветовой экситон.';
    var loremIpsumJs = require('globals/js/utility/loremIpsum.js')
    var getLorem = loremIpsumJs.default;
    var getLoremList = loremIpsumJs.list;


block data
    -   var socialFooter = [{'class':'fb icon-share-facebook','title': 'Facebook'},{'class':'extended icon-share-facebook','title':'Facebook','extended' : true},{'class':'vk icon-share-vkontakte','title':'Вконтакте'},{'class':'yt  icon-share-youtube','title':'Youtube'},{'class':'tw icon-share-twitter','title':'Twitter'},{'class':'ok icon-share-odnoklassniki','title':'Одноклассники'}];
    -   var footerNav = ['Правовые аспекты','Версия для печати','Лицензия','Карта сайта'];
    -   var breadcrumbs = [{'text':'Раз страница'},{'text':'Два страница'}];
    -   var topMenuItems = [{text:'Главная',link:'#', isActive: true},{text:'Автомобили в наличии', link:'#', isActive: false},{text:'Заявка на тест-драйв', link:'#' , isActive: false},{text:'Кредитный калькулятор', link:'#' , isActive: false},{text:'Оценить мой автомобиль', link:'#' , isActive: false}];

doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{data.pageTitle}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    if data.avn
        link(href="https://vw-personal.kodix.ru/local/templates/available_cars/css/commons.css?1493039152160402" type="text/css" rel="stylesheet")
        link(href="https://vw-personal.kodix.ru/local/templates/available_cars/css/index.css?1490605265154" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="http://cars.volkswagen.ru/local/templates/available_cars/css/detail_page.css")
body(class=data.bodyClass)
    include  ../../components/NavigationModules/m502_Mainnavigation/index
    
    .page-wrapper
        +topLoader
        +sysNotification
            .grid_12
                p dasdasdasdasdasdasd
        +topBar
        +NavigationLevel_Two(topMenuItems)
        block content
        // container for visual grid for development
        +footer
        .kdx_container-fluid
            .js_ghostGridHolder



