
mixin timelineBlock(time, title)
	//******timeline-block start******
	.timeline__block.timeline__block--basic(class= attributes.class)
		if !attributes.noLeftCol
			.timeline__block-left-part
				if !attributes.noLeftColContent
					.timeline__block-left-part-inner
						.timeline__block-status-indicator
							.timeline__block-status-indicator-circle
							.timeline__block-status-indicator-icon
		.timeline__block-right-part
			if !attributes.noHead
				.timeline__block-head
					.timeline__block-time-indicator
						| #{time}
					.timeline__block-title
						| #{title}
			.timeline__block-content
				block
	//******timeline-block end******

mixin timelineBlockNoCard
	.timeline__block-no-card-content
		block

mixin timelineBlockContentSimpleText
	.timeline__block-content-simpleText
		block