
.timeline__block{
	display: flex;
	align-items: stretch;
}
.timeline__block_basic{}
.timeline__block_full-width{}
.timeline__block_no-inner-pd{

}
.timeline__block-left-part{
	display: none;
	@include media($tablet){
		width: span(1 of 9);
		padding-right: gutter(9);
		display: block;
	}
	.timeline__block--faux-left & {
		display: none ;
		@include media($desktop){
			display: block;
		}	
	}
}

.timeline__block-left-part-inner{
    height: 100%;
	background-image: linear-gradient(180deg, transparent, $grey_20, transparent);
	background-position: 50%;
	background-repeat: repeat-y;
	background-size: 1px 1px;
	.timeline__block--starter &{
		background-image: none;
	}
}

.timeline__block-right-part{
	width: 100%;
	position: relative;
	top: -0.6rem;
	padding-bottom: 3rem;
	@include media($tablet){
		width: span(6 of 9);
	}
	@include media($laptop){
		padding-bottom: 4rem;
	}
	.timeline__block--full-width & {
		@include media($tablet){
			width: span(8 of 9);
		}
	}
	.timeline__block--faux-left.timeline__block--full-width & {
		@include media($tablet){
			width: span(9 of 9);
		}
		@include media($desktop){
			width: span(8 of 9);
		}
	}
	.timeline__block--no-left-col & {
		width: span(9 of 9);
	}

	.timeline__block--no-inner-pd &{
		padding-bottom: 0;
		top: 0;
	}

	.timeline__block:last-child &{
		padding-bottom: 0;
	}
}


.timeline__block-status-indicator{
	position: relative;
	.timeline__block-status-indicator-circle{
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		transition: all $duration;
		margin: 0 auto;
		position: relative;
		background-color: $grey_20;
		.timeline__block-status-indicator--active &{
			transform: scale(3);
			background-color: $primary;
		}
	}
	.timeline__block-status-indicator-icon{
		width: 3rem;
		height: 3rem;
		position: absolute;
		top: 0.6rem;
		left: 50%;
	    transform: translate(-50%,-50%);
	    opacity: 0;
	    transition: all $duration;
		.timeline__block-status-indicator--active &{
			opacity: 1;
		}
		&:before{
			content: '';
			font-family: 'icon-base';
			font-size: 27px;
			color: #fff;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
	    	height: 100%;
    	    text-align: center;
			}
		.timeline__block--visit &{
			&:before{
				content: "\E062";
			}
		}
		.timeline__block--testdrive &{
			&:before{
				content: "\E086";
			}
		}
		.timeline__block--credit &{
			&:before{
				content: "\E017";
			}
		}
		.timeline__block--call &{
			&:before{
				content: "\E05F";
			}
		}
		.timeline__block--message &{
			&:before{
				content: "\E04D";
			}
		}
		.timeline__block--manager &{
			&:before{
				content: "\E02A";
			}
		}
		.timeline__block--offer &{
			&:before{
				content: "\E05A";
			}
		}
		.timeline__block--tradein &{
			&:before{
				content: "\E08E";
			}
		}
	}
	
}
.timeline__block-head{
	margin-bottom: 1rem;
}
.timeline__block-time-indicator{
	@extend %b2;
	color: $grey_60;
	display: inline-block;
	margin-right: 1rem;
}
.timeline__block-title{
	@extend %b2;
	font-weight: bold;
	display: inline;
}

.timeline__block:last-child .timeline__block-left-part-inner{
	background-image: none;
}

.timeline__block-no-card-content{
	margin-bottom: 1.5rem;
}
