//dropdown with checkboxes
@import '../../../node_modules/chosen-js/chosen.css';

.custom-dropdown,
.chosen-container,
.simple-select--chosen-not-inited {
  width: 100% !important;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.6rem;
  border-radius: $radius;
  height: 4.2rem;
  padding: .7rem 0 .7rem 1.5rem;
  background: #fff;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: .1rem solid $grey_20;
  color: $grey_80;
  &.is_active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .custom-dropdown__input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey_80;
  }
}
.custom-dropdown,
.chosen-container{
  padding: 0 !important;
}
.custom-dropdown__result-wrap{
  padding-right: 4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .7rem 0 .7rem 1.5rem;
}
.custom-dropdown__result-wrap.placeholder{
   font-size: 1.4rem;
    line-height: 2.6rem;
    color: $bg_power_dark;
}
//dropdown (fake select) styles
.custom-dropdown__drop {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  box-sizing: border-box;
  background: white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  overflow: hidden;
  border: .1rem solid $grey_20;
  z-index: 1000;
  max-height: 200px;
  .ul_simple {
    li {
      padding: 7px 15px 10px 15px;
      &:hover {
        background-color: $grey;
        color: $grey_80;
      }
    }
    .checkbox {
      width: 100%;
    }
    .checkbox__title {
      margin: 0;
      padding-left: 3rem;
      word-wrap: break-word;
      width: 100%;
    }
    .checkbox__control {
      width: 20px;
      height: 20px;
    }
    .checkbox__mask {
      position: absolute;
      top: 6px;
      width: 20px;
      height: 20px;
      &:before {
        font-size: 1.5rem;
      }
    }
    .checkbox__control:checked + .checkbox__mask::before {
      top: -5px;
    }
  }
}

.custom-dropdown__select-arrow {
  $size: 9px;
  width: $size;
  height: $size;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 15px;
  background: white !important;
  z-index: 3;
  pointer-events: none;
  &:before {
        content: '\e920';
        font-family: 'vw_d5_icons' !important;
        display: block;
        position: absolute;
        font-size: 13px;
        border-top: 0;
        border-left: 0;
        top: 50%;
        left: 50%;
        color: $primary;
        transform: translate(-50%, -50%);
  }
}

.select-container {
  position: relative;
}

.chosen-container {
  &.chosen-with-drop {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .chosen-drop {
      width: auto;
      left: -1px;
      right: -1px;
    }
  }
  .chosen-single {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
    padding: .7rem 0 .7rem 1.5rem;
    height: 100%;
    div {
      display: none;
    }
  }
  .chosen-drop {
    border: .1rem solid $grey_20;
    box-shadow: none;
  }
  .chosen-results {
    margin: 0;
    padding: 0;
    max-height: 210px;
    li.highlighted {
      background-image: none;
      background-color: $grey;
      color: $grey_80;
    }
  }
  .chosen-results li {
    padding: 14px 15px;
    margin: 0;
  }
}

.simple-select--chosen-not-inited{
  pointer-events: none;
  z-index: 2;
  max-height: 42px;
  display: none;
  .no-chosen-inited &{
    display:block;
  }
}
select{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-height: 4.2rem;
    border-radius: 10px;
}