.popup{
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;	
  z-index: z-index('powerlayer');
  &.is_active{
    opacity: 1;
    pointer-events:auto;
  }
}
.popup__overlay{
  width: 100%;
  height: 100%;
  background: transparentize($grey_100, 0.1);
}
.popup__content{
   &.centered{
    @include vertical-align-pseudo;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     min-width:280px;
     text-align: center;
     .popup__content-inner{
      display: inline-block;
      vertical-align: middle;
      max-width: 60%;
      white-space: normal;
     }
   }
}
.popup-close-btn{
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  right: 2rem;
  top: 2rem;
  background-color: transparentize($grey_100,0.7);
  cursor: pointer;
  z-index: 1;
  &:before{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}



.popup__head{
  color: #fff !important;
}
.popup__text{
      @extend %b1;
    color:  $grey_40;
    text-align: center;
}