mixin popup
	.popup.js_popup(class= attributes.class, data-name= attributes.dataName)
		.popup__overlay
		.popup-close-btn.hasicon.icon-navigation-close.js_popup-close-btn
		.popup__content(class= attributes.contentClass)
			.popup__content-inner
				block
