mixin tabsHead(array)
	.tabs__head.js_tabs__head(class= attributes.class)
		.running-underline__container
			.running-underline__container-inner.js_running-underline__container-inner
				.running-underline__runner.js_running-underline__runner
				each item in array
					.running-underline__item.js_tabs__btn(class= item.isActive ? ' is_active' : '') #{item.text}

mixin tabsTab
	.js_tabs__tab
		block