@import "../../../globals/style/core";


/*Tabs head*/
.running-underline__container{
  display: inline-block;
  text-align: center;
  padding: 7px;
  border-radius: 100px;
  background: $primary;
  .version2 &,
  .version3 & {
    padding: 0;
    border-radius: 0;
    background: none;
  }
}

.running-underline__container-inner {
  font-size: 0;
  display: inline-block;
  margin: auto;
  position: relative;
  input[type="radio"]{
    position: absolute;
    left: -9999px;
  }
}
.running-underline__runner {
  width: 0;
  height: 100%;
  background: #4ba82e;
  position: absolute;
  border-radius: 100px;
  top: 0;
  background-color: white;
  left: 0;
  .version2 & {
    border-radius: 0;
    height: 4px;
    background-color: $primary;
    top: auto;
    bottom: 0; 
  } 
  .version3 &{
    display: none;
  }
}
.animation-is-enabled .running-underline__runner {
  transition: all 0.3s; 
}
.running-underline__item {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #aaaaaa;
  text-align: center;
  padding: 10px 25px;
  color: white;
  transition: all 0.3s;

  &.hovered{
      font-weight: bold;
      color: $grey_100;
  }
  .version2 &,
  .version3 & {
    color: $primary;
    padding: 20px 0;
    margin-right: 30px;
    @extend %b1;
    font-weight: bold;
  }
  .version3 &{
    padding:  0 0 25px 0;
  }
}

.running-underline__item.is_active{
  font-weight: bold;
  color: $grey_100;
} 


.uac_tabs{
  .running-underline__container{
    margin-bottom: 2rem;
    @include media($tablet){
      margin-bottom: 4rem;
    }
  }
}