@import "../../../globals/style/core";
@import "../../../globals/style/partials/_typography";
.chat__container{}
.chat__head{
	position: relative;
}

.chat__message-board{}
.chat__message-submit-btn{
	width: 4.2rem;
	height: 4.2rem;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMCA1LjZMMTYgMGwtNC43IDE2TDcuNSA4LjV6IiBmaWxsPSIjMDA5OURBIi8+PC9zdmc+");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer
}
.chat-input{
	margin-bottom: 1rem;
	.input__clear{
		display: none !important;
	}
}
.chat__message-item{
	position: relative;
	margin-bottom: 3rem;
	@include clearfix();
}
.chat__message-item-inner{
	padding: 1.2rem 1.5rem;
	max-width: 80%;
	position: relative;
	&:before{
		content: '';
	  	width: 0; 
  		height: 0; 
  		position: absolute;
  		z-index: 0;
	}
	.chat__message-item--them & {
		float: left;
		background-color: $grey_20;
			&:before{
				left: 0;
				top: -1.5rem;
				border-top: 2rem solid transparent;
				border-bottom: 2rem solid transparent;
				border-left: 2rem solid $grey_20;
		}
	}
	.chat__message-item--us & {
		float: right;
		background-color: #fff;
		&:before{
			right: 0;
			top: -1.5rem;
		  	border-top: 2rem solid transparent;
  			border-bottom: 2rem solid transparent; 
  			border-right:2rem solid #fff; 
		}
	}
}
.chat__message-item-text{
	@extend %b1;
	margin-bottom: 0.5rem;
}

.chat__message-item-date{
	@extend %b4;
	color: $grey_60;
}

.chat__load-more-btn-container{
	width: 100%;
	text-align: center;
	.chat__load-more-btn{
		display: inline-block;
		span{
		  	cursor: pointer;
		    @extend %b1;
		    color: $primary;
		    border-bottom: 1px dotted $primary;
		    user-select: none;
		}

	    &:before{
		    font-size: 2.7rem;
		    position: relative;
		    bottom: -0.8rem;
		    color: $primary;
		    transition: all $duration;
		    user-select: none;
	    }
	    &.is_active:before{
	    	transform: rotate(-180deg);
	    }
	}
}