mixin chatBlock
	.chat__container
		.chat__head
			form
				+input('','Введите текст сообщения')(class="chat-input")
				.chat__message-submit-btn
		.chat__message-board
			.chat__message-item.chat__message-item--them
				.chat__message-item-inner
					.chat__message-item-text
						| Здравствуйте! Одну минутку!
					.chat__message-item-date
						|22.09.17 10:38
			.chat__message-item.chat__message-item--us
				.chat__message-item-inner
					.chat__message-item-text
						|Здравствуйте, меня интересуют особенности кредитной программы. Будьте добры, подскажите!
					.chat__message-item-date
						| 22.09.17 10:38
			.chat__load-more-btn-container
				.chat__load-more-btn.hasicon.icon-base-arrow-down.js_chat__load-more-btn 
					span История сообщений

