extends ../../../globals/layout/_layout

include ../../../components/UacComponents/simpleBanner/index
include ../../../components/UacComponents/tabs/index
include ../../../components/UacComponents/announcementCard/index
include ../../../components/UI_Elements/button/index

block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var social = [{'class':'fb icon-share-facebook','title': 'Facebook'},{'class':'vk icon-share-vkontakte','title':'Вконтакте'},{'class':'tw icon-share-twitter','title':'Twitter'},{'class':'ok icon-share-odnoklassniki','title':'Одноклассники'}];
        var announcementCards = [{
            'imgSrc':'http://lorempixel.com/480/270/abstract',
            'date':'02.02.2017',
            'title':'Спрос на автомобили Volkswagen в России вырос в 2016 году',
            'text':'Продажи автомобилей с пробегом по программе Das WeltAuto в 2016 году выросли в 5.5 раз. Около 4.000 автомобилей, сертифицированных по программе, продано в 2016. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
            'linkMore':'Подробнее'},
            {'imgSrc':'http://lorempixel.com/480/270/abstract',
            'date':'25.01.2017',
            'title':'Volkswagen представляет I.D.BUZZ на автосалоне в Детройте',
            'text':'Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее. Мы хотим сделать электромобильность новым. Председатель правления марки Volkswagen д-р Герберт Дисс (Dr. Herbert Diess) отметил: «I.D. BUZZ – современный, яркий и ориентирован на будущее.',
            'linkMore':'Подробнее'},
            {'imgSrc':'http://lorempixel.com/480/270/abstract',
            'tag':'Акция',
            'date':'c 01.12.2016 по 28.02.2017',
            'title':'Зимние радости с Volkswagen',
            'text':'Пусть зима подарит вам много счастливых моментов и ярких эмоций! Когда автомобиль в отличном техническом состоянии, вам не страшны ни снег, ни морозы!',
            'linkMore':'Подробнее'}]
block content
    .page-section.bg-white.clearfix
        +simpleBanner('http://lorempixel.com/642/362/transport/', '', '','')(class="full-vp just-image", noText= true)
    .page-section.bg-white.pd-default.clearfix
        .kdx_container-fluid
            .gridcontainer.news-item
                .grid_12.grid_sm_8.push_sm_2
                    .news-item__date
                        | 25.01.2017
                    .news-item__title
                        | Международные награды моделей марки Volkswagen в первом квартале 2017 года
                    p Volkswagen Tiguan c двигателем мощностью 150 л.с. приехал в салоны официальных дилеров марки Volkswagen в России. Двигатель 150 л.с. предлагается в сочетании с 6-ступенчатой механической или автоматической коробками передач. Цена на модель с этим двигателем начинается от 1.659.000 рублей за версию с МКПП и полным приводом 4Motion. Гарантия на Tiguan составляет 3 года.

                    p Мотор 1.4 TSI, которым оснащается самый популярный кроссовер марки Volkswagen, девять раз становился победителем международной премии «Двигатель года». Таким образом, он является самым успешным силовым агрегатом в истории проведения этого международного конкурса технологий двигателестроения.

                    p Силовой агрегат мощностью 150 л.с. доступен для Volkswagen Tiguan во всех комплектациях: Trendline с механической коробкой и полным приводом, Comfortline и Highline с автоматической коробкой передач с двойным сцеплением и передним или полным приводом 4Motion.
                    img(src="http://lorempixel.com/1281/720/transport/", alt="")
                    p Этот двигатель обеспечивает отличную тягу и высокую экономичность: расход в загородном цикле составляет лишь 5,6 л, и запас хода при баке объемом 58 литров составит более 1000 км, что позволяет Tiguan c полным приводом 4Motion  преодолеть, например, расстояние от Москвы до Санкт-Петербурга на одной заправке.

                    p Глава марки Volkswagen в России Пьер Бутен отмечает: «Новый Volkswagen Tiguan демонстрирует высокие результаты продаж в России. Версия с двигателем мощностью 150 л.с. имеет отличную динамику при низких показателях расхода топлива и демократичной цене, и мы приглашаем клиентов познакомиться с ней в салонах официальных дилеров марки. Volkswagen Tiguan с двигателем 150 л.с. станет отличным выбором для клиентов в этом сегменте».
                .grid_12.grid_sm_8.push_sm_2.news-item__text-container
                    .news-item__share-container
                        .social-share_label
                            | Поделиться:
                        +socialGeneral(social)
    .page-section.pd-default.bg-grey
        .kdx_container-fluid
            .gridcontainer
                .grid_12
                    .page-section__headline.txt_center
                        | Читайте также
            .gridcontainer.oneToHide-cards
                .js_announcement-carousel.announcement-flex-container
                   each card in announcementCards
                        +announcementCard(card)