@import "../../../globals/style/core";

.tile-link__flex-container{
	display: flex;
	align-items: stretch;
	flex-direction: column;
	@include media($tablet){
		flex-direction: row;
	}
}

.tile-link{
	height: 100%;
	padding: 17px;
	background-color: $primary;
	transition: all $duration;
	cursor: pointer;
	margin-bottom: 1rem;
	display: flex;
    align-items: center;

	&:hover{
		background: $primary_hover
	}
	@include media($tablet){
		padding: 30px;
		display: block;
	}
}
.tile-link__icon.hasicon{
	margin-right: 1.7rem;
	&:before{
		color: #fff;
		font-size: 35px;
	}
	@include media($tablet){
		margin-bottom: 3rem;
	}

}
.tile-link__text{
	@extend .h4;
	color: #fff;
	user-select: none; 
}
