include ../radio/index

mixin radiogroup(title, name, radiobtns, error_text)
	.radiogroup.js_error_container
		.radiogroup__title= title
		each radio in radiobtns
			+radiobtn(radio.label, name, radio.value)( checked=radio.checked )&attributes(attributes)

		span.radiogroup__help-block.error-container
			!= error_text
