mixin icon(group, name, tag)
    -
        iconList = require('globals/fonts/icons/icons.json');
        if(!iconList.hasOwnProperty(group) || !iconList[group].hasOwnProperty(name)) {
            console.log('There is no icon with this name and group.' + group + ' ' + name);
        }
    // Component icon
    #{tag || 'span'}.icon(class=iconList[group][name], data-icon-group=group, data-icon-name=name)&attributes(attributes)
    // END - icon
