include ../../UI_Elements/button/index
mixin m111_Button_Set(buttons)
    // Component m111_Button_Set
    .m111
        each button in buttons
            +btn(button.tag, button.text)(class="m111__button")&attributes(button.attributes)
    // END m111_Button_Set
