include ../../UI_Elements/icon/index
include ../../UI_Elements/link/index

mixin footer
	.uac-footer.clearfix
		+breadcrumbs(breadcrumbs)
		.m520-topbar
			.m520-topbar__container.kdx_container-fluid
				.gridcontainer
					.grid_12
						a.m520-topbar__gotop.js_scroll-to-top-btn
							| Вернуться наверх
							+icon('link', 'back-to-top').m520-topbar__icon
		.uac-footer__main.kdx_container-fluid.clearfix
			.gridcontainer
				+socialGeneral(socialFooter)(class='uac-footer__social grid_12 grid_sm_6 push_sm_6 grid_m_4 push_m_8')
				div.grid_12.grid_sm_6.pull_sm_6.grid_m_8.pull_m_4
					.uac-footer__copyright © Фольксваген 2017
					nav.uac-footer__nav
						ul
							each item in footerNav
								li.uac-footer__nav-item
									a(href="#") #{item}
			.gridcontainer
				.grid_12
					.uac-footer__small-text
						| Телефон горячей линии: 8-800-333-4441
					.uac-footer__small-text
						| Разработано в Kodix