@import "../../../globals/style/core";

.uac-footer {
  background-color: #fff;
  .m520-topbar__container {
    text-align: right;
  }
  .m520-topbar__gotop {
    @extend %b2;
    line-height: 3.5rem;
    @include link-color($grey_100, $grey_100);
  }
  .m520-topbar__icon {
    margin-left: 1.7rem;
    font-size: 1.2rem;
  }
}

.uac-footer__main {
  padding-top: 30px;
  padding-bottom: 40px;
  @include media($tablet) {
    padding-top: 40px;
  }
}

.uac-footer__copyright {
  @extend %b2;
  display: inline-block;
  padding-right: 1rem;
  @include media($desktop) {
    margin-right: 50px;
    padding-right: 0;
  }
}

.uac-footer__nav {
  display: inline-block;
  margin-bottom: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .uac-footer__nav-item {
    @extend %b2;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    @include media($desktop) {
      padding: 0 0.5rem;
    }
    &:not(:first-child):after {
      content: '';
      top: 0.5rem;
      left: -0.3rem;
      display: block;
      position: absolute;
      width: 1px;
      height: 1.3rem;
      background-color: $grey_100;
    }
    &:not(:last-child) {
      display: none;
      @include media($desktop) {
        display: inline-block;
      }
    }
    a {
      @include link-color($grey_100, $grey_100);
    }
  }
}

.uac-footer__social {
  font-size: 0;
  text-align: center;
  margin-bottom: 30px;
  @include media($tablet) {
    text-align: right;
    margin-bottom: 0;
  }
}

.uac-footer__small-text {
  @extend %b4;
  margin: 10px 0;
  color: $grey_60;
}

/*
.uac-footer__main-left{
	float: none;
	@include media($tablet){
		float: left;
	}
}
.uac-footer__main-right{
	float: none;
	@include media($tablet){
		float: right;
	}
}*/