.color-picker{
	list-style: none;
	margin: 0;
	margin-top: 15px;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@include media($fablet){
		margin: 0;
		display: block;
	}
	li{
		display: inline-block;
    	margin: 0 11px 20px 11px;
	}
	&__color-item{
		display: block;
		cursor: pointer;
		margin-bottom: 0;
		input[type="checkbox"] {
			position: absolute;
			left: -9999px;
		}

	}
	&__color-filled{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: relative;
		border: 1px solid $grey_40;
		img{
			width: 100%;
			height: 100%;
		    border-radius: 50%;
		}
		&:before{
			@include circle-with-text(19px);
			content: "\E969";
			position: absolute;
	  		border: solid 1px #ffffff;
	  		z-index: 1;
	  		font-size: 10px;
	  		top: -5px;
	  		right: -7px;
	  		opacity: 0;
	  		transition: opacity $trans_linear $duration;
		}
		input[type="checkbox"]:checked + & {
			&:before{
				opacity: 1;
			}
		}
	}
	.color-picker__color-filled-inner{
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 50%;
	}
	.color_primary{
		height: 100%;
		width: 60%;
		float: left;
		pointer-events: none;
	}
	.color_secondary{
		height: 100%;
		width: 40%;
		float: right;
		pointer-events: none;
	}
	.color-picker__color-gradient-mask{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;
	}
}