@import '../../../globals/style/core';

.m310_es {
  position: relative;
  color: $white;

  &.is-dark {
    color: $grey_100;
  }
  &.is-light {
    color: $inverted;
  }
}
.m310_es .m016_media_32x9 {
  margin-bottom: 0;
}

.m310_es_bg_blue {
  width: 100%;
  padding-top: 28.125%;
  background: $primary;
}

.m310_es_container {
  @include container();
  color: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.m310_es_headline {
  color: inherit;
  font-size: 2rem;
  line-height: 1.1;
  max-height: 4.9rem;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include media($fablet) {
    font-size: 3rem;
    max-height: 7.1rem;
  }

  @include media($tablet) {
    font-size: 4rem;
    max-height: 17.3rem;
    padding-top: 8rem;

    position: relative;
    top: 0;
    transform: translateY(0);
  }

  @include media($laptop) {
    font-size: 6rem;
    max-height: 2.12rem;
    padding-top: 7.5rem
  }

  @include media($desktop) {
    font-size: 7.6rem;
    max-height: 2.43rem;
    padding-top: 7.1rem
  }

  @include media($widescreen) {
    font-size: 8.6rem;
    line-height: 1.1;
    max-height: 26.27rem;
    display: block;
    padding-top: 6.85rem;
  }
}

.m310_es_qab {
  @include container();
  display: none;
  @include media($tablet) {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 25px;
    z-index: 1;
  }
}
