extends ../../../globals/layout/_layout_dws

include ../../../components/StageModules/m301_Homepage_Stage/index
include ../../../components/TeaserModules/m245_Modelaccess_Teaser/index
include ../../../components/FunctionalModules/mk611_CTA_Form_Full_Width/index
include ../../../components/FunctionalModules/mk611_CTA_Form_Full_Width/index
include ../../../components/TeaserModules/m200_Basic_Content_Teaser/index
include ../../../components/TeaserModules/m211_Next_Steps_Teaser/index
include ../../../components/TeaserModules/mk267_Stock_List/index
include ../../../components/ContentModules/m155_Highlight_Module/index
include ../../../components/ContentModules/mk154_Feature_Wrapper/index
include ../../../components/ContentModules/m103_Copy_Media/index
include ../../../components/ContentModules/m102_Copy/index
include ../../../components/Notification_and_Information_Modules/m644_Information_Layer/content

include ../../../components/BasicModules/Headline/m024_Headline_H5/index
include ../../../components/BasicModules/Headline/m022_Headline_H3/index
include ../../../components/UI_Elements/lists/index

block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

block content
    include ../../../presets/dws/mk504_dealer_id
    +m301_homepage_stage([
        {
            img: require('_temp_images/stage_image/dark.jpg')
        },
        {
            img: require('_temp_images/stage_image/light.jpg'),
            header: 'Passat Alltrack',
            subheader: 'Преимущество до 200 000 р.',
            lightness: 'dark'
        }
    ])
    +m245_Modelaccess_Teaser()

    +m155_Highlight_Module('Акции и спецпредложения',[
        {
            image: require('_temp_images/offers_photo/offer1.jpg'),
            subline: 'Покупка',
            headline: 'Зимние радости с Volkswagen',
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/offers/special-offer',
            optional: {
                ghost_button: {
                    button_text: 'Посмотреть все акции по покупке'
                }
            }
        },


    ])

    +mk611_cta_form_full_width()


    +m103_Copy_Media(
    require('_temp_images/dealer_photo/dealer2.jpg'),
    'right',
    {
        headline: 'Фольксваген Центр Комсомольск-на-Амуре — официальный дилер Volkswagen в Хабаровском крае.'
    }
    )
        p
            |Специализированные официальные автосало-ны в Фольксваген центре Комсомольск-на-Амуре — это не только продажа автомобилей Фольксваген в Москве без выходных и праздничных дней в хорошей транспортной доступности. Мы предлагаем своим клиентам полный спектр услуг по подбору и покупке легковых и коммерческих автомобилей Volkswagen, а также по их дальнейшему ре-монту и обслуживанию.
            a.sup
                | discl
                +m644_Information_Layer_Content()
                    !=getLorem()
        .h5 Купить Фольксваген у официального дилера Фольксваген Центр Комсомольск-на-Амуре выгодно по следующим причинам:
        ul
            li у нас представлен полный модельный ряд автомобилей, официально сертифицированных для продажи на территории России;
            li весь персонал прошел обучение и квалификационную сертификацию в специализированном центре подготовки компании-производителя и поэтому сможет оказать высококвалифицированную помощь при выборе автомобилей;
            li благодаря индивидуальному подходу к каждому клиенту мы можем подобрать оптимальные варианты специальных предложений, программ страхования и кредитования;
            li посетители автосалона смогут не только посмотреть автомобиль в шоу-руме, но и оценить его на тест-драйве;
            li техническое оснащение автоцентра позволяет оперативно и с высочайшим качеством проводить все виды работ по диагностике, ремонту и техническому обслуживанию автомобилей;
            li специальная Служба контроля качества постоянно контролирует работу персонала и помогает в решении возможных проблем.


    +mk154_Feature_Wrapper('Новости', [
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: 'Волоколамское шоссе, 95',
            copy: '+7 (495) 565-38-06 </br>Ближайшие станции метро: Волоколамская, Тушинская. </br>пн-пт 08:00 — 21:00 </br>сб-вс 10:00 — 17:00',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer',
            single_reversed: true
        }
    ])


    +mk154_Feature_Wrapper('Новости', [
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: getLorem(25),
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        }
    ]).mk154_reversed

    +mk154_Feature_Wrapper('Новости', [
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: getLorem(25),
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: getLorem(25),
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: getLorem(25),
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            headline: getLorem(25),
            copy: getLorem(),
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        }
    ],
    false,
    {
        text: 'Показать все новости',
        href: '/all-news'
    }
    )

    +m155_Highlight_Module('Наши автосалоны', [
        {
            image: require('_temp_images/dealer_photo/dealer1.jpg'),
            subline: 'Волоколамское',
            headline: 'Волоколамское шоссе, 95',
            copy: '+7 (495) 565-38-06 </br>Ближайшие станции метро: Волоколамская, Тушинская. </br>пн-пт 08:00 — 21:00 </br>сб-вс 10:00 — 17:00',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer2.jpg'),
            subline: 'Теплый стан',
            headline: 'Волоколамское шоссе, 95',
            copy: '+7 (495) 565-38-06 </br>Ближайшие станции метро: Волоколамская, Тушинская. </br>пн-пт 08:00 — 21:00 </br>сб-вс 10:00 — 17:00',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },
        {
            image: require('_temp_images/dealer_photo/dealer2.jpg'),
            subline: 'Новогиреево',
            headline: 'Волоколамское шоссе, 95',
            copy: '+7 (495) 565-38-06 </br>Ближайшие станции метро: Волоколамская, Тушинская. </br>пн-пт 08:00 — 21:00 </br>сб-вс 10:00 — 17:00',
            button_text: 'Узнать больше',
            link: '/contacts/example-dealer'
        },

    ])


    +mk267_Stock_List()

    +mk611_cta_form_full_width()

    +m211_Next_Steps_Teaser([
        {
            headline: 'Автомобили в наличии',
            copy: 'Все автомобили в наличии в салонах официального дилера Фольксваген Комсомольск-на-Амуре.',
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            link_text: 'Автомобили в наличии',
            link: '',
            icon_align: true
        },
        {
            headline: 'Контакты',
            copy: 'Узнайте, как связаться с нами, где находятся наши автосалоны, и как получить обратную связь.',
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            link_text: 'Перейти в раздел',
            link: '',
            icon_align: true
        },
        {
            headline: 'Запись на сервис',
            copy: 'Плановое техническое обслуживание и постгарантийный сервис Вашего Volkswagen.',
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            link_text: 'Запись на сервис',
            link: '',
            icon_align: true
        }
    ])

    +m102_Copy('Произвольный SEO-текст')
        p Компания Фольксваген Центр Комсомольск-на-Амуре является официальным дилером марки Volkswagen (Фольксваген). Специализированные автоцентры компании расположены на 3-м км внешней стороны МКАД, на Новоясеневском проспекте, 6 и на Волоколамском шоссе, 95.
        p Коммерческие автомобили Volkswagen (Фольксваген), официально сертифицированные для продажи на территории России, можно приобрести и обслужить в автоцентре на Волоколамском шоссе, 95 и на Новоясеневском проспекте, 6.
        p Посетители могут выбрать автомобиль в шоу-руме, внимательно изучить модель, задать любые вопросы высококвалифицированным консультантам и окончательно определиться в выборе, проверив машину на тест-драйве.
        p Техническое оснащение автоцентра полностью соответствует требованиям производителя и позволяет оперативно и с высочайшим качеством проводить все виды работ по диагностике, ремонту и техническому обслуживанию коммерческих автомобилей марки.
        p Персонал центра прошел обязательное обучение и квалификационную сертификацию в специализированном центре подготовки компании-производителя.
        p У нас работает специальная Служба контроля качества, в обязанности которой входит постоянный мониторинг удовлетворенности клиентов работой компании, выявление и устранение возможных проблем.
        p Компания обладает большим опытом работы с корпоративными клиентами, в числе которых МВД РФ, МЧС РФ, ФСО РФ, Верховный суд РФ, ОАО «Российские железные дороги», ОАО «Международный аэропорт Шереметьево», Газпром, Лукойл, ТНК-BP, Gillette, IKEA, Ашан, ЗАО «Пивоварня Москва-Эфес» и многие другие.

