include item/index
include ../../BasicModules/Headline/m021_Headline_H2/index
mixin m245_Modelaccess_Teaser(items)
    // VWD5 m245_Modelaccess_Teaser
    -
        cars = require('components/UI_Elements/Imagery/cars/list.js');
    section.m245
        +m021_Headline_H2.m245__title Модели Volkswagen
        .m245__container
            .m245__inner
                .m245__carousel.gridcontainer
                    each model in cars.models
                        +m245_Modelaccess_Teaser__item(model.getMainKit().flatImage, '#', model.name, model.getMainKit().price)



            .vwd5_arrows.m245__controls
            ul.vwd5_dots.m245__dots
        div.txt_center.m245__complete_list
            a.m245__complete_list_link(href='/complete-car-list')
                span.hasicon.icon-link-standardlink.m245__complete_list_icon
                | Посмотреть все модели
    // VWD5 m245_Modelaccess_Teaser -- END//
