.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;

  &__control {
    display: block;
    height: 3.0rem;
    width: 3.0rem;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  &__mask {
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3.0rem;
    height: 3.0rem;
    border-radius: $radius;
    background: #fff;
    border: .1rem solid $grey_20;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: -6px;
      opacity: 0;
      color: #fff;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      width: 100%;
      transition-duration: $duration;
      transition-timing-function:  $trans_basis;
      transition-property:  opacity, top;
      visibility: hidden;
    }
    .has-error & {
      color: $red;
      border-color: $red;
    }
    .ie-browser &:before{
      line-height: 30px;
    }
  }
  &__control:checked + &__mask{
    background: $primary;
    border-color: $primary;
    &::before {
      opacity: 1;
      top: -1px;
      visibility: visible;
    }
  }

  &__title {
    font-size: 14px;
    margin-left: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
  }
  &__footnote{
display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 8px;
    color: #fff;
    line-height: 13px;
    background: $primary;
    position: relative;
    top: -5px;
    left: 3px;
    text-align: center;
  }
}
