mixin checkbox(label)
	label.checkbox
		input.checkbox__control(type='checkbox')&attributes(attributes)
		.checkbox__mask.hasicon.icon_icon-nextstep-checkmark
		if label
			span.checkbox__title
				!= label
				if attributes.footnote
					+footnote-disclaimer(attributes.footnote, attributes.disclaimerData)
		span.input__help-block
			| Согласие обязательно
