extends ../../../globals/layout/_layout

include ../../../components/UacComponents/section-separator/index
include ../../../components/UI_Elements/link/index
include ../../../components/UI_Elements/button/index
include ../../../components/UacComponents/tile-link/index
include ../../../components/UacComponents/goBackLink/index

mixin competenceItem(item)
        li.grid_12.grid_xs_6.grid_sm_3.dealer-detail__competence-item
            .dealer-detail__competence-item-icon.hasicon(class= item.icon)
            .dealer-detail__competence-item-text
                span= item.text
block append data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };
        var tiles = [{'icon':'icon-nextstep-testdrive','text': 'Заявка на тест-драйв'},{'icon':'icon-nextstep-calculator','text': 'Финансовые предложения'},{'icon':'icon-nextstep-preowned','text': 'Оценить мой автомобиль'}];
        var competences = [{'icon':'icon-competence-body_repair','text': 'Кузовной ремонт'},{'icon':'icon-competence-corporate','text': 'Финансовые предложения'},{'icon':'icon-competence-hybrid','text': 'Оценить мой автомобиль'},{'icon':'icon-competence-new_cars','text': 'Отдел продаж новых автомобилей'},{'icon':'icon-competence-used_cars','text': 'Отдел продаж автомобилей с пробегом'},{'icon':'icon-competence-service','text': 'Сервис'},{'icon':'icon-competence-spare_details','text': 'Запчасти и аксессуары'}]
block content
    .page-section.bg-grey
        .dealer-detail__map-container#dealer-detail__map-container
    .page-section.pd-default.bg-grey
        .kdx_container-fluid
            .gridcontainer
               .grid_12
                    .dealer-detail__info-basic
                        +go-back-link('Вернуться назад')
                        .dealer-detail__name Volkswagen Экспресс на Байкальской
                        .dealer-detail__coords 
                            .dealer-detail__location 121087 Москва Байкальская ул., 4/6, стр.3 
                            .dealer-detail__distance 4 км от меня
                        ul.dealer-detail__contacts
                            li
                                +textlink('#','phone', 'link')(class="dealer-detail___link")
                                    |+7 (831) 2-330-333
                            li
                                +textlink('#','mail', 'link')(class="dealer-detail__link")
                                    |mail@vw-express.ru
                            li
                                +textlink('#','website', 'link')(class="dealer-detail__link")
                                    |Перейти на сайт дилера
                            li
                                +textlink('#','route', 'link')(class="dealer-detail__link")
                                    |Проложить маршрут
        +section-separator('mt40 mb40')
        .kdx_container-fluid
            .gridcontainer.tile-link__flex-container
                each tile in tiles
                    .grid_12.grid_sm_4
                        +tile-link(tile)
    .page-section.pd-default.bg-white
        .kdx_container-fluid
            .gridcontainer
                ul.dealer-detail__competences
                    each competence in competences
                        +competenceItem(competence)
    script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH8AvkDWvDobU3-Sz32KB44FK9N5h-6Uc")