.disclaimer-container{
 	position: fixed; 
  bottom: 0;
  z-index: 1000;
  background-color: $primary;
  color: white;
  left: 2.0rem;
  right: 2.0rem;
	background-color: transparentize($bg_power_dark, 0.1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	transform: translate(0, 100%);
	opacity: 0;
	transition: all 0.3s;
	&.is_active{
		transform: translate(0,0);
		opacity: 1;
	}
  @include media($tablet) {
    left: 14.4rem;
    right: 4.8rem;
  }

  @include media($laptop) {
    left: 14.6rem;
    right: 5.0rem;
  }

  @include media($widescreen) {
    left: 15.6rem;
    right: 6.0rem;
  }
}
.disclaimer{
	padding-right: 0px;
  @include media($tablet) {
    padding-right: 45px;
  }
}
.disclaimer__content{
	max-height: 200px;
	p{
		@extend %b4;
		color: $grey;
	}
}
.disclaimer__close-btn{
  width: 26px;
  height: 26px;
  background-color: rgba(29, 30, 32, 0.3);
  position: absolute;
  top: 15px;
  right: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
	&:before {
    content: '\e946';
    font-family: 'vw_d5_icons' !important;
    display: block;
    position: absolute;
    border-top: 0;
    font-size: 14px;
    border-left: 0;
    color: #fff;
    line-height: 20px;
    left: 5px;
    top: 3px;
  }

}
.disclaimer{
 .mCSB_scrollTools .mCSB_draggerRail{
	background-color: #fff;
	width: 4px;
	border-radius: 4px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: $primary;
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: $primary;
}
}
