mixin disclaimer(text, dataName)
	.container-fluid.disclaimer-container.js_disclaimer-container(data-name= dataName)
		.disclaimer__close-btn.js_disclaimer__close-btn
		.grid_12
			.disclaimer
				.disclaimer__content.js_custom-scroll
					.disclaimer__content-inner
						p= text