@import "../../../globals/style/core";

.m410 {
  @include responsive-typo($bodycopy-b1);

  &__inner {
    position: relative;
  }

  &__item {
    height: auto;
    &:focus {
      outline: none;
    }
  }

  &__image {
    @include media($desktop){
      &:before {
        height: 80vh;
        padding: 0;
      }
    }
    background-color: $zeplin-charcoal-grey;
  }

  &__content {
    @extend %head-module-spacing;
    @include container();
  }

  &__controls {
    top: 50%;
  }

  &__dots {
    bottom: rem(20px)
  }

  &__controls,
  &__dots {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
}
