include ../../BasicModules/Media/m013_Media_16x9/index
include ../../UI_Elements/button/index

mixin m410_PL_Media_Gallery(images)
    // Component m410_PL_Media_Gallery
    section.m410
        .m410__container
            .m410__inner
                .m410__slider
                    each image in images
                        .m410__item
                            +m013_Media_16x9(image.image, false, image.caption).m410__image
                .m410__dots
                .m410__controls
        .m410__content.base-typo
            each image in images
                .m410__item
                    h1
                        !=getLorem(35)
                    h2
                        !=getLorem(35)
                    h3
                        !=getLorem(35)
                    h4
                        !=getLorem(35)
                    h5
                        !=getLorem(35)
                    h6
                        !=getLorem(35)
                    p
                        !=getLorem()
                    +btn('a', getLorem(15)).btn_cta
                    a
                        !=getLorem(35)




    // END - m410_PL_Media_Gallery
