
mixin dealerCardLocator(item)
	.dealer-card
		.dealer-card__above-the-fold
			.dealer-card__name Aurore Auto
			.dealer-card__address
				| Москва, Проектируемый проезд №4062, дом 6, строение 16
			a.dealer-card__phone(href="tel:#")
				| +7 (495) 565-3806
		.dealer-card__below-the-fold
			.dealer-card__hours
				| По будням с 08:00 до 21:00
				<br>
				|В выходные с 10:00 до 20:00
			a(href="#").dealer-card__link
				| Перейти на сайт дилера

