@import "../../../globals/style/core";
.dealer-card{
	position: relative;
	padding: 2rem 2.7rem 2rem 4.3rem;
	background: #fff;
	& + & {
		border-top: 1px solid $grey_20
	}
	&.is_hidden {
		display: none;
	}
}

.dealer-card__fold-toggler{
	width: 12px;
	height: 8px;
	position: absolute;
	left: 20px;
	top: 25px;
	cursor: pointer;
	&:before{
		font-size: 12px;
		color: $primary;
	}
	.is_open &{
		transform: rotate(180deg);
	}
}
.dealer-card__above-the-fold{}
.dealer-card__below-the-fold{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0;
	.is_open &{
		max-height: 120px;
	}
}
.dealer-card__name{
	@extend .h5;
	margin-bottom: 0.5rem !important;
	cursor: pointer;
}
.dealer-card__address{
	@extend %b3;
	color: $grey_100;
}
.dealer-card__phone{
	@extend %b3;
	color: $grey_100;
	display: block;
}
.dealer-card__hours{
	@extend %b3;
	color: $grey_100;
}
.dealer-card__link{
	@extend %b3;
	@include link-color;
	display: block;
}
