include ../../../components/BasicModules/Media/m015_Media_11x5/index.pug

mixin m210_Homepage_Teaser_item(image, title)
    .m210__slide
        +m015_Media_11x5(image)

mixin m210_Homepage_Teaser(slides)
    // Component m210_Homepage_Teaser
    -
        slides = slides || Array(5).fill({title: '1312'});

    .m210
        .m210__wrapper
            .m210__container
                .m210__inner
                    each slide in slides
                        +m210_Homepage_Teaser_item(null, slide.title)

            .m210__dots
            .m210__controls


    // END - m210_Homepage_Teaser
