@import "../../../globals/style/core";

.m210 {
  &__wrapper {
    @include container();
    position: relative;
    overflow: hidden;
  }

  &__container {
    @include kdx-grid-container();
  }

  &__dots {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__slide {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    margin-right: 7.5px;
    margin-left: 7.5px;
    @include media($tablet) {
      margin-right: 0;
      margin-left: 0;
    }

    @include media($tablet) {
      @include span(4);
    }

    @extend %gutters;
  }

  &__controls {
    display: none;
    @include media($tablet) {
      @include aspect-ratio(1167, 79);
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      pointer-events: none;
    }
    @include media($widescreen) {
      @include aspect-ratio(1390, 113);
      position: absolute;
    }
  }
}


%gutters {
  @include media($laptop) {
    @include gutters();
  }
  @include media($desktop) {
    @include gutters();
  }
  @include media($widescreen) {
    @include gutters();
  }
}