
$duration: .3s;
$trans_basis: cubic-bezier(0.645, 0.045, 0.355, 1);
$trans_enter: cubic-bezier(0.215, 0.61, 0.355, 1);
$trans_exit: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$trans_linear: linear;

$animation-duration: .15s;

// UI_Animations
$accordion-item-duration: $animation-duration;


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}