
$bp_naught: 320;
$bp_xs: 513;
$bp_sm: 768;
$bp_m: 1025;
$bp_l: 1168;
$bp_xl: 1281;
$bp_xxl: 1486;

$mobile: new-breakpoint(min-width em($bp_naught + 0px, 16px));
$fablet: new-breakpoint(min-width em($bp_xs + 0px, 16px));
$tablet: new-breakpoint(min-width em($bp_sm + 0px, 16px));
$laptop: new-breakpoint(min-width em($bp_m + 0px, 16px));
$desktop: new-breakpoint(min-width em($bp_l + 0px, 16px));
$widescreen: new-breakpoint(min-width em($bp_xl + 0px, 16px));
$superwidescreen: new-breakpoint(min-width em($bp_xxl + 0px, 16px));
//$tractor: new-breakpoint(min-width em(1486px)); //http://www.tractordata.com/farm-tractors/000/3/7/373-international-harvester-1486-dimensions.html


$upTomobile: new-breakpoint(max-width em($bp_naught - 1px, 16px));
$upTofablet: new-breakpoint(max-width em($bp_xs - 1px, 16px));
$upTotablet: new-breakpoint(max-width em($bp_sm - 1px, 16px));
$upTolaptop: new-breakpoint(max-width em($bp_m - 1px, 16px));
$upTodesktop: new-breakpoint(max-width em($bp_l - 1px, 16px));
$upTowidescreen: new-breakpoint(max-width em($bp_xl - 1px, 16px));