// KDX Grid Settings
$gridcontainer_name: 'gridcontainer';

$grid-map: (
        320: (
                class-prefix: '',
                min-width: null,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 2.7777%
        ),
        513: (
                class-prefix: '_xs',
                min-width: $bp_xs + 0px,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 2.7777%
        ),
        768: (
                class-prefix: '_sm',
                min-width: $bp_sm + 0px,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 12px
        ),
        1024: (
                class-prefix: '_m',
                min-width: $bp_m + 0px,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 12px
        ),
        1168: (
                class-prefix: '_l',
                min-width: $bp_l + 0px,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 12px
        ),
        1281: (
                class-prefix: '_xl',
                min-width: $bp_xl + 0px,
                max-width: null,
                container: 100%,
                columns: 12,
                gap: 15px
        )
);


// Susy grid settings
$susy: (
  columns: 12,
  gutters: (8px/16px),
  global-box-sizing: border-box,
  gutter-position: inside,
  debug: (
    image: if($env == 'development', show, hide),
    color: rgba(0, 0, 0, 0.21),
  ),
);

$susy_768: (
  column-width: 37px,
  gutters: (12px/37px),
  gutter-position: inside-static,

);

$susy_1024: (
  column-width: 58px,
  gutters: (12px/58px),
  gutter-position: inside-static,

);

$susy_1281: (
  column-width: 75px,
  gutters: (15px/75px),
  gutter-position: inside-static,

);

$susy_1486: (
  column-width: 86px,
  gutters: (18px/86px),
  gutter-position: inside-static,
);


