extends ../../../globals/layout/_layout

include ../../../components/avn/dropdown/index.pug
include ../../../components/avn/checkbox/index.pug
include ../../../components/avn/auto-card/index.pug
include ../../../components/avn/button/index.pug
include ../../../components/avn/disclaimer/index.pug
include ../../../components/avn/model-headline/index.pug
include ../../../components/avn/status_bar/index.pug
include ../../../components/avn/footnote-disclaimer/index.pug
include ../../../components/avn/scroll-to-top-btn/index.pug
include ../../../components/avn/popup/index.pug

block append data
	-
		var data = {
			pageTitle: 'Автомобили в наличии',
			bodyClass: 'index js_select-configuration select-configuration',
			avn: true,
		}
		var cars = [{
			'imgSrc':'',
			'noimage': true,
			'title' :'Jetta',
			'features':'1.6 MPI (110 л.с.) / механика (5) / ewq ew eq das ds',
			'price':'1 350 000 руб.',
			'pricedisclaimer':'Цена с учётом спецпредложения по программам «Полный вперед» и «Новый будет лучше».',
			'distance':'в 5 км от вас',
			'status': 'dealer',
			'statustext':'у дилера',
			'dealer':'Фольцваген Сервис Северный Немецкий Центр',
			'dealeraddress':'Москва, Волгоградский пр-т., д. 41 dsad as ddas da dsd',
			'dealerphone': '+7 (495) 730-44-47',
			'details': ['Легкосплавные диски ´Sonoma´ 6.5Jx16, шины 205/55 R16','Полноразмерное стальное запасное колесо','Навигационные данные для Европы на SD-карте','Park Pilot (датчики парковки спереди и сзади, звуковая индикация о препятствиях перед автомобилем и позади него)']
		},{
			'imgSrc':'',
			'noimagenfz': true,
			'title' :'Passat Alltrack',
			'features':'1.6 MPI (110 л.с.) / механика (5) ',
			'price':'1 350 000 руб.',
			'pricedisclaimer':'Цена с учётом спецпредложения по программам «Полный вперед» и «Новый будет лучше».',
			'distance':'в 5 км от вас',
			'status': 'warehouse',
			'statustext':'на центральном складе',
			'dealer':'Фольцваген Сервис Северный Немецкий Центр',
			'dealeraddress':'Москва, Волгоградский пр-т., д. 41',
			'dealerphone': '+7 (495) 730-44-47',
			'details': ['Легкосплавные диски ´Sonoma´ 6.5Jx16, шины 205/55 R16','Полноразмерное стальное запасное колесо','Навигационные данные для Европы на SD-карте','Park Pilot (датчики парковки спереди и сзади, звуковая индикация о препятствиях перед автомобилем и позади него)']
		},{
			'imgSrc':'',
			'title' :'Tiguan',
			'features':'1.6 MPI (110 л.с.) ',
			'price':'1 350 000 руб.',
			'pricedisclaimer':'Цена с учётом спецпредложения по программам «Полный вперед» и «Новый будет лучше».',
			'distance':'в 5 км от вас',
			'isFavourite': true,
			'status': 'warehouse-pending',
			'statustext':'в поставке на склад',
			'dealer':'Фольцваген Сервис Северный Немецкий Центр',
			'dealeraddress':'Москва, Волгоградский пр-т., д. 41',
			'dealerphone': '+7 (495) 730-44-47',
			'details': ['Легкосплавные диски ´Sonoma´ 6.5Jx16, шины 205/55 R16','Полноразмерное стальное запасное колесо','Навигационные данные для Европы на SD-карте','Park Pilot (датчики парковки спереди и сзади, звуковая индикация о препятствиях перед автомобилем и позади него)']
		},{
			'imgSrc':'',
			'title' :'Polo',
			'features':'1.6 MPI (110 л.с.) / механика (5) / передний привод',
			'price':'1 350 000 руб.',
			'pricedisclaimer':'Цена с учётом спецпредложения по программам «Полный вперед» и «Новый будет лучше». ',
			'distance':'в 5 км от вас',
			'status': 'assembly',
			'statustext':'производство',
			'dealer':'Фольцваген Сервис Северный Немецкий Центр',
			'dealeraddress':'Москва, Волгоградский пр-т., д. 41',
			'dealerphone': '+7 (495) 730-44-47',
			'details': ['Легкосплавные диски ´Sonoma´ 6.5Jx16, шины 205/55 R16','Полноразмерное стальное запасное колесо','Навигационные данные для Европы на SD-карте','Park Pilot (датчики парковки спереди и сзади, звуковая индикация о препятствиях перед автомобилем и позади него)']
		}]

block content
	.personal-avn
		+popup(class="select-location-popup", dataName="location-popup")
		.fixed-statusbar-spacer.fixed-statusbar-spacer--common
		.js_entire-filter.entire-filter
			.js_filter-stage.filter-stage
				include ../../../presets/avn/filter/first.pug
			.js_filter-stage.filter-stage
				include ../../../presets/avn/filter/second.pug
		.container-fluid.page-section.pd25
			.page-section__visibility-toggler#js_filter-toggler
				span.close Развернуть фильтр
				span.open Свернуть фильтр
		.container-fluid.page-section.model-headline
			+model-headline('Jetta','Компактнейший седанчик')
		.container-fluid.page-section
			.page-section__title Trendline
			.page-section__content.page-section__content--car-list.js_page-section__content
				.gridcontainer
					each car in cars
						+autocard(car)
				.gridcontainer
					.grid_12.txt_center
						a.show-more-card-btn.js_show-more-card-btn
							| Еще <span>16</span> авто
		.container-fluid.page-section
			.page-section__title Trendline
			.page-section__content.page-section__content--car-list.js_page-section__content
				.gridcontainer
					each car in cars
						+autocard(car)
				.gridcontainer
					.grid_12.txt_center
						a.show-more-card-btn.js_show-more-card-btn
							| Еще <span>18</span> авто
