@import "../../../../globals/style/core";

.navlvl4 {
  @include container();
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  font-family: $font_head;

  &.is-sticked {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


.navlvl4__container {
  z-index: z-index(navlvlx);
  transition: top .3s $trans_enter;

  .is-sticked & {
    background: $grey_20;
    left: 0;
    @include container();
    @include media($tablet) {
      line-height: 4rem;
      left: auto;
    }
  }
}


.navlvl4__inner {
  position: relative;
}

.navlvl4__title {
  margin-bottom: .7rem;

  @include media($tablet) {
    display: none;
  }

  .is-sticked & {
    display: none;
  }
}

.navlvl4__list {
  @include media($tablet) {
    text-align: center;
  }
  .is-sticked & {
    max-height: 0;
    transition: $duration max-height $trans_enter;
    overflow: hidden;

    @include media($tablet) {
      max-height: none;
      text-align: left;
      padding-right: 2rem;
    }
  }

  .is-opened & {
    .is-sticked & {
      max-height: 1000px;
      transition: $duration max-height $trans_enter;
    }
  }
}

.navlvl4__item {
  font-size: 1.5rem;
  line-height: 1.6;

  @include media($tablet) {
    font-size: 1.6rem;
    padding-left: 1.2rem;
    padding-right: 1.5rem;
    display: inline-block;
  }

  .is-sticked & {
    line-height: 5rem;
    &:not(:last-child) {
      border-bottom: 1px solid $grey_40;
      @include media($tablet) {
        border-bottom: none;
      }
    }

    @include media($tablet) {
      line-height: inherit;
    }
  }
}

.navlvl4__link {
  @include responsive-typo($bodycopy-b1);
  display: inline-block;
  width: 100%;
  .is-sticked & {
    font-weight: 400;
    color: $grey_100;

    @include media($tablet) {
      font-weight: 700;
      @include link-color($primary, $grey_100);
    }
  }

  .is-active & {
    .is-sticked & {
      font-weight: bold;
      @include media($tablet) {
        color: $grey_100;
      }
    }
  }

  @include media($tablet) {
    @include responsive-typo($bodycopy-b1-bold);
    @include link-color($primary, $grey_100);
  }

}


.navlvl4__title-item {
  display: none;
  .is-sticked & {
    line-height: 4rem;
    cursor: pointer;
    text-decoration: none;
    color: $grey_100;
    display: inline-block;
    width: 100%;

    @include media($tablet) {
      display: none;
    }
  }
}
.navlvl4__title-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1.5rem;
}
.navlvl4__title-icon {
  display: inline-block;
  color: $primary;
  background: $white;
  border-radius: 50%;
  vertical-align: middle;
  padding: .3rem;
  &::before {
    font-size: .6em;
  }

  &_open {
    display: inline-block;
    &::before {
      transform: translateY(1px);
    }
    .is-opened & {
      display: none;
    }
  }

  &_close {
    display: none;
    .is-opened & {
      display: inline-block;
    }
  }
}

.navlvl4__controls {
  position: absolute;
  top: 0;
  right: 0;
}

.navlvl4__gotop {
  display: none;

  .is-sticked & {
    @include media($tablet) {
      display: block;
      font-size: 1.2rem;
      color: $zeplin-charcoal-grey;
      user-select: none;
      &:active,
      &:focus,
      &:hover {
        color: $zeplin-steel;
      }
    }
  }
}
