include ../../../UI_Elements/icon/index
include ../../../BasicModules/Headline/m022_Headline_H3/index

mixin NavigationLevel_Four(items, title)
    // Component NavigationLevel_Four
    -
        items = items || Array(10).fill('Nav Link').map( function (str, i) {
        return str + ' ' + i;
        })
        title = getLorem(40)

    .navlvl4&attributes(attributes)
        .navlvl4__container
            if title
                +m022_Headline_H3.navlvl4__title
                    !=title
            nav.navlvl4__inner
                ul.navlvl4__list
                .navlvl4__controls
                    a.navlvl4__gotop.js_go_to_top
                        +icon('link', 'back-to-top').navlvl4__gotop-icon
                    // Items will be added here
    // END - NavigationLevel_Four
