include ../../../UI_Elements/icon/index
a.navlvl4__title-item(href='#')
    +icon('arrow', 'up').navlvl4__title-icon.navlvl4__title-icon_close
    +icon('arrow', 'down').navlvl4__title-icon.navlvl4__title-icon_open
    span.navlvl4__title-text
