include ../../UI_Elements/input/index.pug

mixin m601_search_input_field(title)
  - placeholder = title || 'Поиск'

  form.vw_m601_search_input.js_m601_search_input_flyout(action='#')
    .vw_m601_search_input_fg.form-group
      +input('', placeholder, 'icon-navigation-search')
