@import "../../../globals/style/core";

.input-vague{}
.input-vague__label{
	display: inline-block;
    width: 100%;
}
.input-vague__self{
	resize: none;
	max-width: 88%;
	background: none;
	border: none;
    vertical-align: top;
	@extend .h3;
	margin: 0;
	display: inline-block;
	outline: none;
	@include media($tablet){
		max-width: none;
	}
}
.input-vague__icon{
	color: $grey_40;
	width: 5%;
    margin-left: 3%;
    position: relative;
}
.input-vague__error{}