
mixin input-vague(value)
	.input-vague(class= attributes.class)
		.js_error_container
			label.input-vague__label
				div.input-vague__self.js_custom-text-input(contenteditable="true", spellcheck="false")
					| #{value}
				input(type="text", hidden)
				span.input-vague__icon.hasicon.icon-link-write
			span.input__help-block.error-container.input-vague__error
				| Это поле заполнено неверно
