mixin disclaimer(text, dataName)
	.container-fluid.disclaimer-container.js_disclaimer-container(data-name= dataName)
		.disclaimer__close-btn.js_disclaimer__close-btn
		.grid_12
			.disclaimer
				.disclaimer__content
					.disclaimer__content-inner
						p= text

mixin disclaimerToggler(text, target)
	span.disclaimer-toggler.js_disclaimer-toggler(data-target= target)
		.disclaimer-toggler__inner= text