@import "../../../globals/style/core";

.vw_m301_homepage_stage {
  position: relative;
  background-color: #fff;
  outline: none;
}

.vw_m301_homepage_stage_qab {
  display: none;
  @include media($tablet) {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 25px;
    z-index: 1;
  }
}


.vw_m301_homepage_stage_controls {
  margin-top: rem(-31px);

  @include media($tablet) {
    margin-top: 0;
  }
}
