@import "../../../globals/style/core";

.m103 {
  @include container();
  @extend %page-module-spacing;

  &__headline {
    margin-bottom: rem(20px);
    @include media($tablet) {
      margin-bottom: rem(25px);
    }
  }

  &__image-wrapper {
    margin-bottom: rem(20px);
    @include media($tablet) {
      width: span(7 of 12);
      margin-bottom: rem(25px);
      &.is-right-positioned {
        float: right;
        padding-left: span(1 of 12);
      }
      &.is-left-positioned {
        float: left;
        padding-right: span(1 of 12);
      }
    }
  }

  &__copy {
    width: span(11 of 12);

    > .vwd5_dot_list:last-child,
    > .vwd5_ordered_list:last-child {
      padding-bottom: 0;
    }

    @include media(media-inverse($tablet)) {


      @at-root %visible-mobile-el {
        max-height: 5000px;
        transition: max-height $animation-duration $trans_enter;
      }

      &.is-hidden-mobile > * {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height $animation-duration $trans_exit;

        &:first-child {
          @extend %visible-mobile-el;
        }
      }

      & > * {
        @extend %visible-mobile-el;
      }
    }
  }

  &__content {
    @include clearfix();
    @include responsive-typo($bodycopy-b1);
  }
}
